swagger: '2.0'
info:
  version: bearer.v1
  title: Fixxbook.Bearer.Api.V1 AfterHours Users API
  isOdataApi: false
  relativePath: ''
  discoveryPath: docs/bearer.v1
  _isAuthorizedAccess: true
host: sb2fixxbook.servicechannel.com:443
basePath: /api
schemes:
- https
security:
- oauth2: []
tags:
- name: Users
paths:
  /users:
    get:
      tags:
      - Users
      summary: Users collection
      description: "Returns the list of all users of the current subscriber (the main user is also included) for successful request.\r\n            <br />**Note**: This method is available to subscriber users with the *Super Admin* secondary role."
      operationId: GETv3_users?subscriberId={subscriberId}&startIndex={startIndex}&maxCount={maxCount}&userFilterType={userFilterType}&feedRolesFilter[0]={feedRolesFilter[0]}&feedRolesFilter[1]={feedRolesFilter[1]}&includeMliInfo={includeMliInfo}&includeMlpInfo={includeMlpInfo}&includeTotalCount={includeTotalCount}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: subscriberId
        in: query
        description: Unique numeric identifier of the subscriber. Optional
        required: false
        type: integer
        format: int32
      - name: startIndex
        in: query
        description: Start item index. Optional, 0 by Default
        required: false
        type: integer
        format: int32
      - name: maxCount
        in: query
        description: Items count to get. Optional, all items by Default.
        required: false
        type: integer
        format: int32
      - name: userFilterType
        in: query
        description: Return only users of a given type. Optional, corporate by default.
        required: false
        type: string
        enum:
        - Corporate
        - All
      - name: feedRolesFilter
        in: query
        description: Return users only with assigned Feed Roles. Optional, return all users by default.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: includeMliInfo
        in: query
        description: Include Mli user info in response. Optional, false by default
        required: false
        type: boolean
        default: false
      - name: includeMlpInfo
        in: query
        description: Include Mlp user info in response. Optional, false by default
        required: false
        type: boolean
        default: false
      - name: includeTotalCount
        in: query
        description: Include total user count in response. Optional, false by default
        required: false
        type: boolean
        default: false
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.User'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "Indicates that the requested resource does not exist on the server.\r\n            <br/>Error codes:\r\n            <br/> 502 - Users not found;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
    post:
      tags:
      - Users
      summary: Create a user
      description: "Creates a new user. Returns a unique user ID for a successful request.\r\n            <br />***Note:*** Available for subscribers with the Admin User and Super Admin secondary roles."
      operationId: POSTv3_users
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: The user object that needs to be created.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.AddUserRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /users/{id}:
    get:
      tags:
      - Users
      summary: Retrieve a user
      description: Returns the information of the specified user.
      operationId: GETv3_users_{id}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        description: Numeric Id of the User to perform action with.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.GetUserResponse'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "Indicates that the requested resource does not exist on the server.\r\n            <br/>Error codes:\r\n            <br/>502 - User not found;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    put:
      tags:
      - Users
      summary: Update a user
      description: "Updates the information of the specified user. Returns User Id for successful request.\r\n            <br />**Note**: This method is available to subscriber users with the *Super Admin* secondary role and provider users with admin access."
      operationId: PUTv3_users_{id}
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        description: Numeric Id of the User to perform action with.
        required: true
        type: integer
        format: int32
      - name: request
        in: body
        description: The request model to perform action with.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.UpdateUserRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: Indicates that the server refuses to fulfill the request.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    delete:
      tags:
      - Users
      summary: Disable a user
      description: "Disables the account of the specified user.\r\n            <br>**Note**: This method is available to subscriber users with the *Super Admin* role and provider users with admin access.</br><br>To enable the user account, use the [PUT /users/{userId}](/swagger/index.html#/Users/PUTv3_users_%7Bid%7D) or [PATCH /users/{userId}](/swagger/index.html#/Users/PATCHv3_users_%7Bid%7D) method.</br><br>Find out more about disabling and enabling users via [Service Automation](https://servicechannel.atlassian.net/wiki/spaces/SCU/pages/557645921/Disabling+Enabling+Users) and [Provider Automation](https://servicechannel.atlassian.net/wiki/spaces/SCUCP/pages/2372469124/Deactivate+Users+and+Manage+Inactive+Users) in ServiceChannel University.</br>"
      operationId: DELETEv3_users_{id}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        description: Unique numeric identifier of the user.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: User is disabled successfully.
        '400':
          description: The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 - API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: The requested resource does not exist on the server.
      deprecated: false
      x-access: Any
    patch:
      tags:
      - Users
      summary: Patch user's info
      operationId: PATCHv3_users_{id}
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        description: User identifier
        required: true
        type: integer
        format: int32
      - name: request
        in: body
        description: Patch user's profile info model (only properties to be patched)
        required: true
        schema:
          type: object
          additionalProperties:
            $ref: '#/definitions/System.Object'
      responses:
        '200':
          description: Indicates that the update user profile request was successful.
          schema:
            $ref: '#/definitions/System.Object'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Indicates that a generic error has occurred on the server.\r\n            <br/>Error codes:\r\n            <br/> 501 - Unhandled exception occurred"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /users/current/profile:
    get:
      tags:
      - Users
      operationId: GETv3_users_current_profile
      consumes: []
      produces:
      - application/json
      - text/json
      parameters: []
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /users/current/menu:
    get:
      tags:
      - Users
      operationId: GETv3_users_current_menu
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.MenuResponse'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: Indicates that the requested resource not allowed for current user.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "Indicates that the requested resource does not exist on the server.\r\n            <br/>Error codes:\r\n            <br/> 502 - Users not found;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /users/{userId}/islocked:
    get:
      tags:
      - Users
      summary: Is locked
      description: "Returns true if requested user is locked.\r\n            <br />**Note**: This method is available to subscriber users with the *Super Admin* secondary role."
      operationId: GETv3_users_{userId}_islocked
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: userId
        in: path
        description: Numeric Id of the User to perform action with.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            default: false
            type: boolean
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /users/features:
    get:
      tags:
      - Users
      summary: Returns user features object
      operationId: GETv3_users_features
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ApplicationAccess.FeatureResponse'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /users/current/subscriberFeatures:
    get:
      tags:
      - Users
      summary: Returns Subscriber features object
      operationId: GETv3_users_current_subscriberFeatures
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ApplicationAccess.FeatureResponse'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "You are not authorized to request this resource, or the resource is unavailable for some reason.\r\n            <br/>Error codes: \r\n            100 — User has no rights to perform this action."
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /users/current/locationNoteRestrictions:
    get:
      tags:
      - Users
      summary: Returns user location note restrictions object
      operationId: GETv3_users_current_locationNoteRestrictions
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.User.UserLocationNoteRestrictionResponse'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /employees/{employeeId}/users:
    get:
      tags:
      - Users
      summary: Retrieve provider users with the specified employee ID
      description: "Returns a list of provider users with the specified employee ID. Provider admins can set an employee identifier on the **Employee Details** tab of the user profile.\r\n            <br />**Note**: This method is only available to provider users with admin access."
      operationId: GETv3_employees_{employeeId}_users
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: employeeId
        in: path
        description: Non-unique identifier of a provider user.
        required: true
        type: string
      responses:
        '200':
          description: Provider users with the specified employee ID are in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.User'
      deprecated: false
      x-access: Providers
  /users/regionalSettings:
    get:
      tags:
      - Users
      summary: Retrieve user localization settings
      description: ''
      operationId: GETv3_users_regionalSettings
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: User Localization settings are in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.User.UserLocalizationSettings'
      deprecated: false
      x-access: Any
  /odata/users:
    get:
      tags:
      - Users
      summary: Retrieve a list of users
      description: '<para>**Note**: This method is available to subscriber users with the *Super Admin* secondary role and provider users with admin access.</para>'
      operationId: Users_GetUsers
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: $expand
        in: query
        description: Expand a navigation property.
        required: false
        type: string
      - name: $select
        in: query
        description: Select a set of properties to return.
        required: false
        type: string
      - name: $filter
        in: query
        description: Filter a collection of resources addressed by a request URL.
        required: false
        type: string
      - name: $orderby
        in: query
        description: Order resources by the specified property in the response.
        required: false
        type: string
      - name: $top
        in: query
        description: Return the specified number of items in the response.
        required: false
        type: integer
      - name: $skip
        in: query
        description: Skip the specified number of items in the response.
        required: false
        type: integer
      - name: $count
        in: query
        description: Include the count of the matching resources in the response.
        required: false
        type: boolean
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.User'
      deprecated: false
      x-access: Any
definitions:
  ServiceChannel.Services.Messaging.Users.UpdateUserRequest:
    description: UpdateUserRequest class definition
    type: object
    properties:
      Id:
        format: int32
        description: Get or set User's identifier (id)
        type: integer
      InfoSubscriberId:
        format: int32
        description: Gets or sets InfoSubscriberId.
        type: integer
      UserName:
        description: Gets or sets User name.
        type: string
      Password:
        description: Gets or sets Password.
        type: string
      Email:
        description: Gets or sets Email.
        type: string
      LocationAccess:
        description: Gets or sets LocationAccess.
        type: string
      FeedRole:
        description: Gets or sets FeedRole.
        type: string
      User:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.User'
        description: Gets or sets User.
  ServiceChannel.Services.Messaging.ErrorResponse:
    description: The error response object
    type: object
    properties:
      ErrorCodes:
        description: The list of error codes. Go to /basics/general/response-codes/#internal-error-codes-and-messages to map error codes to error reasons.
        type: array
        items:
          enum:
          - NotAllowed
          - EmptyProvider
          - InvalidProviderId
          - UnknownProvider
          - ProviderAlreadyExists
          - ProviderIdNotExists
          - TimeoutExpiredError
          - EmptyContract
          - ContractUndefined
          - EmptySubscriber
          - InvalidSubscriberId
          - UnknownSubscriber
          - InactiveSubscriber
          - EmptySubscriberId
          - SubscriberIdNotExists
          - InternalError
          - DataNotFound
          - BadRequest
          - UnAuthorized
          - UnSupportedApplication
          - SubsidiaryUserDisabled
          - EmptyLocation
          - InvalidLocationId
          - UnknownLocation
          - LocationNotBelongsToSubscriber
          - EmptyLocationCountry
          - LocationAlreadyExists
          - InvalidStoreId
          - LocationEmptyState
          - NoAccessToLocation
          - LocationAddressValidationError
          - LocationAddressRequestValidationError
          - InvalidLocationNoteHeader
          - NoAccessToUpdateProtectedNote
          - InvalidBusinessHoursFormat
          - WorkingHoursIntersect
          - InvalidDayOfWeek
          - DuplicateDayOfWeek
          - InvalidBusinessHoursInitialSetup
          - BusinessHoursIsEmpty
          - InvalidHolidayRepeatByType
          - EmptyHolidayListOfDays
          - EmptyHolidayListOfMonths
          - InvalidHolidayMonthName
          - InvalidHolidayNameLength
          - InvalidHolidayRepeatEvery
          - DuplicateMonth
          - InvalidHolidayFrequency
          - InvalidHolidayStartDate
          - InvalidCloseAllDay
          - HolidayDoesNotExist
          - InvalidFormatParameter
          - InvalidLocationCity
          - InvalidLocationZip
          - InvalidLocationLatitude
          - InvalidLocationLongitude
          - InvalidLocationEmail
          - InvalidLocationName
          - InvalidLocationState
          - InvalidLocationAddlAddress
          - InvalidLocationMainAddress
          - InvalidLocationCountry
          - InvalidLocationRegion
          - InvalidLocationDistrict
          - InvalidLocationPhone
          - InvalidLocationContact
          - InvalidLocationFaxNumber
          - LocationCountryNotFound
          - LocationStateNotFound
          - LocationCityNotFound
          - LocationIdNotExists
          - InvalidLocationEmailLength
          - LocationStateIdNotFound
          - IncorrectCombinationStateAndStateId
          - InvalidSubscriberIds
          - InvalidLocalizationSettings
          - LandlordResponsibilityNotFound
          - LandlordResponsibilityAlreadyExists
          - EmptyLocationIds
          - AttachmentNotExist
          - InvalidTradeId
          - InvalidCategoryId
          - InvalidOverrideCategoryId
          - InvalidOverridePriorityId
          - LeaseNoteExceedMaxLength
          - InvalidOverrideProviderRank
          - InvalidOverrideNTE
          - DuplicateRows
          - InvalidPriorityId
          - LocationNotFound
          - EmptyTrade
          - InvalidTrade
          - TradeNotBelongsToSubscriber
          - InvalidPrimaryTrade
          - InvalidTradeForSubscriber
          - InvalidCategoryForSubscriber
          - GlCodeAlreadyExists
          - GlCodeNotExists
          - InvalidGlCodeUpdate
          - EmptyGlCode
          - TradeAlreadyExists
          - InvalidNTETrade
          - TradeNotExists
          - TradeAlreadyInUse
          - TradeWithTheSameNameHasBeenDeleted
          - TradeInUsePMServices
          - TradeInUseProposalError
          - TradeInUseRFPError
          - TradeInUseChecklistError
          - TradeInUseBudgetControl
          - TradeInUseGlCode
          - TradeInUseDynamicProviderAssignments
          - TradeInUseInvoice
          - TradeInUseLandlordResponsibilities
          - TradeInUseWO
          - TradeInUseEquipmentType
          - TradeInUseRFP
          - TradeInUseConnector
          - TradeInUseContractedService
          - TradeInUseIVR
          - TradeInUseSiteAccess
          - TradeInUseGLCodes
          - TradeInUseCIWO
          - TradeInUseOrganizationPermissions
          - TradeСreationError
          - EmptyUser
          - EmptyCreatedBy
          - InvalidUserName
          - NotProviderUser
          - UserHasNoPermissions
          - RestrictedAccount
          - UserAlreadyExists
          - UserHasNoPermissionsEditWO
          - UserEmailAddressIsMissing
          - UserIsNotRTAdmin
          - InvalidSubsriberProviderId
          - LanguageNameNotFound
          - InvalidLanguageId
          - LanguageIdNotFound
          - UseBothSubscriberIdProviderId
          - EmptyWoProblem
          - InvalidWoProblemSource
          - InvalidWoProblemDescription
          - InvalidWoProblemCode
          - InvalidWoStatus
          - InvalidWoNte
          - InvalidWoCaller
          - InvalidWoCallDate
          - InvalidWoScheduledDate
          - InvalidWoScheduledDateGreaterThanMaxAllowed
          - EmptyWoCategory
          - InvalidWoCategory
          - EmptyWoPriority
          - InvalidWoPriority
          - InvalidWoCurrency
          - InvalidWoSetupId
          - AttachmentsRequired
          - InvalidWoIdentifier
          - EquipmentRequired
          - WoNteOverflow
          - InvalidWoPurchaseNumber
          - InvalidWoStateForUpdate
          - InvalidPagingParameter
          - InvalidWoNumber
          - CheckInDenied
          - CheckOutDenied
          - WoScheduledDateLessThenReassignDate
          - WoScheduledDateLessThenCallDate
          - InvalidWoActionReason
          - EmptySubscriberProperty
          - WorkOrderUpdateError
          - MissedWoNteDetails
          - InvalidLinkedWoIdentifier
          - WoIsOnHold
          - InvalidWoTrade
          - InvalidStarScore
          - WorkOrderAlreadyRated
          - AttachmentThumbnailNotAvailable
          - InvalidWoIdentifierOrPin
          - InvalidTimeZoneHeader
          - RefrigerantWasUsedShouldBeYesOrNo
          - CheckInDeniedOutsideGeolocation
          - CheckOutDeniedOutsideGeolocation
          - LeakDetectorAuditShouldBeCreated
          - CheckInOutPremature
          - WorkOrderAttachmentsSizeExceeded
          - WorkOrderNotFound
          - WorkOrderCreateError
          - InvalidWoProjectedCompletionDate
          - InvalidFollowUpWo
          - InvalidWeatherEventId
          - InvalidSiteAuditLinkedWo
          - InvalidSetupId
          - IssueListNotFound
          - InvalidIssueListField
          - SiteAuditCompleted
          - CheckSiteAuditError
          - SaveSiteAuditError
          - RemoveSiteAuditError
          - InactiveTemplateType
          - SiteAuditNotFound
          - SiteAuditUpdateError
          - InvalidSiteAuditParameters
          - InvalidAdditionalApprovalCode
          - InvalidAdditionalApprovalCodeValue
          - AdditionalApprovalCodeIsDisabled
          - InvalidOtherDesc
          - InvalidTax2Name
          - InvoiceInconsistentAmounts
          - InvoiceInvalidTotal
          - InvoiceTotalGreaterNte
          - InvoiceExists
          - CreatingInvoiceError
          - DuplInvNumber
          - InvoiceTotalNull
          - InvComplDateNull
          - InvDateLessComplDate
          - InvoiceNotAuto
          - ESignatureRequired
          - InvWoNotFound
          - InvWrongWoCurr
          - InvWoCurrNotFound
          - InvoicingDisabled
          - InvCreationUnexpectedRes
          - InvoiceInvalidLaborAmount
          - InvoiceInvalidMaterialAmount
          - InvDateOld
          - InvDateGreater
          - InvoiceMaterialDescriptionLengthOverflow
          - InvoiceTaxNotValidated
          - InvoiceMaterialPartNumberLengthOverflow
          - TaxValidationError
          - TaxExemptionError
          - InvalidInvoiceNumber
          - GetApprovalLevelsError
          - InvoiceAddUsersToMliLevelsError
          - InvoiceAddDeleteLocationsToMliLevelUserError
          - InvoiceUpdateMLiLevelError
          - InvoiceDeleteMliLevelError
          - InvoiceDeleteUsersFromMliLevelError
          - ApprovalLevelNameLengthOverflow
          - GstTaxError
          - Tax2Error
          - GetApprovalLevelsAndLocationsByUserError
          - GetAssignedUserShortInfoError
          - AssignAllLocationsToApprovalLevelAndUserError
          - GetLocationsForApprovalLevelAndAssignedUserError
          - GetLocationsBySubscriberError
          - AssignUserWithLocationsToApprovalLevelError
          - ReAssignUserWithLocationsToNewApprovalLevelError
          - ReAssignLocationsToApprovalLevelAndUserError
          - OutstandingBalance
          - InvoiceTaxDetailsEmpty
          - InvoiceTaxDetailsIncorrectSum
          - MultipleUsersForLocationIsNotAllowed
          - UserAssignedToOtherLevel
          - UserDoesNotExist
          - LaborLineItemRequired
          - MaterialLineItemRequired
          - InvoiceDoesntExist
          - InvoiceStarUnstarFailed
          - InvoiceBatchUpdateInvalidInvoiceStatusError
          - InvoiceBatchUpdateLimitExceededError
          - InvoiceNotAvailableForCurrentUser
          - InvoiceBatchUpdateInvalidRuleSetStructure
          - InvoiceBatchUpdateInvalidMliStructure
          - InvoiceBatchUpdateStatusError
          - InvoiceMaterialUnitTypeInvalid
          - ExistingBatchNumber
          - InvoiceResolutionTextRequired
          - GetInvoiceDefaultApprovalCodesError
          - InvoiceInvalidTravelAmount
          - InvoiceTravelDescriptionLengthOverflow
          - InvoiceTravelUnitTypeInvalid
          - TravelLineItemRequired
          - TravelDetailsDisabled
          - OnOffShoreDisabled
          - InvoiceInvalidLaborCount
          - InvoiceInvalidMaterialCount
          - InvoiceInvalidTravelCount
          - SubscriberNotRegisteredForTaxValidation
          - ManyDecimalsInAmountError
          - DecimalPartQstTaxError
          - LaborRatesDiscrepancy
          - PayInvoicesError
          - InvoiceNumberRequirementsError
          - InvoiceNumberIncorrect
          - InvoiceNumberRegExPatternError
          - GetInvoicesPendingApprovalByLocationError
          - ReAssignInvoicesToUsersFailed
          - ReAssignInvoicesUsersMatched
          - GetUsersForReassignInvoiceError
          - InvalidTimeRangeActivity
          - OutsourcedSourceInvoiceNotFound
          - OthersLineItemsDisabled
          - InvoiceInvalidOtherAmount
          - InvoiceInvalidOtherCount
          - InvoiceOtherDescriptionLengthOverflow
          - OtherLineItemRequired
          - OtherLineItemsNotNegativeValueRequired
          - InvalidLaborSkillLevel
          - InvalidLaborType
          - InvalidTechnicianQuantity
          - GetInvoicesCommonCategoriesError
          - InvoiceExplainDisputeEmpty
          - InvoiceAdditionalApprovalCodeHeaderError
          - TemplateParseSuccess
          - TemplateIncorrectHeaderError
          - TemplateEmptyTemplateError
          - TemplateWrongFieldsCountError
          - TemplateFieldNotFoundError
          - TemplateFieldRequiredError
          - TemplateParseIntError
          - TemplateFieldSizeError
          - TemplateInvalidValueError
          - TemplateFieldFormatError
          - TemplateFieldMaxRangeError
          - TemplateFieldMinRangeError
          - TemplateProviderNotEntered
          - TemplateInvalidSubscriberError
          - TemplateVendorNotFoundError
          - TemplateMissedProviderError
          - TemplateProviderNotFoundError
          - TemplateProviderSubsccriberLinkError
          - TemplateTradeDispatchRankError
          - TemplateInvalidTradeForSubscriberError
          - TemplateStoreNotFoundError
          - TemplateNotStoresForStateError
          - TemplateNotStoresForCountryError
          - TemplateNotStoresForDistrictError
          - TemplateNotStoresForRegionError
          - TemplateMultiplePimaryProvidersForTradeStoreError
          - TemplateDuplicatePrimaryRelationshipError
          - TemplateAmbiguousDataError
          - TemplateIncorrectSubscriber
          - TemplateDuplicateRanking
          - TemplateLongitudeRangeError
          - TemplateLatitudeRangeError
          - InvoiceMaterialPartNameLengthOverflow
          - TemplateTradeLocationExclusion
          - TemplateInvalidStateError
          - TemplateMissedSubscriberError
          - TemplateMissedStoreIdError
          - TemplateInvalidSubscriberIdError
          - TemplateOpenCloseDateError
          - TemplateInvalidCountryError
          - TemplateInvalidStateForCountryError
          - TemplateInvalidLocationTypeError
          - TemplateMissingFullAndShortNameError
          - TemplateMissingCountryError
          - TemplateDuplicatedDataError
          - TemplateParentLocationNotFoundError
          - TemplateParseDateTimeError
          - TemplateParseDecimalError
          - TemplateSquareValueRangeError
          - TemplateInvalidSquareMeasureError
          - TemplateTypeLabelCanNotBeUpdatedError
          - TemplateTypeLabelHaveToBeLocationForNotInventory
          - TemplateInvalidPrimarySupplyLocation
          - TemplateInvalidHomestoreLocationNumber
          - TemplateErrorDuringCreation
          - TemplateLocationNotFoundError
          - TemplateDuplicatedLocationFoundError
          - TemplateInvalidLocationHeaderError
          - TemplateDuplicatedLocationHeaderError
          - TemplateHeaderContainsEmptyFieldsError
          - TemplateLocHeadersShortHeaderError
          - TemplateHeaderContainsDuplicatesError
          - TemplateLocationNotesStoreIdFieldLengthError
          - TemplateLocationNotesNoteValueFieldLengthError
          - TemplateErrorInvalidZipCode
          - TemplateMissingLocationNoteHeader
          - TemplateMissingLocationNoteIdHeader
          - TemplateInvalidSecondarySupplyLocation
          - TemplateLocationWasNotCreated
          - TemplateTruckNameIsEmpty
          - TemplateWrongFormat
          - TemplateSubscriberNotFound
          - TemplateDuplicatedLocationHeaders
          - TemplateInvalidHeaders
          - TemplateInvalidPhoneError
          - TemplateDuplicateTelecomRecordError
          - TemplateTelecomRecordExistsError
          - TemplateInvalidCategory
          - TemplateDifferentRanksForProviderAssignments
          - TemplateDuplicateRankError
          - TemplateProviderNonCompliant
          - TemplateLocationIsClosed
          - TemplateProviderWarning
          - TemplateMultipleProvidersForTradeStoreError
          - EmptyRequest
          - InvalidNumberOfParameters
          - InvoiceOtherUnitTypeInvalid
          - EmptyLocationOrTradeList
          - RequestSubscriberIdDoesntMatchUserSubscriberId
          - StoreIdRequiredError
          - InvalidUserIdError
          - InvalidStoreIdError
          - AmbigiousError
          - MliHierarchyFiledsCountError
          - MliHierarchyMaxUserNameError
          - MliHierarchyDuplicateUserError
          - MLiHirarchyUserExistInOtherLevelError
          - MissingLevelsError
          - DuplicateApprovalLevelsError
          - InvalidMliLocations
          - InvalidMlpLocations
          - ApprovalLevelUsedInRulsetError
          - GLCodeAmbiguous
          - GlCodeInvalidResponce
          - GetRuleSetListError
          - RuleSetDuplicateNameError
          - RuleSetDuplicateActionError
          - RuleSetConflictedActionError
          - RuleSetRuleSetDoesNotExistsError
          - RuleSetTradeDoesNotExistError
          - RuleSetCategoryDoesNotExistError
          - RuleSetMliLevelDoesNotExistError
          - GetRuleSet
          - CreateUpdateRuleSetError
          - DeleteRuleSet
          - GetRuleSetCategoriesTradesCountError
          - GetRuleSetByInvoice
          - GetCategoryTradeIdsAreSelectedError
          - ProposalAboveMlpLimitError
          - ProposalNextLevelHasNoAvailableActionsError
          - DefaultRuleSetError
          - RuleSetActionEndStatusError
          - RuleSetRejectActionEmptyForwardToError
          - UserFilterGetError
          - UserFilterCreateUpdateError
          - UserFilterDeleteError
          - UserFilterSetAsDefaultError
          - InvoiceFilterFromAlpProviderError
          - RegionFilterNotAllowedError
          - LocationIdFilterNotAllowedError
          - PaymenowScProviderIdOrFbCompanyIdMustBeProvided
          - PaymenowBannersForProvidersOnly
          - PaymenowFeatureDisabled
          - PaymenowBannerInfoNotFound
          - PaymenowBannerInvalidNavigationUrl
          - PaymenowRequestedProvidersIsNotAssigned
          - PaymenowEmptyRequestedProviders
          - PaymentManagerFeatureDisabled
          - PaymentManagerFeatureDisabledForSubscriber
          - PaymentSystemCurrentlyUnavailable
          - CurrencyNotSupported
          - PaymentSystemAccountNotFound
          - FeatureIsOff
          - EarlyPayFeatureWithoutPaymentManagetFeatureError
          - FtpTestError
          - AcceptTermsAndConditionsRequestInvalid
          - PaymentSystemAccountError
          - SendReportToFTP
          - SchedulingError
          - BadPaymentData
          - InvoicesCanNotBeRepaid
          - InvoicesCanNotBeRescheduled
          - InvalidBillingAddress
          - PaymentManagerGeneralSettingsNotFound
          - PaymentManagerEInvoiceSettingsNotFound
          - BadgeVerificationFailed
          - BadgeTempPassEmpty
          - BadgeScanRequired
          - SolvedIssueSubmitFailed
          - SolvedIssueInvalidLocationId
          - SolvedIssueInvalidCategoryId
          - SolvedIssueInvalidTradeId
          - SolvedIssueInvalidPriorityId
          - SolvedIssueInvalidSource
          - SolvedIssueInvalidProblemCode
          - SolvedIssueInvalidType
          - SubmitFeedbackErrorWoStatus
          - SubmitFeedbackInvalidAnswer
          - SubmitFeedbackInvalidTrackingNumber
          - SubmitFeedbackInvalidSubscriber
          - SubmitFeedbackInvalidScore
          - SubmitFeedbackUnsatisfactoryCommentRequired
          - SubmitFeedbackInvalidReviewId
          - SubmitFeedbackInvalidSetupId
          - FeedbackSetupInvalidSetupId
          - S3SaveError
          - AbsSaveError
          - GoodDataLoginFailed
          - GoodDataElementUriError
          - GoodDataReportResultUriError
          - GoodDataReportResultEmpty
          - GoodDataDesReportResCountError
          - GoodDataDesReportResConvertError
          - GoodDataDesDisplayFormAttributeEmpty
          - InvalidProposalAmountLimit
          - GetApprovalProposalReasonsError
          - GetEmailRecipientsError
          - GetAssignProposalReasonsError
          - ProposalHasBeenVoided
          - AssetTypeDuplicateNameError
          - AssetTypeDoesntExistError
          - AssetTypeFailUpdateRefrigerantPurpose
          - AssetTypeDeleteFailed
          - ExistingAssetsFoundForAssetType
          - CantModifyAssetTypeParentId
          - InvalidAssetTypeName
          - AssetTypeInheritanceError
          - ExistingProposalsFoundForAssetType
          - InstallPurchaseDateOverflow
          - WOexistsWithSomeAssets
          - PartsChangeFailed
          - PartsReasonCodeError
          - PartsUseDateError
          - PartsRefrigerantAlreadyExists
          - PartsChargeHistoryAlreadyExists
          - PartsNotFound
          - BulkPartUseIncorrectWorkOrder
          - BulkPartsByIdsNotFound
          - BulkPartsMultipleWosError
          - BulkPartsIncorrectIsRefrigerantParam
          - BulkPartsIsRefrigerantCanNotbeChanged
          - BulkPartsReasonCodeChangeError
          - BulkPartsInvalidAssetAndReasonCodeParams
          - BulkPartsInvalidAssetId
          - BulkPartsInvalidInitialChargeCode
          - BulkPartsAssetDoesntContainCharge
          - BulkPartsIsInventoryFlagError
          - BulkPartsLeakAlreadyInProcessError
          - BulkPartsInvalidDateRangeError
          - BulkPartsMoeNumberRequiredError
          - BulkPartsSystemChargeExceeded
          - BulkRefrigerantuUageBlocked
          - BulkIDsNotBeNull
          - BulkPartRemovalNotAllowedOnRetrofitRetireWO
          - BulkAddPartUsagesNotAllowedAfterRetrofitRetireCreation
          - BulkRetrofitRetireRefrigerantUsageReasonCanNotChanged
          - BulkInitialChargeSystemExpansionNotAllowed
          - BulkInventoryPartIdCanNotBeChanged
          - BulkInventoryLocationIdCanNotBeChanged
          - BulkPartsDuplicatedRequest
          - BulkChangePartsIncorrectRefrigerantType
          - BulkPartsRetroRetireIsInProgressOnThisDate
          - BulkPartsCanNotAttachRefrigerantUsageToPlanLeakRecord
          - RetrofitRetireCanNotBeRemoved
          - RetroRetirePartsCantbeChanged
          - BulkPartsInventoryApiFailed
          - BulkPartsDuplicated
          - BulkPartsWorkOrderInProcessing
          - BadNotificationSubscriptionEventType
          - RefrigerantUseDateOutOfTheLeakProcessDateRange
          - InventoryUsageNotAllowedOnRTrackingConnectedSubAndSubcontractors
          - BulkExternalWoCurrentlyDoesntExists
          - BulkConnectorOnlyExternalClientAssetsCanBeProcessed
          - BulkConnectorOnlyClientAssetsCouldBeProcessed
          - LeakRecordHasWrongDateValue
          - HasUncompliedLeakRecordInAnoutherWO
          - HasUncompletedWOOnAnotherLeakRecord
          - OnlyOneAssetWorkOrderPair
          - OneLeakRecordMustBeOnCompletedWO
          - LeakRecordNotFound
          - AssetIDWoIdIsRequired
          - BulkPartsReasonCodeRetrofit
          - RetrofitRetireWasCancelledNoLeak
          - FailedToUpdateLeakEvent
          - AddPartUsagesAreNotAllowedInRetireRetrofitDateInterval
          - LeakPartUseOnZeroChargeNotAllowed
          - BulkLeakRecordsAndAuditRequest
          - LeakRecordsDuplicateRequestDetected
          - AllLeakRecordFieldsAreRequired
          - BulkPartsTheSamePartIdForUpdateAndRemovalPassed
          - MlpImportLevelError
          - UpdateMlpUserLevelError
          - InvalidHolidayName
          - DuplicateHolidayName
          - HolidaysDeleteFailed
          - HolidaysExcludeInsertFailed
          - HolidaysUpdateFailed
          - HolidaysInsertFailed
          - HolidaysExcludeDeleteFailed
          - BusinessHoursDeleteFailed
          - BusinessHoursUpdateFailed
          - BusinessHoursInsertFailed
          - InvalidTime
          - HolidayForDeleteNotFound
          - InvalidChecklistId
          - ChecklistNotPopulated
          - ChecklistNotAssignedForTransfersWO
          - NoLinkBetweenSubscriberAndProvider
          - WorkforceCreateContractorError
          - InvalidCertificateId
          - MaxThresholdExceeded
          - MaxTriggerRateExceeded
          - LeakPriorityIsRequired
          - MissingRTSettings
          - ResolutionCodesLimitExceeded
          - ResolutionCodesAreRequired
          - RootCauseIsRequired
          - RootCauseTextIsRequired
          - NoAccessToSetRootCauseText
          - RootCauseTextMaxLengthExceeded
          - ResolutionCodeTextIsRequired
          - NoAccessToSetResolutionCodeText
          - ResolutionCodeTextMaxLengthExceeded
          - ResolutionCodeTextMustBeUnique
          - ResolutionCodeWithoutFreeTextMustBeUnique
          - PendingResCodesStatusCannotBeChangedToInvoiceableBySubscriber
          - ResolutionAndRootCauseCodesAreRequiredToMoveToInvoiceableStatusByProvider
          - AssetCategoriesLimitExceeded
          - NoAccessToAssetCategories
          - AssetCategoriesAreRequired
          - InvalidAssetCategoryId
          - NoAssetCategoriesOnWorkOrder
          - RootCausesMustBeForAllWorkOrderAssetCategories
          - RootCauseTextMustBeUnique
          - AssetCategoryIsRequired
          - MultipleRootCausesMethodMustBeUsed
          - ResolutionCodesMustBeForAllWorkOrderAssetCategories
          - AssetFilterLocationsLimitExceeded
          - UnknownStoreId
          - UsesRefrigerantAttributeNotChanged
          - AssetTagDuplicate
          - AssetTagIdDuplicate
          - UnknownEquipmentType
          - ParentIdInOtherLocation
          - UnknownBrandName
          - CARBRequiredManufacturedDate
          - CARBRequiredInstallDate
          - TradeNotFound
          - AssetDoesntExist
          - AssetIsNotRefrigerant
          - AssetCantContainRefrigerant
          - OnlyRackAssetsContainingCircuits
          - ConnectorAssetTagIdCanNotBeChanged
          - ConnectorAssetLocationIdCanNotBeChanged
          - AssetTagCantBeUpdated
          - AssetTypeIsNotСonfiguredToManageRTAssets
          - RefrigerantTrackingNotAvailableForLocation
          - UsesRefrigerantRequiredByAssetTypeSettings
          - AssetLocationTradeDoesntCorrespondToWO
          - AssetLocationSelectedPMmodule
          - UpdateAssetRepairStatusValidation
          - HasCircuitsCantBeChange
          - HasComponentsCantBeChange
          - CircuitCanNotBeConnectedToCircuit
          - RTCircuitCanNotBeConnectedToNonRTAsset
          - RTComponentCanNotBeConnectedToNonRTAsset
          - ComponentCanNotBeConnectedToComponent
          - NonRTComponentCanNotBeConnectedToRtAsset
          - NonRTCircuitCanNotBeConnectedToRtAsset
          - ComponentCanNotBeConnectedToCircuit
          - ParentAssetShouldHaveEitherComponentsNorCircuits
          - ParentAssetCantHaveComponents
          - ParentAssetCantHaveCircuits
          - MultipleAssetsFoundForTheRequestedTagId
          - InvalidBrandName
          - UnknownBrandId
          - BrandRestrictedByAssetType
          - BrandRestrictedBySubscriber
          - BrandsRestrictedBySubscriber
          - DeclineWorkOrderFailed
          - AcceptWorkOrderFailed
          - WorkOrderWasAccepted
          - AssetAttachmentsSizeExceeded
          - SaveMliAuditReportSetting
          - GetMliAuditReportSetting
          - SaveMliAuditReportResult
          - SaveMliAuditReportSendEmailStatus
          - SaveMliAuditReportFilePath
          - GetSubscribersEnabledSchedule
          - SaveMliAuditInfoError
          - TaxValidationAddNewCompanySettingsError
          - TaxValidationUpdateCompanySettingsError
          - ProjectAssociationError
          - GetProjectsInvoiceAmountsError
          - TaxCodeNotUniqueError
          - FieldLengthIsTooLongError
          - SetTaxCodesBulkError
          - InvoiceAdditionalApprovalCodeValueError
          - BulkUpdateInvoicePaymentError
          - InvoiceLineItemFilterDisabled
          - InvoiceStatusToRejectProviderNotificationFailed
          - SortFieldNotAvailableError
          - ContractServiceExist
          - ContractServiceCantChangeTrade
          - ContractServiceCantChangeCategory
          - ContractServiceCantChangeProvider
          - ContractServicePMServiceCantChangeTrade
          - ContractServicePMServiceCantChangeCategory
          - ContractedServiceNameAlreadyExists
          - ContractedServiceNameLinkedToRates
          - WorkRequestDescriptionIsRequired
          - WorkRequestCallDateIsRequired
          - WorkRequestIssueIsRequired
          - WorkRequestCallDateHasWrongFormat
          - WorkRequestScheduledDateHasWrongFormat
          - InvalidWorkRequestStatus
          - InvalidWorkRequestExtendedStatus
          - InvalidWorkRequestCategory
          - InvalidWorkRequestPriority
          - InvalidWorkRequestCurrency
          - InvalidWorkRequestIssueSetup
          - InvalidWorkRequestIssueArea
          - InvalidWorkRequestAsset
          - WorkRequestAttachmentFileNameIsRequired
          - WorkRequestAttachmentOriginalNameIsRequired
          - WorkRequestIssueProblemCodeIsRequired
          - WorkRequestIssueProblemTypeIsRequired
          - WorkRequestScheduledDateMustBeGreaterThanCallDate
          - InvalidWorkRequestId
          - WorkRequestSearchCallDateFromHasWrongFormat
          - WorkRequestSearchCallDateToHasWrongFormat
          - WorkRequestSearchScheduledDateFromHasWrongFormat
          - WorkRequestSearchScheduledDateToHasWrongFormat
          - WorkRequestSearchClosedDateFromHasWrongFormat
          - WorkRequestSearchClosedDateToHasWrongFormat
          - WorkOrderIsAlreadyCreatedForWorkRequest
          - WorkRequestIsClosed
          - WorkRequestClosedReasonIsRequiredForClosedStatus
          - WorkOrderIdIsRequiredForThisClosedReason
          - InvalidWorkRequestClosedReason
          - WorkRequestClosedReasonIsOnlyForClosedStatus
          - InvalidWorkRequestWorkOrderId
          - WorkRequestWorkOrderIdIsOnlyForClosedStatus
          - WorkRequestWorkOrderIdIsOnlyForCertainClosedReason
          - InvalidWorkOrderSourceType
          - DeclineReasonIdIsRequired
          - DeclineReasonDoesntAllowCustomText
          - InvalidDeclineReasonId
          - MultipleWorkOrdersForPurchaseNumber
          - InvoiceMaterialMakupInvalid
          - MaterialMarkUpDiscrepancyReasonShouldBeStated
          - MaterialPriceDiscrepancyReasonShouldBeStated
          - OtherPriceDiscrepancyReasonShouldBeStated
          - SubscriberIdIsNotValid
          - FiscalPeriodIsNotValid
          - AmountIsNotValid
          - AmountFormatIsNotValid
          - CategoryMustBeEmpty
          - CategoryIsNotValid
          - TradeMustBeEmpty
          - TradeIsNotValid
          - GlCodeMustBeEmpty
          - GlCodeIsNotValid
          - LocationMustBeEmpty
          - LocationIsNotValid
          - RegionMustBeEmpty
          - RegionIsNotValid
          - DistrictMustBeEmpty
          - DistrictIsNotValid
          - DuplicateData
          - PrimaryCategoryMustBeEmpty
          - PrimaryCategoryIsNotValid
          - CategoryAndExcludedCategoryCannotSimultaneously
          - PrimaryCategoryAndExcludedPrimaryCategoryCannotSimultaneously
          - TradeAndExcludedTradeCannotSimultaneously
          - GlCodeAndExcludedGlCodeCannotSimultaneously
          - DuplicateCategories
          - DuplicateTrades
          - DuplicateGlCodes
          - DuplicatePrimaryCategories
          - LocationNoteMustBeEmpty
          - LocationNoteIsNotValid
          - OverlappingCategories
          - OverlappingPrimaryCategories
          - OverlappingTrades
          - OverlappingPrimaryTrades
          - OverlappingGlCodes
          - OverlappingLocations
          - OverlappingRegions
          - OverlappingDistricts
          - OverlappingLocationNotes
          - TaxExemptionErrorApi
          - OtherLineItemZeroAmount
          - TravelLineItemsNotNegativeValueRequired
          - MaterialLineItemsNotNegativeValueRequired
          - LaborLineItemsNotNegativeValueRequired
          - AdditionalApprovalCodeSetupIdInvalid
          - VendorIdIsNotValid
          - InvalidBatchId
          - InvalidBatchStatusId
          - CategoryInUsePMServiceError
          - CategoryInUseChecklistError
          - CategoryInUseETAMissedAlertError
          - CategoryInUseBudgetControl
          - CategoryInUseConnector
          - CategoryInUseContractedService
          - CategoryInUseEDI
          - CategoryInUseIVR
          - CategoryInUseFeedbackV2
          - CategoryInUseProposalApproveReasons
          - CategoryInUsePaymentManager
          - CategoryInUseProviderAssignments
          - CategoryInUseSiteAccess
          - CategoryInUseAlerts
          - CategoryInUseOpenWOAlert
          - CategoryInUseWOAutocopy
          - CategoryInUseWorkRequest
          - CategoryInUseWO
          - CategoryInUseDashboardOverride
          - CategoryInUseInvoiceAttributes
          - FeatureIsOn
          - LocationHierarchyNotFound
          - LocationHierarchyLevelNotFound
          - LocationHierarchyParentLevelNotFound
          - LocationSpaceTypeNotFound
          - DuplicateRowByValueKey
          - ParentNotFound
          - DuplicateSequenceAmongSiblings
          - SequenceConflictsWithExistingData
          - SequenceMustBeGreaterThanZero
          - ValueContainsPathDelimiter
          - InitializationWarmupError
          type: string
      ErrorCode:
        description: The code of the first error found
        enum:
        - NotAllowed
        - EmptyProvider
        - InvalidProviderId
        - UnknownProvider
        - ProviderAlreadyExists
        - ProviderIdNotExists
        - TimeoutExpiredError
        - EmptyContract
        - ContractUndefined
        - EmptySubscriber
        - InvalidSubscriberId
        - UnknownSubscriber
        - InactiveSubscriber
        - EmptySubscriberId
        - SubscriberIdNotExists
        - InternalError
        - DataNotFound
        - BadRequest
        - UnAuthorized
        - UnSupportedApplication
        - SubsidiaryUserDisabled
        - EmptyLocation
        - InvalidLocationId
        - UnknownLocation
        - LocationNotBelongsToSubscriber
        - EmptyLocationCountry
        - LocationAlreadyExists
        - InvalidStoreId
        - LocationEmptyState
        - NoAccessToLocation
        - LocationAddressValidationError
        - LocationAddressRequestValidationError
        - InvalidLocationNoteHeader
        - NoAccessToUpdateProtectedNote
        - InvalidBusinessHoursFormat
        - WorkingHoursIntersect
        - InvalidDayOfWeek
        - DuplicateDayOfWeek
        - InvalidBusinessHoursInitialSetup
        - BusinessHoursIsEmpty
        - InvalidHolidayRepeatByType
        - EmptyHolidayListOfDays
        - EmptyHolidayListOfMonths
        - InvalidHolidayMonthName
        - InvalidHolidayNameLength
        - InvalidHolidayRepeatEvery
        - DuplicateMonth
        - InvalidHolidayFrequency
        - InvalidHolidayStartDate
        - InvalidCloseAllDay
        - HolidayDoesNotExist
        - InvalidFormatParameter
        - InvalidLocationCity
        - InvalidLocationZip
        - InvalidLocationLatitude
        - InvalidLocationLongitude
        - InvalidLocationEmail
        - InvalidLocationName
        - InvalidLocationState
        - InvalidLocationAddlAddress
        - InvalidLocationMainAddress
        - InvalidLocationCountry
        - InvalidLocationRegion
        - InvalidLocationDistrict
        - InvalidLocationPhone
        - InvalidLocationContact
        - InvalidLocationFaxNumber
        - LocationCountryNotFound
        - LocationStateNotFound
        - LocationCityNotFound
        - LocationIdNotExists
        - InvalidLocationEmailLength
        - LocationStateIdNotFound
        - IncorrectCombinationStateAndStateId
        - InvalidSubscriberIds
        - InvalidLocalizationSettings
        - LandlordResponsibilityNotFound
        - LandlordResponsibilityAlreadyExists
        - EmptyLocationIds
        - AttachmentNotExist
        - InvalidTradeId
        - InvalidCategoryId
        - InvalidOverrideCategoryId
        - InvalidOverridePriorityId
        - LeaseNoteExceedMaxLength
        - InvalidOverrideProviderRank
        - InvalidOverrideNTE
        - DuplicateRows
        - InvalidPriorityId
        - LocationNotFound
        - EmptyTrade
        - InvalidTrade
        - TradeNotBelongsToSubscriber
        - InvalidPrimaryTrade
        - InvalidTradeForSubscriber
        - InvalidCategoryForSubscriber
        - GlCodeAlreadyExists
        - GlCodeNotExists
        - InvalidGlCodeUpdate
        - EmptyGlCode
        - TradeAlreadyExists
        - InvalidNTETrade
        - TradeNotExists
        - TradeAlreadyInUse
        - TradeWithTheSameNameHasBeenDeleted
        - TradeInUsePMServices
        - TradeInUseProposalError
        - TradeInUseRFPError
        - TradeInUseChecklistError
        - TradeInUseBudgetControl
        - TradeInUseGlCode
        - TradeInUseDynamicProviderAssignments
        - TradeInUseInvoice
        - TradeInUseLandlordResponsibilities
        - TradeInUseWO
        - TradeInUseEquipmentType
        - TradeInUseRFP
        - TradeInUseConnector
        - TradeInUseContractedService
        - TradeInUseIVR
        - TradeInUseSiteAccess
        - TradeInUseGLCodes
        - TradeInUseCIWO
        - TradeInUseOrganizationPermissions
        - TradeСreationError
        - EmptyUser
        - EmptyCreatedBy
        - InvalidUserName
        - NotProviderUser
        - UserHasNoPermissions
        - RestrictedAccount
        - UserAlreadyExists
        - UserHasNoPermissionsEditWO
        - UserEmailAddressIsMissing
        - UserIsNotRTAdmin
        - InvalidSubsriberProviderId
        - LanguageNameNotFound
        - InvalidLanguageId
        - LanguageIdNotFound
        - UseBothSubscriberIdProviderId
        - EmptyWoProblem
        - InvalidWoProblemSource
        - InvalidWoProblemDescription
        - InvalidWoProblemCode
        - InvalidWoStatus
        - InvalidWoNte
        - InvalidWoCaller
        - InvalidWoCallDate
        - InvalidWoScheduledDate
        - InvalidWoScheduledDateGreaterThanMaxAllowed
        - EmptyWoCategory
        - InvalidWoCategory
        - EmptyWoPriority
        - InvalidWoPriority
        - InvalidWoCurrency
        - InvalidWoSetupId
        - AttachmentsRequired
        - InvalidWoIdentifier
        - EquipmentRequired
        - WoNteOverflow
        - InvalidWoPurchaseNumber
        - InvalidWoStateForUpdate
        - InvalidPagingParameter
        - InvalidWoNumber
        - CheckInDenied
        - CheckOutDenied
        - WoScheduledDateLessThenReassignDate
        - WoScheduledDateLessThenCallDate
        - InvalidWoActionReason
        - EmptySubscriberProperty
        - WorkOrderUpdateError
        - MissedWoNteDetails
        - InvalidLinkedWoIdentifier
        - WoIsOnHold
        - InvalidWoTrade
        - InvalidStarScore
        - WorkOrderAlreadyRated
        - AttachmentThumbnailNotAvailable
        - InvalidWoIdentifierOrPin
        - InvalidTimeZoneHeader
        - RefrigerantWasUsedShouldBeYesOrNo
        - CheckInDeniedOutsideGeolocation
        - CheckOutDeniedOutsideGeolocation
        - LeakDetectorAuditShouldBeCreated
        - CheckInOutPremature
        - WorkOrderAttachmentsSizeExceeded
        - WorkOrderNotFound
        - WorkOrderCreateError
        - InvalidWoProjectedCompletionDate
        - InvalidFollowUpWo
        - InvalidWeatherEventId
        - InvalidSiteAuditLinkedWo
        - InvalidSetupId
        - IssueListNotFound
        - InvalidIssueListField
        - SiteAuditCompleted
        - CheckSiteAuditError
        - SaveSiteAuditError
        - RemoveSiteAuditError
        - InactiveTemplateType
        - SiteAuditNotFound
        - SiteAuditUpdateError
        - InvalidSiteAuditParameters
        - InvalidAdditionalApprovalCode
        - InvalidAdditionalApprovalCodeValue
        - AdditionalApprovalCodeIsDisabled
        - InvalidOtherDesc
        - InvalidTax2Name
        - InvoiceInconsistentAmounts
        - InvoiceInvalidTotal
        - InvoiceTotalGreaterNte
        - InvoiceExists
        - CreatingInvoiceError
        - DuplInvNumber
        - InvoiceTotalNull
        - InvComplDateNull
        - InvDateLessComplDate
        - InvoiceNotAuto
        - ESignatureRequired
        - InvWoNotFound
        - InvWrongWoCurr
        - InvWoCurrNotFound
        - InvoicingDisabled
        - InvCreationUnexpectedRes
        - InvoiceInvalidLaborAmount
        - InvoiceInvalidMaterialAmount
        - InvDateOld
        - InvDateGreater
        - InvoiceMaterialDescriptionLengthOverflow
        - InvoiceTaxNotValidated
        - InvoiceMaterialPartNumberLengthOverflow
        - TaxValidationError
        - TaxExemptionError
        - InvalidInvoiceNumber
        - GetApprovalLevelsError
        - InvoiceAddUsersToMliLevelsError
        - InvoiceAddDeleteLocationsToMliLevelUserError
        - InvoiceUpdateMLiLevelError
        - InvoiceDeleteMliLevelError
        - InvoiceDeleteUsersFromMliLevelError
        - ApprovalLevelNameLengthOverflow
        - GstTaxError
        - Tax2Error
        - GetApprovalLevelsAndLocationsByUserError
        - GetAssignedUserShortInfoError
        - AssignAllLocationsToApprovalLevelAndUserError
        - GetLocationsForApprovalLevelAndAssignedUserError
        - GetLocationsBySubscriberError
        - AssignUserWithLocationsToApprovalLevelError
        - ReAssignUserWithLocationsToNewApprovalLevelError
        - ReAssignLocationsToApprovalLevelAndUserError
        - OutstandingBalance
        - InvoiceTaxDetailsEmpty
        - InvoiceTaxDetailsIncorrectSum
        - MultipleUsersForLocationIsNotAllowed
        - UserAssignedToOtherLevel
        - UserDoesNotExist
        - LaborLineItemRequired
        - MaterialLineItemRequired
        - InvoiceDoesntExist
        - InvoiceStarUnstarFailed
        - InvoiceBatchUpdateInvalidInvoiceStatusError
        - InvoiceBatchUpdateLimitExceededError
        - InvoiceNotAvailableForCurrentUser
        - InvoiceBatchUpdateInvalidRuleSetStructure
        - InvoiceBatchUpdateInvalidMliStructure
        - InvoiceBatchUpdateStatusError
        - InvoiceMaterialUnitTypeInvalid
        - ExistingBatchNumber
        - InvoiceResolutionTextRequired
        - GetInvoiceDefaultApprovalCodesError
        - InvoiceInvalidTravelAmount
        - InvoiceTravelDescriptionLengthOverflow
        - InvoiceTravelUnitTypeInvalid
        - TravelLineItemRequired
        - TravelDetailsDisabled
        - OnOffShoreDisabled
        - InvoiceInvalidLaborCount
        - InvoiceInvalidMaterialCount
        - InvoiceInvalidTravelCount
        - SubscriberNotRegisteredForTaxValidation
        - ManyDecimalsInAmountError
        - DecimalPartQstTaxError
        - LaborRatesDiscrepancy
        - PayInvoicesError
        - InvoiceNumberRequirementsError
        - InvoiceNumberIncorrect
        - InvoiceNumberRegExPatternError
        - GetInvoicesPendingApprovalByLocationError
        - ReAssignInvoicesToUsersFailed
        - ReAssignInvoicesUsersMatched
        - GetUsersForReassignInvoiceError
        - InvalidTimeRangeActivity
        - OutsourcedSourceInvoiceNotFound
        - OthersLineItemsDisabled
        - InvoiceInvalidOtherAmount
        - InvoiceInvalidOtherCount
        - InvoiceOtherDescriptionLengthOverflow
        - OtherLineItemRequired
        - OtherLineItemsNotNegativeValueRequired
        - InvalidLaborSkillLevel
        - InvalidLaborType
        - InvalidTechnicianQuantity
        - GetInvoicesCommonCategoriesError
        - InvoiceExplainDisputeEmpty
        - InvoiceAdditionalApprovalCodeHeaderError
        - TemplateParseSuccess
        - TemplateIncorrectHeaderError
        - TemplateEmptyTemplateError
        - TemplateWrongFieldsCountError
        - TemplateFieldNotFoundError
        - TemplateFieldRequiredError
        - TemplateParseIntError
        - TemplateFieldSizeError
        - TemplateInvalidValueError
        - TemplateFieldFormatError
        - TemplateFieldMaxRangeError
        - TemplateFieldMinRangeError
        - TemplateProviderNotEntered
        - TemplateInvalidSubscriberError
        - TemplateVendorNotFoundError
        - TemplateMissedProviderError
        - TemplateProviderNotFoundError
        - TemplateProviderSubsccriberLinkError
        - TemplateTradeDispatchRankError
        - TemplateInvalidTradeForSubscriberError
        - TemplateStoreNotFoundError
        - TemplateNotStoresForStateError
        - TemplateNotStoresForCountryError
        - TemplateNotStoresForDistrictError
        - TemplateNotStoresForRegionError
        - TemplateMultiplePimaryProvidersForTradeStoreError
        - TemplateDuplicatePrimaryRelationshipError
        - TemplateAmbiguousDataError
        - TemplateIncorrectSubscriber
        - TemplateDuplicateRanking
        - TemplateLongitudeRangeError
        - TemplateLatitudeRangeError
        - InvoiceMaterialPartNameLengthOverflow
        - TemplateTradeLocationExclusion
        - TemplateInvalidStateError
        - TemplateMissedSubscriberError
        - TemplateMissedStoreIdError
        - TemplateInvalidSubscriberIdError
        - TemplateOpenCloseDateError
        - TemplateInvalidCountryError
        - TemplateInvalidStateForCountryError
        - TemplateInvalidLocationTypeError
        - TemplateMissingFullAndShortNameError
        - TemplateMissingCountryError
        - TemplateDuplicatedDataError
        - TemplateParentLocationNotFoundError
        - TemplateParseDateTimeError
        - TemplateParseDecimalError
        - TemplateSquareValueRangeError
        - TemplateInvalidSquareMeasureError
        - TemplateTypeLabelCanNotBeUpdatedError
        - TemplateTypeLabelHaveToBeLocationForNotInventory
        - TemplateInvalidPrimarySupplyLocation
        - TemplateInvalidHomestoreLocationNumber
        - TemplateErrorDuringCreation
        - TemplateLocationNotFoundError
        - TemplateDuplicatedLocationFoundError
        - TemplateInvalidLocationHeaderError
        - TemplateDuplicatedLocationHeaderError
        - TemplateHeaderContainsEmptyFieldsError
        - TemplateLocHeadersShortHeaderError
        - TemplateHeaderContainsDuplicatesError
        - TemplateLocationNotesStoreIdFieldLengthError
        - TemplateLocationNotesNoteValueFieldLengthError
        - TemplateErrorInvalidZipCode
        - TemplateMissingLocationNoteHeader
        - TemplateMissingLocationNoteIdHeader
        - TemplateInvalidSecondarySupplyLocation
        - TemplateLocationWasNotCreated
        - TemplateTruckNameIsEmpty
        - TemplateWrongFormat
        - TemplateSubscriberNotFound
        - TemplateDuplicatedLocationHeaders
        - TemplateInvalidHeaders
        - TemplateInvalidPhoneError
        - TemplateDuplicateTelecomRecordError
        - TemplateTelecomRecordExistsError
        - TemplateInvalidCategory
        - TemplateDifferentRanksForProviderAssignments
        - TemplateDuplicateRankError
        - TemplateProviderNonCompliant
        - TemplateLocationIsClosed
        - TemplateProviderWarning
        - TemplateMultipleProvidersForTradeStoreError
        - EmptyRequest
        - InvalidNumberOfParameters
        - InvoiceOtherUnitTypeInvalid
        - EmptyLocationOrTradeList
        - RequestSubscriberIdDoesntMatchUserSubscriberId
        - StoreIdRequiredError
        - InvalidUserIdError
        - InvalidStoreIdError
        - AmbigiousError
        - MliHierarchyFiledsCountError
        - MliHierarchyMaxUserNameError
        - MliHierarchyDuplicateUserError
        - MLiHirarchyUserExistInOtherLevelError
        - MissingLevelsError
        - DuplicateApprovalLevelsError
        - InvalidMliLocations
        - InvalidMlpLocations
        - ApprovalLevelUsedInRulsetError
        - GLCodeAmbiguous
        - GlCodeInvalidResponce
        - GetRuleSetListError
        - RuleSetDuplicateNameError
        - RuleSetDuplicateActionError
        - RuleSetConflictedActionError
        - RuleSetRuleSetDoesNotExistsError
        - RuleSetTradeDoesNotExistError
        - RuleSetCategoryDoesNotExistError
        - RuleSetMliLevelDoesNotExistError
        - GetRuleSet
        - CreateUpdateRuleSetError
        - DeleteRuleSet
        - GetRuleSetCategoriesTradesCountError
        - GetRuleSetByInvoice
        - GetCategoryTradeIdsAreSelectedError
        - ProposalAboveMlpLimitError
        - ProposalNextLevelHasNoAvailableActionsError
        - DefaultRuleSetError
        - RuleSetActionEndStatusError
        - RuleSetRejectActionEmptyForwardToError
        - UserFilterGetError
        - UserFilterCreateUpdateError
        - UserFilterDeleteError
        - UserFilterSetAsDefaultError
        - InvoiceFilterFromAlpProviderError
        - RegionFilterNotAllowedError
        - LocationIdFilterNotAllowedError
        - PaymenowScProviderIdOrFbCompanyIdMustBeProvided
        - PaymenowBannersForProvidersOnly
        - PaymenowFeatureDisabled
        - PaymenowBannerInfoNotFound
        - PaymenowBannerInvalidNavigationUrl
        - PaymenowRequestedProvidersIsNotAssigned
        - PaymenowEmptyRequestedProviders
        - PaymentManagerFeatureDisabled
        - PaymentManagerFeatureDisabledForSubscriber
        - PaymentSystemCurrentlyUnavailable
        - CurrencyNotSupported
        - PaymentSystemAccountNotFound
        - FeatureIsOff
        - EarlyPayFeatureWithoutPaymentManagetFeatureError
        - FtpTestError
        - AcceptTermsAndConditionsRequestInvalid
        - PaymentSystemAccountError
        - SendReportToFTP
        - SchedulingError
        - BadPaymentData
        - InvoicesCanNotBeRepaid
        - InvoicesCanNotBeRescheduled
        - InvalidBillingAddress
        - PaymentManagerGeneralSettingsNotFound
        - PaymentManagerEInvoiceSettingsNotFound
        - BadgeVerificationFailed
        - BadgeTempPassEmpty
        - BadgeScanRequired
        - SolvedIssueSubmitFailed
        - SolvedIssueInvalidLocationId
        - SolvedIssueInvalidCategoryId
        - SolvedIssueInvalidTradeId
        - SolvedIssueInvalidPriorityId
        - SolvedIssueInvalidSource
        - SolvedIssueInvalidProblemCode
        - SolvedIssueInvalidType
        - SubmitFeedbackErrorWoStatus
        - SubmitFeedbackInvalidAnswer
        - SubmitFeedbackInvalidTrackingNumber
        - SubmitFeedbackInvalidSubscriber
        - SubmitFeedbackInvalidScore
        - SubmitFeedbackUnsatisfactoryCommentRequired
        - SubmitFeedbackInvalidReviewId
        - SubmitFeedbackInvalidSetupId
        - FeedbackSetupInvalidSetupId
        - S3SaveError
        - AbsSaveError
        - GoodDataLoginFailed
        - GoodDataElementUriError
        - GoodDataReportResultUriError
        - GoodDataReportResultEmpty
        - GoodDataDesReportResCountError
        - GoodDataDesReportResConvertError
        - GoodDataDesDisplayFormAttributeEmpty
        - InvalidProposalAmountLimit
        - GetApprovalProposalReasonsError
        - GetEmailRecipientsError
        - GetAssignProposalReasonsError
        - ProposalHasBeenVoided
        - AssetTypeDuplicateNameError
        - AssetTypeDoesntExistError
        - AssetTypeFailUpdateRefrigerantPurpose
        - AssetTypeDeleteFailed
        - ExistingAssetsFoundForAssetType
        - CantModifyAssetTypeParentId
        - InvalidAssetTypeName
        - AssetTypeInheritanceError
        - ExistingProposalsFoundForAssetType
        - InstallPurchaseDateOverflow
        - WOexistsWithSomeAssets
        - PartsChangeFailed
        - PartsReasonCodeError
        - PartsUseDateError
        - PartsRefrigerantAlreadyExists
        - PartsChargeHistoryAlreadyExists
        - PartsNotFound
        - BulkPartUseIncorrectWorkOrder
        - BulkPartsByIdsNotFound
        - BulkPartsMultipleWosError
        - BulkPartsIncorrectIsRefrigerantParam
        - BulkPartsIsRefrigerantCanNotbeChanged
        - BulkPartsReasonCodeChangeError
        - BulkPartsInvalidAssetAndReasonCodeParams
        - BulkPartsInvalidAssetId
        - BulkPartsInvalidInitialChargeCode
        - BulkPartsAssetDoesntContainCharge
        - BulkPartsIsInventoryFlagError
        - BulkPartsLeakAlreadyInProcessError
        - BulkPartsInvalidDateRangeError
        - BulkPartsMoeNumberRequiredError
        - BulkPartsSystemChargeExceeded
        - BulkRefrigerantuUageBlocked
        - BulkIDsNotBeNull
        - BulkPartRemovalNotAllowedOnRetrofitRetireWO
        - BulkAddPartUsagesNotAllowedAfterRetrofitRetireCreation
        - BulkRetrofitRetireRefrigerantUsageReasonCanNotChanged
        - BulkInitialChargeSystemExpansionNotAllowed
        - BulkInventoryPartIdCanNotBeChanged
        - BulkInventoryLocationIdCanNotBeChanged
        - BulkPartsDuplicatedRequest
        - BulkChangePartsIncorrectRefrigerantType
        - BulkPartsRetroRetireIsInProgressOnThisDate
        - BulkPartsCanNotAttachRefrigerantUsageToPlanLeakRecord
        - RetrofitRetireCanNotBeRemoved
        - RetroRetirePartsCantbeChanged
        - BulkPartsInventoryApiFailed
        - BulkPartsDuplicated
        - BulkPartsWorkOrderInProcessing
        - BadNotificationSubscriptionEventType
        - RefrigerantUseDateOutOfTheLeakProcessDateRange
        - InventoryUsageNotAllowedOnRTrackingConnectedSubAndSubcontractors
        - BulkExternalWoCurrentlyDoesntExists
        - BulkConnectorOnlyExternalClientAssetsCanBeProcessed
        - BulkConnectorOnlyClientAssetsCouldBeProcessed
        - LeakRecordHasWrongDateValue
        - HasUncompliedLeakRecordInAnoutherWO
        - HasUncompletedWOOnAnotherLeakRecord
        - OnlyOneAssetWorkOrderPair
        - OneLeakRecordMustBeOnCompletedWO
        - LeakRecordNotFound
        - AssetIDWoIdIsRequired
        - BulkPartsReasonCodeRetrofit
        - RetrofitRetireWasCancelledNoLeak
        - FailedToUpdateLeakEvent
        - AddPartUsagesAreNotAllowedInRetireRetrofitDateInterval
        - LeakPartUseOnZeroChargeNotAllowed
        - BulkLeakRecordsAndAuditRequest
        - LeakRecordsDuplicateRequestDetected
        - AllLeakRecordFieldsAreRequired
        - BulkPartsTheSamePartIdForUpdateAndRemovalPassed
        - MlpImportLevelError
        - UpdateMlpUserLevelError
        - InvalidHolidayName
        - DuplicateHolidayName
        - HolidaysDeleteFailed
        - HolidaysExcludeInsertFailed
        - HolidaysUpdateFailed
        - HolidaysInsertFailed
        - HolidaysExcludeDeleteFailed
        - BusinessHoursDeleteFailed
        - BusinessHoursUpdateFailed
        - BusinessHoursInsertFailed
        - InvalidTime
        - HolidayForDeleteNotFound
        - InvalidChecklistId
        - ChecklistNotPopulated
        - ChecklistNotAssignedForTransfersWO
        - NoLinkBetweenSubscriberAndProvider
        - WorkforceCreateContractorError
        - InvalidCertificateId
        - MaxThresholdExceeded
        - MaxTriggerRateExceeded
        - LeakPriorityIsRequired
        - MissingRTSettings
        - ResolutionCodesLimitExceeded
        - ResolutionCodesAreRequired
        - RootCauseIsRequired
        - RootCauseTextIsRequired
        - NoAccessToSetRootCauseText
        - RootCauseTextMaxLengthExceeded
        - ResolutionCodeTextIsRequired
        - NoAccessToSetResolutionCodeText
        - ResolutionCodeTextMaxLengthExceeded
        - ResolutionCodeTextMustBeUnique
        - ResolutionCodeWithoutFreeTextMustBeUnique
        - PendingResCodesStatusCannotBeChangedToInvoiceableBySubscriber
        - ResolutionAndRootCauseCodesAreRequiredToMoveToInvoiceableStatusByProvider
        - AssetCategoriesLimitExceeded
        - NoAccessToAssetCategories
        - AssetCategoriesAreRequired
        - InvalidAssetCategoryId
        - NoAssetCategoriesOnWorkOrder
        - RootCausesMustBeForAllWorkOrderAssetCategories
        - RootCauseTextMustBeUnique
        - AssetCategoryIsRequired
        - MultipleRootCausesMethodMustBeUsed
        - ResolutionCodesMustBeForAllWorkOrderAssetCategories
        - AssetFilterLocationsLimitExceeded
        - UnknownStoreId
        - UsesRefrigerantAttributeNotChanged
        - AssetTagDuplicate
        - AssetTagIdDuplicate
        - UnknownEquipmentType
        - ParentIdInOtherLocation
        - UnknownBrandName
        - CARBRequiredManufacturedDate
        - CARBRequiredInstallDate
        - TradeNotFound
        - AssetDoesntExist
        - AssetIsNotRefrigerant
        - AssetCantContainRefrigerant
        - OnlyRackAssetsContainingCircuits
        - ConnectorAssetTagIdCanNotBeChanged
        - ConnectorAssetLocationIdCanNotBeChanged
        - AssetTagCantBeUpdated
        - AssetTypeIsNotСonfiguredToManageRTAssets
        - RefrigerantTrackingNotAvailableForLocation
        - UsesRefrigerantRequiredByAssetTypeSettings
        - AssetLocationTradeDoesntCorrespondToWO
        - AssetLocationSelectedPMmodule
        - UpdateAssetRepairStatusValidation
        - HasCircuitsCantBeChange
        - HasComponentsCantBeChange
        - CircuitCanNotBeConnectedToCircuit
        - RTCircuitCanNotBeConnectedToNonRTAsset
        - RTComponentCanNotBeConnectedToNonRTAsset
        - ComponentCanNotBeConnectedToComponent
        - NonRTComponentCanNotBeConnectedToRtAsset
        - NonRTCircuitCanNotBeConnectedToRtAsset
        - ComponentCanNotBeConnectedToCircuit
        - ParentAssetShouldHaveEitherComponentsNorCircuits
        - ParentAssetCantHaveComponents
        - ParentAssetCantHaveCircuits
        - MultipleAssetsFoundForTheRequestedTagId
        - InvalidBrandName
        - UnknownBrandId
        - BrandRestrictedByAssetType
        - BrandRestrictedBySubscriber
        - BrandsRestrictedBySubscriber
        - DeclineWorkOrderFailed
        - AcceptWorkOrderFailed
        - WorkOrderWasAccepted
        - AssetAttachmentsSizeExceeded
        - SaveMliAuditReportSetting
        - GetMliAuditReportSetting
        - SaveMliAuditReportResult
        - SaveMliAuditReportSendEmailStatus
        - SaveMliAuditReportFilePath
        - GetSubscribersEnabledSchedule
        - SaveMliAuditInfoError
        - TaxValidationAddNewCompanySettingsError
        - TaxValidationUpdateCompanySettingsError
        - ProjectAssociationError
        - GetProjectsInvoiceAmountsError
        - TaxCodeNotUniqueError
        - FieldLengthIsTooLongError
        - SetTaxCodesBulkError
        - InvoiceAdditionalApprovalCodeValueError
        - BulkUpdateInvoicePaymentError
        - InvoiceLineItemFilterDisabled
        - InvoiceStatusToRejectProviderNotificationFailed
        - SortFieldNotAvailableError
        - ContractServiceExist
        - ContractServiceCantChangeTrade
        - ContractServiceCantChangeCategory
        - ContractServiceCantChangeProvider
        - ContractServicePMServiceCantChangeTrade
        - ContractServicePMServiceCantChangeCategory
        - ContractedServiceNameAlreadyExists
        - ContractedServiceNameLinkedToRates
        - WorkRequestDescriptionIsRequired
        - WorkRequestCallDateIsRequired
        - WorkRequestIssueIsRequired
        - WorkRequestCallDateHasWrongFormat
        - WorkRequestScheduledDateHasWrongFormat
        - InvalidWorkRequestStatus
        - InvalidWorkRequestExtendedStatus
        - InvalidWorkRequestCategory
        - InvalidWorkRequestPriority
        - InvalidWorkRequestCurrency
        - InvalidWorkRequestIssueSetup
        - InvalidWorkRequestIssueArea
        - InvalidWorkRequestAsset
        - WorkRequestAttachmentFileNameIsRequired
        - WorkRequestAttachmentOriginalNameIsRequired
        - WorkRequestIssueProblemCodeIsRequired
        - WorkRequestIssueProblemTypeIsRequired
        - WorkRequestScheduledDateMustBeGreaterThanCallDate
        - InvalidWorkRequestId
        - WorkRequestSearchCallDateFromHasWrongFormat
        - WorkRequestSearchCallDateToHasWrongFormat
        - WorkRequestSearchScheduledDateFromHasWrongFormat
        - WorkRequestSearchScheduledDateToHasWrongFormat
        - WorkRequestSearchClosedDateFromHasWrongFormat
        - WorkRequestSearchClosedDateToHasWrongFormat
        - WorkOrderIsAlreadyCreatedForWorkRequest
        - WorkRequestIsClosed
        - WorkRequestClosedReasonIsRequiredForClosedStatus
        - WorkOrderIdIsRequiredForThisClosedReason
        - InvalidWorkRequestClosedReason
        - WorkRequestClosedReasonIsOnlyForClosedStatus
        - InvalidWorkRequestWorkOrderId
        - WorkRequestWorkOrderIdIsOnlyForClosedStatus
        - WorkRequestWorkOrderIdIsOnlyForCertainClosedReason
        - InvalidWorkOrderSourceType
        - DeclineReasonIdIsRequired
        - DeclineReasonDoesntAllowCustomText
        - InvalidDeclineReasonId
        - MultipleWorkOrdersForPurchaseNumber
        - InvoiceMaterialMakupInvalid
        - MaterialMarkUpDiscrepancyReasonShouldBeStated
        - MaterialPriceDiscrepancyReasonShouldBeStated
        - OtherPriceDiscrepancyReasonShouldBeStated
        - SubscriberIdIsNotValid
        - FiscalPeriodIsNotValid
        - AmountIsNotValid
        - AmountFormatIsNotValid
        - CategoryMustBeEmpty
        - CategoryIsNotValid
        - TradeMustBeEmpty
        - TradeIsNotValid
        - GlCodeMustBeEmpty
        - GlCodeIsNotValid
        - LocationMustBeEmpty
        - LocationIsNotValid
        - RegionMustBeEmpty
        - RegionIsNotValid
        - DistrictMustBeEmpty
        - DistrictIsNotValid
        - DuplicateData
        - PrimaryCategoryMustBeEmpty
        - PrimaryCategoryIsNotValid
        - CategoryAndExcludedCategoryCannotSimultaneously
        - PrimaryCategoryAndExcludedPrimaryCategoryCannotSimultaneously
        - TradeAndExcludedTradeCannotSimultaneously
        - GlCodeAndExcludedGlCodeCannotSimultaneously
        - DuplicateCategories
        - DuplicateTrades
        - DuplicateGlCodes
        - DuplicatePrimaryCategories
        - LocationNoteMustBeEmpty
        - LocationNoteIsNotValid
        - OverlappingCategories
        - OverlappingPrimaryCategories
        - OverlappingTrades
        - OverlappingPrimaryTrades
        - OverlappingGlCodes
        - OverlappingLocations
        - OverlappingRegions
        - OverlappingDistricts
        - OverlappingLocationNotes
        - TaxExemptionErrorApi
        - OtherLineItemZeroAmount
        - TravelLineItemsNotNegativeValueRequired
        - MaterialLineItemsNotNegativeValueRequired
        - LaborLineItemsNotNegativeValueRequired
        - AdditionalApprovalCodeSetupIdInvalid
        - VendorIdIsNotValid
        - InvalidBatchId
        - InvalidBatchStatusId
        - CategoryInUsePMServiceError
        - CategoryInUseChecklistError
        - CategoryInUseETAMissedAlertError
        - CategoryInUseBudgetControl
        - CategoryInUseConnector
        - CategoryInUseContractedService
        - CategoryInUseEDI
        - CategoryInUseIVR
        - CategoryInUseFeedbackV2
        - CategoryInUseProposalApproveReasons
        - CategoryInUsePaymentManager
        - CategoryInUseProviderAssignments
        - CategoryInUseSiteAccess
        - CategoryInUseAlerts
        - CategoryInUseOpenWOAlert
        - CategoryInUseWOAutocopy
        - CategoryInUseWorkRequest
        - CategoryInUseWO
        - CategoryInUseDashboardOverride
        - CategoryInUseInvoiceAttributes
        - FeatureIsOn
        - LocationHierarchyNotFound
        - LocationHierarchyLevelNotFound
        - LocationHierarchyParentLevelNotFound
        - LocationSpaceTypeNotFound
        - DuplicateRowByValueKey
        - ParentNotFound
        - DuplicateSequenceAmongSiblings
        - SequenceConflictsWithExistingData
        - SequenceMustBeGreaterThanZero
        - ValueContainsPathDelimiter
        - InitializationWarmupError
        type: string
        readOnly: true
      ErrorMessage:
        description: The description of all errors.
        type: string
      Data:
        $ref: '#/definitions/System.Object'
        description: "Optional\r\n            Gets or Sets the Data object."
  ServiceChannel.Services.Messaging.Users.User:
    description: User details object.
    type: object
    properties:
      Id:
        format: int32
        description: Unique user identifier.
        type: integer
      SubscriberId:
        format: int32
        description: Unique subscriber ID.
        type: integer
      UserName:
        description: Username of the user.<br /> • For subscriber users, the username appears as **User Id** on the "General Info" tab of the user profile page.<br /> • For provider users, the username is listed as **UserID** under "Access" on the "General" tab of the user profile page.
        pattern: ^$|(^\S+).(\S).(\S)$
        type: string
      FullName:
        description: Full name of the user.<br /> • For subscriber users, the full name appears as **User Name** on the "General Info" tab of the user profile page.<br /> • For provider users, you can see their first and last name under "Basic" on the "General" tab of the user profile page.
        type: string
      Email:
        description: User’s email address.
        type: string
      PsmEmail:
        description: Email address through which a user can reset their password.
        type: string
      Disabled:
        description: Defines if a user is deactivated.
        default: false
        type: boolean
      IsLocked:
        description: Defines if a user is locked.
        default: false
        type: boolean
      Roles:
        description: Secondary roles assigned to a subscriber user that determine their permissions and level of access to various Service Automation modules.
        type: array
        items:
          type: string
      Permissions:
        description: Permissions assigned to a subscriber user that determine whether they have full or read-only access to various Service Automation modules.
        type: array
        items:
          type: string
      UserType:
        description: Subscriber user type defining their level of access to ServiceChannel:<br /> • `Corporate` — a user can work in Service Automation.<br /> • `Dashboard` — a user can only access the dashboard assigned to them.<br />`0` is returned for provider users.
        enum:
        - Corporate
        - Dashboard
        - ServiceChannel
        type: string
      Dashboard:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.DashboardInfo'
        description: Dashboard a subscriber user has access to.
      Access:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.AccessOptions'
        description: List of locations, districts, regions, and trades a subscriber user has access to.
      Limits:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.LimitOptions'
        description: NTE, proposal, and invoice limits set for a subscriber user.
      FeedRole:
        type: string
      MliUserInfo:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.MliUserInfo'
        description: ''
      MlpUserInfo:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.MlpUserInfo'
  ServiceChannel.Services.Messaging.User.UserLocalizationSettings:
    type: object
    properties:
      DateFormat:
        type: string
      TimeFormat:
        type: string
      DecimalSeparator:
        type: string
      Language:
        type: string
  ServiceChannel.Services.Messaging.Users.GetUserResponse:
    description: GetUserResponse class definition
    type: object
    properties:
      Id:
        format: int32
        description: Get User's Id
        type: integer
      InfoSubscriberId:
        format: int32
        description: Get User's SubscriberId
        type: integer
      UserName:
        description: Get User's UserName
        type: string
      Email:
        description: Get User's Email
        type: string
      Password:
        description: Gets or sets Password.
        type: string
      FeedRole:
        description: Get User's FeedRole
        type: string
      LocationAccess:
        description: Get User's LocationAccess
        type: string
      User:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.User'
        description: Gets or sets User.
  ServiceChannel.Services.Messaging.Users.MlpUserInfo:
    type: object
    properties:
      Id:
        format: int32
        type: integer
      MlpLevel:
        type: string
      MlpLocations:
        type: array
        items:
          format: int32
          type: integer
  ServiceChannel.Services.Messaging.Users.DashboardInfo:
    description: Dashboard details object.
    type: object
    properties:
      Id:
        format: int32
        description: Unique dashboard identifier.
        type: integer
      Name:
        description: Dashboard name.
        type: string
      RedirectToDashboard:
        description: Defines whether a subscriber user is redirected to a dashboard once they log in.
        default: false
        type: boolean
  ServiceChannel.Services.Messaging.Users.Limit:
    description: Object for limit details set for a subscriber user.
    type: object
    properties:
      Amount:
        format: double
        description: Limit amount.
        type: number
      CurrencyId:
        format: int32
        description: Identifier of the currency the limit is set in.
        type: integer
  ServiceChannel.Services.Messaging.Users.MliUserInfo:
    type: object
    properties:
      Id:
        format: int32
        type: integer
      MliLevel:
        type: string
      MliLocations:
        type: array
        items:
          format: int32
          type: integer
  ServiceChannel.Services.Messaging.MenuResponse:
    type: object
    properties:
      MainMenu:
        type: array
        items:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.MenuItem'
      AccountMenu:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.MenuItem'
      LogoUrl:
        type: string
      LogoHref:
        type: string
  ServiceChannel.Services.Messaging.Users.LimitOptions:
    description: Object for NTE, proposal, and invoice limits set for a subscriber user.
    type: object
    properties:
      NteLimit:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.Limit'
        description: Limit for the NTE amount that a user can not exceed upon editing work orders. If a user who has permission to edit work orders tries to enter the NTE amount above the set limit, an error message will appear.
      ProposalLimit:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.Limit'
        description: Limit for the proposal amount above which a user can not approve proposals — for users with the corresponding permission. The user can put on hold or reject proposals above their limit.
      InvoiceLimit:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.Limit'
        description: Limit for the invoice amount above which a user can not process invoices by changing their status. The user can view invoices above their limit if they have the corresponding permission.
  ServiceChannel.Services.Messaging.ApplicationAccess.FeatureResponse:
    description: Feature response entity.
    type: object
    properties:
      Features:
        description: Subscribers features set
        type: array
        items:
          type: string
  ServiceChannel.Services.Messaging.User.UserLocationNoteRestrictionResponse:
    type: object
    properties:
      Header:
        type: string
      Values:
        type: array
        items:
          type: string
  ServiceChannel.Services.Messaging.Users.AddUserRequest:
    description: AddUserRequest class definition
    type: object
    properties:
      UserName:
        description: Gets or sets User name.
        pattern: ^$|(^\S+).(\S).(\S)$
        type: string
      Id:
        format: int32
        description: Get or set User's identifier (id)
        type: integer
      InfoSubscriberId:
        format: int32
        description: Gets or sets InfoSubscriberId.
        type: integer
      Password:
        description: Gets or sets Password.
        type: string
      Email:
        description: Gets or sets Email.
        type: string
      LocationAccess:
        description: Gets or sets LocationAccess.
        type: string
      FeedRole:
        description: Gets or sets FeedRole.
        type: string
      User:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.User'
        description: Gets or sets User.
  System.Object:
    type: object
    properties: {}
  ServiceChannel.Services.Messaging.Users.AccessOptions:
    description: Object listing locations, districts, regions, and trades a subscriber user has access to. Learn more about [granting access based on locations, districts, and regions](https://servicechannel.atlassian.net/wiki/spaces/SCU/pages/585107276/Location+District+Region+Access+Tab) in ServiceChannel University.
    type: object
    properties:
      Locations:
        description: Locations a user has access to.
        type: array
        items:
          type: string
      Districts:
        description: Districts a user has access to.
        type: array
        items:
          type: string
      Regions:
        description: Regions a user has access to.
        type: array
        items:
          type: string
      Trades:
        description: Trades a user is permitted to work with.
        type: array
        items:
          type: string
  ServiceChannel.Services.Messaging.MenuItem:
    type: object
    properties:
      Name:
        type: string
      Url:
        type: string
      Id:
        enum:
        - None
        - Track_WOPO
        - Console
        - WorkOrders_WorkOrderList
        - Proposals
        - RFPsProposals_CreateProposal
        - RFPsProposals_ViewProposals
        - RFPsProposals_ViewProcessRFP
        - RFPsProposals_ViewProcessBulkRFP
        - RFPsProposals_MySavedProposalReports
        - RFPsProposals_ViewProcessProposals
        - RFPsProposals_CreateRFP
        - Invoices
        - PaymentManager
        - ServiceHealth
        - Home
        - CreateServiceRequest_ServiceRequestDashboard
        - CreateServiceRequest_ClassicServiceRequest
        - WorkOrders_MySavedLiveReports
        - WorkOrders_OpenCallsOnly
        - WorkOrders_InProgressCallsOnly
        - WorkOrders_OpenAndInProgress
        - WorkOrders_OpenAndInProgressExcludingPartsOnOrder
        - WorkOrders_OpenAndInProgressExcludingReferredToFM
        - WorkOrders_OpenAndInProgressExcludingMaintenance
        - WorkOrders_CompletedCallsOnly
        - WorkOrders_InvoicedCallsOnly
        - WorkOrders_AllCalls
        - WorkOrders_AllCallsLongFormat
        - WorkOrders_AllCallsUserAssignment
        - WorkOrders_ArchiveReports_MySavedArchiveReports
        - WorkOrders_ArchiveReports_CallHistory
        - WorkOrders_ArchiveReports_AccrualReport
        - WorkOrders_ArchiveReports_OriginalETAMmissed
        - WorkOrders_ArchiveReports_ExcessiveCalls
        - WorkOrders_AuditReports_DataExtract
        - QuickView
        - LocationsAndProviderAssignments
        - PlannedMaintenance_PMServices
        - PlannedMaintenance_PMLocations
        - PlannedMaintenance_PMTemplates
        - SitePlanningReports
        - AssetsEquipment_Administration
        - AssetsEquipment_Summary
        - AssetsEquipment_ManageAssets
        - AssetsEquipment_ManageAssetTypes
        - AssetsEquipment_RefrigerantLeakEvents
        - AssetsEquipment_ImportedAssets
        - Inventory
        - CompliancePrivateNetwork
        - Admin_LocationSettings_LocationNoteHeaders
        - Admin_LocationSettings_BusinessHours
        - Admin_WOProperties_Categories
        - Admin_WOProperties_Priorities
        - Admin_WOProperties_Statuses
        - Admin_WOProperties_TradesNTEs
        - Admin_Accounting_AdditionalApprovalCodes
        - Admin_Accounting_GLCodes
        - Admin_Accounting_ImportGLCodeTemplate
        - Admin_Invoices_General
        - Admin_Invoices_MLIConfiguration
        - Admin_Invoices_AutoApproval
        - Admin_Proposals_MLPConfiguration
        - Admin_Proposals_AutoApproval
        - Admin_Proposals_General
        - Admin_Proposals_ProposalApproveReasons
        - Admin_Proposals_ProposalAssignReasons
        - Admin_Permissions_Users
        - Admin_Permissions_Mobile
        - Admin_Permissions_Security
        - Admin_Permissions_ImpersonateUser
        - Admin_Permissions_APIIntegration
        - Admin_Permissions_Webhooks
        - Admin_Permissions_Notifications
        - Admin_SiteAccessRules
        - Admin_SitePlanningSetup
        - Admin_Providers
        - Admin_Subscribers
        - Admin_Connector
        - Admin_UserAccount
        - Admin_Tools_Surveys
        - Admin_Tools_CheckLists
        - Admin_Tools_Announcements
        - Admin_Tools_RemapProviders
        - Admin_Tools_UploadTemplates
        - Admin_Tools_SuppressionListRemoval
        - Admin_Tools_QuickView
        - Admin_QualitySurvey_SurveyQuestions
        - Admin_QualitySurvey_SurveyReport
        - Admin_Mobile_CIWO
        - Admin_Mobile_GPS
        - Admin_UserManagement
        - Admin_Locations
        - ServiceProviders
        - AnalyticsProView
        - Logout
        - ReportAnIssue
        - MobileAccessCode
        - HelpLinkForSubscribers
        - HelpLinkForProviders
        - ProviderSearch
        - Projects
        - Admin_Projects_ApprovalConfiguration
        - Admin_Projects_TypesAndCategories
        - Admin_Projects_Config
        - Admin_Spaces_SpacesManager
        - Admin_Tools_UniversalConnectorSetup
        - Spaces_Analytics
        - Spaces_Dashboard
        - Spaces_Manager
        - Spaces_Plotter
        - Spaces_Viewer
        - Admin_UniversalConnectorConfig
        - Admin_IssueListSetup
[...]
