openapi: 3.2.0
info:
  version: '3'
  title: ServiceChannel API - v.3 Locations API
  description: The ServiceChannel API is a RESTful and stateless API.
servers:
- url: https://sb2api.servicechannel.com/v3
security:
- oauth2: []
tags:
- name: Locations
paths:
  /stores:
    get:
      tags:
      - Locations
      summary: Retrieve stores
      description: 'Returns a list of all Locations, also called Stores, if neither of the filters is used. You can get the details for a certain store by specifying any of the following parameters: `Id`, `storeIdentifier`, `name`.


        You can use either of these methods to get a list of the subscriber’s locations: GET /locations, GET /stores.


        Visit ServiceChannel University to find out more about locations and provider assignments.'
      operationId: GETv3_stores?Id={Id}&storeIdentifier={storeIdentifier}&Name={Name}&Sort={Sort}&Page={Page}&PageSize={PageSize}
      parameters:
      - name: id
        in: query
        description: Unique location identifier.
        required: false
        schema:
          type: integer
          format: int32
      - name: storeIdentifier
        in: query
        description: Alphanumeric location identifier in the client’s system. Assigned by and unique per subscriber.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Location name.
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: Sort resources by the specified property in the response.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Results page number.
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: Number of objects on the results page. The default and maximum per page is 50.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The requested locations are in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetLocationsWithTotalResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetLocationsWithTotalResponse'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc\n            <br/>Error codes: \n            502 — Subscriber not found"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 - API call rejected by security permissions\n            100 — User has no permissions to perform this action"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "The server was unable to complete the request due to an internal error. \n            <br/>Error codes:\n            501 — “Location ID” is not a valid value for Int32\n            "
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /locations:
    get:
      tags:
      - Locations
      summary: Retrieve stores
      description: 'Returns a list of all Locations, also called Stores, if neither of the filters is used. You can get the details for a certain store by specifying any of the following parameters: `Id`, `storeIdentifier`, `name`.


        You can use either of these methods to get a list of the subscriber’s locations: GET /locations, GET /stores.


        Visit ServiceChannel University to find out more about locations and provider assignments.'
      operationId: GETv3_locations?Id={Id}&storeIdentifier={storeIdentifier}&Name={Name}&Sort={Sort}&Page={Page}&PageSize={PageSize}
      parameters:
      - name: id
        in: query
        description: Unique location identifier.
        required: false
        schema:
          type: integer
          format: int32
      - name: storeIdentifier
        in: query
        description: Alphanumeric location identifier in the client’s system. Assigned by and unique per subscriber.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Location name.
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: Sort resources by the specified property in the response.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Results page number.
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: Number of objects on the results page. The default and maximum per page is 50.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The requested locations are in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetLocationsWithTotalResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetLocationsWithTotalResponse'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc\n            <br/>Error codes: \n            502 — Subscriber not found"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 - API call rejected by security permissions\n            100 — User has no permissions to perform this action"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "The server was unable to complete the request due to an internal error. \n            <br/>Error codes:\n            501 — “Location ID” is not a valid value for Int32\n            "
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /subscribers/current/users/current/stores:
    get:
      tags:
      - Locations
      summary: Get stores
      description: 'Returns a list of stores with the LocationIDs and subscriber IDs, along with the location address details. The method is available to subscribers only.


        To get more detailed information, use one of these methods: GET /stores, GET /locations, GET /odata/locations.


        Learn about updating location details in ServiceChannel University.'
      operationId: GETv3_subscribers_current_users_current_stores
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
  /locations/{locationId}:
    get:
      tags:
      - Locations
      summary: Retrieve a location
      description: 'Returns the details for the specified location.


        To receive details of several locations, use one of these methods: GET /stores, GET /locations, GET /odata/locations.'
      operationId: GETv3_locations_{locationId}
      parameters:
      - name: locationId
        in: path
        description: Unique numeric identifier of the location to return the details for.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The specified location details are in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.LocationWithTimezoneName'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.LocationWithTimezoneName'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            601 — Location is not found"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: The server was unable to complete the request due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    put:
      tags:
      - Locations
      summary: Update a location
      description: 'Modifies information of the existing location.You can use either of the following methods to retrieve location details: GET/stores, GET/locations.


        ***Note:*** Method is available for subscribers with the *Super Admin* permission or *SC Admin* role.


        Visit ServiceChannel University to find out how subscribers can update location details.


        **Example request**


        PUT / locations/{locationId}

        {

        "StoreId": "34",

        "Name": "CSR Flagship",

        "Latitude": 40.736601,

        "Longitude": -73.991795,

        "Distance": null,

        "Address1": "3rd Floor, Innovation Center",

        "Address2": "18 E. 16th Street",

        "City": "New York",

        "State": "NY",

        "StateId": 1,

        "Region": "Northeast",

        "District": "NYC/LI",

        "Zip": "10003",

        "Country": "US",

        "CountryId": 1,

        "ClosedDate": "null",

        "OpenDate": "2021-07-05T07:05:04.991Z",

        "Email": "flagship@gmail.com",

        "Phone": "212-555-1212",

        "Contact": "",

        "FaxNumber": "",

        "LocationTypeId": null,

        "SquareValue": 20.21

        "SquareMeasure": "ft or foot" or "m or metre"

        }'
      operationId: PUTv3_locations_{locationId}
      parameters:
      - name: locationId
        in: path
        description: Unique identifier of the subscriber’s location which information you want to update.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The location details are updated.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            601 — Location not found\n            1254 — Invalid square measure"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: The server was unable to complete the request due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.UpdateLocationExRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.UpdateLocationExRequest'
        description: Request to change the location details. Leaving a parameter empty or excluding it from the request model erases the already existing data.
        required: true
  /locations/{locationId}/notes:
    get:
      tags:
      - Locations
      summary: Retrieve location notes
      description: Returns the location notes for the specified location.
      operationId: GETv3_locations_{locationId}_notes?privateNotes={privateNotes}
      parameters:
      - name: locationId
        in: path
        description: Unique ID of the location you want to receive notes for.
        required: true
        schema:
          type: integer
          format: int32
      - name: privateNotes
        in: query
        description: Should privateNotes be included. Settings from dashboardSetup by default
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Location notes are in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.LocationNote.LocationNote'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.LocationNote.LocationNote'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            601 — Location not found"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 - API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: The server was unable to complete the request due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    post:
      tags:
      - Locations
      summary: Add a location note
      description: 'Adds a location note for the specified location. If a note is already added, you can change it by sending the request, or leave the `Value` parameter empty to delete the note.


        To retrieve location IDs along with the location notes, send either of these requests: GET/stores, GET/locations.

        Get location notes separately for the specified location by sending the GET/locations/{locationId}/notes request.


        ***Note***: Method is available for users with the *Super Admin* or *Admin* roles, or the *Location Admin* permission.


        **Example request**


        POST /locations/{locationId}/notes

        {

        "Header": "Location Manager",

        "Value": "John Smith"

        }'
      operationId: POSTv3_locations_{locationId}_notes
      parameters:
      - name: locationId
        in: path
        description: Unique ID of the location you want to update a note for.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The note is added to the specified location.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            601 — Location is not found\n            1301 — Request is empty or null"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "You are not authorized to request this resource, or the resource is unavailable for some reason.\n            <br/>Error codes:\n            100 — User has no rights to perform this action\n            612 — The user does not have access to update a protected location note header"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "The requested resource does not exist on the server.\n            <br/>Error codes:\n            611 — The location note header does not exist on the subscriber instance"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "The server was unable to complete the request due to an internal error.\n            <br/>Error codes:\n            501 — Object reference not set to an instance of an object"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.LocationNote.UpdateLocationNoteHeaderApiModelRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.LocationNote.UpdateLocationNoteHeaderApiModelRequest'
        description: Request to add, update or delete a location note header for a location.
        required: true
  /locations/{storeId}/updateNotes:
    post:
      tags:
      - Locations
      summary: Add location notes
      description: 'Add location notes for the specified location. If a note is already added, you can change it by sending the request, or leave the `Value` parameter empty to delete the note.


        ***Note***: To retrieve store IDs along with the location notes, send either of these requests: GET/stores, GET/locations.

        Get location notes separately for the specified location by sending the GET/locations/{locationId}/notes request.


        **Example request**


        POST /locations/{storeId}/updateNotes

        {

        "Notes": [

        {

        "Header": "Note1",

        "Value": "1"

        },

        {

        "Header": "Note2",

        "Value": "2"

        }

        ]

        }'
      operationId: POSTv3_locations_{storeId}_updateNotes
      parameters:
      - name: storeId
        in: path
        description: Unique storeId of the location you want to update a note for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The note is added to the specified location.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            601 — Location is not found\n            1301 — Request is empty or null"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "You are not authorized to request this resource, or the resource is unavailable for some reason.\n            <br/>Error codes:\n            100 — User has no rights to perform this action\n            612 — The user does not have access to update a protected location note header"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "The requested resource does not exist on the server.\n            <br/>Error codes:\n            611 — The location note header does not exist on the subscriber instance"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "The server was unable to complete the request due to an internal error.\n            <br/>Error codes:\n            501 — Object reference not set to an instance of an object"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.LocationNote.UpdateLocationNoteHeadersApiModelRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.LocationNote.UpdateLocationNoteHeadersApiModelRequest'
        description: Request to add, update or delete a location note headers for a location.
        required: true
  /locations/UnassignedContracts:
    get:
      tags:
      - Locations
      summary: Get unassigned contracts
      description: 'Returns subscriber’s locations with open trades that have unassigned providers.


        ***Note***: Method could be outdated causing faulty results.'
      operationId: GETv3_locations_UnassignedContracts
      responses:
        '200':
          description: The requested locations are in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetProviderAssignmentExtendedLocationsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetProviderAssignmentExtendedLocationsResponse'
        '400':
          description: The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: The requested resource does not exist on the server.
      deprecated: false
      x-access: Any
  /locations/{locationId}/evacuationmaps:
    get:
      tags:
      - Locations
      summary: Get an evacuation plan map of a location
      description: 'Returns evacuation plan map attachments details for the specified location.


        Visit ServiceChannel University to learn about Location Emergency Evacuation Plan Map(s).'
      operationId: GETv3_locations_{locationId}_evacuationmaps
      parameters:
      - name: locationId
        in: path
        description: Unique numeric identifier of the location to return the details for.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Location evacuation plan maps are in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetLocationAttachmentsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetLocationAttachmentsResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: The server was unable to complete the request due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /locations/CheckIfLocationIsOpen:
    get:
      tags:
      - Locations
      summary: Check whether the location is open or closed
      description: 'Returns information on the specified location if it is open or closed now. If the `checkTime` parameter is not provided, the location is checked at the current time.


        Learn about managing business hours in ServiceChannel University.'
      operationId: GETv3_locations_CheckIfLocationIsOpen?locationId={locationId}&checkTime={checkTime}
      parameters:
      - name: locationId
        in: query
        description: Unique location identifier
        required: true
        schema:
          type: integer
          format: int32
      - name: checkTime
        in: query
        description: Date and time to check if the location is open
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: The location opening status is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.CheckIfLocationIsOpenResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.CheckIfLocationIsOpenResponse'
      deprecated: false
      x-access: Any
  /GetFilteredLocations:
    post:
      tags:
      - Locations
      summary: Get locations by filters
      description: 'Returns locations based on the filters applied.

        By default closed locations are not included in the response. To include them, set the `IncludeClosedLocations` parameter to `true`.'
      operationId: POSTv3_GetFilteredLocations
      responses:
        '200':
          description: The filtered locations are in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.LocationShortModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.LocationShortModel'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes: \n            502 — Subscriber not found"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "You are not authorized to request this resource, or the resource is unavailable for some reason.\n            <br/>Error codes:\n            100 — User has no rights to perform this action"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "The server was unable to complete the request due to an internal error.\n            <br/>Error codes:\n            501 — Object reference not set to an instance of an object"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetFilteredLocationsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetFilteredLocationsRequest'
        description: "Request parameters to filter the response. Parameters can be used separately, as a combination of several parameters, or all at once. For the `LocationIds` and `StateIds` parameters, several values can be entered separated with a comma.\n             <br />**Example Request**\n            \n                 POST /GetFilteredLocations\n                 {\n                  \"ProviderId\": 2000069665,\n                  \"LocationIds\": [\n                    2005862796, 2005901195\n                  ],\n                  \"StateIds\": [\n                    30, 32\n                  ],\n                  \"IncludeClosedLocations\": \"false\"\n                 }"
        required: true
  /locations/LocationWithNotes:
    post:
      tags:
      - Locations
      summary: Create a location with location notes
      description: 'Create or update a location along with location notes.


        **Note:** Method takes a dynamic list of parameters as input.


        **Example request**


        POST /locations/LocationWithNotes

        {

        "StoreId":"TestStore",

        "Name": "CSR Flagship",

        "MainAddress": "18 E. 16th Street",

        "AddlAddress": "3rd Floor, Innovation Center",

        "Latitude": 40.736601,

        "Longitude": -73.991795,

        "City": "New York",

        "State": "NY",

        "Region": "Northeast",

        "District": "NYC/LI",

        "Zip": "10003",

        "Country": "US",

        "OpenDate": "2021-07-03T00:10:00.308Z",

        "ClosedDate": "",

        "Email": "csrflagship@gmail.com",

        "Phone": "212-555-1212",

        "Contact": "",

        "FaxNumber": "",

        "YourLocationNoteHeader1": "Value1",

        "YourLocationNoteHeader2": "Value2",

        "YourLocationNoteHeaderN": "ValueN"

        }'
      operationId: POSTv3_locations_LocationWithNotes
      responses:
        '200':
          description: A new location is created or an existing one is updated. The location ID is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.AddUpdateLocationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.AddUpdateLocationResponse'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            606 — The `StoreId` value cannot be empty. The maximum length is 50 characters.\n            608 - Location no accessible for the user.\n            611 — The location note header does not exist on the subscriber instance.\n            612 — The user does not have access to update a protected location note header.\n            630 — Incorrect format of the 'ParameterName'.\n            631 — The `City` value cannot be empty. The maximum length is 50 characters.\n            632 — The `Zip` value cannot be empty. The maximum length is 12 characters.\n            633 — Latitude value should be between '-90' and '90'.\n            634 — Longitude value should be between '-180' and '180'.\n            635 — Invalid Email.\n            636 — The `Name` value cannot be empty. The maximum length is 100 characters.\n            637 — Invalid `State` format. The maximum length is 2 characters.\n            638 — Invalid `AddlAddress` format. The maximum length is 500 characters.\n            639 — Invalid `MainAddress` format. The maximum length is 500 characters.\n            640 — The `Country` value cannot be empty. The maximum length is 20 characters.\n            641 — Invalid `Region` format. The maximum length is 50 characters.\n            642 — Invalid `District` format. The maximum length is 50 characters.\n            643 — Invalid `Phone` format. The maximum length is 22 characters.\n            644 — Invalid `Contact` format. The maximum length is 50 characters.\n            645 — Invalid `FaxNumber` format. The maximum length is 22 characters.\n            646 — The country doesn't exist.\n            647 — The state doesn't exist in the country.\n            648 — The city doesn't exist in the country.\n            650 — Invalid `Email` format. The maximum length is 200 characters.\n            1301 — Request is empty or null."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: The server was unable to complete the request due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/System.Object'
          text/json:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/System.Object'
        description: Request to create or update a location with location notes.
        required: true
  /providers/GetProviderLocationAssignments:
    get:
      tags:
      - Locations
      summary: Get provider location assignments
      description: 'Returns a list of stores with the LocationIDs and StoreIds, along with the first contract (assignment) created date and whether the location is primary or not.


        The method is available to providers only.'
      operationId: GETv3_providers_GetProviderLocationAssignments
      responses:
        '200':
          description: The provider location assignments are in the response.
        '400':
          description: The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /providers/GetPrimaryLocationAssignmentsForProviderIds:
    get:
      tags:
      - Locations
      summary: Get provider primary location assignments by Provider Ids
      operationId: GETv3_providers_GetPrimaryLocationAssignmentsForProviderIds?providerIds[0]={providerIds[0]}&providerIds[1]={providerIds[1]}&dateFrom={dateFrom}&dateTo={dateTo}
      parameters:
      - name: providerIds
        in: query
        description: An array of Provider Ids.
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: dateFrom
        in: query
        description: The start date of the time period for which you want to retrieve location assignments. The format is `YYYY-MM-DDThh:mm:ss.ssZ`.
        required: true
        schema:
          type: string
          format: date-time
      - name: dateTo
        in: query
        description: The end date of the time period for which you want to retrieve location assignments. The format is `YYYY-MM-DDThh:mm:ss.ssZ`
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: The providers location assignments are in the response.
        '400':
          description: The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /GetLocationsMobile:
    get:
      tags:
      - Locations
      summary: Get Locations
      description: ''
      operationId: GETv3_GetLocationsMobile?page={page}&pageSize={pageSize}&latitude={latitude}&longitude={longitude}&searchExpression={searchExpression}&onlyOpened={onlyOpened}&locationIds={locationIds}
      parameters:
      - name: page
        in: query
        description: Number of the current page
        required: true
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: Limit to return items
        required: true
        schema:
          type: integer
          format: int32
      - name: latitude
        in: query
        description: The latitude of the user location
        required: false
        schema:
          type: number
          format: double
      - name: longitude
        in: query
        description: The longitude of the user location
        required: false
        schema:
          type: number
          format: double
      - name: searchExpression
        in: query
        description: User input text
        required: false
        schema:
          type: string
      - name: onlyOpened
        in: query
        description: Include only open locations
        required: false
        schema:
          type: boolean
          default: false
      - name: locationIds
        in: query
        description: Comma separated location ID array
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The requested locations are in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetLocationsMobileResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetLocationsMobileResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            401 — User has no permissions to perform this action"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "The server was unable to complete the request due to an internal error. \n            <br/>Error codes:\n            501 — Value of pageSize or page is less than 1"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /GetLocationDistricts:
    get:
      tags:
      - Locations
      summary: Get location districts
      operationId: GETv3_GetLocationDistricts?page={page}&pageSize={pageSize}&searchExpression={searchExpression}
      parameters:
      - name: page
        in: query
        description: Number of the current page
        required: true
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: Limit to return items
        required: true
        schema:
          type: integer
          format: int32
      - name: searchExpression
        in: query
        description: User input text
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The requested districts are in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetLocationDistrictsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetLocationDistrictsResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            401 — User has no permissions to perform this action"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "The server was unable to complete the request due to an internal error. \n            <br/>Error codes:\n            501 — Value of pageSize or page is less than 1"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /GetUserDistricts:
    get:
      tags:
      - Locations
      summary: Get user districts
      operationId: GETv3_GetUserDistricts?page={page}&pageSize={pageSize}&searchExpression={searchExpression}
      parameters:
      - name: page
        in: query
        description: Number of the current page
        required: true
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: Limit to return items
        required: false
        schema:
          type: integer
          format: int32
      - name: searchExpression
        in: query
        description: User input text
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The requested districts are in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetUserDistrictsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetUserDistrictsResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            401 — User has no permissions to perform this action"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "The server was unable to complete the request due to an internal error. \n            <br/>Error codes:\n            501 — Value of pageSize or page is less than 1"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /GetUserRegions:
    get:
      tags:
      - Locations
      summary: Get user regions
      operationId: GETv3_GetUserRegions?page={page}&pageSize={pageSize}&searchExpression={searchExpression}
      parameters:
      - name: page
        in: query
        description: Number of the current page
        required: true
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: Limit to return items
        required: false
        schema:
          type: integer
          format: int32
      - name: searchExpression
        in: query
        description: User input text
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The requested regions are in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetUserRegionsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetUserRegionsResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            401 — User has no permissions to perform this action"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "The server was unable to complete the request due to an internal error. \n            <br/>Error codes:\n            501 — Value of pageSize or page is less than 1"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /locations/addressformats:
    get:
      tags:
      - Locations
      summary: Retrieve address format pattern per list of country ISO codes or per list of…
      description: Returns a list of address types (Id, Pattern).
      operationId: GETv3_locations_addressformats?c[0]={c[0]}&c[1]={c[1]}&id[0]={id[0]}&id[1]={id[1]}
      parameters:
      - name: c
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: id
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: The requested address types with patterns are in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.AddressType'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.AddressType'
      deprecated: false
      x-access: Any
  /filter:
    post:
      tags:
      - Locations
      summary: Retrieve Locations by location ids
      description: Returns a list of locations.
      operationId: POSTv3_filter
      responses:
        '200':
          description: The requested locations are in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetApiLocationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetApiLocationResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            655 — Location Ids List is empty or null."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetLocationsByFilterRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetLocationsByFilterRequest'
        description: Request parameters to filter the response.
        required: true
  /landlord-responsibilities-by-storeId:
    get:
      tags:
      - Locations
      summary: Get landlord responsibilities
      operationId: GETv3_landlord-responsibilities-by-storeId?storeId={storeId}
      parameters:
      - name: storeId
        in: query
        description: ''
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The requested locations are in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetLandlordResponsibilityResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetLandlordResponsibilityResponse'
        '403':
          description: "User is not assigned to Location \n                <br/>Error codes:\n                100 — User has no permissions to perform this action."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "Location is not found\n                <br/>Error codes:\n                651 — Location is not found."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /landlord-responsibilities-by-locationId:
    get:
      tags:
      - Locations
      summary: Get landlord responsibilities
      operationId: GETv3_landlord-responsibilities-by-locationId?locationId={locationId}
      parameters:
      - name: locationId
        in: query
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The requested locations are in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetLandlordResponsibilityResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.GetLandlordResponsibilityResponse'
        '403':
          description: "User is not assigned to Location \n                <br/>Error codes:\n                100 — User has no permissions to perform this action."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "Location is not found\n                <br/>Error codes:\n                601 — Location is not found."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /landlord-responsibilities:
    put:
      tags:
      - Locations
      summary: Update Landlord Responsibility
      operationId: PUTv3_landlord-responsibilities
      responses:
        '201':
          description: The Landlord Responsibility are updated.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n                <br/>Error codes:\n                1301 — Request is empty or null\n                503 — Failed to create landlord responsibility\n                655 — Landlord responsibility is not found\n                656 — The combination of Location Trade and Category must be unique\n                659 — Invalid Trade name\n                660 — Invalid Category name\n                661 — Invalid Override Category name\n                662 — Invalid Override Priority name\n                663 — Lease Note can not exceed 200 characters\n                664 — Invalid override provider rank\n                665 — Invalid override NTE"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "User is not assigned to Location \n                <br/>Error codes:\n                804 — User is not assigned to Location."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "Invalid Store Id\n                <br/>Error codes:\n                606 — Invalid Store Id."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.UpdateLandlordResponsibilityApiRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.UpdateLandlordResponsibilityApiRequest'
        required: true
    post:
      tags:
      - Locations
      summary: Create landlord responsibility
      operationId: POSTv3_landlord-responsibilities
      responses:
        '201':
          description: The Landlord Responsibility are created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.LandlordResponsibilityModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.LandlordResponsibilityModel'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n                <br/>Error codes:\n                1301 — Request is empty or null\n                503 — Failed to create landlord responsibility\n                656 — The combination of Location Trade and Category must be unique\n                659 — Invalid Trade Id\n                660 — Invalid Category Id\n                661 — Invalid Override Category Id\n                662 — Invalid Override PriorityId\n                663 — Lease Note can not exceed 200 characters\n                664 — Invalid override provider rank\n                665 — Invalid override NTE"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "User is not assigned to Location \n                <br/>Error codes:\n                804 — User is not assigned to Location."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "Invalid Store Id\n                <br/>Error codes:\n                606 — Invalid Store Id."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.CreateLandlordResponsibilityApiRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.CreateLandlordResponsibilityApiRequest'
        required: true
  /landlord-responsibilities/{responsibilityId}:
    delete:
      tags:
      - Locations
      summary: Delete Landlord Responsibility
      operationId: DELETEv3_landlord-responsibilities_{responsibilityId}
      parameters:
      - name: responsibilityId
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The landlord responsibility is deleted.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n                <br/>Error codes:\n                655 — Landlord responsibility is not found"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: Indicates that the requested resource requires authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "User is not assigned to Location \n                <br/>Error codes:\n                804 — User is not assigned to Location."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /locations/{storeId}/attachments:
    get:
      tags:
      - Locations
      summary: Get a Location’s Attachments
      description: Returns a list of attachments.
      operationId: GETv3_locations_{storeId}_attachments
      parameters:
      - name: storeId
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The requested attachments are in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.LocationAttachment'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.LocationAttachment'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: Indicates that the requested resource requires authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "User is not assigned to Location \n                <br/>Error codes:\n                804 — User is not assigned to Location."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "Invalid StoreID\n                <br/>Error codes:\n                606 — Invalid StoreID."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    post:
      tags:
      - Locations
      summary: Create a Location Attachment
      operationId: POSTv3_locations_{storeId}_attachments?subscriberId={subscriberId}&fileDescription={fileDescription}&isEvacuationPlan={isEvacuationPlan}
      parameters:
      - name: storeId
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: subscriberId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int32
      - name: fileDescription
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: isEvacuationPlan
        in: query
        description: ''
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '201':
          description: Created indicates that the attachment created before the response was sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.LocationAttachment'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.LocationAttachment'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "User is not assigned to Location \n                <br/>Error codes:\n                804 — User is not assigned to Location."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "Invalid StoreID\n                <br/>Error codes:\n                606 — Invalid StoreID\n                401 — Invalid Subscriber Id\n                502 — Location Not Found by Passed Store Id and Subscriber Id."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: File to attach to the location.
                  format: binary
              required:
              - file
  /locations/{storeId}/attachments/{attachmentId}:
    delete:
      tags:
      - Locations
      summary: Delete a Location Attachment
      operationId: DELETEv3_locations_{storeId}_attachments_{attachmentId}
      parameters:
      - name: storeId
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: attachmentId
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The attachment is deleted.
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: Indicates that the requested resource requires authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "User is not assigned to Location \n                <br/>Error codes:\n                804 — User is not assigned to Location."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "Invalid StoreID\n                <br/>Error codes:\n                606 — Invalid StoreID."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /locations/GetExistsLocations:
    post:
      tags:
      - Locations
      summary: GetExistsLocations
      operationId: POSTv3_locations_GetExistsLocations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.ExistsLocationsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.ExistsLocationsRequest'
        required: true
  /locations/GetExistsRegions:
    post:
      tags:
      - Locations
      summary: GetExistsRegions
      operationId: POSTv3_locations_GetExistsRegions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.ExistsRegionsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.ExistsRegionsRequest'
        required: true
  /locations/GetExistsDistricts:
    post:
      tags:
      - Locations
      summary: GetExistsDistricts
      operationId: POSTv3_locations_GetExistsDistricts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.ExistsDistrictsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.ExistsDistrictsRequest'
        required: true
  /providers/current/locationsWithRetired:
    get:
      tags:
      - Locations
      summary: Retrieve provider's locations (include retired)
      description: Returns a list of all Locations.
      operationId: GETv3_providers_current_locationsWithRetired
      responses:
        '200':
          description: The requested locations are in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.ProviderLocation'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.ProviderLocation'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 - API call rejected by security permissions\n            100 — User has no permissions to perform this action"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /locations/{locationId}/hierarchy:
    get:
      tags:
      - Locations
      summary: GetLocationHierarchy
      operationId: GETv3_locations_{locationId}_hierarchy
      parameters:
      - name: locationId
        in: path
        description: locationId
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Models.Response.LocationHierarchy.LocationHierarchyResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Models.Response.LocationHierarchy.LocationHierarchyResponse'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: Indicates that the requested resource requires authentication.<br>Error codes:<br> 504 - API call rejected by security permissions;
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: Indicates that the requested resource not allowed for current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /locations/{locationId}/locationAttachments:
    get:
      tags:
      - Locations
      summary: Get Location Attachments
      description: Returns a list of attachments.
      operationId: GETv3_locations_{locationId}_locationAttachments
      parameters:
      - name: locationId
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The requested attachments are in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.LocationAttachment'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.LocationAttachment'
        '400':
          description: "Invalid LocationID\n                <br/>Error codes:\n                601— Invalid Location Id."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: Indicates that the requested resource requires authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "User is not assigned to Location \n                <br/>Error codes:\n                804 — User is not assigned to Location."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "Location not found\n                <br/>Error codes:\n                668— Location not found."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /odata/locations:
    get:
      tags:
      - Locations
      summary: Retrieve locations
      description: 'Returns a list of locations. You can use filter parameters to make your request more specific.


        You can also get a list of locations by using one of the following methods: GET /stores, GET /locations.'
      operationId: Locations_GetLocations
      parameters:
      - name: $expand
        in: query
        description: Expand a navigation property.
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Select a set of properties to return.
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: Filter a collection of resources addressed by a request URL.
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: Order resources by the specified property in the response.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: Return the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $skip
        in: query
        description: Skip the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $count
        in: query
        description: Include the count of the matching resources in the response.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: The list of locations is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.Location'
      deprecated: false
      x-access: Any
  /odata/locations/Service.NearBy(latitude={latitude},longitude={longitude}):
    get:
      tags:
      - Locations
      summary: Get locations by geographic coordinates
      description: Returns locations that are near the longitude and latitude specified in the request. Use the filter parameters to make the request more specific.
      operationId: Locations_GetLocationsNearMe
      parameters:
      - name: longitude
        in: path
        description: Location’s global position. Longitude.
        required: true
        schema:
          type: number
          format: double
      - name: latitude
        in: path
        description: Location’s global position. Latitude.
        required: true
        schema:
          type: number
          format: double
      - name: $expand
        in: query
        description: Expand a navigation property.
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Select a set of properties to return.
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: Filter a collection of resources addressed by a request URL.
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: Order resources by the specified property in the response.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: Return the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $skip
        in: query
        description: Skip the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $count
        in: query
        description: Include the count of the matching resources in the response.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: The requested locations are in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.Location'
      deprecated: false
      x-access: Any
  /odata/locations/Service.ForServiceRequest():
    get:
      tags:
      - Locations
      summary: Retrieve locations
      description: Returns a list of locations of a service request. You can use filter parameters to make the request more specific.
      operationId: Locations_GetServiceRequestLocations
      parameters:
      - name: $expand
        in: query
        description: Expand a navigation property.
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Select a set of properties to return.
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: Filter a collection of resources addressed by a request URL.
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: Order resources by the specified property in the response.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: Return the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $skip
        in: query
        description: Skip the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $count
        in: query
        description: Include the count of the matching resources in the response.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: The requested locations are in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.Location'
      deprecated: false
      x-access: Any
components:
  schemas:
    ServiceChannel.Services.Messaging.Location.GetLocationsMobileResponse:
      description: Response details object.
      type: object
      properties:
        Locations:
          description: Location details.
          type: array
          items:
            $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.LocationForMobile'
        TotalElements:
          format: int64
          description: Total number of items on all pages;
          type: integer
        Page:
          format: int32
          description: Current page
          type: integer
        TotalPages:
          format: int32
          description: Total number of pages available
          type: integer
    ServiceChannel.Services.Messaging.Location.GetLocationsWithTotalResponse:
      description: Response details object.
      type: object
      properties:
        Locations:
          description: Location details.
          type: array
          items:
            $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.Location'
        TotalCount:
          format: int64
          description: Total count of all accessible locations unless one of the filters is filled out. For example, specifying the `Id` filter brings out details of the particular location.
          type: integer
    ServiceChannel.Services.Messaging.Location.LocationWithTimezoneName:
      description: LocationWithTimezoneName
      type: object
      properties:
        TimezoneName:
          description: The time zone identifier
          type: string
        Id:
          format: int32
          description: Unique location identifier.
          type: integer
        SubscriberId:
          format: int32
          description: Unique subscriber identifier.
          type: integer
        SubscriberName:
          type: string
        StoreId:
          description: Alphanumeric identifier of the store in the client's system. Assigned by and unique per subscriber.
          type: string
        Name:
          description: Location name.
          type: string
        ShortName:
          description: Shortened location name.
          type: string
        Latitude:
          format: double
          description: Global position. Latitude.
          type: number
        Longitude:
          format: double
          description: Global position. Longitude.
          type: number
        Distance:
          format: double
          description: Distance from GPS coordinate to this location
          type: number
        Radius:
          format: double
          description: GPS radius for the location.
          type: number
        LocationTypeId:
          format: int32
          description: Numeric identifier of the location type.
          type: integer
        Address1:
          description: Additional location address.
          type: string
        Address2:
          description: Main location address.
          type: string
        City:
          description: Location city.
          type: string
        State:
          description: State where the location is situated.
          type: string
        StateId:
          format: int32
          description: Numeric identifier of the location’s state.
          type: integer
        Region:
          description: Part of the country where the location is situated.
          type: string
        District:
          description: Abbreviation of the town or country area where the location is situated.
          type: string
        Zip:
          description: Location ZIP or postal code.
          type: string
        Country:
          description: Abbreviation of the country name where the location is situated.
          type: string
        CountryId:
          format: int32
          description: Numeric identifier of the country of the location.
          type: integer
        ClosedDate:
          format: date-time
          description: Last day when the location is open for business.
          type: string
        OpenDate:
          format: date-time
          description: First day when the location is open for business.
          type: string
        Status:
          description: 'Status of the location. Possible values: *open*, *closed*.'
          type: string
        Email:
          description: Email the location can be contacted at.
          type: string
        FaxNumber:
          description: Fax number the location can be contacted at.
          type: string
        Phone:
          description: Contact phone number of the location.
          type: string
        Contact:
          description: Name of the main person to contact at the location.
          type: string
        HasInventory:
          description: 'Indicates whether it’s an inventory location or not. Possible values: *true*, *false*.'
          default: false
          type: boolean
        SquareValue:
          format: double
          description: Square value of the facility.
          type: number
        SquareMeasure:
          description: Unit or system of units for measuring location area.
          type: string
        TimeZoneInfoId:
          format: int32
          description: Numeric identifier of the location time zone.
          type: integer
        TimeZoneShortDescription:
          description: Location time zone abbreviation.
          type: string
        TimeZoneMsName:
          description: Location time zone Microsoft Name. e.g "Eastern Standard Time"
          type: string
        TimeZoneIanaName:
          description: Location time zone Iana Name. e.g. "America/New_York"
          type: string
        TypeLabel:
          description: '[Inventory location type](https://servicechannel.atlassian.net/wiki/spaces/SCU/pages/1209106525/Creating+Inventory+Locations?preview=%2F1209106525%2F1205830388%2FSupply-House-Type.png). Possible values: *Location*, *Warehouse*, *Supply House*, *Truck*.'
          type: string
        Supplier:
          description: Supplier’s location name.
          type: string
        CountyId:
          format: int32
          description: County numeric identifier.
          type: integer
        Notes:
          type: array
          items:
            $ref: '#/components/schemas/ServiceChannel.Services.Messaging.LocationNote.LocationNote'
        TimeShiftToEST:
          format: int32
          type: integer
        AddressTypeId:
          format: int32
          description: Address format pattern Id
          type: integer
        FormattedAddress:
          type: string
        LocationFormattedAddressTail:
          type: string
        IsInternational:
          default: false
          type: boolean
          readOnly: true
        Address:
          type: string
    ServiceChannel.Services.Messaging.Location.ExistsDistrictsRequest:
      description: ExistsDistrictsRequest
      type: object
      properties:
        Districts:
          description: Districts
          type: array
          items:
            type: string
    ServiceChannel.Services.WebApi.Models.Response.LocationHierarchy.LocationHierarchyResponse:
      type: object
[...]
