openapi: 3.2.0
info:
  version: '3'
  title: ServiceChannel API - v.3 Template Files History API
  description: The ServiceChannel API is a RESTful and stateless API.
servers:
- url: https://sb2api.servicechannel.com/v3
security:
- oauth2: []
tags:
- name: TemplateFilesHistory
paths:
  /TemplateFilesHistory/GetHistory:
    get:
      tags:
      - TemplateFilesHistory
      operationId: GETv3_TemplateFilesHistory_GetHistory
      parameters:
      - name: fileTypeIds
        in: query
        description: Gets or sets FileTypeId.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: templateIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: sort
        in: query
        description: Sort resources by the specified property in the response.
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Results page number.
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: Number of objects on the results page. The default and maximum per page is 50.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Template.GetTemplateFilesHistoriesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Template.GetTemplateFilesHistoriesResponse'
      deprecated: false
      x-access: Subscribers
      summary: GETv3 template files history get history
      x-summary-source: derived
components:
  schemas:
    ServiceChannel.Services.Messaging.Template.GetTemplateFilesHistoriesResponse:
      description: holds response
      type: object
      properties:
        TemplateFilesHistories:
          description: Gets or sets Trades.
          type: array
          items:
            $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Template.TemplateFilesHistory'
        ItemsCount:
          format: int32
          description: Gets or sets ItemsCount.
          type: integer
        ErrorCode:
          format: int32
          description: 'Numeric identifier that determines the nature of an error. Possible values: `0` - success, otherwise - error.'
          type: integer
        Message:
          description: Defines that the file’s remote storage is unavailable or its URL cannot be found.
          type: string
    ServiceChannel.Services.Messaging.Template.TemplateFilesHistory:
      type: object
      properties:
        Id:
          format: int32
          description: Gets or sets Id.
          type: integer
        FilePath:
          description: Gets or sets FilePath.
          type: string
        FileName:
          description: Gets or sets FileName.
          type: string
        Description:
          description: Gets or sets Description.
          type: string
        ErrorMessage:
          description: Gets or sets ErrorMessage.
          type: string
        FileStatus:
          format: int32
          description: Gets or sets FileStatus. 0 - started 1 - processing; 2 - completed;
          type: integer
        FileType:
          format: int32
          description: Gets or sets FileType. 0  - pm_Template file
          type: integer
        ModifiedDate:
          format: date-time
          description: Gets or sets ModifiedDate.
          type: string
        ModifiedBy:
          description: Gets or sets ModifiedBy.
          type: string
        CreatedRecords:
          format: int32
          description: Gets or sets CreatedRecords.
          type: integer
        UpdatedRecords:
          format: int32
          description: Gets or sets UpdatedRecords.
          type: integer
        SubscriberId:
          format: int32
          description: Gets or sets SubscriberId.
          type: integer
        DeletedRecords:
          format: int32
          description: Gets or sets DeletedRecords.
          type: integer
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://sb2login.servicechannel.com/oauth/authorize
          tokenUrl: https://sb2login.servicechannel.com/oauth/token
      description: OAuth2 Authorization
