swagger: '2.0'
info:
  version: bearer.v1
  title: Fixxbook.Bearer.Api.V1 AfterHours WorkOrders API
  isOdataApi: false
  relativePath: ''
  discoveryPath: docs/bearer.v1
  _isAuthorizedAccess: true
host: sb2fixxbook.servicechannel.com:443
basePath: /api
schemes:
- https
security:
- oauth2: []
tags:
- name: WorkOrders
paths:
  /workorders:
    get:
      tags:
      - WorkOrders
      summary: Search Work Orders
      description: "Performs search of workorders by specified filter expression and returns list of work orders with all details.\r\n            <br />One page contains 50 items by default (\"pageSize\"=50). To get next 50 items use the \"page\" parameter (for example page=2 and so on)."
      operationId: GETv3_workorders?locationId={locationId}&storeId={storeId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: locationId
        in: query
        description: UID of location.
        required: false
        type: integer
        format: int32
      - name: storeId
        in: query
        description: StoreId of location. Used to find location for which search will be performed. Applicable to subscribers only.
        required: false
        type: string
      - name: otherLocationId
        in: query
        description: UID of location, exact search by default
        required: false
        type: array
        items: {}
      - name: id
        in: query
        description: UID of work order, exact search by default
        required: false
        type: array
        items: {}
      - name: category
        in: query
        description: Category of work order, exact search by default
        required: false
        type: array
        items: {}
      - name: categoryId
        in: query
        description: CategoryId, ID of categories to return work orders for
        required: false
        type: array
        items: {}
      - name: status
        in: query
        description: Status of work order, exact search by default
        required: false
        type: array
        items: {}
      - name: extendedStatus
        in: query
        description: Extended status of work order, exact search by default
        required: false
        type: array
        items: {}
      - name: number
        in: query
        description: Work order number, 'starts with' search criteria by default
        required: false
        type: array
        items: {}
      - name: serviceId
        in: query
        description: '''starts with'' search criteria by default'
        required: false
        type: array
        items: {}
      - name: priority
        in: query
        description: Priority of work order, exact search by default
        required: false
        type: array
        items: {}
      - name: purchaseNumber
        in: query
        description: Purchase number of work order, 'starts with' search criteria by default
        required: false
        type: array
        items: {}
      - name: trade
        in: query
        description: Trade, 'starts with' search criteria by default
        required: false
        type: array
        items: {}
      - name: tradeId
        in: query
        description: TradeId, ID of trades to return work orders for
        required: false
        type: array
        items: {}
      - name: scheduledDate
        in: query
        description: Scheduled date
        required: false
        type: array
        items: {}
      - name: expirationDate
        in: query
        description: Expiration date
        required: false
        type: array
        items: {}
      - name: callDate
        in: query
        description: Call date
        required: false
        type: array
        items: {}
      - name: sort
        in: query
        description: Sort resources by the specified property in the response.
        required: false
        type: string
      - name: page
        in: query
        description: Results page number.
        required: false
        type: integer
        format: int32
      - name: pageSize
        in: query
        description: Number of objects on the results page. The default and maximum per page is 50.
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Response.WorkOrder.GetWorkOrdersResponse.WorkOrder'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 403 - Account has not been activated for GPS use;\r\n            <br/> 503 - Validation fails. Request is empty or null;\r\n            <br/> 601 - Location Id is invalid;\r\n            <br/> 606 - Cannot find location by StoreId;\r\n            <br/> 1000 - Invalid Setup Id;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions; "
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Indicates that a generic error has occurred on the server.\r\n            <br/>Error codes:\r\n            <br/> 501 - Timeout expired. The timeout period elapsed prior to completion of the operation or the server is not responding."
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    post:
      tags:
      - WorkOrders
      summary: Create a Work order
      description: "Creates a new Work order. Returns Work order Id for successful request.\r\n            <br />Available for provider and subscriber usage.\r\n            <br />Additional info:\r\n            <br />Updates GL code based on passed Category param according to settings in Admin module {go to Admin =&gt; Accounting =&gt; GlCodes to see user GL codes}.\r\n            Similar logic is used when you create Work order through next path: Dashboard =&gt; Request Service."
      operationId: POSTv3_workorders
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: A new Work order
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.CreateWoRequest'
      responses:
        '201':
          description: Created indicates that the request resulted in a new resource created before the response was sent.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 100 - No provider was found for specified location and trade;\r\n            <br/> 300 - Missed contract data;\r\n            <br/> 301 - Contract not found for specified subscribers location, provider and trade;\r\n            <br/> 400 - Invalid Subscriber Id specified;\r\n            <br/> 503 - Work order cannot be created, provider could not be determined (missing providerID or IssueRequestInfo);\r\n            <br/> 600 - Invalid Location Id specified;\r\n            <br/> 603 - Subscriber has no specified Location;\r\n            <br/> 700 - Invalid Trade Name specified;\r\n            <br/> 702 - Subscriber has no specified Trade;\r\n            <br/> 800 - Missed required argument 'UserId';\r\n            <br/> 801 - Missed required argument 'CreatedBy';\r\n            <br/> 900 - Missed problem description options;\r\n            <br/> 901 - Missed required argument 'ProblemSource';\r\n            <br/> 902 - Missed required argument 'Description';\r\n            <br/> 903 - Missed required argument 'ProblemCode';\r\n            <br/> 904 - Invalid WorkOrder status;\r\n            <br/> 905 - Invalid 'Nte' value;\r\n            <br/> 906 - Invalid 'CallerName' value;\r\n            <br/> 907 - Invalid 'CallDate' value;\r\n            <br/> 908 - Invalid 'ScheduledDate' value;\r\n            <br/> 909 - Invalid 'ScheduledDate', greater than max allowed by subscriber;\r\n            <br/> 910 - Missed required argument 'Category';\r\n            <br/> 911 - Invalid 'Category';\r\n            <br/> 912 - Missed required argument 'Priority';\r\n            <br/> 913 - Invalid 'Priority';\r\n            <br/> 914 - Invalid 'Currency' value;\r\n            <br/> 915 - Invalid Setup Id;\r\n            <br/> 916 - At least one attachment required to create this WorkOrder;\r\n            <br/> 918 - Assets required to create this WorkOrder;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Indicates that a generic error has occurred on the server.\r\n            <br/>Error codes:\r\n            <br/> 501 - Sequence contains no elements"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/status:
    put:
      tags:
      - WorkOrders
      summary: Update a Work order Status
      description: "Updates Work Order status with optional Note. Returns Work order Id for successful request.\r\n            <br /><br />This method can only be used for users with 'WorkOrderStatusChange' permissions.\r\n            Available for provider and subscriber usage."
      operationId: PUTv3_workorders_{workorderId}_status
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      - name: updateRequestExt
        in: body
        description: The update request. Work order Status.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWoStatusRequestExt'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWorkOrderStatusResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 100 - You don't have location access to perform this operation;\r\n            <br/> User has no permissions to perform this action;\r\n            <br/> 502 - WorkOrder not found;\r\n            <br/> 503 - Request data is empty; User data not found;\r\n            <br/> 904 - Invalid WorkOrder status;\r\n            <br/> User has no permission to set selected status;\r\n            <br/> 921 - Cannot update invoiced Work order;\r\n            <br/> 9001 - Decline reason id is required;\r\n            <br/> 9002 - This decline reason doesn't allow custom text"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/priority:
    put:
      tags:
      - WorkOrders
      summary: Update Work order Priority
      description: "Updates Work Order priority. Returns Work order Id for successful request.\r\n            <br /><br />This method can only be used for users with 'WorkOrderFullEdit' permissions."
      operationId: PUTv3_workorders_{workorderId}_priority
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      - name: updateRequest
        in: body
        description: The update request. Work order Priority.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWoFieldsRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWorkOrderResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 100 - You don't have location access to perform this operation;\r\n            <br/> 502 - Data not found. Returned if target Work order is not found database;\r\n            <br/> 503 - Request data is empty;\r\n            <br/> 913 - Priority isn't found in user settings;\r\n            <br/> Priority length cannot be longer then 100 or shorter then 1 characters;\r\n            <br/> 921 - Cannot update invoiced Work order;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/category:
    put:
      tags:
      - WorkOrders
      summary: Update the work order category
      description: "Updates the category of the specified work order (WO) with the passed value. Note that you cannot update the category of an invoiced service request.\r\n            <br />If the WO category does not have a GL code mapping with the WO trade, you will get an error message listing valid categories for this trade based on existing GL codes. You can retrieve valid categories for a specific trade by sending the [GET /categories/glcodes](/swagger/ui/index?version=3#/Categories/GETv3_categories_glcodes_locationId__locationId__trade__trade_) request.\r\n            <br />***Note:*** Only users who have permission to edit work orders can use this method.\r\n            <br />**Example Request**\r\n            \r\n                PUT /workorders/{workorderId}/category\r\n                {\r\n                   \"Value\": \"Repair\",\r\n                   \"Actor\": \"James Smith\",\r\n                   \"Id\": 12345\r\n                }"
      operationId: PUTv3_workorders_{workorderId}_category
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Unique numeric identifier of the work order you want to update the category for.
        required: true
        type: integer
        format: int32
      - name: updateRequest
        in: body
        description: Request to update the work order category.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWoCategoryRequest'
      responses:
        '200':
          description: The category of the specified work order is updated, and the unique work order ID is returned in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWorkOrderResponse'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            100 — User has no rights to perform this action\r\n            502 — Work order is not found\r\n            921 — Cannot update invoiced work order"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: The server was unable to complete the request due to an internal error.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/nte:
    put:
      tags:
      - WorkOrders
      summary: Update Work order NTE
      description: "Updates Work Order NTE. Returns Work order Id for successful request.\r\n            <br /><br />This method can only be used for users with 'WorkOrderFullEdit' permissions."
      operationId: PUTv3_workorders_{workorderId}_nte
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      - name: updateRequest
        in: body
        description: The update request. Work order NTE.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWoNteRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWorkOrderResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n        \t<br/>Error codes:\r\n        \t<br/> 100 - You don't have location access to perform this operation;\r\n        \t<br/> 502 - Data not found. Returned if target Work order is not found database;\r\n        \t<br/> 503 - Request data is empty;\r\n        \t<br/> 905 - Invalid Work order NTE specified. Returned if nte exceeds user limit or its value is not a number;\r\n        \t<br/> 921 - Cannot update invoiced Work order;\r\n        \t<br/> 931 - NTE cannot be adjusted, please use subtotal and tax;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workOrderId}/projectApproval:
    put:
      tags:
      - WorkOrders
      summary: Update Work orders NTE project approval
      description: "Update Work orders NTE project approval. Returns successfully updated id.\r\n            <br /><br />This method can only be used for users with 'WorkOrderFullEdit' permissions."
      operationId: PUTv3_workorders_{workOrderId}_projectApproval
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workOrderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      - name: updateRequest
        in: body
        description: The update request. Work orders NTE/Link project approval.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.UpdateWorkOrdersProjectApprovalRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWorkOrderResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n        \t<br/>Error codes:\r\n        \t<br/> 100 - You don't have location access to perform this operation;\r\n        \t<br/> 502 - Data not found. Returned if target Work order is not found database;\r\n        \t<br/> 503 - Request data is empty;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    post:
      tags:
      - WorkOrders
      summary: Create Work orders project approval
      description: "Create Work orders project approval. Returns successfully updated id.\r\n            <br /><br />This method can only be used for users with 'WorkOrderFullEdit' permissions."
      operationId: POSTv3_workorders_{workOrderId}_projectApproval
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workOrderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      - name: createRequest
        in: body
        description: The create request. Work orders project approval.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.CreateWorkOrdersProjectApprovalRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWorkOrderResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n        \t<br/>Error codes:\r\n        \t<br/> 100 - You don't have location access to perform this operation;\r\n        \t<br/> 502 - Data not found. Returned if target Work order is not found database;\r\n        \t<br/> 503 - Request data is empty;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/scheduledate:
    put:
      tags:
      - WorkOrders
      summary: Update Work order Scheduled Date
      description: "Updates Work Order Scheduled Date. Returns Work order Id for successful request.\r\n            <br /><br />Available for provider and subscriber usage.\r\n            This method can only be used for users with 'WorkOrderScheduledDateChange' permissions."
      operationId: PUTv3_workorders_{workorderId}_scheduledate?rescheduleReasonCode={rescheduleReasonCode}
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      - name: updateRequest
        in: body
        description: The update request. Work order Scheduled Date.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWoFieldsRequest'
      - name: rescheduleReasonCode
        in: query
        description: Numeric reschedule reason code. Optional.
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWorkOrderResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 100 - You don't have location access to perform this operation;\r\n            <br/> 502 - Data not found. Returned if target Work order is not found database;\r\n            <br/> 503 - Request data is empty;\r\n            <br/> 908 - Invalid Work order scheduled date specified. Returned if invalid date format was specified,\r\n            scheduled date is smaller then Work order CallDate or bigger then Work order ExpirationDate;\r\n            <br/> 921 - Cannot update invoiced Work order;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/description:
    put:
      tags:
      - WorkOrders
      summary: Update Work order Description
      description: "Updates Work Order Description. Returns Work order Id for successful request.\r\n            <br /><br />This method can only be used for users with 'WorkOrderFullEdit' permissions."
      operationId: PUTv3_workorders_{workorderId}_description
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      - name: updateRequest
        in: body
        description: The update request. Work order Description.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWoFieldsRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWorkOrderResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 100 - You don't have location access to perform this operation;\r\n            <br/> 502 - Data not found. Returned if target Work order is not found database;\r\n            <br/> 503 - Request data is empty;\r\n            <br/> 902 - Invalid Work order Problem Description specified. Returned if description exceeds max len (8000 chars) or is empty;\r\n            <br/> 921 - Cannot update invoiced Work order;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/trade:
    put:
      tags:
      - WorkOrders
      summary: Change Work order Trade
      operationId: PUTv3_workorders_{workorderId}_trade
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: ''
        required: true
        type: integer
        format: int32
      - name: updateRequest
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWoFieldsRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWorkOrderResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 100 - You don't have location access to perform this operation;\r\n            <br/> 502 - Data not found. Returned if target Work order is not found database;\r\n            <br/> 503 - Request data is empty;\r\n            <br/> 921 - Cannot update invoiced Work order;\r\n            <br/> 934 - Invalid Work order Trade specified. Returned if trade exceeds max len (50 chars) or is empty"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/resolution:
    post:
      tags:
      - WorkOrders
      summary: Add Work order Resolution
      description: Adds Resolution to Work order. Returns Resolution Id for successful request.
      operationId: POSTv3_workorders_{workorderId}_resolution
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      - name: request
        in: body
        description: The update request. Work order Resolution.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Request.UpdateWorkOrderResolutionRequest'
      responses:
        '201':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Response.WorkOrder.UpdateWorkOrderResolutionResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 100 - User has no permissions to perform this action;\r\n            <br/> 502 - Work order is not found;\r\n            <br/> 503 - Request data is empty;\r\n            <br/> 904 - Work Order is in status that not allow to perform this action;\r\n            <br/> 933 - Workorder is on hold, no actions allowed;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/caller:
    put:
      tags:
      - WorkOrders
      summary: Update Work order Caller
      description: "Updates Work order Caller. Returns Work order Id for successful request.\r\n            <br /><br />This method can only be used for users with 'WorkOrderFullEdit' permissions."
      operationId: PUTv3_workorders_{workorderId}_caller
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      - name: updateRequest
        in: body
        description: The update request. Work order Caller.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWoFieldsRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWorkOrderResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 100 - You don't have location access to perform this operation;\r\n            <br/> 502 - Data not found. Returned if target Work order is not found database;\r\n            <br/> 503 - Request data is empty;\r\n            <br/> 906 - Invalid Work order Caller Name specified. Returned if Caller Name exceeds max len (100 chars) or is empty;\r\n            <br/> 921 - Cannot update invoiced Work order;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/ponumber:
    put:
      tags:
      - WorkOrders
      summary: Update Work order Purchase Number
      description: "Updates Work order Purchase Number. Returns Work order Id for successful request.\r\n            <br /><br />This method can only be used for users with 'WorkOrderFullEdit' permissions."
      operationId: PUTv3_workorders_{workorderId}_ponumber
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      - name: updateRequest
        in: body
        description: The update request. Work order Purchase Number.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWoFieldsRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWorkOrderResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 100 - You don't have location access to perform this operation;\r\n            <br/> 502 - Data not found. Returned if target Work order is not found database;\r\n            <br/> 503 - Request data is empty;\r\n            <br/> 920 - Invalid Work order purchase number specified. Returned if duplicate PO number is found for this subscriber or if value exceeds max len (20 chars);\r\n            <br/> 921 - Cannot update invoiced Work order;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workOrderId}/projectedCompletionDate:
    put:
      tags:
      - WorkOrders
      summary: Update Work Order Projected Completion Date
      description: "Updates Work Order Projected Completion Date. Returns Work order Id for successful request.\r\n            <br /><br />Available for provider and subscriber usage.\r\n            This method can only be used for work orders of subscribers that have \"ShowEstimatedCompletionDate\" and \"ShowEstimatedCompletionDate2_0\" and \"ShowEstimatedCompletionDate3_0\" features enabled."
      operationId: PUTv3_workorders_{workOrderId}_projectedCompletionDate
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workOrderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      - name: updateRequest
        in: body
        description: The update request. Work order Projected Completion Date.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Request.WorkOrder.UpdateWorkOrderProjectedCompletionDateRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Response.WorkOrder.UpdateWorkOrderProjectedCompletionDateResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 100 - User has no rights to perform this action;\r\n            <br/> 502 - Data not found. Returned if target Work order is not found database;\r\n            <br/> 503 - Request is invalid;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/wonumber:
    put:
      tags:
      - WorkOrders
      summary: Update Work order Number
      description: "Updates Work order Number.\r\n            <br /><br />This method can only be used for users with 'WorkOrderFullEdit' permissions."
      operationId: PUTv3_workorders_{workorderId}_wonumber
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      - name: updateRequest
        in: body
        description: The update request. Work order Number.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWoFieldsRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWorkOrderResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 100 - You don't have location access to perform this operation;\r\n            <br/> 502 - Data not found. Returned if target Work order is not found database;\r\n            <br/> 503 - Request data is empty;\r\n            <br/> 923 - Invalid Work order number specified. Returned if duplicate number is found for this provider or if value exceeds max len (20 chars);\r\n            <br/> 921 - Cannot update invoiced Work order;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/projectid:
    put:
      tags:
      - WorkOrders
      summary: Update ProjectId
      description: Updates ProjectId.
      operationId: PUTv3_workorders_{workorderId}_projectid
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      - name: updateRequest
        in: body
        description: The update request. ProjectId.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWoProjectIdRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWorkOrderResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 100 - You don't have location access to perform this operation;\r\n            <br/> 502 - Data not found. Returned if target Work order is not found database;\r\n            <br/> 503 - Request data is empty;\r\n            <br/> 923 - Invalid Work order number specified. Returned if duplicate number is found for this provider or if value exceeds max len (20 chars);\r\n            <br/> 921 - Cannot update invoiced Work order;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/projectid/unlink:
    put:
      tags:
      - WorkOrders
      summary: Unlink ProjectId
      description: Unlink ProjectId.
      operationId: PUTv3_workorders_{workorderId}_projectid_unlink
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWorkOrderResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 100 - You don't have location access to perform this operation;\r\n            <br/> 502 - Data not found. Returned if target Work order is not found database;\r\n            <br/> 503 - Request data is empty;\r\n            <br/> 923 - Invalid Work order number specified. Returned if duplicate number is found for this provider or if value exceeds max len (20 chars);\r\n            <br/> 921 - Cannot update invoiced Work order;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/weatherTypeId:
    put:
      tags:
      - WorkOrders
      summary: Update weather type
      description: "Updates weather type.\r\n            <br /><br />This method can only be used for users with 'WorkOrderFullEdit' permissions."
      operationId: PUTv3_workorders_{workorderId}_weatherTypeId?subscriberId={subscriberId}
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      - name: updateRequest
        in: body
        description: The update request. WeatherTypeId (put Value as empty to remove weather type).
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWoWeatherTypeIdRequest'
      - name: subscriberId
        in: query
        description: The subscriber Id to use (if logged in as a provider).
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWorkOrderResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 100 - You don't have location access to perform this operation;\r\n            <br/> 502 - Data not found. Returned if target Work order is not found database;\r\n            <br/> 503 - Request data is empty;\r\n            <br/> 923 - Invalid Work order number specified. Returned if duplicate number is found for this provider or if value exceeds max len (20 chars);\r\n            <br/> 921 - Cannot update invoiced Work order;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/issueChoice:
    put:
      tags:
      - WorkOrders
      summary: Update issue choice on WO
      operationId: PUTv3_workorders_{workorderId}_issueChoice?subscriberId={subscriberId}&locationId={locationId}
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      - name: subscriberId
        in: query
        description: The subscriber Id to use (if logged in as a provider).
        required: true
        type: integer
        format: int32
      - name: issueChoice
        in: body
        description: The request to perform action with.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.IssueChoiceRequest'
      - name: locationId
        in: query
        description: UID of location
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.<br/>Error codes:<br/> \r\n        503 - Validation fails;<br> \r\n        1000 - Invalid setupId(dashboard) for current user;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/reassign:
    put:
      tags:
      - WorkOrders
      summary: Reassign Work Order
      description: "Reassign Work Order to another provider. Returns Work order Id for successful request.\r\n            <br /><br />Available for provider and subscriber usage."
      operationId: PUTv3_workorders_{workorderId}_reassign
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      - name: request
        in: body
        description: The request to perform action with.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Request.WorkOrder.ReassignWorkOrder.ReassignWorkOrderRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.ChangeWorkOrderResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 1301 - Request data is empty;\r\n            <br/> 101 - Invalid Provider Id;\r\n            <br/>Provider not found for selected trade and location;\r\n            <br/> 503 - Invalid Work order reassignment reason;\r\n            <br/>Request data is empty;\r\n            <br/>Required provider id not found;<br>Work order could not be reassigned. Only 'OPEN' and 'IN PROGRESS' statuses allowed;\r\n            <br/>Provider or trade should be changed;\r\n            <br/>Reassignment is blocked for work orders containing parts or materials;\r\n            <br/> 905 - Invalid 'Nte' value;\r\n            <br/>Nte value exceeds user limit;\r\n            <br/> 921 - Cannot update invoiced Work order;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "Indicates that the server refuses to fulfill the request.\r\n            <br/> Error codes:\r\n            <br/> 804 - API call rejected by lack of provider permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/reassign/reasons:
    get:
      tags:
      - WorkOrders
      summary: Work order reassignment reasons
      description: "List Work order reassignment reasons.\r\n            <br /><br />Available for provider and subscriber usage.\r\n            <br /><br />SubscriberId is used to determine provider access to the action ('WorkOrderReassign' EffectiveProviderPermissions, calculated flag. Calculated by ProviderAuthorizationHandler)"
      operationId: GETv3_workorders_reassign_reasons?subscriberId={subscriberId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: subscriberId
        in: query
        description: This parameter is required only for provider.
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.WorkOrderReassignmentReason'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "Indicates that the server refuses to fulfill the request.\r\n            <br/> Error codes:\r\n            <br/> 804 - API call rejected by lack of provider permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}:
    get:
      tags:
      - WorkOrders
      summary: Retrieve a Work order
      description: A single Work order object with all its details.
      operationId: GETv3_workorders_{workorderId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.WorkOrder'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 503 - Request data is empty;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: Indicates that the requested resource does not exist on the server.
      deprecated: false
      x-access: Any
  /workorders/issueinfo/{workorderId}:
    get:
      tags:
      - WorkOrders
      summary: Retrieve a Work order related information
      description: A single issue info.
      operationId: GETv3_workorders_issueinfo_{workorderId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.IssueLists.IssueTicketInformation'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 503 - Request data is empty;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: Indicates that the requested resource does not exist on the server.
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/validateCheckIn:
    get:
      tags:
      - WorkOrders
      summary: Validate Check-In action
      description: Validate Check-In action
      operationId: GETv3_workorders_{workorderId}_validateCheckIn?WorkTypeId={WorkTypeId}&Latitude={Latitude}&Longitude={Longitude}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      - name: workTypeId
        in: query
        description: "Optional, type work Id. 1 - 'Repair', 2 - 'Travel'\r\n            Default value is 1 ('Repair'). Supports custom types."
        required: false
        type: integer
        format: int32
      - name: latitude
        in: query
        description: Global position. Latitude
        required: true
        type: number
        format: double
      - name: longitude
        in: query
        description: Global position. Longitude
        required: true
        type: number
        format: double
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.CheckInOut.CheckInValidateResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 502 - WorkOrder not found;\r\n            <br/> 503 - Request data is empty;\r\n            <br/>Provide your location to perform checkin/checkout;\r\n            <br/> 917 - Invalid Tracking Number;\r\n            <br/> 921 - Cannot update work order in 'completed' status;\r\n            <br/>Cannot update invoiced work order;\r\n            <br/> 924 - Work order has been invoiced and cannot be changed;\r\n            <br/> 941 - Can't do check in: out of ... mile range;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '405':
          description: Indicates that the request method is not allowed on the requested resource.
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/validateCheckOut:
    get:
      tags:
      - WorkOrders
      summary: Validate Check-Out action
      description: Validate Check-Out action
      operationId: GETv3_workorders_{workorderId}_validateCheckOut?WorkTypeId={WorkTypeId}&Latitude={Latitude}&Longitude={Longitude}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        type: integer
        format: int32
      - name: workTypeId
        in: query
        description: "Optional, type work Id. 1 - 'Repair', 2 - 'Travel'\r\n            Default value is 1 ('Repair'). Supports custom types."
        required: false
        type: integer
        format: int32
      - name: latitude
        in: query
        description: Global position. Latitude
        required: true
        type: number
        format: double
      - name: longitude
        in: query
        description: Global position. Longitude
        required: true
        type: number
        format: double
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.CheckInOut.CheckInValidateResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 502 - WorkOrder not found;\r\n            <br/> 503 - Request data is empty;\r\n            <br/>Provide your location to perform checkin/checkout;\r\n            <br/> 917 - Invalid Tracking Number;\r\n            <br/> 921 - Cannot update work order in 'completed' status;\r\n            <br/>Cannot update invoiced work order;\r\n            <br/> 924 - Work order has been invoiced and cannot be changed;\r\n            <br/> 941 - Can't do check out: out of ... mile range;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '405':
          description: Indicates that the request method is not allowed on the requested resource.
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/universalCheckIn:
    post:
      tags:
      - WorkOrders
      summary: Perform a check-in
      description: "Creates a check-in record of the indicated work type: travel, repair, or custom. Returns `MechanicId` for a successful request.\r\n            See the [Check-In/Out guide](/guides/checkin/about-check-in-out/) for code snippets and detailed instructions.\r\n            <br />***Note:*** [Special permission](/guides/checkin/before-you-start/#check-inout-permissions) is required for the Travel and Repair work types.\r\n            <br />**Example Request**\r\n            \r\n                POST /workorders/{workorderId}/universalCheckIn\r\n                {\r\n                  \"WorkTypeId\": 1,\r\n                  \"UserId\": 1544987,\r\n                  \"TechsCount\": 2,\r\n                  \"Latitude\": 40.736618,\r\n                  \"Longitude\": -73.991806,\r\n                  \"CheckInTime\": \"2018-10-23T08:30:00Z\"\r\n                }"
      operationId: POSTv3_workorders_{workorderId}_universalCheckIn
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: The unique ID of the work order for which you want to report a check-in.
        required: true
        type: integer
        format: int32
      - name: request
        in: body
        description: The check-in object that needs to be created.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.CheckInRequest'
      responses:
        '200':
          description: The check-in record is created.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.CheckInOut.CheckInOutResponse'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            502 - Work order not found\r\n            503 - Required data missing or incorrect\r\n            503 - Provide your location to perform check-in or check-out\r\n            503 - Work type not found\r\n            503 - Check-in or check-out premature\r\n            503 - Check-in or check-out time should be close to current location time\r\n            503 - Check-in or check-out out of date\r\n            804 - User has no permission to perform this action\r\n            917 - Invalid WO tracking number\r\n            921 - Cannot update work order in one of the completed statuses\r\n            924 - Work order has been invoiced and cannot be changed\r\n            924 - No changes can be made to this maintenance work order because it is expired or premature\r\n            924 - Cannot check in/out of work order in … status\r\n            924 - Client not participating in GPS check-in process; use IVR\r\n            924 - Store has no GPS coordinates\r\n            941 - Can’t perform check-in or check-out: out of ... mile range"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 - Missing or incorrect authentication credentials"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '405':
          description: The method is not allowed.
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/universalCheckOut:
    post:
      tags:
      - WorkOrders
      summary: Perform a check-out
      description: "Creates a check-out record of the indicated work type: travel, repair, or custom. Returns `MechanicId` for a successful request.\r\n            See the [Check-In/Out guide](/guides/checkin/about-check-in-out/) for code snippets and detailed instructions.\r\n            <br />***Note:*** [Special permission](/guides/checkin/before-you-start/#check-inout-permissions) is required for the Travel and Repair work types.\r\n            <br />**Example Request**\r\n            \r\n                POST /workorders/{workorderId}/universalCheckOut\r\n                {\r\n                  \"WorkTypeId\": 1,\r\n                  \"PrimaryStatus\": \"InProgress\",\r\n                  \"ExtendedStatus\": \"string\",\r\n                  \"ActionStatus\": \"Complete\",\r\n                  \"Resolution\": \"We need more time to complete this job.\",\r\n                  \"UserId\": 1544987,\r\n                  \"Latitude\": 40.736618,\r\n                  \"Longitude\": -73.991806,\r\n                  \"CheckOutTime\": \"2018-10-23T09:30:00Z\"\r\n                }"
      operationId: POSTv3_workorders_{workorderId}_universalCheckOut
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: The unique ID of the work order for which you want to report a check-out.
        required: true
        type: integer
        format: int32
      - name: request
        in: body
        description: The check-out object that needs to be created.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.CheckOutRequest'
      responses:
        '200':
          description: The check-out record is created.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.CheckInOut.CheckInOutResponse'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            502 - Work order not found\r\n            503 - Required data missing or incorrect\r\n            503 - Provide your location to perform check-in or check-out\r\n            503 - User has not checked in\r\n            503 - Work type not found\r\n            503 - Check-in or check-out premature\r\n            503 - Check-in or check-out time should be close to current location time\r\n            503 - Check-in or check-out out of date\r\n            503 - Invalid SignatureAttachmentId\r\n            503 - Invalid UnableObtainSignatureNoteId\r\n            503 - You can set either SignatureAttachmentId or UnableObtainSignatureNoteId but not both\r\n            503 - No access to electronic signatures\r\n            804 - User has no permission to perform this action\r\n            904 - User does not have … extended status that belongs to … primary status\r\n            917 - Invalid WO tracking number\r\n            921 - Cannot update work order in one of the completed statuses\r\n            925 - Work order has been invoiced and cannot be changed\r\n            925 - No changes can be made to this maintenance work order because it is expired or premature\r\n            925 - Cannot check in/out of work order in … status\r\n            925 - Client not participating in GPS check-in process; use IVR\r\n            925 - Store has no GPS coordinates\r\n            942 - Can’t perform check-in or check-out: out of ... mile range"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 - Missing or incorrect authentication credentials"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '405':
          description: The method is not allowed.
      deprecated: false
      x-access: Any
  /workorders/{workOrderId}/checklists-responses:
    get:
      tags:
      - WorkOrders
      summary: Get checklist responses for a work order
      description: '[Returns checklist responses](/guides/checklists/get-checklist-responses-for-a-wo/) submitted for the specified work order.'
      operationId: GETv3_workorders_{workOrderId}_checklists-responses?getAll={getAll}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workOrderId
        in: path
        description: Unique identifier of the work order to return checklist responses for.
        required: true
        type: integer
        format: int32
      - name: getAll
        in: query
        description: Flag to get responses from all completed checklists.
        required: false
        type: boolean
        default: false
      responses:
        '200':
          description: Checklist responses for the specified work order are returned.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Response.Checklists.ChecklistResponses.GetResponsesByWorkOrderResponse'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            502 — Work order is not found"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: The server was unable to complete the request due to an internal error.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /odata/workorders/filter:
    post:
      tags:
      - WorkOrders
      summary: Retrieve work orders
      description: "Returns a list of work orders created within the last 90 days if not specified otherwise in `$filter`. The maximum date range between the work order `CallDate` and the current date is 365 days.\r\n            <br />The default number of work orders in the response is 50. To retrieve more work orders, use the `$skip` parameter.\r\n            <br />***Note***: You can also get a list of work orders by using one of the following methods: [GET /odata/workorders](/swagger/ui/index?version=3#/WorkOrders/WorkOrders_GetWorkOrders), [GET /workorders](/swagger/ui/index?version=3#/WorkOrders/GETv3_workorders_locationId__locationId__storeId__storeId_).\r\n            <param name=\"request\"></param>"
      operationId: POSTv3_odata_workorders_filter
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.ODataRequest'
      responses:
        '200':
          description: The list of work orders is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.WorkOrder'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '406':
          description: The request is already processed.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "The server was unable to complete the request due to an internal error.\r\n            <br/>Error codes:\r\n            501 — Object reference is not set to an instance of an object"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/statistics:
    get:
      tags:
      - WorkOrders
      summary: Statistics Collection
      description: Retrieves list of all Work order Statistics. Only for providers usage.
      operationId: GETv3_workorders_statistics?daysPeriod={daysPeriod}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: daysPeriod
        in: query
        description: Days Period to perform action with (30 by default).
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.WorkOrderStatisticsResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 503 - Only for providers usage;<br>Request data is empty;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/categories:
    get:
      tags:
      - WorkOrders
      summary: Categories Collection
      description: Retrieves list of all Work order categories.
      operationId: GETv3_workorders_categories?SubscriberId={SubscriberId}&SortExpr={SortExpr}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: subscriberId
        in: query
        description: This parameter is required only for provider.
        required: false
        type: integer
        format: int32
      - name: sortExpr
        in: query
        description: Gets or sets sort expression.
        required: false
        type: string
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Category.CategoryResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br/> 503 - Request data is empty;\r\n            <br/>SubscriberId is incorrect;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/statuses:
    get:
      tags:
      - WorkOrders
      summary: Get work order statuses
      description: "Returns available work order statuses for the specified subscriber.\r\n            <br />Use the returned ID value as an alternative to the primary status name when updating a status via the [PUT/workorders/{workorderId}/status](https://developer.servicechannel.com/swagger/index.html#/WorkOrders/PUTv3_workorders_%7BworkorderId%7D_status) method."
      operationId: GETv3_workorders_statuses?subscriberId={subscriberId}&tradeId={tradeId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: subscriberId
        in: query
        description: Unique numeric identifier of the subscriber. This parameter is required only for providers.
        required: false
        type: integer
        format: int32
      - name: tradeId
        in: query
        description: "Numeric identifier of the trade. Works only if the *LimitStatusesByTrade* FF is on. It returns extended statuses that are available for the specified trade. Entering the `tradeId` will show which statuses are available based on the **Excluded Trades** setting in Admin.\r\n            <br />To get a trade ID, run the [GET/trades/GetExistsTrades](https://developer.servicechannel.com/swagger/index.html#/Trades/GETv3_trades_GetExistsTrades) method."
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: The request succeeded, and the requested information is in response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.GetStatusResponse'
        '400':
          description: The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 &mdash; API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/statuses:
    get:
      tags:
      - WorkOrders
      summary: Get work order statuses that relate to a specific work order.
      description: "Returns work order statuses based on the user role and Admin permissions.\r\n            <br />Use the returned ID value as an alternative to the primary status name when updating a status via the [PUT/workorders/{workorderId}/status](https://developer.servicechannel.com/swagger/index.html#/WorkOrders/PUTv3_workorders_%7BworkorderId%7D_status) method."
      operationId: GETv3_workorders_{workorderId}_statuses?subscriberId={subscriberId}&tradeId={tradeId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Numeric identifier of a work order to retrieve statuses for.
        required: true
        type: integer
        format: int32
      - name: subscriberId
        in: query
        description: Unique numeric identifier of the subscriber. This parameter is required only for providers.
        required: false
        type: integer
        format: int32
      - name: tradeId
        in: query
        description: "Numeric identifier of the trade. Works only if the *LimitStatusesByTrade* FF is on. It returns extended statuses that are available for the specified trade. Entering the `tradeId` will show which statuses are available based on the **Excluded Trades** setting in Admin.\r\n            <br />To get a trade ID, run the [GET/trades/GetExistsTrades](https://developer.servicechannel.com/swagger/index.html#/Trades/GETv3_trades_GetExistsTrades) method."
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: The request succeeded, and the requested information is in response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.GetStatusResponse'
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            502 &mdash; Work order is not found"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 &mdash; API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/starred:
    get:
      tags:
      - WorkOrders
      summary: Starred Work Order Ids Collection
      description: Retrieves list of work order ids starred by the current user.
      operationId: GETv3_workorders_starred
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            type: array
            items:
              format: int32
              type: integer
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n             <br/>Error codes:\r\n             <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/label:
    get:
      tags:
      - WorkOrders
      summary: Get work order labels
      description: Returns a list of labels which are used on work orders. The response body contains label names, label IDs, and the total number of labels.
      operationId: GETv3_workorders_label?keyword={keyword}&page={page}&pageSize={pageSize}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: keyword
        in: query
        description: Keyword contained in labels.
        required: false
        type: string
      - name: page
        in: query
        description: Results page number. Page numbering starts from 1.
        required: false
        type: integer
        format: int32
      - name: pageSize
        in: query
        description: Number of labels on the results page.
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: The list of labels is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.GetWorkOrderLabelResponse'
        '400':
          description: The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized. \r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/label:
    put:
      tags:
      - WorkOrders
      summary: Update a work order label
      description: "Adds a label to the specified work order. \r\n            <br />***Note***: If the work order already has a label, this method will replace the label with a new one."
      operationId: PUTv3_workorders_{workorderId}_label
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Unique numeric identifier of the work order
        required: true
        type: integer
        format: int32
      - name: workOrderLabelRequest
        in: body
        description: "Object to add a label to the work order. \r\n            <br /> • To add an extisting label to the work order, fill in all object parameters.  \r\n            To get the label ID and name, use the [GET /workorders/label](/swagger/ui/index?version=3#/WorkOrders/GETv3_workorders_label%3Fkeyword%3D%7Bkeyword%7D%26page%3D%7Bpage%7D%26pageSize%3D%7BpageSize%7D) method.\r\n            <br /> • To add a new label to the work order, fill in all object parameters except for `LabelId`.\r\n            After successfully adding a new label, its ID and name can be found using the [GET /workorders/label](/swagger/ui/index?version=3#/WorkOrders/GETv3_workorders_label%3Fkeyword%3D%7Bkeyword%7D%26page%3D%7Bpage%7D%26pageSize%3D%7BpageSize%7D) method."
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.WorkOrderLabelRequest'
      responses:
        '200':
          description: The request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.UpdateLabelResponse'
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            502 — Work order label is not found"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Something went wrong, and the server was unable to complete your request.\r\n            <br/>Error codes:\r\n            501 — Internal Error"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    delete:
      tags:
      - WorkOrders
      summary: Delete a work order label
      description: Removes a label from the specified work order.
      operationId: DELETEv3_workorders_{workorderId}_label
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Unique numeric identifier of the work order
        required: true
        type: integer
        format: int32
      - name: workOrderLabelRequest
        in: body
        description: "Object to delete a label from the work order.\r\n            <br />To get the label ID and name, use the [GET /workorders/label](/swagger/ui/index?version=3#/WorkOrders/GETv3_workorders_label%3Fkeyword%3D%7Bkeyword%7D%26page%3D%7Bpage%7D%26pageSize%3D%7BpageSize%7D) method."
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.WorkOrderLabelRequest'
      responses:
        '200':
          description: The request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.UpdateLabelResponse'
        '400':
          description: The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/labels:
    post:
      tags:
      - WorkOrders
      summary: Create work order labels
      operationId: POSTv3_workorders_labels
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: Object to add labels for a subscriber.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Request.Labels.CreateWorkOrdersLabelsRequest'
      responses:
        '200':
          description: The request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Response.Labels.CreateWorkOrdersLablesResponse'
        '400':
          description: The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.@
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "You are not authorized to request this resource, or the resource is unavailable for some reason.\r\n            <br/>Error codes: \r\n            100 — User has no rights to perform this action."
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Something went wrong, and the server was unable to complete your request.\r\n            <br/>Error codes:\r\n            501 — Internal Error"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/labels:
    put:
      tags:
      - WorkOrders
      summary: Add labels to work order
      operationId: PUTv3_workorders_{workorderId}_labels
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Unique numeric identifier of the work order.
        required: true
        type: integer
        format: int32
      - name: request
        in: body
        description: Object to add labels to the work order.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Request.Labels.AddWorkOrderLabelsRequest'
      responses:
        '200':
          description: The request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Response.Labels.AddWorkOrderLabelsResponse'
        '400':
          description: The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.@
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "You are not authorized to request this resource, or the resource is unavailable for some reason.\r\n            <br/>Error codes: \r\n            100 — User has no rights to perform this action."
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: Indicates that the requested resource does not exist on the server.
        '500':
          description: "Something went wrong, and the server was unable to complete your request.\r\n            <br/>Error codes:\r\n            501 — Internal Error"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    delete:
      tags:
      - WorkOrders
      summary: Delete labels from work order
      operationId: DELETEv3_workorders_{workorderId}_labels
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Unique numeric identifier of the work order
        required: true
        type: integer
        format: int32
      - name: request
        in: body
        description: Object to remove labels from the work order.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Request.Labels.DeleteWorkOrderLabelsRequest'
      responses:
        '200':
          description: The request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Response.Labels.DeleteWorkOrderLabelsResponse'
        '400':
          description: The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.@
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
[...]
