openapi: 3.2.0
info:
  version: '3'
  title: ServiceChannel API - v.3 Proposals API
  description: The ServiceChannel API is a RESTful and stateless API.
servers:
- url: https://sb2api.servicechannel.com/v3
security:
- oauth2: []
tags:
- name: Proposals
paths:
  /proposals/statistics:
    get:
      tags:
      - Proposals
      summary: Retrieve statistics on RFPs and proposals
      description: 'Returns statistics on requests for proposals (RFPs) and proposals for the specified time period for the current provider:

        • RFPs awaiting response

        • Open proposals

        • Approved proposals

        • Proposals in the _On Hold_ and _Reviewed_ statuses

        • Rejected proposals'
      operationId: GETv3_proposals_statistics?daysPeriod={daysPeriod}
      parameters:
      - name: daysPeriod
        in: query
        description: Time period set as the number of days prior to the current date for which statistics on RFPs and proposals are returned. The default is 30.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Statistics on RFPs and proposals for the requested time period are returned in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.ProposalStatisticsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.ProposalStatisticsResponse'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            503 — Only for providers usage"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /proposals/{proposalId}/recipients:
    get:
      tags:
      - Proposals
      summary: Retrieve users who can be added to the list of email recipients to notify of a…
      description: 'Returns users who can be added to the list of email recipients to notify when the specified proposal is approved or rejected.


        ***Note:*** This method is only available to subscriber users.'
      operationId: GETv3_proposals_{proposalId}_recipients
      parameters:
      - name: proposalId
        in: path
        description: The unique numeric identifier of the proposal.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Users who can be added to the list of email recipients to notify when a proposal is approved or rejected are in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Notes.EmailRecipientResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Notes.EmailRecipientResponse'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            503 — Invalid proposal identifier\n            503 — Request is empty or null"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /proposals/{proposalId}/validate:
    get:
      tags:
      - Proposals
      summary: Validate a proposal
      description: Checks if the specified proposal exists for the current user.
      operationId: GETv3_proposals_{proposalId}_validate
      parameters:
      - name: proposalId
        in: path
        description: The unique numeric identifier of the proposal to validate.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The specified proposal exists for the current user.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            502 — Proposal not found"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /proposals/{proposalId}/reject:
    put:
      tags:
      - Proposals
      summary: Reject a proposal
      description: 'Updates the status of the specified proposal to *Rejected*.


        You can send a proposal rejection notification to a specific user or to all users from the **Proposals/Proposal Alerts** list.

        • `ProviderEmail` and `UserEmail`. Use these parameters to send a proposal rejection notification to a specific user. If passed, any of these parameters prevails over `useProposalAlertEmails`. In case you pass a value to the `ProviderEmail` or `UserEmail` parameter in the request body and set `useProposalAlertEmails` to `true`, a notification is sent to the specified email address, while users from the **Proposals/Proposal Alerts** list are not notified.

        • `useProposalAlertEmails`. Set this parameter to `true` to send proposal rejection notifications to all users listed in the **Proposals/Proposal Alerts** section of **Dispatch Preferences**.


        ***Note:*** This method is only available to subscriber users.


        **Example Request**


        PUT /proposals/{proposalId}/reject

        {

        "Comments": "The project is canceled",

        "ProviderEmail": "",

        "UserEmail": "",

        "RejectReasonCodeId": 7,

        "ActionSource": "Standard",

        "ReasonString": "",

        "PinNote": false,

        }'
      operationId: PUTv3_proposals_{proposalId}_reject?useProposalAlertEmails={useProposalAlertEmails}
      parameters:
      - name: proposalId
        in: path
        description: The unique numeric identifier of the proposal to reject.
        required: true
        schema:
          type: integer
          format: int32
      - name: useProposalAlertEmails
        in: query
        description: "Defines if a proposal rejection notification is sent to all users listed in the **Proposals/Proposal Alerts** section of **Dispatch Preferences**.\n            If the parameter value is `true`, users from the **Proposals/Proposal Alerts** list get a notification if the `ProviderEmail` and `UserEmail` parameters are not passed. If set to `false` or not passed, this parameter is ignored."
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '204':
          description: The proposal status is set to *Rejected*, users are notified based on the passed parameters, and the values of the specified parameters are updated.<br/>The response is intentionally blank.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            401 — Invalid subscriber id\n            502 — Proposal not found\n            503 — The proposal status is already Rejected\n            503 — The user is MLP user\n            503 — Request is empty or null"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.UpdateProposalStatusRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.UpdateProposalStatusRequest'
        description: The request to update the proposal status to *Rejected*.
        required: true
  /proposals/ProposalsReject:
    put:
      tags:
      - Proposals
      summary: Reject proposals
      description: 'Updates the status of the specified proposal to *Rejected*.


        ***Note:*** This method is only available to subscriber users.'
      operationId: PUTv3_proposals_ProposalsReject
      responses:
        '204':
          description: The proposal status is set to *Rejected*, users are notified based on the passed parameters, and the values of the specified parameters are updated.<br/>The response is intentionally blank.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes: \n            100 — Proposal was already rejected\n            100 — User has no rights to perform this action\n            401 — Invalid subscriber id\n            502 — Wrong Proposal Id\n            502 — Proposal not found\n            502 — Cannot find proposal data\n            502 — Cannot find assigned Work Order\n            502 — Proposal not has WO\n            502 — Proposals are linked to a different Work Order\n            502 — You don't have permissions to process Proposal\n            502 — Proposal is not MLP and cannot be rejected by an MLP user\n            502 — Proposal is already rejected\n            502 — Couldn’t find Proposals to Reject\n            502 — Couldn't find the Provider for Proposal\n            502 — Escalation can't be performed as all upper levels are empty\n            502 — Rule set not found\n            503 — Wrong Work Order Id\n            503 — More information Required\n            503 — Proposal requires a Reason for Rejection\n            503 — The request contains proposals with the same Proposal ID\n            503 — Request is empty or null"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.UpdateProposalsStatusRequest'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.UpdateProposalsStatusRequest'
        required: true
  /proposals/GetProposalsToReject:
    get:
      tags:
      - Proposals
      summary: Retrieve proposals that can be reject
      description: 'Returns list of the proposals that can be reject.


        ***Note:*** This method is only available to subscriber users.'
      operationId: GETv3_proposals_GetProposalsToReject?trackingNumber={trackingNumber}
      parameters:
      - name: trackingNumber
        in: query
        description: The unique numeric identifier of the WO.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Users that can be added to the list of email recipients to notify when a proposal is approved or rejected are in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Notes.EmailRecipientResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Notes.EmailRecipientResponse'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            502 — Proposals to Reject not found\n            502 — Cannot find proposal data\n            503 — Invalid WO identifier"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /proposals/{proposalId}/onhold:
    put:
      tags:
      - Proposals
      summary: Put a proposal on hold
      description: 'Updates the status of the specified proposal to *On Hold*.


        ***Note:*** This method is only available to subscriber users.


        **Example Request**


        PUT /proposals/{proposalId}/onhold

        {

        "Comments": "The proposal needs further review",

        "ProviderEmail": "",

        "UserEmail": "",

        "RejectReasonCodeId": 0,

        "ActionSource": "Standard",

        "ReasonString": "",

        "PinNote": false,

        }'
      operationId: PUTv3_proposals_{proposalId}_onhold
      parameters:
      - name: proposalId
        in: path
        description: The unique numeric identifier of the proposal to put on hold.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: The proposal status is set to *On Hold*, users are notified based on the passed parameters, and the values of the specified parameters are updated.<br/>The response is intentionally blank.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            401 — Invalid subscriber id\n            502 — Proposal not found\n            503 — The proposal status is already On Hold\n            503 — The user is MLP user\n            503 — Request is empty or null"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.UpdateProposalStatusRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.UpdateProposalStatusRequest'
        description: The request to update the proposal status to *On Hold*.
        required: true
  /proposals/{proposalId}/approve:
    put:
      tags:
      - Proposals
      summary: Approve a proposal
      description: 'Updates the status of the specified proposal to *Approved*.


        ***Note:*** This method is only available to subscriber users.


        **Example Request**


        PUT /proposals/{proposalId}/approve

        {

        "Comments": "The project starts earlier than expected",

        "ProviderEmail": "",

        "UserEmail": "",

        "RejectReasonCodeId": 0,

        "ActionSource": "Standard",

        "ReasonString": "Best fit for the job and scope",

        "AttachmentstoWO": true,

        "PinNote": false,

        }'
      operationId: PUTv3_proposals_{proposalId}_approve
      parameters:
      - name: proposalId
        in: path
        description: The unique numeric identifier of the proposal to approve.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: The proposal status is set to *Approved*, users are notified based on the passed parameters, and the values of the specified parameters are updated.<br/>The response is intentionally blank.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            100 — Proposal amount exceeds user’s NTE limit\n            401 — Invalid subscriber id\n            502 — Proposal not found\n            503 — The proposal status is already Approved\n            503 — Cannot Approve Proposal that is not assigned to Work Order\n            503 — Cannot Approve Proposal. The Work Order this proposal is linked to has already been invoiced\n            503 — The user is MLP user\n            503 — Request is empty or null"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.UpdateProposalStatusRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.UpdateProposalStatusRequest'
        description: The request to update the proposal status to *Approved*.
        required: true
  /proposals/{proposalId}/open:
    put:
      tags:
      - Proposals
      summary: Open a proposal
      description: 'Updates the status of the specified proposal to *Open*.


        ***Note:*** This method is only available to subscriber users.


        **Example Request**


        PUT /proposals/{proposalId}/open

        {

        "Comments": "The project is resumed",

        "ProviderEmail": "",

        "UserEmail": "",

        "RejectReasonCodeId": 0,

        "ActionSource": "Standard",

        "ReasonString": "",

        "PinNote": false,

        }'
      operationId: PUTv3_proposals_{proposalId}_open
      parameters:
      - name: proposalId
        in: path
        description: The unique numeric identifier of the proposal to open.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: The proposal status is set to *Open*, users are notified based on the passed parameters, and the values of the specified parameters are updated.<br/>The response is intentionally blank.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            401 — Invalid subscriber id\n            502 — Proposal not found\n            503 — The proposal status is already Open\n            503 — The user is MLP user\n            503 — Request is empty or null"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.UpdateProposalStatusRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.UpdateProposalStatusRequest'
        description: The request to update the proposal status to *Open*.
        required: true
  /proposals/{proposalId}/assignWO:
    put:
      tags:
      - Proposals
      summary: Attach a work order to a proposal
      description: 'Links the specified work order to the proposal. If the proposal already has a linked service request, the attached work order is updated. See Link a WO to a Proposal for more information.


        ***Note:*** This method is only available to subscriber users.'
      operationId: PUTv3_proposals_{proposalId}_assignWO?isFromProjectsModule={isFromProjectsModule}
      parameters:
      - name: proposalId
        in: path
        description: The unique numeric identifier of the proposal to attach the work order to.
        required: true
        schema:
          type: integer
          format: int32
      - name: isFromProjectsModule
        in: query
        description: Is request from projects module.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '204':
          description: The specified work order is attached to the proposal, and the response is intentionally blank.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            401 — Invalid subscriber id\n            502 — Proposal not found\n            503 — Request is empty or null\n            503 — Proposal already approved\n            503 — Workorder doesn't match\n            503 — The user is MLP user\n            917 — Invalid WO Identifier"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              format: int32
              type: integer
          text/json:
            schema:
              format: int32
              type: integer
        description: The unique numeric identifier of the work order to link to the proposal.
        required: true
  /proposals/{proposalId}/escalate:
    put:
      tags:
      - Proposals
      summary: Escalate a proposal
      description: 'Escalates the specified proposal to another user in the subscriber’s multi-level proposal (MLP) approval hierarchy. The proposal can be approved, rejected, put on hold, or returned upon escalation. You can attach an existing work order or create a new one while submitting the request.


        ***Note:*** This method is only available to subscribers with the MLP setting enabled.


        MLP users can escalate a proposal if the following conditions are met:

        • The user''s approval level corresponds to the proposal level.

        • The Override option is enabled for the user in case their level is higher than the proposal level.


        **Example Request**


        PUT /proposals/{proposalId}/escalate

        {

        "Action": "Approve",

        "WoType": 2,

        "TrackingNumber": 140324907,

        "PoNumber": "",

        "ExistingPoNumber": "",

        "Category": "",

        "CategoryId": ,

        "ApprovalCode": "",

        "Priority": "",

        "Comment": "Escalating proposal to the General Manager",

        "RejectReasonCodeId": 0,

        "ReasonString": "",

        "EmailsToNotify": "john.smith@domain.com",

        "EmailMyself": false,

        "MyEmail": "",

        "ProposalId": 10010836

        }'
      operationId: PUTv3_proposals_{proposalId}_escalate
      parameters:
      - name: proposalId
        in: path
        description: The unique numeric identifier of the proposal to escalate.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: The specified proposal is escalated and updated with the passed parameters. The response is intentionally blank.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            401 — Invalid subscriber id\n            502 — Proposal not found\n            503 — Request is empty or null\n            503 — The user is not MLP user\n            503 — Invalid WO Tracking Number\n            503 — Invalid WO Tracking Number in Proposal\n            503 — Invalid Wo Type\n            503 — There is no WO recommendation\n            503 — Action not found in rules\n            503 — User level less than Proposal level\n            503 — ForwardTo item is empty\n            503 — There is no the action in next rule\n            503 — Invalid Level\n            503 — Override flag is false\n            503 — EndStatus item is empty\n            503 — Invalid Action"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.MlpWoRecommendationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.MlpWoRecommendationRequest'
        description: The request to escalate the proposal to another user in the MLP hierarchy.
        required: true
  /proposals/{proposalId}/assignUser:
    put:
      tags:
      - Proposals
      summary: Assign a proposal to a user
      description: 'Assigns the proposal to the specified user in the subscriber’s organization. If the proposal already has an assignee, the appointed user is updated.


        ***Note:*** You cannot assign a proposal in the *Approved* or *Rejected* status.


        **Example Request**


        PUT /proposals/{proposalId}/assignUser

        {

        "UserId": 1417703,

        "Comments": "Proposal reassigned at the request of the Store Manager",

        "UserEmail": "",

        "ReasonString": "",

        "Note": ""

        }'
      operationId: PUTv3_proposals_{proposalId}_assignUser
      parameters:
      - name: proposalId
        in: path
        description: The unique numeric identifier of the proposal to assign to the specified user.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: The proposal is assigned to the specified user, and the response is intentionally blank.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes: \n            502 — Proposal not found\n            503 — Request is empty or null\n            503 — Wrong User Id\n            503 — Selected proposal has been finalized\n            503 — Selected user has no required rights\n            503 — Selected user doesn't have Location or Trade access"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.AssignUserToProposalRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.AssignUserToProposalRequest'
        description: The request to assign the proposal to the specified user.
        required: true
  /proposals:
    get:
      tags:
      - Proposals
      summary: Retrieve proposals
      description: Returns proposals based on the specified input parameters for the current subscriber.
      operationId: GETv3_proposals?statuses={statuses}&assignedTo={assignedTo}&skip={skip}&top={top}
      parameters:
      - name: statuses
        in: query
        description: "Proposal statuses separated by commas. Valid values: *Open*, *On Hold*, *Approved*, *Rejected*, *Void*, *Reviewed*.\n            Proposals in all statuses are returned if the value is not passed."
        required: false
        schema:
          type: string
      - name: assignedTo
        in: query
        description: The unique numeric identifier of the user who is assigned the proposals.
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: The number of entries to skip in the response (starting from the first one).
        required: false
        schema:
          type: integer
          format: int32
      - name: top
        in: query
        description: The number of entries to return. The default value is 50.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The requested proposals are in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.ProposalStatisticsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.ProposalStatisticsResponse'
        '400':
          description: The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /proposals/GetProposals:
    post:
      tags:
      - Proposals
      summary: Get Proposals
      operationId: POSTv3_proposals_GetProposals
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            <br> 400 - Bad Request\n            <br/> 503 - Request should not be null"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions\n            <br/>User does not have Location or Trade access to perform this operation"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.SearchProposalModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.SearchProposalModel'
        required: true
  /proposals/{proposalId}/users:
    get:
      tags:
      - Proposals
      summary: Retrieve users who can be assigned a proposal
      description: Returns a list of users in the subscriber’s organization who can be assigned the specified proposal. You can send this request to retrieve the user ID before assigning a proposal.
      operationId: GETv3_proposals_{proposalId}_users
      parameters:
      - name: proposalId
        in: path
        description: The unique numeric identifier of the proposal.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Users who can be assigned the specified proposal are in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Users.UserInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Users.UserInfo'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            502 — Proposal not found"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /proposals/RejectionReasons:
    get:
      tags:
      - Proposals
      summary: Retrieve proposal rejection reasons
      description: Returns numeric identifiers and descriptions of the reasons for rejecting a proposal.
      operationId: GETv3_proposals_RejectionReasons
      responses:
        '200':
          description: Proposal rejection reasons are in the response.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            400 — Bad Request"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: The server was unable to complete the request due to an internal error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /proposals/ApprovalReasons:
    get:
      tags:
      - Proposals
      summary: Retrieve proposal approval reasons
      description: 'Returns the reasons for approving a proposal for the current subscriber.


        Admin users can manage proposal approval reasons in Service Automation in **Admin** > **Proposals** > **Proposal Approve Reasons** if the subscriber has this feature enabled.


        Method either uses Trade and Category, or TradeId and CategoryId parameters in pairs. Trade and Category parameters are outdated. It is advised to use TradeId and CategoryId instead.'
      operationId: GETv3_proposals_ApprovalReasons?Trade={Trade}&TradeId={TradeId}&Category={Category}&CategoryId={CategoryId}
      parameters:
      - name: Trade
        in: query
        description: The type of work a provider performs. Has a narrower definition than `Category`. Obsoleted, outdated. Please use TradeId instead.
        required: false
        schema:
          type: string
      - name: TradeId
        in: query
        description: The type of work a provider performs. Has a narrower definition than `CategoryId`.
        required: false
        schema:
          type: integer
          format: int32
      - name: Category
        in: query
        description: The overall classification of the performed work. Obsoleted, outdated. Please use CategoryId instead.
        required: false
        schema:
          type: string
      - name: CategoryId
        in: query
        description: The overall classification of the performed work.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Proposal approval reasons are in the response.
        '400':
          description: The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: The requested resource is not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/AssignReasons:
    get:
      tags:
      - Proposals
      summary: Retrieve the reasons for assigning a proposal
      description: 'Returns the reasons for assigning a proposal to another user in the subscriber’s organization.


        Admin users can manage the reasons for assigning proposals in Service Automation in **Admin** > **Proposals** > **Proposal Assign Reasons** if the subscriber has this feature enabled.


        Method either uses Trade and Category, or TradeId and CategoryId parameters in pairs. Trade and Category parameters are outdated. It is advised to use TradeId and CategoryId instead.'
      operationId: GETv3_proposals_AssignReasons?Trade={Trade}&Category={Category}&TradeId={TradeId}&CategoryId={CategoryId}
      parameters:
      - name: Trade
        in: query
        description: The type of work a provider performs. Has a narrower definition than `Category`. Obsoleted, outdated. Please use TradeId instead.
        required: false
        schema:
          type: string
      - name: Category
        in: query
        description: The overall classification of the performed work. Obsoleted, outdated. Please use CategoryId instead.
        required: false
        schema:
          type: string
      - name: TradeId
        in: query
        description: The type of work a provider performs. Has a narrower definition than `CategoryId`.
        required: false
        schema:
          type: integer
          format: int32
      - name: CategoryId
        in: query
        description: The overall classification of the performed work.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The reasons for assigning a proposal are in the response.
        '400':
          description: The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: The requested resource is not allowed for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/proposalIds:
    get:
      tags:
      - Proposals
      summary: Get proposal actions by ID
      description: 'Returns available actions for the specified proposals:

        • **Edit.** Proposals that can be changed by your client.

        • **Open.** Proposals that haven''t been reviewed by your client.

        • **On hold.** Proposals that require your client’s further review before being approved or rejected.

        • **Approve.** Proposals that have been already approved by your client.

        • **Reject.** Proposals that have been rejected by your client.

        • **Assign.** Proposals that have not been assigned by your client.


        In ServiceChannel University, you can find out more about taking action on proposals.'
      operationId: GETv3_proposals_proposalIds?proposalIds[0]={proposalIds[0]}&proposalIds[1]={proposalIds[1]}
      parameters:
      - name: proposalIds
        in: query
        description: Unique numeric identifier of the proposal.
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: The available proposal actions are in the response.
        '400':
          description: The request is not accepted due to bad syntax, missing parameters, insufficient data, etc
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /proposals/GetUsersByLevelName:
    get:
      tags:
      - Proposals
      summary: Get users by level name
      description: 'Returns the usernames of employees appointed to the specified MLP level.


        You can get MLP levels information for the current subscriber by sending the GET /proposals/GetMlpLevelsForSubscriber request.


        Refer to ServiceChannel University to learn more about how to configure MLP levels.'
      operationId: GETv3_proposals_GetUsersByLevelName?levelName={levelName}
      parameters:
      - name: levelName
        in: query
        description: MLP level name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The users assigned to the specified level are in the response.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            400 — Bad Request\n            503 — Request is empty or null\n            3401 — The level doesn't exist"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/GetMlpLevelsForSubscriber:
    get:
      tags:
      - Proposals
      summary: Get MLP levels for a subscriber
      description: 'Returns all MLP levels with their information for the current subscriber.


        To retrieve all users assigned to a particular level, use the GET /proposals/GetUsersByLevelName method.'
      operationId: GETv3_proposals_GetMlpLevelsForSubscriber
      responses:
        '200':
          description: The MLP levels for the current subscriber are in the response.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            400 - Bad Request"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/AddUserToMlpLevel:
    put:
      tags:
      - Proposals
      summary: Add a user to an MLP level
      description: 'Assigns a user to an existing MLP level. Get a username by sending the GET /users request.


        Once you assign a user to an MLP level, you can assign a location to the user and MLP level by using the PUT /proposals/AddLocationToUserLevel method.


        ***Note***: Each user can be added to only one MLP level. If a user should be assigned to another level, you first need to remove this user from the MLP level they currently belong to.'
      operationId: PUTv3_proposals_AddUserToMlpLevel?userName={userName}&levelName={levelName}
      parameters:
      - name: userName
        in: query
        description: Username to log into the system. The field is case sensitive.
        required: true
        schema:
          type: string
      - name: levelName
        in: query
        description: MLP level name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The specified user is assigned to the MLP level.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            400 — Bad Request\n            503 — Request is empty or null\n            3401 — The user has already been assigned"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/RemoveUserFromMlpLevel:
    put:
      tags:
      - Proposals
      summary: Remove a user from an MLP level
      description: 'Removes the specified user from the assigned MLP level.


        To assign a user to an MLP level, use the PUT /proposals/AddUserToMlpLevel method.'
      operationId: PUTv3_proposals_RemoveUserFromMlpLevel?userName={userName}
      parameters:
      - name: userName
        in: query
        description: Username to log into the system.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The user is successfully removed from the MLP level.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            400 — Bad Request\n            503 — Request is empty or null\n            3401 — The user has already been assigned"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/AssignLocationToMlpUser:
    put:
      tags:
      - Proposals
      summary: Add a location to a user’s MLP level
      description: 'Assigns a particular location to the specified user along with the MLP level.


        You can remove a location from the user and MLP level by using the PUT /proposals/RemoveLocationFromUserLevel method.'
      operationId: PUTv3_proposals_AssignLocationToMlpUser?userName={userName}&location={location}
      parameters:
      - name: userName
        in: query
        description: Username to log into the system.
        required: true
        schema:
          type: string
      - name: location
        in: query
        description: Alphanumeric location identifier in the client’s system.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The location is assigned to the specified user and MLP level.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            400 — Bad Request\n            503 — Request is empty or null\n            3401 — The location doesn't exist"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/RemoveLocationFromMlpUser:
    put:
      tags:
      - Proposals
      summary: Remove a location from a user’s MLP level
      description: 'Removes the specified location from the user and user’s MLP level.


        To add a location, send the PUT /proposals/AddLocationToUserLevel request.'
      operationId: PUTv3_proposals_RemoveLocationFromMlpUser?userName={userName}&location={location}
      parameters:
      - name: userName
        in: query
        description: Username to log into the system.
        required: true
        schema:
          type: string
      - name: location
        in: query
        description: Alphanumeric location identifier in the client’s system.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The location is successfully removed from the user and MLP level.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            400 — Bad Request\n            503 — Request is empty or null\n            3401 — The location doesn't exist"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/{rfpId}:
    put:
      tags:
      - Proposals
      summary: Delete Proposal and Rfp reference with projectId by rfpId
      operationId: PUTv3_proposals_{rfpId}
      parameters:
      - name: rfpId
        in: path
        description: The unique numeric identifier of the RFP.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The projectId reference is successfully removed from proposal and rfp.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            400 — Bad Request\n            503 — Request is empty or null"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/GetProposalsAssociatedWithWorkOderExceptRfp:
    get:
      tags:
      - Proposals
      operationId: GETv3_proposals_GetProposalsAssociatedWithWorkOderExceptRfp?trackingNumber={trackingNumber}
      parameters:
      - name: trackingNumber
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get all proposals for a work order based on tracking numbers that are not associated with an RFP.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            400 - Bad Request\n            503 — Request is empty or null"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      summary: GETv3 proposals get proposals associated with work oder except rfp?tracking…
      x-summary-source: derived
  /proposals/AssignProjectIdToProposalAndRfp:
    put:
      tags:
      - Proposals
      summary: Assign a ProjectId to a ProposalId and Rfp
      operationId: PUTv3_proposals_AssignProjectIdToProposalAndRfp?proposalId={proposalId}&projectId={projectId}
      parameters:
      - name: proposalId
        in: query
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      - name: projectId
        in: query
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Assign a ProjectId to a ProposalId and Rfp
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            400 - Bad Request\n            503 — Request is empty or null"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/RemoveMlpUserValidationAsync:
    put:
      tags:
      - Proposals
      summary: Whether the user can be deleted from MLP level
      description: Whether the user can be deleted from MLP level.
      operationId: PUTv3_proposals_RemoveMlpUserValidationAsync?userId={userId}
      parameters:
      - name: userId
        in: query
        description: The User Id.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Whether the user can be deleted from MLP level.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            400 — Bad Request\n            503 — Request is empty or null\n            3401 — The user has already been assigned"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/GetProposalsAssociatedWithWorkOrderAsync:
    get:
      tags:
      - Proposals
      summary: Get proposals linked to the work order
      description: Searches for proposals associated with the work order by the WO tracking number.
      operationId: GETv3_proposals_GetProposalsAssociatedWithWorkOrderAsync?trackingNumber={trackingNumber}
      parameters:
      - name: trackingNumber
        in: query
        description: Tracking number of the work order.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Proposals associated with the specified work order are in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.ProposalAssociatedWithWorkOder'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.ProposalAssociatedWithWorkOder'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            400 &mdash; Bad request\n            503 &mdash; Request is empty or null"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The requested resource requires authentication.\n            <br/>Error codes:\n            504 &mdash; API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Something went wrong, and the server was unable to complete your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/CheckProposalCreation:
    get:
      tags:
      - Proposals
      summary: Check the possibility of creating a proposal
      description: 'Retrieves the result on the availability of creating a proposal via API based on user’s permissions and a combination of the input values: `subscriberId` + `providerId` + `locationId ` + `tradeId` + `currency`. When the combination of the input values does not allow creating a proposal using API, the method returns the following response: “Proposal form is not supported via API. Please use the UI instead.”


        Having received the successful response, copy the response model from this method to use it as a request model in the POST proposals/Create proposal method.


        ***Note***: Custom proposal forms are not supported.'
      operationId: GETv3_proposals_CheckProposalCreation?SubscriberId={SubscriberId}&ProviderId={ProviderId}&LocationId={LocationId}&TradeId={TradeId}&Currency={Currency}
      parameters:
      - name: subscriberId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: providerId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: locationId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: tradeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: currency
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The creation of a proposal is available. The proposal template is in the response.
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            503 &mdash; ProviderId is not specified or incorrect\n            503 &mdash; SubscriberId is not specified or incorrect \n            503 &mdash; LocationId is not specified or incorrect \n            503 &mdash; TradeId is not specified or incorrect\n            503 &mdash; User ID does not match the logged-in user's credentials  \n            503 &mdash; Currency is not specified or incorrect \n            503 &mdash; Currencies are represented by 3 letters\n            503 &mdash; Proposal form is not supported via API. Please use the UI instead"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The requested resource requires authentication.\n            <br/>Error codes:\n            504 &mdash; API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /proposals/CreateProposal:
    post:
      tags:
      - Proposals
      summary: Create a proposal
      description: 'Creates a proposal and returns its ID in the response. Once a proposal is created via API, an email is sent to the addressees listed in the `notificationEmails` parameter and a proposal appears in the ServiceChannel system. Use the response model of the GET /proposals/CheckProposalCreation method as a request model.


        ***Note***: To run the method, subscriber users should possess one or a combination of the following permissions and roles: *Proposals: Create* permission, * Proposals:Full Control* permission, *Power User* role, *Power User Light* role. When provider users are eligible to create proposals via UI, they can also create proposals via API.

        Find out more about creating a proposal in ServiceChannel University.


        ***Note***: Custom proposal forms are not supported.


        **Example Request**


        POST /proposals/CreateProposal


        {

        "version": "1.0.0",

        "subscriberId": 2014917243,

        "providerId": 2000090505,

        "locationId": 2016322567,

        "tradeId": 90480,

        "currency": "USD",

        "proposalNumber": "pr57820456142079",

        "description": "Motor Replacement",

        "notificationEmails": "",


        "costsIncurredToDate": [],


        "materials": [

        {"description": "Motor Assembly Unit", "unit": "each", "qty": 1, "price": 1450.00},

        {"description": "Electrical Components Kit", "unit": "each", "qty": 1, "price": 180.50},

        { "description": "Fan Blade Component", "unit": "each", "qty": 1, "price": 320.75},

        { "description": "Capacitor Unit", "unit": "each", "qty": 1, "price": 95.25}

        ],


        "materialsAnswer": "New",


        "installationLabor": [

        {"description": "Regular Service Hours", "tech": 1, "hours": 10, "rate": 95.00},

        { "description": "Overtime Service Hours", "tech": 0, "hours": 0, "rate": 0},

        { "description": "Holiday Service Hours", "tech": 0, "hours": 0, "rate": 0},

        { "description": "Helper Standard Hours", "tech": 0, "hours": 0, "rate": 0},

        { "description": "Helper Overtime Hours", "tech": 0, "hours": 0, "rate": 0},

        { "description": "Helper Holiday Hours", "tech": 0, "hours": 0, "rate": 0},

        { "description": "External Labor Support", "tech": 0, "hours": 0, "rate": 0}

        ],


        "installationLaborFlatFeeLabor": 0,


        "nonInstallationExpenses": {

        "travel": { "ofTrips": 2, "charge": 85.00},

        "fees": 0,

        "nonInstallationLabor": 0

        },


        "nonInstallationExpensesOther": [],


        "freight": 140.00,

        "freightOther": [],


        "tax": {

        "materialSalesTax": 0,

        "installationLaborSalesTax": 0,

        "nonInstallationExpensesSalesTax": 0,

        "freightTax": 0

        }

        }'
      operationId: POSTv3_proposals_CreateProposal
      responses:
        '200':
          description: A proposal is successfully created.
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            503 &mdash; JSON is invalid or corrupted\n            503 &mdash; Version is required\n            503 &mdash; Template version is incorrect \n            503 &mdash; Proposal form is not supported via API. Please use the UI instead \n            503 &mdash; SubscriberId is required\n            503 &mdash; ProviderId is required \n            503 &mdash; LocationId is required \n            503 &mdash; Proposal number length exceeds 30 symbols \n            503 &mdash; This proposal number already exists \n            503 &mdash; Project Description is required \n            503 &mdash; Project Description length exceeds 4000 symbols \n            503 &mdash; NotificationEmails is required \n            503 &mdash; Incorrect email(s) \n            503 &mdash; The limit for email addresses in a field is 50 \n            503 &mdash; No proposal amount has been deposited \n            503 &mdash; Materials is required  \n            503 &mdash; MaterialsAnswer is required  \n            503 &mdash; MaterialsAnswer is not specified or incorrect \n            503 &mdash; Unit is not specified or incorrect \n            503 &mdash; CostsIncurredToDate is required \n            503 &mdash; CostsIncurredToDate has empty descriptions \n            503 &mdash; CostsIncurredToDate cannot be negative \n            503 &mdash; Total type is incorrect in CostsIncurredToDate \n            503 &mdash; InstallationLabor is required \n            503 &mdash; Invalid description in installationLabor \n            503 &mdash; NonInstallationExpensesOther has empty descriptions \n            503 &mdash; Total is required in NonInstallationExpensesOther \n            503 &mdash; OfTrips type is incorrect in Travel \n            503 &mdash; Currency type is incorrect \n            503 &mdash; Freight is required \n            503 &mdash; Freight decimal part exceeds two digits  \n            503 &mdash; FreightOther is required \n            503 &mdash; Total is required in FreightOther \n            503 &mdash; FreightOther cannot be negative \n            503 &mdash; MaterialSalesTax cannot be negative \n            503 &mdash; InstallationLaborSalesTax cannot be negative \n            804 &mdash; User has no permissions to perform this action"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The requested resource requires authentication.\n            <br/>Error codes:\n            504 &mdash; API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "You are not authorized to request this resource, or the resource is unavailable for some reason.\n            <br/>Error codes:\n            804 &mdash; The functionality is not enabled"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/System.Object'
          text/json:
            schema:
              $ref: '#/components/schemas/System.Object'
        description: "Proposal model in the form of JSON. Model shall include all blocks validated by 1.0.0 version. If you do not want to use any of the blocks provided in the model, leave it with the default values as it is but do not remove it from the JSON model.\n            <br /> ***Note*** The maximum length of the `proposal number` is 30 symbols. When left empty, the number will be generated automatically during the proposal creation."
        required: true
  /odata/proposals:
    get:
      tags:
      - Proposals
      summary: Retrieve Proposals
      description: 'Retrieve Proposals


        The filter expressions by defaul is "$filter CreatedDate ge (Now-90 days)".


        The maximum CreatedDate value is 365 days even if provided.


        Dates without ''Dto'' endings return UTC date format.


        Dates without ''Dto'' endings are not recommended for using.'
      operationId: Proposals_GetProposals
      parameters:
      - name: $expand
        in: query
        description: Expand a navigation property.
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Select a set of properties to return.
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: Filter a collection of resources addressed by a request URL.
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: Order resources by the specified property in the response.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: Return the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $skip
        in: query
        description: Skip the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $count
        in: query
        description: Include the count of the matching resources in the response.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.ProposalInfo'
        '400':
          description: Indicates that the requested Proposal is in void status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /odata/rfps({rfpId})/proposals:
    get:
      tags:
      - Proposals
      summary: Retrieve Rfp Proposals
      operationId: Proposals_GetProposalsForRfp
      parameters:
      - name: rfpId
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      - name: $expand
        in: query
        description: Expand a navigation property.
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Select a set of properties to return.
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: Filter a collection of resources addressed by a request URL.
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: Order resources by the specified property in the response.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: Return the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $skip
        in: query
        description: Skip the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $count
        in: query
        description: Include the count of the matching resources in the response.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.ProposalInfo'
      deprecated: false
      x-access: Any
  /odata/proposals({proposalId})/Service.Categories():
    get:
      tags:
      - Proposals
      summary: Retrieve proposal categories
      description: 'Returns proposal categories for the specified proposal ID.


        ***Note:*** A proposal category represents a specific section in the proposal form. It can contain proposal costs information, for example, materials, installation labor, freight, etc.; or it can hold a question with answers configured for the proposal form.


        Supports filtering and sorting in the response.

        • **$expand:** Not supported for this method.

        • **$select:** Not supported for this method.

        • **$filter:** Filter a collection of resources addressed by a request URL. For example, you can filter the proposal data to return only material costs **Name eq ''Materials''**.

        • **$orderby:** Order proposal categories by the specified property in the response. For example, you can order by name in ascending order **Name asc** or in descending order **Name desc**.

        • **$top:** Return the specified number of proposal categories in the response.

        • **$skip:** Skip the specified number of proposal categories in the response.

        • **$count:** Include the count of the proposal categories in the response.'
      operationId: Proposals_GetProposalCategories
      parameters:
      - name: proposalId
        in: path
        description: Unique numeric identifier of the proposal.
        required: true
        schema:
          type: integer
          format: int32
      - name: $expand
        in: query
        description: Expand a navigation property.
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Select a set of properties to return.
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: Filter a collection of resources addressed by a request URL.
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: Order resources by the specified property in the response.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: Return the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $skip
        in: query
        description: Skip the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $count
        in: query
        description: Include the count of the matching resources in the response.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Proposal categories are in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Proposals.ProposalCategory'
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            502 &mdash; Cannot find proposal data"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: The requested resource requires authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Something went wrong, and the server was unable to complete your request.\n            <br/>Error codes:\n            501 &mdash; The type 'ServiceChannel.Services.Messaging.Proposals.ProposalCategory' is not an entity type. Only entity types support $select and $expand.\\r\\nParameter name: context"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
components:
  schemas:
    ServiceChannel.Services.Messaging.Proposals.ProposalCategoryColumn:
      description: Object containing column headers defined in the proposal form.
      type: object
      properties:
        DataField:
          description: Database field associated with the column header in the proposal form.
          type: string
        DataType:
          description: Data type, for example, `string`, `integer`, `double`.
          type: string
        IsDescriptionColumn:
          description: Points to the description column in the proposal form.
          default: false
          type: boolean
        IsMarkUpColumn:
          description: Shows whether the column accepts the material markup percentage. Available with the *ProposalMaterialMarkup* feature flag.
          default: false
          type: boolean
        IsUserReservedColumn:
          description: Defines whether the column is used for user-specific input.
          default: false
          type: boolean
        Name:
          description: Title of the column header in the proposal form.
          type: string
        Description:
          description: No longer in use.
          type: string
        IsActive:
          description: Shows whether the column is active.
          default: false
          type: boolean
        SortOrder:
          format: int32
          description: Order of appearance for column headers in the proposal form.
          type: integer
    ServiceChannel.Services.Messaging.RefrigerantTracking.AssetRefrigerant:
      type: object
      properties:
        Id:
          format: int32
          type: integer
        AssetId:
          format: int32
          type: integer
        RefrigerantUsageType:
          format: int32
          type: integer
        RackId:
          type: string
        RackEntityId:
          format: int32
          type: integer
        CarbID:
          type: string
        IsCarbReporting:
          default: false
          type: boolean
        SystemLocation:
          format: byte
          type: string
        OperationalStatus:
          format: byte
          type: string
        RefrigerantPartNumber:
          type: string
        PartNumberId:
          format: int32
          type: integer
        RackTypeId:
          format: int32
          type: integer
        CurrentCharge:
          format: double
          type: number
        CurrentChargeMetrics:
          format: double
          type: number
        CurrentChargeOunces:
          format: double
          type: number
        ChargeDescriptionId:
          format: int32
          type: integer
        ChargeProviderName:
          type: string
        EffectiveChargeDate:
          format: date-time
          type: string
        RefrigerantChargeOptionId:
          format: int32
          type: integer
        RackTypeName:
          type: string
        UserId:
          format: int32
          type: integer
        TagId:
          type: string
        AssetTypeId:
          format: int32
          type: integer
        RefrigerantPurposeId:
          format: int32
          type: integer
        RefrigerantPurposeName:
          type: string
        ParentId:
          format: int32
          type: integer
        CreateOperationalStatusHistory:
          default: false
          type: boolean
        OperationStatusDate:
          format: date-time
          type: string
        HasLeakDetector:
          default: false
          type: boolean
        AssetLeakDetectorId:
          format: int32
          type: integer
        InitialCharge:
          default: false
          type: boolean
        RackType:
          format: byte
          type: string
        NeedsRetrofitRetirement:
          default: false
          type: boolean
        RequiresAutomaticLeakDetector:
          default: false
          type: boolean
        ConnectedRackId:
          format: int32
          type: integer
        PreviousConnectedRackId:
          format: int32
          type: integer
        UpdatedDate:
          format: date-time
          type: string
    ServiceChannel.Services.Messaging.Invoices.InvoiceApprovalCode:
      type: object
      properties:
        Id:
          format: int32
          type: integer
        InvoiceId:
          format: int32
          type: integer
        InvoiceChargeId:
          format: int32
          type: integer
        ApprovalCodeType:
          enum:
          - Labor
          - Travel
          - Material
          - Freight
          - Other
          - Tax
          - Tax2
          - LineItem
          - FreightGenerated
          type: string
        ApprovalCode:
          type: string
        AdditionalApprovalCode:
          type: string
        ParentId:
          format: int32
          type: integer
        InternalId:
          format: int32
          type: integer
        InternalParentId:
          format: int32
          type: integer
        IsDefault:
          default: false
          type: boolean
    ServiceChannel.Services.Messaging.Invoices.Invoice:
      type: object
      properties:
        Provider:
          $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Providers.Provider'
          description: Gets or sets Provider.
        Subscriber:
          $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Subscribers.Subscriber'
          description: Gets or sets Subscriber.
        Location:
          $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.Location'
          description: Gets or sets Location.
        Id:
          format: int32
          type: integer
        Number:
          description: Gets or sets invoice number.
          type: string
        BatchNumber:
          description: Gets or sets Batch number.
          type: string
        InvoiceTax:
          format: double
          type: number
        PostedTaxRate:
          format: float
          type: number
        PostedTax2Rate:
          format: float
          type: number
        VendorPayeeId:
          format: int32
          type: integer
        InvoiceTotal:
          format: double
          description: Gets or sets total with tax amounts.
          type: number
        InvoiceBalance:
          format: double
          type: number
        Currency:
          $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Currencies.Currency'
        ApprovedDate:
          format: date-time
          type: string
        ApprovalCode:
          type: string
        EditableAdditionalApprovalCode:
          $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ApprovalCodes.EditableAdditionalApprovalCode'
        PostedDate:
          format: date-time
          type: string
        PostedBy:
          type: string
        Subtotal:
          format: double
          type: number
        Status:
          type: string
        Trade:
          type: string
        TradeId:
          format: int32
          type: integer
        Category:
          $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Invoices.InvoiceCategoryMessaging'
        InvoiceAmountsDetails:
          $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Invoices.InvoiceAmountsDetails'
        InvoiceTaxesDetails:
[...]
