swagger: '2.0'
info:
  version: bearer.v1
  title: Fixxbook.Bearer.Api.V1 AfterHours OutgoingXml API
  isOdataApi: false
  relativePath: ''
  discoveryPath: docs/bearer.v1
  _isAuthorizedAccess: true
host: sb2fixxbook.servicechannel.com:443
basePath: /api
schemes:
- https
security:
- oauth2: []
tags:
- name: OutgoingXml
paths:
  /api/notifications/v2/workorders/resend:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_api_notifications_v2_workorders_resend
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData[System.Int32]'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /notifications/v2/workorders/resend:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_notifications_v2_workorders_resend
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData[System.Int32]'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /api/notifications/v2/workorders/notes/resend:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_api_notifications_v2_workorders_notes_resend
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData[System.Int64]'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /notifications/v2/workorders/notes/resend:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_notifications_v2_workorders_notes_resend
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData[System.Int64]'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /api/notifications/v2/workorders/ivr/resend:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_api_notifications_v2_workorders_ivr_resend
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData[System.Int32]'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /notifications/v2/workorders/ivr/resend:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_notifications_v2_workorders_ivr_resend
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData[System.Int32]'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /api/notifications/v2/workorders/{id}:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_api_notifications_v2_workorders_{id}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /notifications/v2/workorders/{id}:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_notifications_v2_workorders_{id}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /api/notifications/v2/workorders/cxml/{id}:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_api_notifications_v2_workorders_cxml_{id}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /notifications/v2/workorders/cxml/{id}:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_notifications_v2_workorders_cxml_{id}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /api/notifications/v2/workorders/notes/{id}:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_api_notifications_v2_workorders_notes_{id}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
        format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /notifications/v2/workorders/notes/{id}:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_notifications_v2_workorders_notes_{id}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
        format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /api/notifications/v2/workorders/ivr/{id}:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_api_notifications_v2_workorders_ivr_{id}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /notifications/v2/workorders/ivr/{id}:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_notifications_v2_workorders_ivr_{id}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /api/notifications/v2/workorders/list:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_api_notifications_v2_workorders_list?proId={proId}&start={start}&finish={finish}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: proId
        in: query
        required: true
        type: integer
        format: int32
      - name: start
        in: query
        required: true
        type: string
        format: date-time
      - name: finish
        in: query
        required: true
        type: string
        format: date-time
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /notifications/v2/workorders/list:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_notifications_v2_workorders_list?proId={proId}&start={start}&finish={finish}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: proId
        in: query
        required: true
        type: integer
        format: int32
      - name: start
        in: query
        required: true
        type: string
        format: date-time
      - name: finish
        in: query
        required: true
        type: string
        format: date-time
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /api/notifications/v2/workorders/notes/list:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_api_notifications_v2_workorders_notes_list?proId={proId}&start={start}&finish={finish}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: proId
        in: query
        required: true
        type: integer
        format: int32
      - name: start
        in: query
        required: true
        type: string
        format: date-time
      - name: finish
        in: query
        required: true
        type: string
        format: date-time
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /notifications/v2/workorders/notes/list:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_notifications_v2_workorders_notes_list?proId={proId}&start={start}&finish={finish}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: proId
        in: query
        required: true
        type: integer
        format: int32
      - name: start
        in: query
        required: true
        type: string
        format: date-time
      - name: finish
        in: query
        required: true
        type: string
        format: date-time
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /api/notifications/v2/workorders/ivr/list:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_api_notifications_v2_workorders_ivr_list?proId={proId}&start={start}&finish={finish}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: proId
        in: query
        required: true
        type: integer
        format: int32
      - name: start
        in: query
        required: true
        type: string
        format: date-time
      - name: finish
        in: query
        required: true
        type: string
        format: date-time
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /notifications/v2/workorders/ivr/list:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_notifications_v2_workorders_ivr_list?proId={proId}&start={start}&finish={finish}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: proId
        in: query
        required: true
        type: integer
        format: int32
      - name: start
        in: query
        required: true
        type: string
        format: date-time
      - name: finish
        in: query
        required: true
        type: string
        format: date-time
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /api/notifications/resetnotify:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_api_notifications_resetnotify?setupName={setupName}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: setupName
        in: query
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /notifications/resetnotify:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_notifications_resetnotify?setupName={setupName}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: setupName
        in: query
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /webhooks/subscribe:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_webhooks_subscribe
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: ud
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Api.Model.OutgoingXml.OutgoingXmlUser'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /webhooks/unsubscribe:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_webhooks_unsubscribe
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: ud
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Api.Model.OutgoingXml.OutgoingXmlUser'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /webhooks:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_webhooks
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /webhooks/{id}:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_webhooks_{id}?providerId={providerId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: providerId
        in: query
        required: true
        type: integer
        format: int32
      - name: id
        in: path
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /api/notifications/v4/workorders/sendnotify:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_api_notifications_v4_workorders_sendnotify?setupName={setupName}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: setupName
        in: query
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /notifications/v4/workorders/sendnotify:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_notifications_v4_workorders_sendnotify?setupName={setupName}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: setupName
        in: query
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /api/notifications/v4/workorders/status/sendnotify:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_api_notifications_v4_workorders_status_sendnotify?setupName={setupName}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: setupName
        in: query
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /notifications/v4/workorders/status/sendnotify:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_notifications_v4_workorders_status_sendnotify?setupName={setupName}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: setupName
        in: query
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
definitions:
  ServiceChannel.Api.Model.OutgoingXml.OutgoingXmlUser:
    type: object
    properties:
      Key:
        type: string
      IdentityId:
        format: int32
        type: integer
      Type:
        type: string
      Id:
        format: int32
        type: integer
      Pin:
        format: int32
        type: integer
      TypeMsg:
        type: string
      Url:
        type: string
      Login:
        type: string
      Password:
        type: string
      HttpMethod:
        type: string
      Format:
        type: string
      Topic:
        type: string
  System.Object:
    type: object
    properties: {}
  ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData[System.Int64]:
    type: object
    properties:
      ids:
        type: array
        items:
          format: int64
          type: integer
      delay:
        format: float
        type: number
  ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData[System.Int32]:
    type: object
    properties:
      ids:
        type: array
        items:
          format: int32
          type: integer
      delay:
        format: float
        type: number
securityDefinitions:
  oauth2:
    type: oauth2
    description: OAuth2 Authorization
    flow: accessCode
    authorizationUrl: https://sb2login.servicechannel.com/oauth/authorize
    tokenUrl: https://sb2login.servicechannel.com/oauth/token
    scopes: {}
