openapi: 3.2.0
info:
  version: '3'
  title: ServiceChannel API - v.3 Push Notifications API
  description: The ServiceChannel API is a RESTful and stateless API.
servers:
- url: https://sb2api.servicechannel.com/v3
security:
- oauth2: []
tags:
- name: Push Notifications
paths:
  /locations/{locationId}/subscribe:
    post:
      tags:
      - Push Notifications
      summary: Subscribe to Push Notifications
      description: 'Subscribe Push Notification.


        Available for subscriber usage.'
      operationId: POSTv3_locations_{locationId}_subscribe
      parameters:
      - name: locationId
        in: path
        description: Numeric Id of the Location to perform action with.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Notifications.PushNotificationSubscriptionRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Notifications.PushNotificationSubscriptionRequest'
        description: The Subscription Push Notification request.
        required: true
  /locations/{locationId}/push:
    get:
      tags:
      - Push Notifications
      summary: List existing email subscriptions
      description: Returns a list of email subscriptions
      operationId: GETv3_locations_{locationId}_push?deviceToken={deviceToken}
      parameters:
      - name: locationId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: deviceToken
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Subscribers
  /unsubscribe:
    delete:
      tags:
      - Push Notifications
      summary: Unsubscribe from Push Notifications
      description: 'Unsubscribe from Push Notifications.


        Available for subscriber usage.'
      operationId: DELETEv3_unsubscribe?deviceToken={deviceToken}
      parameters:
      - name: deviceToken
        in: query
        description: 'Device token: "35353-335345-FAC342..."'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Subscribers
  /locations/{locationId}/unsubscribe:
    delete:
      tags:
      - Push Notifications
      summary: Unsubscribe from Push Notifications
      description: 'Unsubscribe from Push Notifications.


        Available for subscriber usage.'
      operationId: DELETEv3_locations_{locationId}_unsubscribe?id={id}
      parameters:
      - name: locationId
        in: path
        description: Numeric Id of the Location to perform action with.
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: query
        description: Numeric Id of the Subscription to perform action with.
        required: false
        schema:
          type: integer
          format: int32
      - name: deviceToken
        in: query
        description: Required Device Token.
        required: true
        schema:
          type: string
      - name: deviceType
        in: query
        description: 'Device type: Android, iOS, Amazon'
        required: true
        schema:
          type: string
          enum:
          - Android
          - iOS
          - Amazon
      - name: notificationType
        in: query
        description: 'Notification type: Check In , ....'
        required: true
        schema:
          type: string
          enum:
          - CheckIn
          - CheckOut
          - BadgeScanRequired
      - name: application
        in: query
        description: 'Application : ScMobile, FTM, ...'
        required: true
        schema:
          type: string
          enum:
          - ScMobile
      - name: notificationRules.rules
        in: query
        required: false
        schema:
          type: array
          items: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Subscribers
components:
  schemas:
    ServiceChannel.Services.Messaging.Notifications.PushNotificationSubscriptionRequest:
      description: Subscribe Push Notification Request model
      required:
      - DeviceToken
      - DeviceType
      - NotificationType
      - Application
      type: object
      properties:
        DeviceToken:
          description: Required Device Token.
          type: string
        DeviceType:
          description: 'Device type: Android, iOS, Amazon'
          enum:
          - Android
          - iOS
          - Amazon
          type: string
        NotificationType:
          description: 'Notification type: Check In , ....'
          enum:
          - CheckIn
          - CheckOut
          - BadgeScanRequired
          type: string
        Application:
          description: 'Application : ScMobile, FTM, ...'
          enum:
          - ScMobile
          type: string
        NotificationRules:
          $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Notifications.NotificationRulesRequest'
          description: Filter for Notification Request
    System.Object:
      type: object
      properties: {}
    ServiceChannel.Services.Messaging.Notifications.Rule:
      type: object
      properties:
        Field:
          type: string
        Value:
          type: string
    ServiceChannel.Services.Messaging.Notifications.NotificationRulesRequest:
      description: Rules for Notification Request model
      type: object
      properties:
        Rules:
          type: array
          items:
            $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Notifications.Rule'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://sb2login.servicechannel.com/oauth/authorize
          tokenUrl: https://sb2login.servicechannel.com/oauth/token
      description: OAuth2 Authorization
