openapi: 3.2.0
info:
  version: '3'
  title: ServiceChannel API - v.3 Notes API
  description: The ServiceChannel API is a RESTful and stateless API.
servers:
- url: https://sb2api.servicechannel.com/v3
security:
- oauth2: []
tags:
- name: Notes
paths:
  /workorders/{workorderId}/notes:
    get:
      tags:
      - Notes
      summary: Get work order notes
      description: 'Returns notes and attachments associated with the specified work order. Notes are sorted in descending order by creation date.


        Learn more about work order notes in SCU.'
      operationId: GETv3_workorders_{workorderId}_notes?paging={paging}
      parameters:
      - name: workorderId
        in: path
        description: "Unique numeric identifier of the work order.\n            <br />***Note:*** You need to have access to the WO location per your user settings."
        required: true
        schema:
          type: integer
          format: int32
      - name: paging
        in: query
        description: "Page numbering to display work order notes.\n             • The format is **Page number:Page size**, for example, **1:10**, meaning the 1st page with 10 notes displayed. To view the second page, change the entry to **2:10**.\n             • When the field is left empty, you get 10 notes per page with the latest note at the top.\n             • To get all WO notes, ensure you specify a large number as the **Page size** that will cover all the notes, for example, **1:9999**."
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Notes associated with the work order are in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Models.Response.Notes.GetNotesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Models.Response.Notes.GetNotesResponse'
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            917 &mdash; Invalid work order identifier. Returned if workorderId is &lt;= 0\n            922 &mdash; Invalid paging parameter. Returned if paging parameter doesn't correspond to valid format\n            922 &mdash; Invalid page number\n            922 &mdash; Invalid page size\n            502 &mdash; Work order is not found"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The requested resource requires authentication.\n            <br/>Error codes:\n            504 &mdash; API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.
        '500':
          description: "Something went wrong, and the server was unable to complete your request.\n            <br/>Error codes:\n            501 &mdash; Internal server error"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    post:
      tags:
      - Notes
      summary: Create a work order note
      description: 'Adds a new note to the specified work order. Returns the note ID for a successful request.


        Learn more about work order notes in SCU.'
      operationId: POSTv3_workorders_{workorderId}_notes
      parameters:
      - name: workorderId
        in: path
        description: "Unique numeric identifier of the work order where a note should be created.\n            _**Note:**_ You need to have access to the WO location per your user settings."
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '201':
          description: The note has been created and added to the specified work order.
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            100 &mdash; You don't have location access to perform this operation\n            503 &mdash; Validation fails. Invalid `WorkOrder Id` or `Note` value\n            503 &mdash; Request is empty or null"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The requested resource requires authentication.\n            <br/>Error codes:\n            504 &mdash; API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "You are not authorized to request this resource, or the resource is unavailable for some reason.\n            <br/>Error codes:\n            100 &mdash; User is a provider or does not have the *PinnedNotes* FF enabled and is trying to add a pinned note\n            100 &mdash; User has no rights to perform this action"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Something went wrong, and the server was unable to complete your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Workorders.CreateWoNoteRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Workorders.CreateWoNoteRequest'
        description: Request model for adding a note. Only the `Note` parameter is required.
        required: true
  /workorders/{workorderId}/notes/recipients:
    get:
      tags:
      - Notes
      summary: Note email recipients
      description: List of email recipients, who can be added to the list of note followers
      operationId: GETv3_workorders_{workorderId}_notes_recipients?showExcluded={showExcluded}&noteVisibility={noteVisibility}
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        schema:
          type: integer
          format: int32
      - name: showExcluded
        in: query
        description: If set to true, returns all recipients even those that have 'exclude from note recipient' flag in their setup. False by Default.
        required: false
        schema:
          type: boolean
          default: false
      - name: noteVisibility
        in: query
        description: NoteVisibility.Public is used by default
        required: false
        schema:
          type: string
          enum:
          - VisibleToEveryone
          - VisibleToProvider
          - VisibleToClient
          - NotVisible
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Notes.EmailRecipientResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Notes.EmailRecipientResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            <br/> 917 - Invalid work order identifier. Returned if workorderId is &lt;= 0;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: The requested resource does not exist on the server.
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/notes/followers:
    post:
      tags:
      - Notes
      summary: Add Followers to Work order notes
      description: Add Followers to Work order.
      operationId: POSTv3_workorders_{workorderId}_notes_followers
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '201':
          description: Created indicates that the request resulted in a new resource created before the response was sent.
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.<br>Error codes:<br>503 - Request data is empty;<br>There is no followers in request;<br>Empty tracking number (workorder Id);
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: Indicates that the requested resource does not exist on the server.
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Workorders.AddFollowersRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Workorders.AddFollowersRequest'
        description: The request model to perform action with.
        required: true
    delete:
      tags:
      - Notes
      summary: Remove Follower from Work order notes
      description: Remove Follower from Work order.
      operationId: DELETEv3_workorders_{workorderId}_notes_followers?email={email}
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        schema:
          type: integer
          format: int32
      - name: email
        in: query
        description: The follower email address.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.<br>Error codes:<br>503 - Request data is empty;<br>There is no followers in request;<br>Empty tracking number (workorder Id);
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: Indicates that the requested resource does not exist on the server.
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/notes/{noteId}:
    patch:
      tags:
      - Notes
      summary: Partially update a work order note
      description: 'Updates a work order note partially. For example, pins or unpins the work order note. For a successful request, returns the note ID in the response.


        Available behind the *PinnedNotes* feature flag.'
      operationId: PATCHv3_workorders_{workorderId}_notes_{noteId}
      parameters:
      - name: workorderId
        in: path
        description: Unique numeric identifier of the work order.
        required: true
        schema:
          type: integer
          format: int32
      - name: noteId
        in: path
        description: 'Unique numeric identifier of the note. To get the `noteId`, run the following method: [GET/workorders/{workorderId}/notes](https://developer.servicechannel.com/swagger/index.html#/Notes/GETv3_workorders_%7BworkorderId%7D_notes%3Fpaging%3D%7Bpaging%7D). One note can be pinned to a single WO at a time.'
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: The work order note was successfully patched.
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            503 &mdash; Request data is empty\n            503 &mdash; Empty tracking number (workorder Id)\n            1301 &mdash; Request is empty or null"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The requested resource requires authentication.\n            <br/>Error codes:\n            504 &mdash; API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "You are not authorized to request this resource, or the resource is unavailable for some reason.\n            <br/>Error codes:\n            100 &mdash; User has no rights to perform this action"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: The requested resource does not exist on the server.
          content:
            application/json:
              schema:
                default: false
                type: boolean
            text/json:
              schema:
                default: false
                type: boolean
        '500':
          description: Something went wrong, and the server was unable to complete your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Models.Request.Notes.PartialUpdateWorkOrderNoteRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Models.Request.Notes.PartialUpdateWorkOrderNoteRequest'
        description: Request model for pinning/unpinning the work order note.
        required: true
  /odata/workorders({workorderId})/notes:
    get:
      tags:
      - Notes
      summary: Retrieve work order notes
      description: 'Returns work order notes and attachments for the specified WO ID.


        Supports filtering and sorting within the response.

        • **$expand:** Expand a navigation property. For example, enter **`attachments`**. To include specific fields for the expanded property, combine with the **`$select`** query option, for example, **`attachments($select=Id,Name)`**.

        • **$select:** Select a set of properties to return. For example, **`Id,NoteData,CompanyName,CreatedBy`**.

        • **$filter:** Filter notes by the specified property in the response. For example, **`NoteType eq ''UsersNote''`**.

        • **$orderby:** Order notes by the specified property in the response — in ascending **`asc`** or descending **`desc`** order. For example, **`DateCreated asc`** or **`DateCreated desc`**.

        • **$top:** Return the specified number of notes in the response.

        • **$skip:** Skip the specified number of notes in the response.

        • **$count:** Include the count of the matching notes in the response.'
      operationId: Notes_GetWorkOrderNotes
      parameters:
      - name: workorderId
        in: path
        description: Tracking number of the work order.
        required: true
        schema:
          type: integer
          format: int32
      - name: $expand
        in: query
        description: Expand a navigation property.
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Select a set of properties to return.
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: Filter a collection of resources addressed by a request URL.
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: Order resources by the specified property in the response.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: Return the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $skip
        in: query
        description: Skip the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $count
        in: query
        description: Include the count of the matching resources in the response.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Notes associated with the work order are in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Notes.Note'
        '400':
          description: The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.\n        <br/>Error codes:\n        502 &mdash; Work order is not found"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /odata/workorders({workorderId})/notes({noteId}):
    get:
      tags:
      - Notes
      summary: Get a work order note by note ID
      description: 'Returns a specific note that matches the entered work order ID and note ID.


        Supports filtering and sorting within the response.

        • **$expand:** Expand a navigation property. For example, `attachments`. To include specific fields for the expanded property, combine with the `$select` query option, for example, `attachments($select=Id,Name)`.

        • **$select:** Select a set of properties to return. For example, `Id,NoteData,CompanyName,CreatedBy`.

        • **$filter:** Not applicable for this method.

        • **$orderby:** Not applicable for this method.

        • **$top:** Not applicable for this method.

        • **$skip:** Not applicable for this method.

        • **$count:** Include the count of the matching resources in the response.'
      operationId: Notes_GetWorkOrderNote
      parameters:
      - name: noteId
        in: path
        description: Unique numeric identifier of the work order note. To get a note ID, run the [GET/workorders/{workorderId}/notes](https://developer.servicechannel.com/swagger/index.html#/Notes/GETv3_workorders_%7BworkorderId%7D_notes%3Fpaging%3D%7Bpaging%7D) method.
        required: true
        schema:
          type: integer
          format: int64
      - name: workorderId
        in: path
        description: Unique numeric identifier of the work order.
        required: true
        schema:
          type: integer
          format: int32
      - name: $expand
        in: query
        description: Expand a navigation property.
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Select a set of properties to return.
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: Filter a collection of resources addressed by a request URL.
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: Order resources by the specified property in the response.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: Return the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $skip
        in: query
        description: Skip the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $count
        in: query
        description: Include the count of the matching resources in the response.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: The requested work order note is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Notes.Note'
        '400':
          description: The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.\n        <br/>Error codes:\n        502 &mdash; Work order is not found"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
components:
  schemas:
    ServiceChannel.Services.Messaging.Notes.Note:
      description: Object containing notes for the specified work order ID.
      type: object
      properties:
        Id:
          format: int64
          description: Unique numeric identifier of the work order note.
          type: integer
        DocumentId:
          description: UUID of the work order note.
          type: string
        GroupId:
          description: Numeric identifier of the note group. Some notes can have the same `GroupId`. For example, when a user note is posted along with a WO status change, the `GroupId` will be identical for these two notes. Referring to the `GroupId` helps you easily find the user note associated with the status change. Can be null (for example, for historical notes).
          type: string
        Number:
          format: int32
          description: Sequential number of the note.
          type: integer
        NoteData:
          description: Content of the note.
          type: string
        DateCreated:
          format: date-time
          description: Date and time when the note was added to the work order. The format is `YYYY-MM-DDThh:mm:ss.sssssss±hh:mm`, where `±hh:mm` represents the time zone offset from UTC.
          type: string
        ScheduledDate:
          format: date-time
          description: Scheduled date of the work order. The format is `YYYY-MM-DDThh:mm:ss±hh:mm`, where `±hh:mm` represents the time zone offset from UTC.
          type: string
        FollowUpDate:
          format: date-time
          description: Follow-up date specified on the note is used to revisit a work order at a later time, for example, to ensure the provider clocked in or updated the work order by the specified date. The format is `YYYY-MM-DDThh:mm:ss±hh:mm`, where `±hh:mm` represents the time zone offset from UTC.
          type: string
        ActionRequired:
          description: Indicates whether the recipient of the note is required to take further action on a work order. Check also the `ActionResolveDetails` parameter to see if the issue has been resolved.
          default: false
          type: boolean
        MailedTo:
          description: Email address(es) to which the note has been sent.
          type: string
        CreatedBy:
          description: Describes who created the note.
          type: string
        CompanyName:
          description: Describes who created the note. Works as the `CreatedBy` parameter. ***Note:*** Obsolete parameter.
          type: string
        Attachments:
          description: Files added along with the note.
          type: array
          items:
            $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Attachments.Attachment'
        IsPinned:
          description: "Indicates whether the note is pinned to the top of the notes list. Possible response values:\n             • `true`: The note is pinned, signifying the most important or pressing note right now for this work order. Only one note can be pinned on a single work order.\n             • `false`: The note isn’t pinned.\n            <br />Available with the *PinnedNotes* feature flag."
          default: false
          type: boolean
        Visibility:
          format: byte
          description: "Defines which parties can view the note. Visibility also works in Universal Connector, where there are three primary parties: *Subscriber*, *External Subscriber*, and *Provider*. Possible response values:\n             • `0`: Visible to everyone (subscriber, external subscriber, provider). \n             • `1`: Visible to the subscriber and the provider. Not visible to the external subscriber.\n             • `2`: Visible to the subscriber and the external subscriber. Not visible to the provider.\n             • `3`: Visible to the subscriber only.\n            <br />Available with the *PrivateProviderNotesAndAttachments* feature flag. For Universal Connector clients, the *PrivateClientNotesAndAttachments* feature should be turned on."
          type: string
        NoteType:
          description: "Type of the note. Possible response values:\n             • `SystemNote`: Notes added automatically by the system.\n             • `UsersNote`: Notes posted by users."
          enum:
          - SystemNote
          - UsersNote
          type: string
        IsAttachmentNote:
          description: 'Specifies whether the WO note has attachments. Possible values: `true` and `false`.'
          default: false
          type: boolean
        ActionResolveDetails:
          $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Notes.ActionResolveDetails'
          description: Applicable to notes that were marked with the **Action Required** flag. Shows whether the issue has been resolved.
    ServiceChannel.Services.WebApi.Models.Response.Notes.NoteAttachmentResponse:
      description: Represents the response details of a note attachment.
      type: object
      properties:
        Id:
          format: int32
          description: Unique numeric identifier of the attachment.
          type: integer
        Description:
          description: Description of the attachment.
          type: string
        Name:
          description: Filename of the attachment.
          type: string
        TimeStamp:
          format: date-time
          description: Date and time when the attachment was added to the work order or was modified. The format is `YYYY-MM-DDThh:mm:ss.ss`.
          type: string
        Uri:
          description: URI of the attachment.
          type: string
        NoteId:
          format: int64
          description: Unique numeric identifier of the note associated with the attachment.
          type: integer
        Visibility:
          format: int32
          description: "Visibility status of the attachment. Defines which parties can view the attachment. The *PrivateProviderNotesAndAttachments* feature should be enabled. For subscribers who are using Universal Connector, the *PrivateClientNotesAndAttachments* feature should be enabled.\n            Possible values:\n             • `0`: No restrictions on visibility. Visible to everyone.\n             • `1`: Not visible to the client. The subscriber deselected the **Visible to Client** checkmark when uploading an attachment or adding a note with an attachment.\n             • `2`: Not visible to the provider. The subscriber deselected the **Visible to Provider** checkmark when uploading an attachment or adding a note with an attachment.\n             • `3`: Visible to the subscriber only. The subscriber deselected the **Visible to Client** and **Visible to Provider** checkmarks when uploading an attachment or adding a note with an attachment."
          type: integer
        IsInvoiceDigitalCopy:
          description: "Indicates whether the attachment is a digital copy of an invoice. Possible response values: `true` and `false`.\n            <br />Available with the *InvoiceRequireDigitalCopy* feature flag."
          default: false
          type: boolean
    ServiceChannel.Services.Messaging.ErrorResponse:
      description: The error response object
      type: object
      properties:
        ErrorCodes:
          description: The list of error codes. Go to /basics/general/response-codes/#internal-error-codes-and-messages to map error codes to error reasons.
          type: array
          items:
            enum:
            - NotAllowed
            - EmptyProvider
            - InvalidProviderId
            - UnknownProvider
            - ProviderAlreadyExists
            - ProviderIdNotExists
            - TimeoutExpiredError
            - EmptyContract
            - ContractUndefined
            - EmptySubscriber
            - InvalidSubscriberId
            - UnknownSubscriber
            - InactiveSubscriber
            - EmptySubscriberId
            - SubscriberIdNotExists
            - InternalError
            - DataNotFound
            - BadRequest
            - UnAuthorized
            - UnSupportedApplication
            - SubsidiaryUserDisabled
            - EmptyLocation
            - InvalidLocationId
            - UnknownLocation
            - LocationNotBelongsToSubscriber
            - EmptyLocationCountry
            - LocationAlreadyExists
            - InvalidStoreId
            - LocationEmptyState
            - NoAccessToLocation
            - LocationAddressValidationError
            - LocationAddressRequestValidationError
            - InvalidLocationNoteHeader
            - NoAccessToUpdateProtectedNote
            - InvalidBusinessHoursFormat
            - WorkingHoursIntersect
            - InvalidDayOfWeek
            - DuplicateDayOfWeek
            - InvalidBusinessHoursInitialSetup
            - BusinessHoursIsEmpty
            - InvalidHolidayRepeatByType
            - EmptyHolidayListOfDays
            - EmptyHolidayListOfMonths
            - InvalidHolidayMonthName
            - InvalidHolidayNameLength
            - InvalidHolidayRepeatEvery
            - DuplicateMonth
            - InvalidHolidayFrequency
            - InvalidHolidayStartDate
            - InvalidCloseAllDay
            - HolidayDoesNotExist
            - InvalidFormatParameter
            - InvalidLocationCity
            - InvalidLocationZip
            - InvalidLocationLatitude
            - InvalidLocationLongitude
            - InvalidLocationEmail
            - InvalidLocationName
            - InvalidLocationState
            - InvalidLocationAddlAddress
            - InvalidLocationMainAddress
            - InvalidLocationCountry
            - InvalidLocationRegion
            - InvalidLocationDistrict
            - InvalidLocationPhone
            - InvalidLocationContact
            - InvalidLocationFaxNumber
            - LocationCountryNotFound
            - LocationStateNotFound
            - LocationCityNotFound
            - LocationIdNotExists
            - InvalidLocationEmailLength
            - LocationStateIdNotFound
            - IncorrectCombinationStateAndStateId
            - InvalidSubscriberIds
            - InvalidLocalizationSettings
            - LandlordResponsibilityNotFound
            - LandlordResponsibilityAlreadyExists
            - EmptyLocationIds
            - AttachmentNotExist
            - InvalidTradeId
            - InvalidCategoryId
            - InvalidOverrideCategoryId
            - InvalidOverridePriorityId
            - LeaseNoteExceedMaxLength
            - InvalidOverrideProviderRank
            - InvalidOverrideNTE
            - DuplicateRows
            - InvalidPriorityId
            - LocationNotFound
            - EmptyTrade
            - InvalidTrade
            - TradeNotBelongsToSubscriber
            - InvalidPrimaryTrade
            - InvalidTradeForSubscriber
            - InvalidCategoryForSubscriber
            - GlCodeAlreadyExists
            - GlCodeNotExists
            - InvalidGlCodeUpdate
            - EmptyGlCode
            - TradeAlreadyExists
            - InvalidNTETrade
            - TradeNotExists
            - TradeAlreadyInUse
            - TradeWithTheSameNameHasBeenDeleted
            - TradeInUsePMServices
            - TradeInUseProposalError
            - TradeInUseRFPError
            - TradeInUseChecklistError
            - TradeInUseBudgetControl
            - TradeInUseGlCode
            - TradeInUseDynamicProviderAssignments
            - TradeInUseInvoice
            - TradeInUseLandlordResponsibilities
            - TradeInUseWO
            - TradeInUseEquipmentType
            - TradeInUseRFP
            - TradeInUseConnector
            - TradeInUseContractedService
            - TradeInUseIVR
            - TradeInUseSiteAccess
            - TradeInUseGLCodes
            - TradeInUseCIWO
            - TradeInUseOrganizationPermissions
            - TradeСreationError
            - EmptyUser
            - EmptyCreatedBy
            - InvalidUserName
            - NotProviderUser
            - UserHasNoPermissions
            - RestrictedAccount
            - UserAlreadyExists
            - UserHasNoPermissionsEditWO
            - UserEmailAddressIsMissing
            - UserIsNotRTAdmin
            - InvalidSubsriberProviderId
            - LanguageNameNotFound
            - InvalidLanguageId
            - LanguageIdNotFound
            - UseBothSubscriberIdProviderId
            - EmptyWoProblem
            - InvalidWoProblemSource
            - InvalidWoProblemDescription
            - InvalidWoProblemCode
            - InvalidWoStatus
            - InvalidWoNte
            - InvalidWoCaller
            - InvalidWoCallDate
            - InvalidWoScheduledDate
            - InvalidWoScheduledDateGreaterThanMaxAllowed
            - EmptyWoCategory
            - InvalidWoCategory
            - EmptyWoPriority
            - InvalidWoPriority
            - InvalidWoCurrency
            - InvalidWoSetupId
            - AttachmentsRequired
            - InvalidWoIdentifier
            - EquipmentRequired
            - WoNteOverflow
            - InvalidWoPurchaseNumber
            - InvalidWoStateForUpdate
            - InvalidPagingParameter
            - InvalidWoNumber
            - CheckInDenied
            - CheckOutDenied
            - WoScheduledDateLessThenReassignDate
            - WoScheduledDateLessThenCallDate
            - InvalidWoActionReason
            - EmptySubscriberProperty
            - WorkOrderUpdateError
            - MissedWoNteDetails
            - InvalidLinkedWoIdentifier
            - WoIsOnHold
            - InvalidWoTrade
            - InvalidStarScore
            - WorkOrderAlreadyRated
            - AttachmentThumbnailNotAvailable
            - InvalidWoIdentifierOrPin
            - InvalidTimeZoneHeader
            - RefrigerantWasUsedShouldBeYesOrNo
            - CheckInDeniedOutsideGeolocation
            - CheckOutDeniedOutsideGeolocation
            - LeakDetectorAuditShouldBeCreated
            - CheckInOutPremature
            - WorkOrderAttachmentsSizeExceeded
            - WorkOrderNotFound
            - WorkOrderCreateError
            - InvalidWoProjectedCompletionDate
            - InvalidFollowUpWo
            - InvalidWeatherEventId
            - InvalidSiteAuditLinkedWo
            - InvalidSetupId
            - IssueListNotFound
            - InvalidIssueListField
            - SiteAuditCompleted
            - CheckSiteAuditError
            - SaveSiteAuditError
            - RemoveSiteAuditError
            - InactiveTemplateType
            - SiteAuditNotFound
            - SiteAuditUpdateError
            - InvalidSiteAuditParameters
            - InvalidAdditionalApprovalCode
            - InvalidAdditionalApprovalCodeValue
            - AdditionalApprovalCodeIsDisabled
            - InvalidOtherDesc
            - InvalidTax2Name
            - InvoiceInconsistentAmounts
            - InvoiceInvalidTotal
            - InvoiceTotalGreaterNte
            - InvoiceExists
            - CreatingInvoiceError
            - DuplInvNumber
            - InvoiceTotalNull
            - InvComplDateNull
            - InvDateLessComplDate
            - InvoiceNotAuto
            - ESignatureRequired
            - InvWoNotFound
            - InvWrongWoCurr
            - InvWoCurrNotFound
            - InvoicingDisabled
            - InvCreationUnexpectedRes
            - InvoiceInvalidLaborAmount
            - InvoiceInvalidMaterialAmount
            - InvDateOld
            - InvDateGreater
            - InvoiceMaterialDescriptionLengthOverflow
            - InvoiceTaxNotValidated
            - InvoiceMaterialPartNumberLengthOverflow
            - TaxValidationError
            - TaxExemptionError
            - InvalidInvoiceNumber
            - GetApprovalLevelsError
            - InvoiceAddUsersToMliLevelsError
            - InvoiceAddDeleteLocationsToMliLevelUserError
            - InvoiceUpdateMLiLevelError
            - InvoiceDeleteMliLevelError
            - InvoiceDeleteUsersFromMliLevelError
            - ApprovalLevelNameLengthOverflow
            - GstTaxError
            - Tax2Error
            - GetApprovalLevelsAndLocationsByUserError
            - GetAssignedUserShortInfoError
            - AssignAllLocationsToApprovalLevelAndUserError
            - GetLocationsForApprovalLevelAndAssignedUserError
            - GetLocationsBySubscriberError
            - AssignUserWithLocationsToApprovalLevelError
            - ReAssignUserWithLocationsToNewApprovalLevelError
            - ReAssignLocationsToApprovalLevelAndUserError
            - OutstandingBalance
            - InvoiceTaxDetailsEmpty
            - InvoiceTaxDetailsIncorrectSum
            - MultipleUsersForLocationIsNotAllowed
            - UserAssignedToOtherLevel
            - UserDoesNotExist
            - LaborLineItemRequired
            - MaterialLineItemRequired
            - InvoiceDoesntExist
            - InvoiceStarUnstarFailed
            - InvoiceBatchUpdateInvalidInvoiceStatusError
            - InvoiceBatchUpdateLimitExceededError
            - InvoiceNotAvailableForCurrentUser
            - InvoiceBatchUpdateInvalidRuleSetStructure
            - InvoiceBatchUpdateInvalidMliStructure
            - InvoiceBatchUpdateStatusError
            - InvoiceMaterialUnitTypeInvalid
            - ExistingBatchNumber
            - InvoiceResolutionTextRequired
            - GetInvoiceDefaultApprovalCodesError
            - InvoiceInvalidTravelAmount
            - InvoiceTravelDescriptionLengthOverflow
            - InvoiceTravelUnitTypeInvalid
            - TravelLineItemRequired
            - TravelDetailsDisabled
            - OnOffShoreDisabled
            - InvoiceInvalidLaborCount
            - InvoiceInvalidMaterialCount
            - InvoiceInvalidTravelCount
            - SubscriberNotRegisteredForTaxValidation
            - ManyDecimalsInAmountError
            - DecimalPartQstTaxError
            - LaborRatesDiscrepancy
            - PayInvoicesError
            - InvoiceNumberRequirementsError
            - InvoiceNumberIncorrect
            - InvoiceNumberRegExPatternError
            - GetInvoicesPendingApprovalByLocationError
            - ReAssignInvoicesToUsersFailed
            - ReAssignInvoicesUsersMatched
            - GetUsersForReassignInvoiceError
            - InvalidTimeRangeActivity
            - OutsourcedSourceInvoiceNotFound
            - OthersLineItemsDisabled
            - InvoiceInvalidOtherAmount
            - InvoiceInvalidOtherCount
            - InvoiceOtherDescriptionLengthOverflow
            - OtherLineItemRequired
            - OtherLineItemsNotNegativeValueRequired
            - InvalidLaborSkillLevel
            - InvalidLaborType
            - InvalidTechnicianQuantity
            - GetInvoicesCommonCategoriesError
            - InvoiceExplainDisputeEmpty
            - InvoiceAdditionalApprovalCodeHeaderError
            - TemplateParseSuccess
            - TemplateIncorrectHeaderError
            - TemplateEmptyTemplateError
            - TemplateWrongFieldsCountError
            - TemplateFieldNotFoundError
            - TemplateFieldRequiredError
            - TemplateParseIntError
            - TemplateFieldSizeError
            - TemplateInvalidValueError
            - TemplateFieldFormatError
            - TemplateFieldMaxRangeError
            - TemplateFieldMinRangeError
            - TemplateProviderNotEntered
            - TemplateInvalidSubscriberError
            - TemplateVendorNotFoundError
            - TemplateMissedProviderError
            - TemplateProviderNotFoundError
            - TemplateProviderSubsccriberLinkError
            - TemplateTradeDispatchRankError
            - TemplateInvalidTradeForSubscriberError
            - TemplateStoreNotFoundError
            - TemplateNotStoresForStateError
            - TemplateNotStoresForCountryError
            - TemplateNotStoresForDistrictError
            - TemplateNotStoresForRegionError
            - TemplateMultiplePimaryProvidersForTradeStoreError
            - TemplateDuplicatePrimaryRelationshipError
            - TemplateAmbiguousDataError
            - TemplateIncorrectSubscriber
            - TemplateDuplicateRanking
            - TemplateLongitudeRangeError
            - TemplateLatitudeRangeError
            - InvoiceMaterialPartNameLengthOverflow
            - TemplateTradeLocationExclusion
            - TemplateInvalidStateError
            - TemplateMissedSubscriberError
            - TemplateMissedStoreIdError
            - TemplateInvalidSubscriberIdError
            - TemplateOpenCloseDateError
            - TemplateInvalidCountryError
            - TemplateInvalidStateForCountryError
            - TemplateInvalidLocationTypeError
            - TemplateMissingFullAndShortNameError
            - TemplateMissingCountryError
            - TemplateDuplicatedDataError
            - TemplateParentLocationNotFoundError
            - TemplateParseDateTimeError
            - TemplateParseDecimalError
            - TemplateSquareValueRangeError
            - TemplateInvalidSquareMeasureError
            - TemplateTypeLabelCanNotBeUpdatedError
            - TemplateTypeLabelHaveToBeLocationForNotInventory
            - TemplateInvalidPrimarySupplyLocation
            - TemplateInvalidHomestoreLocationNumber
            - TemplateErrorDuringCreation
            - TemplateLocationNotFoundError
            - TemplateDuplicatedLocationFoundError
            - TemplateInvalidLocationHeaderError
            - TemplateDuplicatedLocationHeaderError
            - TemplateHeaderContainsEmptyFieldsError
            - TemplateLocHeadersShortHeaderError
            - TemplateHeaderContainsDuplicatesError
            - TemplateLocationNotesStoreIdFieldLengthError
            - TemplateLocationNotesNoteValueFieldLengthError
            - TemplateErrorInvalidZipCode
            - TemplateMissingLocationNoteHeader
            - TemplateMissingLocationNoteIdHeader
            - TemplateInvalidSecondarySupplyLocation
            - TemplateLocationWasNotCreated
            - TemplateTruckNameIsEmpty
            - TemplateWrongFormat
            - TemplateSubscriberNotFound
            - TemplateDuplicatedLocationHeaders
            - TemplateInvalidHeaders
            - TemplateInvalidPhoneError
            - TemplateDuplicateTelecomRecordError
            - TemplateTelecomRecordExistsError
            - TemplateInvalidCategory
            - TemplateDifferentRanksForProviderAssignments
            - TemplateDuplicateRankError
            - TemplateProviderNonCompliant
            - TemplateLocationIsClosed
            - TemplateProviderWarning
            - TemplateMultipleProvidersForTradeStoreError
            - EmptyRequest
            - InvalidNumberOfParameters
            - InvoiceOtherUnitTypeInvalid
            - EmptyLocationOrTradeList
            - RequestSubscriberIdDoesntMatchUserSubscriberId
            - StoreIdRequiredError
            - InvalidUserIdError
            - InvalidStoreIdError
            - AmbigiousError
            - MliHierarchyFiledsCountError
            - MliHierarchyMaxUserNameError
            - MliHierarchyDuplicateUserError
            - MLiHirarchyUserExistInOtherLevelError
            - MissingLevelsError
            - DuplicateApprovalLevelsError
            - InvalidMliLocations
            - InvalidMlpLocations
            - ApprovalLevelUsedInRulsetError
            - GLCodeAmbiguous
            - GlCodeInvalidResponce
            - GetRuleSetListError
            - RuleSetDuplicateNameError
            - RuleSetDuplicateActionError
            - RuleSetConflictedActionError
            - RuleSetRuleSetDoesNotExistsError
            - RuleSetTradeDoesNotExistError
            - RuleSetCategoryDoesNotExistError
            - RuleSetMliLevelDoesNotExistError
            - GetRuleSet
            - CreateUpdateRuleSetError
            - DeleteRuleSet
            - GetRuleSetCategoriesTradesCountError
            - GetRuleSetByInvoice
            - GetCategoryTradeIdsAreSelectedError
            - ProposalAboveMlpLimitError
            - ProposalNextLevelHasNoAvailableActionsError
            - DefaultRuleSetError
            - RuleSetActionEndStatusError
            - RuleSetRejectActionEmptyForwardToError
            - UserFilterGetError
            - UserFilterCreateUpdateError
            - UserFilterDeleteError
            - UserFilterSetAsDefaultError
            - InvoiceFilterFromAlpProviderError
            - RegionFilterNotAllowedError
            - LocationIdFilterNotAllowedError
            - PaymenowScProviderIdOrFbCompanyIdMustBeProvided
            - PaymenowBannersForProvidersOnly
            - PaymenowFeatureDisabled
            - PaymenowBannerInfoNotFound
            - PaymenowBannerInvalidNavigationUrl
            - PaymenowRequestedProvidersIsNotAssigned
            - PaymenowEmptyRequestedProviders
            - PaymentManagerFeatureDisabled
            - PaymentManagerFeatureDisabledForSubscriber
            - PaymentSystemCurrentlyUnavailable
            - CurrencyNotSupported
            - PaymentSystemAccountNotFound
            - FeatureIsOff
            - EarlyPayFeatureWithoutPaymentManagetFeatureError
            - FtpTestError
            - AcceptTermsAndConditionsRequestInvalid
            - PaymentSystemAccountError
            - SendReportToFTP
            - SchedulingError
            - BadPaymentData
            - InvoicesCanNotBeRepaid
            - InvoicesCanNotBeRescheduled
            - InvalidBillingAddress
            - PaymentManagerGeneralSettingsNotFound
            - PaymentManagerEInvoiceSettingsNotFound
            - BadgeVerificationFailed
            - BadgeTempPassEmpty
            - BadgeScanRequired
            - SolvedIssueSubmitFailed
            - SolvedIssueInvalidLocationId
            - SolvedIssueInvalidCategoryId
            - SolvedIssueInvalidTradeId
            - SolvedIssueInvalidPriorityId
            - SolvedIssueInvalidSource
            - SolvedIssueInvalidProblemCode
            - SolvedIssueInvalidType
            - SubmitFeedbackErrorWoStatus
            - SubmitFeedbackInvalidAnswer
            - SubmitFeedbackInvalidTrackingNumber
            - SubmitFeedbackInvalidSubscriber
            - SubmitFeedbackInvalidScore
            - SubmitFeedbackUnsatisfactoryCommentRequired
            - SubmitFeedbackInvalidReviewId
            - SubmitFeedbackInvalidSetupId
            - FeedbackSetupInvalidSetupId
            - S3SaveError
            - AbsSaveError
            - GoodDataLoginFailed
            - GoodDataElementUriError
            - GoodDataReportResultUriError
            - GoodDataReportResultEmpty
            - GoodDataDesReportResCountError
            - GoodDataDesReportResConvertError
            - GoodDataDesDisplayFormAttributeEmpty
            - InvalidProposalAmountLimit
            - GetApprovalProposalReasonsError
            - GetEmailRecipientsError
            - GetAssignProposalReasonsError
            - ProposalHasBeenVoided
            - AssetTypeDuplicateNameError
            - AssetTypeDoesntExistError
            - AssetTypeFailUpdateRefrigerantPurpose
            - AssetTypeDeleteFailed
            - ExistingAssetsFoundForAssetType
            - CantModifyAssetTypeParentId
            - InvalidAssetTypeName
            - AssetTypeInheritanceError
            - ExistingProposalsFoundForAssetType
            - InstallPurchaseDateOverflow
            - WOexistsWithSomeAssets
            - PartsChangeFailed
            - PartsReasonCodeError
            - PartsUseDateError
            - PartsRefrigerantAlreadyExists
            - PartsChargeHistoryAlreadyExists
            - PartsNotFound
            - BulkPartUseIncorrectWorkOrder
            - BulkPartsByIdsNotFound
            - BulkPartsMultipleWosError
            - BulkPartsIncorrectIsRefrigerantParam
            - BulkPartsIsRefrigerantCanNotbeChanged
            - BulkPartsReasonCodeChangeError
            - BulkPartsInvalidAssetAndReasonCodeParams
            - BulkPartsInvalidAssetId
            - BulkPartsInvalidInitialChargeCode
            - BulkPartsAssetDoesntContainCharge
            - BulkPartsIsInventoryFlagError
            - BulkPartsLeakAlreadyInProcessError
            - BulkPartsInvalidDateRangeError
            - BulkPartsMoeNumberRequiredError
            - BulkPartsSystemChargeExceeded
            - BulkRefrigerantuUageBlocked
            - BulkIDsNotBeNull
            - BulkPartRemovalNotAllowedOnRetrofitRetireWO
            - BulkAddPartUsagesNotAllowedAfterRetrofitRetireCreation
            - BulkRetrofitRetireRefrigerantUsageReasonCanNotChanged
            - BulkInitialChargeSystemExpansionNotAllowed
            - BulkInventoryPartIdCanNotBeChanged
            - BulkInventoryLocationIdCanNotBeChanged
            - BulkPartsDuplicatedRequest
            - BulkChangePartsIncorrectRefrigerantType
            - BulkPartsRetroRetireIsInProgressOnThisDate
            - BulkPartsCanNotAttachRefrigerantUsageToPlanLeakRecord
            - RetrofitRetireCanNotBeRemoved
            - RetroRetirePartsCantbeChanged
            - BulkPartsInventoryApiFailed
            - BulkPartsDuplicated
            - BulkPartsWorkOrderInProcessing
            - BadNotificationSubscriptionEventType
            - RefrigerantUseDateOutOfTheLeakProcessDateRange
            - InventoryUsageNotAllowedOnRTrackingConnectedSubAndSubcontractors
            - BulkExternalWoCurrentlyDoesntExists
            - BulkConnectorOnlyExternalClientAssetsCanBeProcessed
            - BulkConnectorOnlyClientAssetsCouldBeProcessed
            - LeakRecordHasWrongDateValue
            - HasUncompliedLeakRecordInAnoutherWO
            - HasUncompletedWOOnAnotherLeakRecord
            - OnlyOneAssetWorkOrderPair
            - OneLeakRecordMustBeOnCompletedWO
            - LeakRecordNotFound
            - AssetIDWoIdIsRequired
            - BulkPartsReasonCodeRetrofit
            - RetrofitRetireWasCancelledNoLeak
            - FailedToUpdateLeakEvent
            - AddPartUsagesAreNotAllowedInRetireRetrofitDateInterval
            - LeakPartUseOnZeroChargeNotAllowed
            - BulkLeakRecordsAndAuditRequest
            - LeakRecordsDuplicateRequestDetected
            - AllLeakRecordFieldsAreRequired
            - BulkPartsTheSamePartIdForUpdateAndRemovalPassed
            - MlpImportLevelError
            - UpdateMlpUserLevelError
            - InvalidHolidayName
            - DuplicateHolidayName
            - HolidaysDeleteFailed
            - HolidaysExcludeInsertFailed
            - HolidaysUpdateFailed
            - HolidaysInsertFailed
            - HolidaysExcludeDeleteFailed
            - BusinessHoursDeleteFailed
            - BusinessHoursUpdateFailed
            - BusinessHoursInsertFailed
            - InvalidTime
            - HolidayForDeleteNotFound
            - InvalidChecklistId
            - ChecklistNotPopulated
            - ChecklistNotAssignedForTransfersWO
            - NoLinkBetweenSubscriberAndProvider
            - WorkforceCreateContractorError
            - InvalidCertificateId
            - MaxThresholdExceeded
            - MaxTriggerRateExceeded
            - LeakPriorityIsRequired
            - MissingRTSettings
            - ResolutionCodesLimitExceeded
            - ResolutionCodesAreRequired
            - RootCauseIsRequired
            - RootCauseTextIsRequired
            - NoAccessToSetRootCauseText
            - RootCauseTextMaxLengthExceeded
            - ResolutionCodeTextIsRequired
            - NoAccessToSetResolutionCodeText
            - ResolutionCodeTextMaxLengthExceeded
            - ResolutionCodeTextMustBeUnique
            - ResolutionCodeWithoutFreeTextMustBeUnique
            - PendingResCodesStatusCannotBeChangedToInvoiceableBySubscriber
            - ResolutionAndRootCauseCodesAreRequiredToMoveToInvoiceableStatusByProvider
            - AssetCategoriesLimitExceeded
            - NoAccessToAssetCategories
            - AssetCategoriesAreRequired
            - InvalidAssetCategoryId
            - NoAssetCategoriesOnWorkOrder
            - RootCausesMustBeForAllWorkOrderAssetCategories
            - RootCauseTextMustBeUnique
            - AssetCategoryIsRequired
            - MultipleRootCausesMethodMustBeUsed
            - ResolutionCodesMustBeForAllWorkOrderAssetCategories
            - AssetFilterLocationsLimitExceeded
            - UnknownStoreId
            - UsesRefrigerantAttributeNotChanged
            - AssetTagDuplicate
            - AssetTagIdDuplicate
            - UnknownEquipmentType
            - ParentIdInOtherLocation
            - UnknownBrandName
            - CARBRequiredManufacturedDate
            - CARBRequiredInstallDate
            - TradeNotFound
            - AssetDoesntExist
            - AssetIsNotRefrigerant
            - AssetCantContainRefrigerant
            - OnlyRackAssetsContainingCircuits
            - ConnectorAssetTagIdCanNotBeChanged
            - ConnectorAssetLocationIdCanNotBeChanged
            - AssetTagCantBeUpdated
            - AssetTypeIsNotСonfiguredToManageRTAssets
            - RefrigerantTrackingNotAvailableForLocation
            - UsesRefrigerantRequiredByAssetTypeSettings
            - AssetLocationTradeDoesntCorrespondToWO
            - AssetLocationSelectedPMmodule
            - UpdateAssetRepairStatusValidation
            - HasCircuitsCantBeChange
            - HasComponentsCantBeChange
            - CircuitCanNotBeConnectedToCircuit
            - RTCircuitCanNotBeConnectedToNonRTAsset
            - RTComponentCanNotBeConnectedToNonRTAsset
            - ComponentCanNotBeConnectedToComponent
            - NonRTComponentCanNotBeConnectedToRtAsset
            - NonRTCircuitCanNotBeConnectedToRtAsset
            - ComponentCanNotBeConnectedToCircuit
            - ParentAssetShouldHaveEitherComponentsNorCircuits
            - ParentAssetCantHaveComponents
            - ParentAssetCantHaveCircuits
            - MultipleAssetsFoundForTheRequestedTagId
            - InvalidBrandName
            - UnknownBrandId
            - BrandRestrictedByAssetType
            - BrandRestrictedBySubscriber
            - BrandsRestrictedBySubscriber
            - DeclineWorkOrderFailed
            - AcceptWorkOrderFailed
            - WorkOrderWasAccepted
            - AssetAttachmentsSizeExceeded
            - SaveMliAuditReportSetting
            - GetMliAuditReportSetting
            - SaveMliAuditReportResult
            - SaveMliAuditReportSendEmailStatus
            - SaveMliAuditReportFilePath
            - GetSubscribersEnabledSchedule
            - SaveMliAuditInfoError
            - TaxValidationAddNewCompanySettingsError
            - TaxValidationUpdateCompanySettingsError
            - ProjectAssociationError
            - GetProjectsInvoiceAmountsError
            - TaxCodeNotUniqueError
            - FieldLengthIsTooLongError
            - SetTaxCodesBulkError
            - InvoiceAdditionalApprovalCodeValueError
            - BulkUpdateInvoicePaymentError
            - InvoiceLineItemFilterDisabled
            - InvoiceStatusToRejectProviderNotificationFailed
            - SortFieldNotAvailableError
            - ContractServiceExist
            - ContractServiceCantChangeTrade
            - ContractServiceCantChangeCategory
            - ContractServiceCantChangeProvider
            - ContractServicePMServiceCantChangeTrade
            - ContractServicePMServiceCantChangeCategory
            - ContractedServiceNameAlreadyExists
            - ContractedServiceNameLinkedToRates
            - WorkRequestDescriptionIsRequired
            - WorkRequestCallDateIsRequired
            - WorkRequestIssueIsRequired
            - WorkRequestCallDateHasWrongFormat
            - WorkRequestScheduledDateHasWrongFormat
            - InvalidWorkRequestStatus
            - InvalidWorkRequestExtendedStatus
            - InvalidWorkRequestCategory
            - InvalidWorkRequestPriority
            - InvalidWorkRequestCurrency
            - InvalidWorkRequestIssueSetup
            - InvalidWorkRequestIssueArea
            - InvalidWorkRequestAsset
            - WorkRequestAttachmentFileNameIsRequired
            - WorkRequestAttachmentOriginalNameIsRequired
            - WorkRequestIssueProblemCodeIsRequired
            - WorkRequestIssueProblemTypeIsRequired
            - WorkRequestScheduledDateMustBeGreaterThanCallDate
            - InvalidWorkRequestId
            - WorkRequestSearchCallDateFromHasWrongFormat
            - WorkRequestSearchCallDateToHasWrongFormat
            - WorkRequestSearchScheduledDateFromHasWrongFormat
            - WorkRequestSearchScheduledDateToHasWrongFormat
            - WorkRequestSearchClosedDateFromHasWrongFormat
            - WorkRequestSearchClosedDateToHasWrongFormat
            - WorkOrderIsAlreadyCreatedForWorkRequest
            - WorkRequestIsClosed
            - WorkRequestClosedReasonIsRequiredForClosedStatus
            - WorkOrderIdIsRequiredForThisClosedReason
            - InvalidWorkRequestClosedReason
            - WorkRequestClosedReasonIsOnlyForClosedStatus
            - InvalidWorkRequestWorkOrderId
            - WorkRequestWorkOrderIdIsOnlyForClosedStatus
            - WorkRequestWorkOrderIdIsOnlyForCertainClosedReason
            - InvalidWorkOrderSourceType
            - DeclineReasonIdIsRequired
            - DeclineReasonDoesntAllowCustomText
            - InvalidDeclineReasonId
            - MultipleWorkOrdersForPurchaseNumber
            - InvoiceMaterialMakupInvalid
            - MaterialMarkUpDiscrepancyReasonShouldBeStated
            - MaterialPriceDiscrepancyReasonShouldBeStated
            - OtherPriceDiscrepancyReasonShouldBeStated
            - SubscriberIdIsNotValid
            - FiscalPeriodIsNotValid
            - AmountIsNotValid
            - AmountFormatIsNotValid
            - CategoryMustBeEmpty
            - CategoryIsNotValid
            - TradeMustBeEmpty
            - TradeIsNotValid
            - GlCodeMustBeEmpty
            - GlCodeIsNotValid
            - LocationMustBeEmpty
            - LocationIsNotValid
            - RegionMustBeEmpty
            - RegionIsNotValid
            - DistrictMustBeEmpty
            - DistrictIsNotValid
            - DuplicateData
            - PrimaryCategoryMustBeEmpty
            - PrimaryCategoryIsNotValid
            - CategoryAndExcludedCategoryCannotSimultaneously
            - PrimaryCategoryAndExcludedPrimaryCategoryCannotSimultaneously
            - TradeAndExcludedTradeCannotSimultaneously
            - GlCodeAndExcludedGlCodeCannotSimultaneously
            - DuplicateCategories
            - DuplicateTrades
            - DuplicateGlCodes
            - DuplicatePrimaryCategories
            - LocationNoteMustBeEmpty
            - LocationNoteIsNotValid
            - OverlappingCategories
            - OverlappingPrimaryCategories
            - OverlappingTrades
            - OverlappingPrimaryTrades
            - OverlappingGlCodes
            - OverlappingLocations
            - OverlappingRegions
            - OverlappingDistricts
            - OverlappingLocationNotes
            - TaxExemptionErrorApi
            - OtherLineItemZeroAmount
            - TravelLineItemsNotNegativeValueRequired
            - MaterialLineItemsNotNegativeValueRequired
            - LaborLineItemsNotNegativeValueRequired
            - AdditionalApprovalCodeSetupIdInvalid
            - VendorIdIsNotValid
            - InvalidBatchId
            - InvalidBatchStatusId
            - CategoryInUsePMServiceError
            - CategoryInUseChecklistError
            - CategoryInUseETAMissedAlertError
            - CategoryInUseBudgetControl
            - CategoryInUseConnector
            - CategoryInUseContractedService
            - CategoryInUseEDI
            - CategoryInUseIVR
            - CategoryInUseFeedbackV2
            - CategoryInUseProposalApproveReasons
            - CategoryInUsePaymentManager
            - CategoryInUseProviderAssignments
            - CategoryInUseSiteAccess
            - CategoryInUseAlerts
            - CategoryInUseOpenWOAlert
            - CategoryInUseWOAutocopy
            - CategoryInUseWorkRequest
            - CategoryInUseWO
            - CategoryInUseDashboardOverride
            - CategoryInUseInvoiceAttributes
            - FeatureIsOn
            - LocationHierarchyNotFound
            - LocationHierarchyLevelNotFound
            - LocationHierarchyParentLevelNotFound
            - LocationSpaceTypeNotFound
            - DuplicateRowByValueKey
            - ParentNotFound
            - DuplicateSequenceAmongSiblings
            - SequenceConflictsWithExistingData
            - SequenceMustBeGreaterThanZero
            - ValueContainsPathDelimiter
            - InitializationWarmupError
            type: string
        ErrorCode:
          description: The code of the first error found
          enum:
          - NotAllowed
          - EmptyProvider
          - InvalidProviderId
          - UnknownProvider
          - ProviderAlreadyExists
          - ProviderIdNotExists
          - TimeoutExpiredError
          - EmptyContract
          - ContractUndefined
          - EmptySubscriber
          - InvalidSubscriberId
          - UnknownSubscriber
          - InactiveSubscriber
          - EmptySubscriberId
          - SubscriberIdNotExists
          - InternalError
          - DataNotFound
          - BadRequest
          - UnAuthorized
          - UnSupportedApplication
          - SubsidiaryUserDisabled
          - EmptyLocation
          - InvalidLocationId
          - UnknownLocation
          - LocationNotBelongsToSubscriber
          - EmptyLocationCountry
          - LocationAlreadyExists
          - InvalidStoreId
          - LocationEmptyState
          - NoAccessToLocation
          - LocationAddressValidationError
          - LocationAddressRequestValidationError
          - InvalidLocationNoteHeader
          - NoAccessToUpdateProtectedNote
          - InvalidBusinessHoursFormat
          - WorkingHoursIntersect
          - InvalidDayOfWeek
          - DuplicateDayOfWeek
          - InvalidBusinessHoursInitialSetup
          - BusinessHoursIsEmpty
          - InvalidHolidayRepeatByType
          - EmptyHolidayListOfDays
          - EmptyHolidayListOfMonths
          - InvalidHolidayMonthName
          - InvalidHolidayNameLength
          - InvalidHolidayRepeatEvery
          - DuplicateMonth
          - InvalidHolidayFrequency
          - InvalidHolidayStartDate
          - InvalidCloseAllDay
          - HolidayDoesNotExist
          - InvalidFormatParameter
          - InvalidLocationCity
          - InvalidLocationZip
          - InvalidLocationLatitude
          - InvalidLocationLongitude
          - InvalidLocationEmail
          - InvalidLocationName
          - InvalidLocationState
          - InvalidLocationAddlAddress
          - InvalidLocationMainAddress
          - InvalidLocationCountry
          - InvalidLocationRegion
          - InvalidLocationDistrict
          - InvalidLocationPhone
          - InvalidLocationContact
          - InvalidLocationFaxNumber
          - LocationCountryNotFound
          - LocationStateNotFound
          - LocationCityNotFound
          - LocationIdNotExists
          - InvalidLocationEmailLength
          - LocationStateIdNotFound
          - IncorrectCombinationStateAndStateId
          - InvalidSubscriberIds
          - InvalidLocalizationSettings
          - LandlordResponsibilityNotFound
          - LandlordResponsibilityAlreadyExists
          - EmptyLocationIds
          - AttachmentNotExist
          - InvalidTradeId
          - InvalidCategoryId
          - InvalidOverrideCategoryId
          - InvalidOverridePriorityId
          - LeaseNoteExceedMaxLength
          - InvalidOverrideProviderRank
          - InvalidOverrideNTE
          - DuplicateRows
          - InvalidPriorityId
          - LocationNotFound
          - EmptyTrade
          - InvalidTrade
          - TradeNotBelongsToSubscriber
          - InvalidPrimaryTrade
          - InvalidTradeForSubscriber
          - InvalidCategoryForSubscriber
          - GlCodeAlreadyExists
          - GlCodeNotExists
          - InvalidGlCodeUpdate
          - EmptyGlCode
          - TradeAlreadyExists
          - InvalidNTETrade
          - TradeNotExists
          - TradeAlreadyInUse
          - TradeWithTheSameNameHasBeenDeleted
          - TradeInUsePMServices
          - TradeInUseProposalError
          - TradeInUseRFPError
          - TradeInUseChecklistError
          - TradeInUseBudgetControl
          - TradeInUseGlCode
          - TradeInUseDynamicProviderAssignments
          - TradeInUseInvoice
          - TradeInUseLandlordResponsibilities
          - TradeInUseWO
          - TradeInUseEquipmentType
          - TradeInUseRFP
          - TradeInUseConnector
          - TradeInUseContractedService
          - TradeInUseIVR
          - TradeInUseSiteAccess
          - TradeInUseGLCodes
          - TradeInUseCIWO
          - TradeInUseOrganizationPermissions
          - TradeСreationError
          - EmptyUser
          - EmptyCreatedBy
          - InvalidUserName
          - NotProviderUser
          - UserHasNoPermissions
          - RestrictedAccount
          - UserAlreadyExists
          - UserHasNoPermissionsEditWO
          - UserEmailAddressIsMissing
          - UserIsNotRTAdmin
          - InvalidSubsriberProviderId
          - LanguageNameNotFound
          - InvalidLanguageId
          - LanguageIdNotFound
          - UseBothSubscriberIdProviderId
          - EmptyWoProblem
          - InvalidWoProblemSource
          - InvalidWoProblemDescription
          - InvalidWoProblemCode
          - InvalidWoStatus
          - InvalidWoNte
          - InvalidWoCaller
          - InvalidWoCallDate
          - InvalidWoScheduledDate
          - InvalidWoScheduledDateGreaterThanMaxAllowed
          - EmptyWoCategory
          - InvalidWoCategory
          - EmptyWoPriority
          - InvalidWoPriority
          - InvalidWoCurrency
          - InvalidWoSetupId
          - AttachmentsRequired
          - InvalidWoIdentifier
          - EquipmentRequired
          - WoNteOverflow
          - InvalidWoPurchaseNumber
          - InvalidWoStateForUpdate
          - InvalidPagingParameter
          - InvalidWoNumber
          - CheckInDenied
          - CheckOutDenied
          - WoScheduledDateLessThenReassignDate
          - WoScheduledDateLessThenCallDate
          - InvalidWoActionReason
          - EmptySubscriberProperty
          - WorkOrderUpdateError
          - MissedWoNteDetails
          - InvalidLinkedWoIdentifier
          - WoIsOnHold
          - InvalidWoTrade
          - InvalidStarScore
          - WorkOrderAlreadyRated
          - AttachmentThumbnailNotAvailable
          - InvalidWoIdentifierOrPin
          - InvalidTimeZoneHeader
          - RefrigerantWasUsedShouldBeYesOrNo
          - CheckInDeniedOutsideGeolocation
          - CheckOutDeniedOutsideGeolocation
          - LeakDetectorAuditShouldBeCreated
          - CheckInOutPremature
          - WorkOrderAttachmentsSizeExceeded
          - WorkOrderNotFound
          - WorkOrderCreateError
          - InvalidWoProjectedCompletionDate
          - InvalidFollowUpWo
          - InvalidWeatherEventId
          - InvalidSiteAuditLinkedWo
          - InvalidSetupId
          - IssueListNotFound
          - InvalidIssueListField
          - SiteAuditCompleted
          - CheckSiteAuditError
          - SaveSiteAuditError
          - RemoveSiteAuditError
          - InactiveTemplateType
          - SiteAuditNotFound
          - SiteAuditUpdateError
          - InvalidSiteAuditParameters
          - InvalidAdditionalApprovalCode
          - InvalidAdditionalApprovalCodeValue
          - AdditionalApprovalCodeIsDisabled
          - InvalidOtherDesc
          - InvalidTax2Name
          - InvoiceInconsistentAmounts
          - InvoiceInvalidTotal
          - InvoiceTotalGreaterNte
          - InvoiceExists
          - CreatingInvoiceError
          - DuplInvNumber
          - InvoiceTotalNull
          - InvComplDateNull
          - InvDateLessComplDate
          - InvoiceNotAuto
          - ESignatureRequired
          - InvWoNotFound
          - InvWrongWoCurr
          - InvWoCurrNotFound
          - InvoicingDisabled
          - InvCreationUnexpectedRes
          - InvoiceInvalidLaborAmount
          - InvoiceInvalidMaterialAmount
          - InvDateOld
          - InvDateGreater
          - InvoiceMaterialDescriptionLengthOverflow
          - InvoiceTaxNotValidated
          - InvoiceMaterialPartNumberLengthOverflow
          - TaxValidationError
          - TaxExemptionError
          - InvalidInvoiceNumber
          - GetApprovalLevelsError
          - InvoiceAddUsersToMliLevelsError
          - InvoiceAddDeleteLocationsToMliLevelUserError
          - InvoiceUpdateMLiLevelError
          - InvoiceDeleteMliLevelError
          - InvoiceDeleteUsersFromMliLevelError
          - ApprovalLevelNameLengthOverflow
          - GstTaxError
          - Tax2Error
          - GetApprovalLevelsAndLocationsByUserError
          - GetAssignedUserShortInfoError
          - AssignAllLocationsToApprovalLevelAndUserError
          - GetLocationsForApprovalLevelAndAssignedUserError
          - GetLocationsBySubscriberError
          - AssignUserWithLocationsToApprovalLevelError
          - ReAssignUserWithLocationsToNewApprovalLevelError
          - ReAssignLocationsToApprovalLevelAndUserError
          - OutstandingBalance
          - InvoiceTaxDetailsEmpty
          - InvoiceTaxDetailsIncorrectSum
          - MultipleUsersForLocationIsNotAllowed
          - UserAssignedToOtherLevel
          - UserDoesNotExist
          - LaborLineItemRequired
          - MaterialLineItemRequired
          - InvoiceDoesntExist
          - InvoiceStarUnstarFailed
          - InvoiceBatchUpdateInvalidInvoiceStatusError
          - InvoiceBatchUpdateLimitExceededError
          - InvoiceNotAvailableForCurrentUser
          - InvoiceBatchUpdateInvalidRuleSetStructure
          - InvoiceBatchUpdateInvalidMliStructure
          - InvoiceBatchUpdateStatusError
          - InvoiceMaterialUnitTypeInvalid
          - ExistingBatchNumber
          - InvoiceResolutionTextRequired
          - GetInvoiceDefaultApprovalCodesError
          - InvoiceInvalidTravelAmount
          - InvoiceTravelDescriptionLengthOverflow
          - InvoiceTravelUnitTypeInvalid
          - TravelLineItemRequired
          - TravelDetailsDisabled
          - OnOffShoreDisabled
          - InvoiceInvalidLaborCount
          - InvoiceInvalidMaterialCount
          - InvoiceInvalidTravelCount
          - SubscriberNotRegisteredForTaxValidation
          - ManyDecimalsInAmountError
          - DecimalPartQstTaxError
          - LaborRatesDiscrepancy
          - PayInvoicesError
          - InvoiceNumberRequirementsError
          - InvoiceNumberIncorrect
          - InvoiceNumberRegExPatternError
          - GetInvoicesPendingApprovalByLocationError
          - ReAssignInvoicesToUsersFailed
          - ReAssignInvoicesUsersMatched
          - GetUsersForReassignInvoiceError
          - InvalidTimeRangeActivity
          - OutsourcedSourceInvoiceNotFound
          - OthersLineItemsDisabled
          - InvoiceInvalidOtherAmount
          - InvoiceInvalidOtherCount
          - InvoiceOtherDescriptionLengthOverflow
          - OtherLineItemRequired
          - OtherLineItemsNotNegativeValueRequired
          - InvalidLaborSkillLevel
          - InvalidLaborType
          - InvalidTechnicianQuantity
          - GetInvoicesCommonCategoriesError
          - InvoiceExplainDisputeEmpty
          - InvoiceAdditionalApprovalCodeHeaderError
          - TemplateParseSuccess
          - TemplateIncorrectHeaderError
          - TemplateEmptyTemplateError
          - TemplateWrongFieldsCountError
          - TemplateFieldNotFoundError
          - TemplateFieldRequiredError
          - TemplateParseIntError
          - TemplateFieldSizeError
          - TemplateInvalidValueError
          - TemplateFieldFormatError
          - TemplateFieldMaxRangeError
          - TemplateFieldMinRangeError
          - TemplateProviderNotEntered
          - TemplateInvalidSubscriberError
          - TemplateVendorNotFoundError
          - TemplateMissedProviderError
          - TemplateProviderNotFoundError
          - TemplateProviderSubsccriberLinkError
          - TemplateTradeDispatchRankError
          - TemplateInvalidTradeForSubscriberError
          - TemplateStoreNotFoundError
          - TemplateNotStoresForStateError
          - TemplateNotStoresForCountryError
          - TemplateNotStoresForDistrictError
          - TemplateNotStoresForRegionError
          - TemplateMultiplePimaryProvidersForTradeStoreError
          - TemplateDuplicatePrimaryRelationshipError
          - TemplateAmbiguousDataError
          - TemplateIncorrectSubscriber
          - TemplateDuplicateRanking
          - TemplateLongitudeRangeError
          - TemplateLatitudeRangeError
          - InvoiceMaterialPartNameLengthOverflow
          - TemplateTradeLocationExclusion
          - TemplateInvalidStateError
          - TemplateMissedSubscriberError
          - TemplateMissedStoreIdError
          - TemplateInvalidSubscriberIdError
          - TemplateOpenCloseDateError
          - TemplateInvalidCountryError
          - TemplateInvalidStateForCountryError
          - TemplateInvalidLocationTypeError
          - TemplateMissingFullAndShortNameError
          - TemplateMissingCountryError
          - TemplateDuplicatedDataError
          - TemplateParentLocationNotFoundError
          - TemplateParseDateTimeError
          - TemplateParseDecimalError
          - TemplateSquareValueRangeError
          - TemplateInvalidSquareMeasureError
          - TemplateTypeLabelCanNotBeUpdatedError
          - TemplateTypeLabelHaveToBeLocationForNotInventory
          - TemplateInvalidPrimarySupplyLocation
          - TemplateInvalidHomestoreLocationNumber
          - TemplateErrorDuringCreation
          - TemplateLocationNotFoundError
          - TemplateDuplicatedLocationFoundError
          - TemplateInvalidLocationHeaderError
          - TemplateDuplicatedLocationHeaderError
          - TemplateHeaderContainsEmptyFieldsError
          - TemplateLocHeadersShortHeaderError
          - TemplateHeaderContainsDuplicatesError
          - TemplateLocationNotesStoreIdFieldLengthError
          - TemplateLocationNotesNoteValueFieldLengthError
          - TemplateErrorInvalidZipCode
          - TemplateMissingLocationNoteHeader
          - TemplateMissingLocationNoteIdHeader
          - TemplateInvalidSecondarySupplyLocation
          - TemplateLocationWasNotCreated
          - TemplateTruckNameIsEmpty
          - TemplateWrongFormat
          - TemplateSubscriberNotFound
          - TemplateDuplicatedLocationHeaders
          - TemplateInvalidHeaders
          - TemplateInvalidPhoneError
          - TemplateDuplicateTelecomRecordError
          - TemplateTelecomRecordExistsError
          - TemplateInvalidCategory
          - TemplateDifferentRanksForProviderAssignments
          - TemplateDuplicateRankError
          - TemplateProviderNonCompliant
          - TemplateLocationIsClosed
          - TemplateProviderWarning
          - TemplateMultipleProvidersForTradeStoreError
          - EmptyRequest
          - InvalidNumberOfParameters
          - InvoiceOtherUnitTypeInvalid
          - EmptyLocationOrTradeList
          - RequestSubscriberIdDoesntMatchUserSubscriberId
          - StoreIdRequiredError
          - InvalidUserIdError
          - InvalidStoreIdError
          - AmbigiousError
          - MliHierarchyFiledsCountError
          - MliHierarchyMaxUserNameError
          - MliHierarchyDuplicateUserError
          - MLiHirarchyUserExistInOtherLevelError
          - MissingLevelsError
          - DuplicateApprovalLevelsError
          - InvalidMliLocations
          - InvalidMlpLocations
          - ApprovalLevelUsedInRulsetError
          - GLCodeAmbiguous
          - GlCodeInvalidResponce
          - GetRuleSetListError
          - RuleSetDuplicateNameError
          - RuleSetDuplicateActionError
          - RuleSetConflictedActionError
          - RuleSetRuleSetDoesNotExistsError
          - RuleSetTradeDoesNotExistError
          - RuleSetCategoryDoesNotExistError
          - RuleSetMliLevelDoesNotExistError
          - GetRuleSet
          - CreateUpdateRuleSetError
          - DeleteRuleSet
          - GetRuleSetCategoriesTradesCountError
          - GetRuleSetByInvoice
          - GetCategoryTradeIdsAreSelectedError
          - ProposalAboveMlpLimitError
          - ProposalNextLevelHasNoAvailableActionsError
          - DefaultRuleSetError
          - RuleSetActionEndStatusError
          - RuleSetRejectActionEmptyForwardToError
          - UserFilterGetError
          - UserFilterCreateUpdateError
          - UserFilterDeleteError
          - UserFilterSetAsDefaultError
          - InvoiceFilterFromAlpProviderError
          - RegionFilterNotAllowedError
          - LocationIdFilterNotAllowedError
          - PaymenowScProviderIdOrFbCompanyIdMustBeProvided
          - PaymenowBannersForProvidersOnly
          - PaymenowFeatureDisabled
          - PaymenowBannerInfoNotFound
          - PaymenowBannerInvalidNavigationUrl
          - PaymenowRequestedProvidersIsNotAssigned
          - PaymenowEmptyRequestedProviders
          - PaymentManagerFeatureDisabled
          - PaymentManagerFeatureDisabledForSubscriber
          - PaymentSystemCurrentlyUnavailable
          - CurrencyNotSupported
          - PaymentSystemAccountNotFound
          - FeatureIsOff
          - EarlyPayFeatureWithoutPaymentManagetFeatureError
          - FtpTestError
          - AcceptTermsAndConditionsRequestInvalid
          - PaymentSystemAccountError
          - SendReportToFTP
          - SchedulingError
          - BadPaymentData
          - InvoicesCanNotBeRepaid
          - InvoicesCanNotBeRescheduled
          - InvalidBillingAddress
          - PaymentManagerGeneralSettingsNotFound
          - PaymentManagerEInvoiceSettingsNotFound
          - BadgeVerificationFailed
          - BadgeTempPassEmpty
          - BadgeScanRequired
          - SolvedIssueSubmitFailed
          - SolvedIssueInvalidLocationId
          - SolvedIssueInvalidCategoryId
          - SolvedIssueInvalidTradeId
          - SolvedIssueInvalidPriorityId
          - SolvedIssueInvalidSource
          - SolvedIssueInvalidProblemCode
          - SolvedIssueInvalidType
          - SubmitFeedbackErrorWoStatus
          - SubmitFeedbackInvalidAnswer
          - SubmitFeedbackInvalidTrackingNumber
          - SubmitFeedbackInvalidSubscriber
          - SubmitFeedbackInvalidScore
          - SubmitFeedbackUnsatisfactoryCommentRequired
          - SubmitFeedbackInvalidReviewId
          - SubmitFeedbackInvalidSetupId
          - FeedbackSetupInvalidSetupId
          - S3SaveError
          - AbsSaveError
          - GoodDataLoginFailed
          - GoodDataElementUriError
          - GoodDataReportResultUriError
          - GoodDataReportResultEmpty
          - GoodDataDesReportResCountError
          - GoodDataDesReportResConvertError
          - GoodDataDesDisplayFormAttributeEmpty
          - InvalidProposalAmountLimit
          - GetApprovalProposalReasonsError
          - GetEmailRecipientsError
          - GetAssignProposalReasonsError
          - ProposalHasBeenVoided
          - AssetTypeDuplicateNameError
          - AssetTypeDoesntExistError
          - AssetTypeFailUpdateRefrigerantPurpose
          - AssetTypeDeleteFailed
          - ExistingAssetsFoundForAssetType
          - CantModifyAssetTypeParentId
          - InvalidAssetTypeName
          - AssetTypeInheritanceError
          - ExistingProposalsFoundForAssetType
          - InstallPurchaseDateOverflow
          - WOexistsWithSomeAssets
          - PartsChangeFailed
          - PartsReasonCodeError
          - PartsUseDateError
          - PartsRefrigerantAlreadyExists
          - PartsChargeHistoryAlreadyExists
          - PartsNotFound
          - BulkPartUseIncorrectWorkOrder
          - BulkPartsByIdsNotFound
          - BulkPartsMultipleWosError
          - BulkPartsIncorrectIsRefrigerantParam
          - BulkPartsIsRefrigerantCanNotbeChanged
          - BulkPartsReasonCodeChangeError
          - BulkPartsInvalidAssetAndReasonCodeParams
          - BulkPartsInvalidAssetId
          - BulkPartsInvalidInitialChargeCode
          - BulkPartsAssetDoesntContainCharge
          - BulkPartsIsInventoryFlagError
          - BulkPartsLeakAlreadyInProcessError
          - BulkPartsInvalidDateRangeError
          - BulkPartsMoeNumberRequiredError
          - BulkPartsSystemChargeExceeded
          - BulkRefrigerantuUageBlocked
          - BulkIDsNotBeNull
          - BulkPartRemovalNotAllowedOnRetrofitRetireWO
          - BulkAddPartUsagesNotAllowedAfterRetrofitRetireCreation
          - BulkRetrofitRetireRefrigerantUsageReasonCanNotChanged
          - BulkInitialChargeSystemExpansionNotAllowed
          - BulkInventoryPartIdCanNotBeChanged
          - BulkInventoryLocationIdCanNotBeChanged
          - BulkPartsDuplicatedRequest
          - BulkChangePartsIncorrectRefrigerantType
          - BulkPartsRetroRetireIsInProgressOnThisDate
          - BulkPartsCanNotAttachRefrigerantUsageToPlanLeakRecord
          - RetrofitRetireCanNotBeRemoved
          - RetroRetirePartsCantbeChanged
          - BulkPartsInventoryApiFailed
          - BulkPartsDuplicated
          - BulkPartsWorkOrderInProcessing
          - BadNotificationSubscriptionEventType
          - RefrigerantUseDateOutOfTheLeakProcessDateRange
          - InventoryUsageNotAllowedOnRTrackingConnectedSubAndSubcontractors
          - BulkExternalWoCurrentlyDoesntExists
          - BulkConnectorOnlyExternalClientAssetsCanBeProcessed
          - BulkConnectorOnlyClientAssetsCouldBeProcessed
          - LeakRecordHasWrongDateValue
          - HasUncompliedLeakRecordInAnoutherWO
          - HasUncompletedWOOnAnotherLeakRecord
          - OnlyOneAssetWorkOrderPair
          - OneLeakRecordMustBeOnCompletedWO
          - LeakRecordNotFound
          - AssetIDWoIdIsRequired
          - BulkPartsReasonCodeRetrofit
          - RetrofitRetireWasCancelledNoLeak
          - FailedToUpdateLeakEvent
          - AddPartUsagesAreNotAllowedInRetireRetrofitDateInterval
          - LeakPartUseOnZeroChargeNotAllowed
          - BulkLeakRecordsAndAuditRequest
          - LeakRecordsDuplicateRequestDetected
          - AllLeakRecordFieldsAreRequired
          - BulkPartsTheSamePartIdForUpdateAndRemovalPassed
          - MlpImportLevelError
          - UpdateMlpUserLevelError
          - InvalidHolidayName
          - DuplicateHolidayName
          - HolidaysDeleteFailed
          - HolidaysExcludeInsertFailed
          - HolidaysUpdateFailed
          - HolidaysInsertFailed
          - HolidaysExcludeDeleteFailed
          - BusinessHoursDeleteFailed
          - BusinessHoursUpdateFailed
          - BusinessHoursInsertFailed
          - InvalidTime
          - HolidayForDeleteNotFound
          - InvalidChecklistId
          - ChecklistNotPopulated
          - ChecklistNotAssignedForTransfersWO
          - NoLinkBetweenSubscriberAndProvider
          - WorkforceCreateContractorError
          - InvalidCertificateId
          - MaxThresholdExceeded
          - MaxTriggerRateExceeded
          - LeakPriorityIsRequired
          - MissingRTSettings
          - ResolutionCodesLimitExceeded
          - ResolutionCodesAreRequired
          - RootCauseIsRequired
          - RootCauseTextIsRequired
          - NoAccessToSetRootCauseText
          - RootCauseTextMaxLengthExceeded
          - ResolutionCodeTextIsRequired
          - NoAccessToSetResolutionCodeText
          - ResolutionCodeTextMaxLengthExceeded
          - ResolutionCodeTextMustBeUnique
          - ResolutionCodeWithoutFreeTextMustBeUnique
          - PendingResCodesStatusCannotBeChangedToInvoiceableBySubscriber
          - ResolutionAndRootCauseCodesAreRequiredToMoveToInvoiceableStatusByProvider
          - AssetCategoriesLimitExceeded
          - NoAccessToAssetCategories
          - AssetCategoriesAreRequired
          - InvalidAssetCategoryId
          - NoAssetCategoriesOnWorkOrder
          - RootCausesMustBeForAllWorkOrderAssetCategories
          - RootCauseTextMustBeUnique
          - AssetCategoryIsRequired
          - MultipleRootCausesMethodMustBeUsed
          - ResolutionCodesMustBeForAllWorkOrderAssetCategories
          - AssetFilterLocationsLimitExceeded
          - UnknownStoreId
          - UsesRefrigerantAttributeNotChanged
          - AssetTagDuplicate
          - AssetTagIdDuplicate
          - UnknownEquipmentType
          - ParentIdInOtherLocation
          - UnknownBrandName
          - CARBRequiredManufacturedDate
          - CARBRequiredInstallDate
          - TradeNotFound
          - AssetDoesntExist
          - AssetIsNotRefrigerant
          - AssetCantContainRefrigerant
          - OnlyRackAssetsContainingCircuits
          - ConnectorAssetTagIdCanNotBeChanged
          - ConnectorAssetLocationIdCanNotBeChanged
          - AssetTagCantBeUpdated
          - AssetTypeIsNotСonfiguredToManageRTAssets
          - RefrigerantTrackingNotAvailableForLocation
          - UsesRefrigerantRequiredByAssetTypeSettings
          - AssetLocationTradeDoesntCorrespondToWO
          - AssetLocationSelectedPMmodule
          - UpdateAssetRepairStatusValidation
          - HasCircuitsCantBeChange
          - HasComponentsCantBeChange
          - CircuitCanNotBeConnectedToCircuit
          - RTCircuitCanNotBeConnectedToNonRTAsset
          - RTComponentCanNotBeConnectedToNonRTAsset
          - ComponentCanNotBeConnectedToComponent
          - NonRTComponentCanNotBeConnectedToRtAsset
          - NonRTCircuitCanNotBeConnectedToRtAsset
          - ComponentCanNotBeConnectedToCircuit
          - ParentAssetShouldHaveEitherComponentsNorCircuits
          - ParentAssetCantHaveComponents
          - ParentAssetCantHaveCircuits
          - MultipleAssetsFoundForTheRequestedTagId
          - InvalidBrandName
          - UnknownBrandId
          - BrandRestrictedByAssetType
          - BrandRestrictedBySubscriber
          - BrandsRestrictedBySubscriber
          - DeclineWorkOrderFailed
          - AcceptWorkOrderFailed
          - WorkOrderWasAccepted
          - AssetAttachmentsSizeExceeded
          - SaveMliAuditReportSetting
          - GetMliAuditReportSetting
          - SaveMliAuditReportResult
          - SaveMliAuditReportSendEmailStatus
          - SaveMliAuditReportFilePath
          - GetSubscribersEnabledSchedule
          - SaveMliAuditInfoError
          - TaxValidationAddNewCompanySettingsError
          - TaxValidationUpdateCompanySettingsError
          - ProjectAssociationError
          - GetProjectsInvoiceAmountsError
          - TaxCodeNotUniqueError
          - FieldLengthIsTooLongError
          - SetTaxCodesBulkError
          - InvoiceAdditionalApprovalCodeValueError
          - BulkUpdateInvoicePaymentError
          - InvoiceLineItemFilterDisabled
          - InvoiceStatusToRejectProviderNotificationFailed
          - SortFieldNotAvailableError
          - ContractServiceExist
          - ContractServiceCantChangeTrade
          - ContractServiceCantChangeCategory
          - ContractServiceCantChangeProvider
          - ContractServicePMServiceCantChangeTrade
          - ContractServicePMServiceCantChangeCategory
          - ContractedServiceNameAlreadyExists
          - ContractedServiceNameLinkedToRates
          - WorkRequestDescriptionIsRequired
          - WorkRequestCallDateIsRequired
          - WorkRequestIssueIsRequired
          - WorkRequestCallDateHasWrongFormat
          - WorkRequestScheduledDateHasWrongFormat
          - InvalidWorkRequestStatus
          - InvalidWorkRequestExtendedStatus
          - InvalidWorkRequestCategory
          - InvalidWorkRequestPriority
          - InvalidWorkRequestCurrency
          - InvalidWorkRequestIssueSetup
          - InvalidWorkRequestIssueArea
          - InvalidWorkRequestAsset
          - WorkRequestAttachmentFileNameIsRequired
          - WorkRequestAttachmentOriginalNameIsRequired
          - WorkRequestIssueProblemCodeIsRequired
          - WorkRequestIssueProblemTypeIsRequired
          - WorkRequestScheduledDateMustBeGreaterThanCallDate
          - InvalidWorkRequestId
          - WorkRequestSearchCallDateFromHasWrongFormat
          - WorkRequestSearchCallDateToHasWrongFormat
          - WorkRequestSearchScheduledDateFromHasWrongFormat
          - WorkRequestSearchScheduledDateToHasWrongFormat
          - WorkRequestSearchClosedDateFromHasWrongFormat
          - WorkRequestSearchClosedDateToHasWrongFormat
          - WorkOrderIsAlreadyCreatedForWorkRequest
          - WorkRequestIsClosed
          - WorkRequestClosedReasonIsRequiredForClosedStatus
          - WorkOrderIdIsRequiredForThisClosedReason
          - InvalidWorkRequestClosedReason
          - WorkRequestClosedReasonIsOnlyForClosedStatus
          - InvalidWorkRequestWorkOrderId
          - WorkRequestWorkOrderIdIsOnlyForClosedStatus
          - WorkRequestWorkOrderIdIsOnlyForCertainClosedReason
          - InvalidWorkOrderSourceType
          - DeclineReasonIdIsRequired
          - DeclineReasonDoesntAllowCustomText
          - InvalidDeclineReasonId
          - MultipleWorkOrdersForPurchaseNumber
          - InvoiceMaterialMakupInvalid
          - MaterialMarkUpDiscrepancyReasonShouldBeStated
          - MaterialPriceDiscrepancyReasonShouldBeStated
          - OtherPriceDiscrepancyReasonShouldBeStated
          - SubscriberIdIsNotValid
          - FiscalPeriodIsNotValid
          - AmountIsNotValid
          - AmountFormatIsNotValid
          - CategoryMustBeEmpty
          - CategoryIsNotValid
          - TradeMustBeEmpty
          - TradeIsNotValid
          - GlCodeMustBeEmpty
          - GlCodeIsNotValid
          - LocationMustBeEmpty
          - LocationIsNotValid
          - RegionMustBeEmpty
          - RegionIsNotValid
          - DistrictMustBeEmpty
          - DistrictIsNotValid
          - DuplicateData
          - PrimaryCategoryMustBeEmpty
          - PrimaryCategoryIsNotValid
          - CategoryAndExcludedCategoryCannotSimultaneously
          - PrimaryCategoryAndExcludedPrimaryCategoryCannotSimultaneously
          - TradeAndExcludedTradeCannotSimultaneously
          - GlCodeAndExcludedGlCodeCannotSimultaneously
          - DuplicateCategories
          - DuplicateTrades
          - DuplicateGlCodes
          - DuplicatePrimaryCategories
          - LocationNoteMustBeEmpty
          - LocationNoteIsNotValid
          - OverlappingCategories
          - OverlappingPrimaryCategories
          - OverlappingTrades
          - OverlappingPrimaryTrades
          - OverlappingGlCodes
          - OverlappingLocations
          - OverlappingRegions
          - OverlappingDistricts
          - OverlappingLocationNotes
          - TaxExemptionErrorApi
          - OtherLineItemZeroAmount
          - TravelLineItemsNotNegativeValueRequired
          - MaterialLineItemsNotNegativeValueRequired
          - LaborLineItemsNotNegativeValueRequired
          - AdditionalApprovalCodeSetupIdInvalid
          - VendorIdIsNotValid
          - InvalidBatchId
          - InvalidBatchStatusId
          - CategoryInUsePMServiceError
          - CategoryInUseChecklistError
          - CategoryInUseETAMissedAlertError
          - CategoryInUseBudgetControl
          - CategoryInUseConnector
          - CategoryInUseContractedService
          - CategoryInUseEDI
          - CategoryInUseIVR
          - CategoryInUseFeedbackV2
          - CategoryInUseProposalApproveReasons
          - CategoryInUsePaymentManager
          - CategoryInUseProviderAssignments
          - CategoryInUseSiteAccess
          - CategoryInUseAlerts
          - CategoryInUseOpenWOAlert
          - CategoryInUseWOAutocopy
          - CategoryInUseWorkRequest
          - CategoryInUseWO
          - CategoryInUseDashboardOverride
          - CategoryInUseInvoiceAttributes
          - FeatureIsOn
          - LocationHierarchyNotFound
          - LocationHierarchyLevelNotFound
          - LocationHierarchyParentLevelNotFound
          - LocationSpaceTypeNotFound
          - DuplicateRowByValueKey
          - ParentNotFound
          - DuplicateSequenceAmongSiblings
          - SequenceConflictsWithExistingData
          - SequenceMustBeGreaterThanZero
          - ValueContainsPathDelimiter
          - InitializationWarmupError
          type: string
          readOnly: true
        ErrorMessage:
          description: The description of all errors.
          type: string
        Data:
          $ref: '#/components/schemas/System.Object'
          description: "Optional\n            Gets or Sets the Data object."
    ServiceChannel.Services.Messaging.Attachments.Attachment:
      description: Object containing information about an attachment.
      type: object
      properties:
        Id:
          format: int32
          description: Unique numeric identifier of the attachment.
          type: integer
        Description:
          description: Optional text that a user added when uploading the attachment. The maximum character count is 200.
          type: string
        Name:
          description: Attachment name.
          type: string
        TimeStamp:
          format: date-time
          description: Date and time when the attachment was uploaded. The format is `YYYY-MM-DDThh:mm:ss.sss±hh:mm`, where `±hh:mm` represents the time zone offset from UTC.
          type: string
        Uri:
          description: Link address to the attachment in the ServiceChannel system.
          type: string
        NoteId:
          format: int64
          description: Unique numeric identifier of the note to which a user added the attachment.
          type: integer
        Visibility:
          format: int32
[...]
