openapi: 3.2.0
info:
  version: bearer.v1
  title: Fixxbook.Bearer.Api.V1 Do Not Dispatch API
  isOdataApi: false
  relativePath: ''
  discoveryPath: docs/bearer.v1
  _isAuthorizedAccess: true
servers:
- url: https://sb2fixxbook.servicechannel.com:443/api
security:
- oauth2: []
tags:
- name: DoNotDispatch
paths:
  /doNotDispatch/addProvider/{providerId}:
    post:
      tags:
      - DoNotDispatch
      summary: Add a provider
      description: 'Adds the specified provider to the *Do Not Dispatch* list, which prevents dispatching new work orders to this provider.


        You can remove providers from the *Do Not Dispatch* list by using the DELETE /doNotDispatch/removeProvider/{providerId} method. To retrieve the list of providers with the *Do Not Dispatch* flag, send the GET /DoNotDispatch/getProviders request.


        Refer to ServiceChannel University to learn how to manage “Do Not Dispatch” providers.'
      operationId: DoNotDispatch_AddProvider
      parameters:
      - name: providerId
        in: path
        description: Unique provider identifier.
        required: true
        schema:
          type: integer
          format: int32
      - name: doNotDispatchReason
        in: query
        description: (*Optional*) Reason for assigning a provider the *Do Not Dispatch* status.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The provider is successfully added to the **Do Not Dispatch** list.
        '400':
          description: The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.
        '401':
          description: The request is not authorized.
        '500':
          description: The server was unable to complete the request due to an internal error.
      deprecated: false
      x-access: Subscribers
  /doNotDispatch/removeProvider/{providerId}:
    delete:
      tags:
      - DoNotDispatch
      summary: Remove a provider
      description: 'Removes the specified provider from the *Do Not Dispatch* list. You can remove one provider at a time.


        To add a provider to this list, send the POST /doNotDispatch/addProvider/{providerId} request.


        Refer to ServiceChannel University to learn how to manage “Do Not Dispatch” providers.'
      operationId: DoNotDispatch_RemoveProvider
      parameters:
      - name: providerId
        in: path
        description: Unique provider identifier.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The provider is successfully removed from the **Do Not Dispatch** list.
        '400':
          description: The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.
        '401':
          description: The request is not authorized.
        '500':
          description: The server was unable to complete the request due to an internal error.
      deprecated: false
      x-access: Subscribers
  /doNotDispatch/getProviders:
    get:
      tags:
      - DoNotDispatch
      summary: Retrieve providers
      description: 'Returns a list of providers included in the *Do Not Dispatch* list. Use the `trade` parameter to specify your request.


        You can use the POST /doNotDispatch/addProvider/{providerId} method to add a provider to the *Do Not Dispatch* list or the DELETE /doNotDispatch/removeProvider/{providerId} method to remove a provider from it.


        Refer to ServiceChannel University to learn how to manage “Do Not Dispatch” providers.'
      operationId: DoNotDispatch_GetProviders
      parameters:
      - name: trade
        in: query
        description: (*Optional*) Type of work a provider performs.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The providers included in the **Do Not Dispatch** list are in the response.
        '400':
          description: The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.
        '401':
          description: The request is not authorized.
        '500':
          description: The server was unable to complete the request due to an internal error.
      deprecated: false
      x-access: Subscribers
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://sb2login.servicechannel.com/oauth/authorize
          tokenUrl: https://sb2login.servicechannel.com/oauth/token
      description: OAuth2 Authorization
