openapi: 3.2.0
info:
  version: '3'
  title: ServiceChannel API - v.3 Assets API
  description: The ServiceChannel API is a RESTful and stateless API.
servers:
- url: https://sb2api.servicechannel.com/v3
security:
- oauth2: []
tags:
- name: Assets
paths:
  /assets/{assetId}:
    get:
      tags:
      - Assets
      summary: Get an asset
      description: 'Returns the details of the specified asset for the current subscriber.


        Send the GET/ assets/locations/{locationId} request to retrieve assets for a particular location.'
      operationId: GETv3_assets_{assetId}?locationId={locationId}&storeId={storeId}&tagId={tagId}&trackingNumber={trackingNumber}
      parameters:
      - name: assetId
        in: path
        description: Unique numeric asset identifier you want to get information of.
        required: true
        schema:
          type: integer
          format: int32
      - name: locationId
        in: query
        description: Unique numeric location identifier. Should be paired with the `tagId` parameter to work correctly.
        required: false
        schema:
          type: integer
          format: int32
      - name: storeId
        in: query
        description: Alphanumeric location identifier in the client’s system. Should be paired with the `tagId` parameter to work correctly.
        required: false
        schema:
          type: string
      - name: tagId
        in: query
        description: Alphanumeric asset identifier assigned by the client. Should be paired with either `locationId` or `storeId` to work correctly.
        required: false
        schema:
          type: string
      - name: trackingNumber
        in: query
        description: 'Unique ID of the work order. Use the parameter to get asset validation attributes: `AssetValidated`, `ValidationRequired`.'
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The details of the requested asset are in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetResponse'
        '400':
          description: The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "The request URI is incorrect, or the resource does not exist.\n            <br/>Error codes:\n            502 — Asset is not found"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/AssociateAssetCode:
    post:
      tags:
      - Assets
      summary: Associate Asset Code
      operationId: POSTv3_assets_AssociateAssetCode
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.AssociateAssetRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.AssociateAssetRequest'
        required: true
  /assets/searchassets:
    post:
      tags:
      - Assets
      summary: Search Assets
      operationId: POSTv3_assets_searchassets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.SearchAssetRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.SearchAssetRequest'
        required: true
  /assets/assetsforreplacement:
    post:
      tags:
      - Assets
      summary: Get Assets For Replacement
      operationId: POSTv3_assets_assetsforreplacement
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetAssetsForReplacementRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetAssetsForReplacementRequest'
        required: true
  /assets/assetcomponents:
    post:
      tags:
      - Assets
      summary: Get circuits and components
      description: 'Retrieves all circuits and components added to the specified parent assets.


        Learn more about updating assets on work orders in ServiceChannel University.'
      operationId: POSTv3_assets_assetcomponents
      responses:
        '200':
          description: The circuits and components for the specified parent assets are in the response.
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "The server was unable to complete the request due to an internal error.\n            <br/>Error codes:\n            501 — Object reference is not set to an instance of an object"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.AssetComponentsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.AssetComponentsRequest'
        description: "Request to get circuits and components for the specified parent assets.\n            <br />Request parameters:\n             • **ParentIds**. Add one or several asset IDs you want to get circuits and components for.\n             • **OnlyRefrigerantTrackingAssets**. Enter `true` to retrieve only circuits and components that contain refrigerant and F-gases."
        required: true
  /assets/getfilteredassets:
    post:
      tags:
      - Assets
      summary: Get Filtered Assets
      operationId: POSTv3_assets_getfilteredassets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
        required: true
  /assets/getfilteredassetsV1:
    post:
      tags:
      - Assets
      summary: Get Filtered Assets V1
      operationId: POSTv3_assets_getfilteredassetsV1?providerId={providerId}
      parameters:
      - name: providerId
        in: query
        description: The provider identifier. Required for sub-contractor request. [Required Special permissions]
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
        description: The request to perform action with.
        required: true
  /assets/getfilteredassetleaks:
    post:
      tags:
      - Assets
      summary: Ge tFiltered Asset Leaks
      operationId: POSTv3_assets_getfilteredassetleaks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
        required: true
  /assets/getwoassettracking:
    post:
      tags:
      - Assets
      summary: Get Wo Asset Tracking
      operationId: POSTv3_assets_getwoassettracking?woId={woId}
      parameters:
      - name: woId
        in: query
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
  /assets/WoAssetTags:
    get:
      tags:
      - Assets
      summary: Get Wo Asset Tags and Tag IDs
      operationId: GETv3_assets_WoAssetTags?recIds[0]={recIds[0]}&recIds[1]={recIds[1]}
      parameters:
      - name: recIds
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: Request succeeded and response contains list of WO asset tags and asset tag IDs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.WOAssetTagResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.WOAssetTagResponse'
        '400':
          description: Request did not succeed and response contains error information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/locations/{locationId}:
    get:
      tags:
      - Assets
      summary: Get assets
      description: 'Returns a list of assets with all details for the specified location. Enter the `trade` parameter to make your request more specific.


        You can use the GET/assets/{assetId} method to get the details of a particular asset.'
      operationId: GETv3_assets_locations_{locationId}?trade={trade}&tradeId={tradeId}
      parameters:
      - name: locationId
        in: path
        description: Unique numeric identifier of the location you want to retrieve assets details of.
        required: true
        schema:
          type: integer
          format: int32
      - name: trade
        in: query
        description: Trade of an asset type the asset is assigned to, for example, *CARPENTRY* or *PLUMBING*
        required: false
        schema:
          type: string
      - name: tradeId
        in: query
        description: Trade id of an asset type the asset is assigned to.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The assets for the specified location are in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetsInfoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetsInfoResponse'
        '400':
          description: The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: The request URI is incorrect, or the resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/locationAssetsTree:
    post:
      tags:
      - Assets
      operationId: POSTv3_assets_locationAssetsTree?locationId={locationId}&trade={trade}
      parameters:
      - name: locationId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: trade
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetsResponseTreeNode'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetsResponseTreeNode'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            503 — User info should not be null;\n            SubscriberId is null;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            504 — API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      summary: POSTv3 assets location assets tree?location id={location id}&trade={trade}
      x-summary-source: derived
  /assets/getassetwohistory:
    post:
      tags:
      - Assets
      summary: Get Assets WorkOrders
      description: This method allows to get WorkOrder objects by Asset Ids.
      operationId: POSTv3_assets_getassetwohistory?workOrdersCount={workOrdersCount}
      parameters:
      - name: workOrdersCount
        in: query
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Workorders.WorkOrder'
            text/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Workorders.WorkOrder'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            503 — User info should not be null;\n            SubscriberId is null;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            504 — API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                format: int32
                type: integer
          text/json:
            schema:
              type: array
              items:
                format: int32
                type: integer
        required: true
  /assets:
    put:
      tags:
      - Assets
      summary: Update an asset
      description: Modifies the details of an existing asset.
      operationId: PUTv3_assets
      responses:
        '200':
          description: The ID of the updated asset is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            502 — No asset to update\n            502 — Asset is not found\n            503 — Unknown Brand name\n            503 — Request is empty or null\n            503 — Do not have rights for editing Asset\n            503 — Unknown Equipment type\n            503 — 'Uses Refrigerant' attribute can not be changed\n            503 — Asset location can not be changed: There are active PM services for this asset."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "The server was unable to complete the request due to an internal error.\n            <br>Error codes:\n            501 — Object reference is not set to an instance of an object."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '502':
          description: The server, while acting as a gateway or proxy, received an invalid response from the upstream server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UpdateAssetRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UpdateAssetRequest'
        description: "Request model to update an asset.\n            <br />The following parameters are required in the request:\n             • **Id**: Unique numeric identification number of an asset you want to update.\n             • **Tag**: Alphanumeric asset identifier assigned by the client, aka **Tag ID**.\n             • **Manufacturer**: Company brand that produces an asset and exists in the system.\n             • **StoreId**: Alphanumeric identifier of the existing location.\n             • **Trade**: The line of work an asset is used for. For example, *ELECTRICAL*, *CARPENTRY*, *CCTV*.\n             • **Type**: Type of an asset. For example, *Refrigerator*, *Computer Monitor*.\n            <br />***Note***. The `Tag` and `Location` parameters should remain unchanged."
        required: true
    post:
      tags:
      - Assets
      summary: Add an asset
      description: 'Creates a new asset for the existing asset type. Since you need to specify which type an asset will belong to, you can:


        • use the GET /AssetTypes method to get a list of asset types of the current provider.


        • create a new asset type by sending the POST /AssetTypes request.


        You can learn more about adding and editing assets in ServiceChannel University.'
      operationId: POSTv3_assets
      responses:
        '201':
          description: The created asset ID is in the response.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            503 — Unknown Brand name\n            503 — Asset Tag ID is empty\n            503 — Request is empty or null\n            503 — No Store ID in the request\n            503 — Trade not found \n            503 — Unknown Equipment type\n            503 — Unknown Store ID\n            503 — Other Trade in Asset Type"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AddAssetRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AddAssetRequest'
        description: "Request to create a new asset.\n            <br />Required parameters:\n            <br /> • **Tag** (aka **Tag ID**). Create an alphanumeric identifier for your asset, for example, AD-3421\n            <br /> • **Manufacturer**. Enter the brand name that exists in the system.\n            <br /> • **StoreId**. Specify the alphanumeric identifier of the existing location.\n            <br /> • **Trade**. Define the line of work an asset is used for, for example, *Electrical*, *Plumbing*, *Carpentry*.\n            <br /> • **Type**. Enter the type of an asset, for example, *Refrigerator*, *Computer Monitor*."
        required: true
  /assets/UpdateAssetTypeInAsset:
    put:
      tags:
      - Assets
      operationId: PUTv3_assets_UpdateAssetTypeInAsset
      responses:
        '200':
          description: The result of operation is in the response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetTypeInAssetReponse_System.Collections.Generic.List_ServiceChannel.Services.Core.AssetTransferProcessingData'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetTypeInAssetReponse_System.Collections.Generic.List_ServiceChannel.Services.Core.AssetTransferProcessingData'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            500 — Internal server error"
        '401':
          description: "The request is not authorized.\n            <br>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "The server was unable to complete the request due to an internal error.\n            <br>Error codes:\n            501 — Object reference is not set to an instance of an object."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.BulkUpdateAssetTypeInAssetRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.BulkUpdateAssetTypeInAssetRequest'
        required: true
      summary: PUTv3 assets update asset type in asset
      x-summary-source: derived
  /assets/AddUpdateAsset:
    post:
      tags:
      - Assets
      summary: Add Update Asset
      operationId: POSTv3_assets_AddUpdateAsset
      responses:
        '200':
          description: The ID of the updated asset is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            502 — No asset to update\n            502 — Asset is not found\n            503 — Unknown Brand name\n            503 — Request is empty or null\n            503 — Do not have rights for editing Asset\n            503 — Unknown Equipment type\n            503 — 'Uses Refrigerant' attribute can not be changed\n            503 — Asset location can not be changed: There are active PM services for this asset."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "The server was unable to complete the request due to an internal error.\n            <br>Error codes:\n            501 — Object reference is not set to an instance of an object."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '502':
          description: The server, while acting as a gateway or proxy, received an invalid response from the upstream server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AddUpdateAssetRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AddUpdateAssetRequest'
        required: true
  /assets/Activation:
    post:
      tags:
      - Assets
      summary: Activates or deactivates an asset depending on passed parameter
      operationId: POSTv3_assets_Activation
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: Indicates that the requested resource requires authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: Forbidden - the data could not be processed by security reasons.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.ActivateAssetRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.ActivateAssetRequest'
        description: "A set of values to indicate asset and action.\n            IsActive \"true\" means that asset must be activated.\n            IsActive \"false\" means that asset must be inactivated."
        required: true
  /assets/workorders/{workorderId}/attach:
    put:
      tags:
      - Assets
      summary: Replace an asset
      description: 'Replaces one asset with another for the specified work order, or when the work order has no asset, attaches it.


        Successful response returns `AssetId` and information about asset validation.


        ***Note***: A work order and an asset should belong to the same trade and location.


        ***Note***: This method cannot be used if a work order has more than one asset attached.'
      operationId: PUTv3_assets_workorders_{workorderId}_attach
      parameters:
      - name: workorderId
        in: path
        description: Unique numeric identifier of the work order you want to assign an asset to. To retrieve IDs of work orders, use the [GET /workorders](/swagger/ui/index?version=3#/WorkOrders/GETv3_workorders_locationId__locationId__storeId__storeId_) method.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The ID of the asset attached to the work order is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AttachAssetResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AttachAssetResponse'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            502 — Asset is not found or Asset Location/Trade does not correspond to WO Location/Trade\n            502 — Work order is not found"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "You are not authorized to request this resource, or the resource is unavailable for some reason.\n            <br/>Error codes:\n            100 — Current Asset has already been assigned to the work order RecId: workorderId\n            100 — Work Order either has connection with a leak record or is a Leak Inspection."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "The server was unable to complete the request due to an internal error.\n            <br/>Error codes:\n            501 — Object reference is not set to an instance of an object"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AttachAssetRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AttachAssetRequest'
        description: Request to assign the specified asset
        required: true
  /assets/workorders/attachassets:
    put:
      tags:
      - Assets
      summary: Add assets
      description: 'Assigns several assets to the specified work order at a time. The *MultipleAssetsPerWorkOrder* FF should be enabled for the method to work properly.


        ***Note***: Assets added before will remain attached to the work order along with the new ones.'
      operationId: PUTv3_assets_workorders_attachassets
      responses:
        '200':
          description: The specified assets are attached to the work order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            502 — Asset is not found"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UpdateAssetsInWORequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UpdateAssetsInWORequest'
        description: Request to add one or several assets to a particular work order.
        required: true
  /assets/workorders/setupassets:
    put:
      tags:
      - Assets
      summary: Add and replace assets
      description: 'Assigns several assets to the specified work order at a time. The *MultipleAssetsPerWorkOrder* FF should be enabled for the method to work properly.


        ***Note***. Existing assets will be replaced with the new ones.'
      operationId: PUTv3_assets_workorders_setupassets
      responses:
        '200':
          description: The specified assets are attached to the work order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            502 — Asset is not found"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UpdateAssetsInWORequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UpdateAssetsInWORequest'
        description: Request to add one or several assets to a particular work order.
        required: true
  /assets/workrequest/setup:
    put:
      tags:
      - Assets
      summary: Setup assets to the work request
      description: '*In limited availability phase.*


        Setup Assets to Work Request.'
      operationId: PUTv3_assets_workrequest_setup
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            502 — Asset is not found;\n            Invalid Work Request Identifier;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\n            <br>Error codes:\n            504 — API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetsWorkRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetsWorkRequest'
        description: The work request identity and assets ids.
        required: true
  /assets/workrequest/remove:
    post:
      tags:
      - Assets
      summary: Remove specified assets from specified work request
      description: '*In limited availability phase.*


        Remove Assets from Work Request.'
      operationId: POSTv3_assets_workrequest_remove
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            503 — Request Data should not be null;\n            User info should not be null;            \n            Asset identity is absent;\n            Work Request identity is absent;\n            502 — No asset to update;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\n            <br>Error codes:\n            504 — API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.RemoveAssetsWorkRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.RemoveAssetsWorkRequest'
        description: The work request identity and assets ids.
        required: true
  /assets/workrequest/{workRequestId}:
    get:
      tags:
      - Assets
      summary: Setup assets to the specified work order
      description: '*In limited availability phase.*


        Setup Assets to Work Order.'
      operationId: GETv3_assets_workrequest_{workRequestId}
      parameters:
      - name: workRequestId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            503 — Request Data should not be null;\n            User info should not be null;            \n            Asset identity is absent;\n            Work Request identity is absent;\n            502 — No asset to update;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\n            <br>Error codes:\n            504 — API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/workorders/removeassets:
    post:
      tags:
      - Assets
      summary: Remove specified assets from specified work order
      description: Remove Assets from Work Order.
      operationId: POSTv3_assets_workorders_removeassets
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            503 — Request Data should not be null;\n            User info should not be null;\n            Asset identity is absent;\n            Work Order identity is absent;\n            502 — No asset to update;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\n            <br>Error codes:\n            504 — API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.RemoveAssetsFromWORequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.RemoveAssetsFromWORequest'
        description: The work order identity and assets ids.
        required: true
  /assets/workorders/{workorderId}/detach:
    put:
      tags:
      - Assets
      summary: Remove assets
      description: Removes all assets assigned to the specified work order.
      operationId: PUTv3_assets_workorders_{workorderId}_detach
      parameters:
      - name: workorderId
        in: path
        description: Unique numeric identifier of the work order you want to remove assets from. To retrieve IDs of work orders, use the [GET /workorders](/swagger/ui/index?version=3#/WorkOrders/GETv3_workorders_locationId__locationId__storeId__storeId_) method.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The assets are successfully removed from the specified work order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\n            <br/>Error codes:\n            502 — Work order is not found"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\n            <br>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/{assetid}/assetwohistory:
    get:
      tags:
      - Assets
      summary: Get asset workorder history
      operationId: GETv3_assets_{assetid}_assetwohistory
      parameters:
      - name: assetid
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Api.Model.Equipments.AssetWorkHistory'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Api.Model.Equipments.AssetWorkHistory'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            503 — User info should not be null;\n            SubscriberId is null;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            504 — API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/{assetid}/assetTransferProvider:
    get:
      tags:
      - Assets
      summary: Get Asset Transfer Provider Id
      operationId: GETv3_assets_{assetid}_assetTransferProvider
      parameters:
      - name: assetid
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            503 — User info should not be null;\n            SubscriberId is null;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            504 — API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/TransferSettings/{subscriberId}:
    get:
      tags:
      - Assets
      summary: Get Transfer Settings
      operationId: GETv3_assets_TransferSettings_{subscriberId}
      parameters:
      - name: subscriberId
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Models.Response.AssetManager.AssetTransfer.AssetTransferSettings'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Models.Response.AssetManager.AssetTransfer.AssetTransferSettings'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            503 — User info should not be null;\n            SubscriberId is null;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            504 — API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/Brands:
    get:
      tags:
      - Assets
      summary: Get Brands
      operationId: GETv3_assets_Brands
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.Manufacturer'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.Manufacturer'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            503 — User info should not be null;\n            SubscriberId is null;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            504 — API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/v2/Brands:
    get:
      tags:
      - Assets
      summary: Get Brands (ver.2)
      operationId: GETv3_assets_v2_Brands?keyword={keyword}&startIndex={startIndex}&pageSize={pageSize}
      parameters:
      - name: keyword
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: startIndex
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.ManufacturersResponce'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.ManufacturersResponce'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            503 — User info should not be null;\n            SubscriberId is null;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            504 — API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/v3/Brands:
    get:
      tags:
      - Assets
      summary: Get Brands (ver.3)
      operationId: GETv3_assets_v3_Brands?assetTypeId={assetTypeId}&keyword={keyword}&startIndex={startIndex}&pageSize={pageSize}&assetTypeBrandsOnly={assetTypeBrandsOnly}&subscriberId={subscriberId}
      parameters:
      - name: assetTypeId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int32
      - name: keyword
        in: query
        description: ''
        required: false
        schema:
          type: string
      - name: startIndex
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int32
      - name: assetTypeBrandsOnly
        in: query
        description: ''
        required: false
        schema:
          type: boolean
          default: false
      - name: subscriberId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.ManufacturersResponce'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.ManufacturersResponce'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            503 — User info should not be null;\n            SubscriberId is null;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            504 — API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/{brandName}/AddBrand:
    post:
      tags:
      - Assets
      summary: Add Brand
      operationId: POSTv3_assets_{brandName}_AddBrand
      parameters:
      - name: brandName
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            503 — User info should not be null;\n            SubscriberId is null;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            504 — API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/assetrepairstatus:
    get:
      tags:
      - Assets
      summary: Get Asset Repair Status By AssetId
      operationId: GETv3_assets_assetrepairstatus?assetId={assetId}
      parameters:
      - name: assetId
        in: query
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                enum:
                - InUse
                - OutForRepair
                - ReplacementRecommended
                - Repaired
                - Down
                - Inactive
                type: string
            text/json:
              schema:
                enum:
                - InUse
                - OutForRepair
                - ReplacementRecommended
                - Repaired
                - Down
                - Inactive
                type: string
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            503 — User info should not be null;\n            SubscriberId is null;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            504 — API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/assetstatushistory:
    get:
      tags:
      - Assets
      summary: Get Asset Status History By AssetId
      operationId: GETv3_assets_assetstatushistory?assetId={assetId}
      parameters:
      - name: assetId
        in: query
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetStatusHistoryResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetStatusHistoryResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            503 — User info should not be null;\n            SubscriberId is null;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            504 — API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/updateassetrepairstatus:
    put:
      tags:
      - Assets
      summary: Update Asset Repair Status By AssetId
      operationId: PUTv3_assets_updateassetrepairstatus
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                default: false
                type: boolean
            text/json:
              schema:
                default: false
                type: boolean
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            503 — User info should not be null;\n            SubscriberId is null;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            504 — API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UpdateAssetRepairStatusRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UpdateAssetRepairStatusRequest'
        required: true
  /assets/RecordScannedAsset:
    post:
      tags:
      - Assets
      summary: Records the result of scanning an asset tag
      description: 'Records the outcome of scanning (or attempting to scan) an asset tag. Includes validation status and standardized failure reasons. For a successful request, returns `true` in the response.


        ***Note:*** Asset scanning is based on **Asset Rules** (*AssetRules* FF) configured by clients within Asset Manager. To check validation rules, run the GET/assets/{subscriberId}/ValidationRules method.'
      operationId: POSTv3_assets_RecordScannedAsset
      responses:
        '200':
          description: The result of asset tag scanning was successfully recorded.
          content:
            application/json:
              schema:
                default: false
                type: boolean
            text/json:
              schema:
                default: false
                type: boolean
        '400':
          description: The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Something went wrong, and the server was unable to complete your request.\n            <br/>Error codes:\n            501 &mdash; Recording of asset tag scan for asset ID # failed"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetTagScanAuditRecord'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetTagScanAuditRecord'
        description: Request body for recording the result of asset tag scanning.
        required: true
  /assets/HasAssetBeenValidated:
    post:
      tags:
      - Assets
      summary: Determines if the specified asset has had its tag validated or not
      operationId: POSTv3_assets_HasAssetBeenValidated
      responses:
        '200':
          description: Request succeeded
          content:
            application/json:
              schema:
                default: false
                type: boolean
            text/json:
              schema:
                default: false
                type: boolean
        '400':
          description: Request did NOT succeed and the error information is in the response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetTagScanAuditRecord'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetTagScanAuditRecord'
        required: true
  /assets/GetAssetValidationInformation:
    post:
      tags:
      - Assets
      summary: Returns asset tag validation information for the specified list of assets
      operationId: POSTv3_assets_GetAssetValidationInformation
      responses:
        '200':
          description: Request succeeded
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetTagScanAuditRecord'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetTagScanAuditRecord'
        '400':
          description: Request did NOT succeed and the error information is in the response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetTagScanAuditRecord'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetTagScanAuditRecord'
        required: true
  /assets/{subscriberId}/ValidationRules:
    get:
      tags:
      - Assets
      summary: Gets the asset tag validation settings for the specified subscriber
      operationId: GETv3_assets_{subscriberId}_ValidationRules
      parameters:
      - name: subscriberId
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Request succeeded and response contains asset tag validation exception information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Administration.AssetRules.AssetTagging'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Administration.AssetRules.AssetTagging'
        '400':
          description: Request did NOT succeed and response contains error information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/ValidationRulesByWOId:
    get:
      tags:
      - Assets
      summary: Gets the asset tag validation settings for the specified work order
      operationId: GETv3_assets_ValidationRulesByWOId?trackingNumber={trackingNumber}
      parameters:
      - name: trackingNumber
        in: query
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Request succeeded and response contains asset tag validation exception information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Administration.AssetRules.AssetTagging'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Administration.AssetRules.AssetTagging'
        '400':
          description: Request did NOT succeed and response contains error information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/UnableToValidateReasons:
    get:
      tags:
      - Assets
      summary: Gets list of unable to validate reasons
      operationId: GETv3_assets_UnableToValidateReasons
      responses:
        '200':
          description: Request succeeded and response contains list of unable to validate reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Administration.AssetRules.UnableToValidateReason'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Administration.AssetRules.UnableToValidateReason'
        '400':
          description: Request did NOT succeed and response contains error information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    post:
      tags:
      - Assets
      summary: Creates wo_UnableToValidateAssetHistory
      operationId: POSTv3_assets_UnableToValidateReasons
      responses:
        '200':
          description: Request succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UnableToValidateAssetReasonRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UnableToValidateAssetReasonRequest'
        '400':
          description: Request did NOT succeed and response contains error information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UnableToValidateAssetReasonRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UnableToValidateAssetReasonRequest'
        required: true
  /assets/UnableToScanReasons:
    get:
      tags:
      - Assets
      summary: Gets list of unable to scan reasons
      operationId: GETv3_assets_UnableToScanReasons?subscriberId={subscriberId}
      parameters:
      - name: subscriberId
        in: query
        description: Subscriber unique indentifier
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Request succeeded and response contains list of unable to scan reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Administration.AssetRules.UnableToScanReason'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Administration.AssetRules.UnableToScanReason'
        '400':
          description: Request did NOT succeed and response contains error information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    post:
      tags:
      - Assets
      summary: Creates wo_UnableToScanAssetHistory
      operationId: POSTv3_assets_UnableToScanReasons
      responses:
        '200':
          description: Request succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UnableToScanAssetReasonRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UnableToScanAssetReasonRequest'
        '400':
          description: Request did NOT succeed and response contains error information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UnableToScanAssetReasonRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UnableToScanAssetReasonRequest'
        required: true
  /assets/UnableToAddReasons:
    get:
      tags:
      - Assets
      summary: Gets list of unable to add reasons
      operationId: GETv3_assets_UnableToAddReasons
      responses:
        '200':
          description: Request succeeded and response contains list of unable to add reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Administration.AssetRules.UnableToAddReason'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Administration.AssetRules.UnableToAddReason'
        '400':
          description: Request did NOT succeed and response contains error information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    post:
      tags:
      - Assets
      summary: Creates wo_UnableToAddAssetHistory
      operationId: POSTv3_assets_UnableToAddReasons
      responses:
        '200':
          description: Request succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UnableToAddAssetReasonRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UnableToAddAssetReasonRequest'
        '400':
          description: Request did NOT succeed and response contains error information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UnableToAddAssetReasonRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UnableToAddAssetReasonRequest'
        required: true
  /assets/UnableToScanReasonsNotAttachedAsset:
    get:
      tags:
      - Assets
      summary: Gets list of unable to scan reasons not attached assets
      operationId: GETv3_assets_UnableToScanReasonsNotAttachedAsset
      responses:
        '200':
          description: Request succeeded and response contains list of unable to scan reasons not attached assets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Administration.AssetRules.UnableToScanReasonsNotAttachedAsset'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Administration.AssetRules.UnableToScanReasonsNotAttachedAsset'
        '400':
          description: Request did NOT succeed and response contains error information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/UnableToValidateReasonsNotAttachedAsset:
    get:
      tags:
      - Assets
      summary: Gets list of unable to validate reasons not attached assets
      operationId: GETv3_assets_UnableToValidateReasonsNotAttachedAsset
      responses:
        '200':
          description: Request succeeded and response contains list of unable to validate reasons not attached assets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Administration.AssetRules.UnableToValidateReasonsNotAttachedAsset'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Administration.AssetRules.UnableToValidateReasonsNotAttachedAsset'
        '400':
          description: Request did NOT succeed and response contains error information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/ValidationRulesForMultipleSubscribers:
    post:
      tags:
      - Assets
      summary: Gets the asset tag validation settings for multiple subscribers
      operationId: POSTv3_assets_ValidationRulesForMultipleSubscribers
      responses:
        '200':
          description: Request succeeded and response contains asset tag validation exception information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Administration.AssetRules.AssetTagging'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Administration.AssetRules.AssetTagging'
        '400':
          description: Request did NOT succeed and response contains error information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Core.InternalRequests.Administration.GetAssetTagValidationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Core.InternalRequests.Administration.GetAssetTagValidationRequest'
        description: request
        required: true
  /assets/GetAssetValidationHistoryByTrackingNumber:
    post:
      tags:
      - Assets
      summary: Returns asset tag validation information for the specified assets and the work…
      operationId: POSTv3_assets_GetAssetValidationHistoryByTrackingNumber
      responses:
        '200':
          description: Request succeeded
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetTagScanAuditRecord'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetTagScanAuditRecord'
        '400':
          description: Request did NOT succeed and the error information is in the response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Core.InternalRequests.Assets.GetAssetValidationHistoryRequestInternal'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Core.InternalRequests.Assets.GetAssetValidationHistoryRequestInternal'
        required: true
  /assets/updateAssetLocation:
    put:
      tags:
      - Assets
      summary: Update asset location
      description: Updates asset location
      operationId: PUTv3_assets_updateAssetLocation?assetId={assetId}&locationId={locationId}
      parameters:
      - name: assetId
        in: query
        description: Asset update id
        required: true
        schema:
          type: integer
          format: int32
      - name: locationId
        in: query
        description: New location id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            503 — Request Data should not be null;\n            User info should not be null;\n            SubscriberId is null;\n            Asset ID is absent;\n            502 — No asset or location to update;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\n            <br>Error codes:\n            504 — API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/{trackingNumber}/IsValidationRequired:
    get:
      tags:
      - Assets
      summary: Get Scan Method
      operationId: GETv3_assets_{trackingNumber}_IsValidationRequired
      parameters:
      - name: trackingNumber
        in: path
        description: Tracking Number
        required: true
        schema:
          type: integer
[...]
