swagger: '2.0'
info:
  version: bearer.v1
  title: Fixxbook.Bearer.Api.V1 AfterHours Assets API
  isOdataApi: false
  relativePath: ''
  discoveryPath: docs/bearer.v1
  _isAuthorizedAccess: true
host: sb2fixxbook.servicechannel.com:443
basePath: /api
schemes:
- https
security:
- oauth2: []
tags:
- name: Assets
paths:
  /assets/{assetId}:
    get:
      tags:
      - Assets
      summary: Get an asset
      description: "Returns the details of the specified asset for the current subscriber.<br />\r\n            Send the [GET/ assets/locations/{locationId}](/swagger/ui/index?version=3#/Assets/GETv3_assets_locations__locationId__trade__trade_) request to retrieve assets for a particular location."
      operationId: GETv3_assets_{assetId}?locationId={locationId}&storeId={storeId}&tagId={tagId}&trackingNumber={trackingNumber}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: assetId
        in: path
        description: Unique numeric asset identifier you want to get information of.
        required: true
        type: integer
        format: int32
      - name: locationId
        in: query
        description: Unique numeric location identifier. Should be paired with the `tagId` parameter to work correctly.
        required: false
        type: integer
        format: int32
      - name: storeId
        in: query
        description: Alphanumeric location identifier in the client’s system. Should be paired with the `tagId` parameter to work correctly.
        required: false
        type: string
      - name: tagId
        in: query
        description: Alphanumeric asset identifier assigned by the client. Should be paired with either `locationId` or `storeId` to work correctly.
        required: false
        type: string
      - name: trackingNumber
        in: query
        description: 'Unique ID of the work order. Use the parameter to get asset validation attributes: `AssetValidated`, `ValidationRequired`.'
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: The details of the requested asset are in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AssetResponse'
        '400':
          description: The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "The request URI is incorrect, or the resource does not exist.\r\n            <br/>Error codes:\r\n            502 — Asset is not found"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/AssociateAssetCode:
    post:
      tags:
      - Assets
      summary: Associate Asset Code
      operationId: POSTv3_assets_AssociateAssetCode
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Equipments.AssociateAssetRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /assets/searchassets:
    post:
      tags:
      - Assets
      summary: Search Assets
      operationId: POSTv3_assets_searchassets
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Equipments.SearchAssetRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /assets/assetsforreplacement:
    post:
      tags:
      - Assets
      summary: Get Assets For Replacement
      operationId: POSTv3_assets_assetsforreplacement
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.GetAssetsForReplacementRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /assets/assetcomponents:
    post:
      tags:
      - Assets
      summary: Get circuits and components
      description: "Retrieves all circuits and components added to the specified parent assets.\r\n            <br />Learn more about [updating assets on work orders](https://servicechannel.atlassian.net/wiki/spaces/SCU/pages/1484194012/Updating+Assets+on+Work+Orders) in ServiceChannel University."
      operationId: POSTv3_assets_assetcomponents
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: "Request to get circuits and components for the specified parent assets.\r\n            <br />Request parameters:\r\n             • **ParentIds**. Add one or several asset IDs you want to get circuits and components for.\r\n             • **OnlyRefrigerantTrackingAssets**. Enter `true` to retrieve only circuits and components that contain refrigerant and F-gases."
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Equipments.AssetComponentsRequest'
      responses:
        '200':
          description: The circuits and components for the specified parent assets are in the response.
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "The server was unable to complete the request due to an internal error.\r\n            <br/>Error codes:\r\n            501 — Object reference is not set to an instance of an object"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/getfilteredassets:
    post:
      tags:
      - Assets
      summary: Get Filtered Assets
      operationId: POSTv3_assets_getfilteredassets
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /assets/getfilteredassetsV1:
    post:
      tags:
      - Assets
      summary: Get Filtered Assets V1
      operationId: POSTv3_assets_getfilteredassetsV1?providerId={providerId}
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: The request to perform action with.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
      - name: providerId
        in: query
        description: The provider identifier. Required for sub-contractor request. [Required Special permissions]
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /assets/getfilteredassetleaks:
    post:
      tags:
      - Assets
      summary: Ge tFiltered Asset Leaks
      operationId: POSTv3_assets_getfilteredassetleaks
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /assets/getwoassettracking:
    post:
      tags:
      - Assets
      summary: Get Wo Asset Tracking
      operationId: POSTv3_assets_getwoassettracking?woId={woId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: woId
        in: query
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /assets/WoAssetTags:
    get:
      tags:
      - Assets
      summary: Get Wo Asset Tags and Tag IDs
      operationId: GETv3_assets_WoAssetTags?recIds[0]={recIds[0]}&recIds[1]={recIds[1]}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: recIds
        in: query
        description: ''
        required: true
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      responses:
        '200':
          description: Request succeeded and response contains list of WO asset tags and asset tag IDs
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.WOAssetTagResponse'
        '400':
          description: Request did not succeed and response contains error information
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/locations/{locationId}:
    get:
      tags:
      - Assets
      summary: Get assets
      description: "Returns a list of assets with all details for the specified location. Enter the `trade` parameter to make your request more specific.\r\n             <br />\r\n             You can use the [GET/assets/{assetId}](/swagger/ui/index?version=3#/Assets/GETv3_assets__assetId__locationId__locationId__storeId__storeId__tagId__tagId__trackingNumber__trackingNumber_) method to get the details of a particular asset."
      operationId: GETv3_assets_locations_{locationId}?trade={trade}&tradeId={tradeId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: locationId
        in: path
        description: Unique numeric identifier of the location you want to retrieve assets details of.
        required: true
        type: integer
        format: int32
      - name: trade
        in: query
        description: Trade of an asset type the asset is assigned to, for example, *CARPENTRY* or *PLUMBING*
        required: false
        type: string
      - name: tradeId
        in: query
        description: Trade id of an asset type the asset is assigned to.
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: The assets for the specified location are in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AssetsInfoResponse'
        '400':
          description: The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: The request URI is incorrect, or the resource does not exist.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/locationAssetsTree:
    post:
      tags:
      - Assets
      operationId: POSTv3_assets_locationAssetsTree?locationId={locationId}&trade={trade}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: locationId
        in: query
        required: true
        type: integer
        format: int32
      - name: trade
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AssetsResponseTreeNode'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — User info should not be null;\r\n            SubscriberId is null;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/getassetwohistory:
    post:
      tags:
      - Assets
      summary: Get Assets WorkOrders
      description: This method allows to get WorkOrder objects by Asset Ids.<br />
      operationId: POSTv3_assets_getassetwohistory?workOrdersCount={workOrdersCount}
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: assetIds
        in: body
        description: ''
        required: true
        schema:
          type: array
          items:
            format: int32
            type: integer
      - name: workOrdersCount
        in: query
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          schema:
            type: object
            additionalProperties:
              type: array
              items:
                $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.WorkOrder'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — User info should not be null;\r\n            SubscriberId is null;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets:
    put:
      tags:
      - Assets
      summary: Update an asset
      description: Modifies the details of an existing asset.
      operationId: PUTv3_assets
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: assetRequest
        in: body
        description: "Request model to update an asset.\r\n            <br />The following parameters are required in the request:\r\n             • **Id**: Unique numeric identification number of an asset you want to update.\r\n             • **Tag**: Alphanumeric asset identifier assigned by the client, aka **Tag ID**.\r\n             • **Manufacturer**: Company brand that produces an asset and exists in the system.\r\n             • **StoreId**: Alphanumeric identifier of the existing location.\r\n             • **Trade**: The line of work an asset is used for. For example, *ELECTRICAL*, *CARPENTRY*, *CCTV*.\r\n             • **Type**: Type of an asset. For example, *Refrigerator*, *Computer Monitor*.\r\n            <br />***Note***. The `Tag` and `Location` parameters should remain unchanged."
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.UpdateAssetRequest'
      responses:
        '200':
          description: The ID of the updated asset is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            502 — No asset to update\r\n            502 — Asset is not found\r\n            503 — Unknown Brand name\r\n            503 — Request is empty or null\r\n            503 — Do not have rights for editing Asset\r\n            503 — Unknown Equipment type\r\n            503 — 'Uses Refrigerant' attribute can not be changed\r\n            503 — Asset location can not be changed: There are active PM services for this asset."
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "The server was unable to complete the request due to an internal error.\r\n            <br>Error codes:\r\n            501 — Object reference is not set to an instance of an object."
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '502':
          description: The server, while acting as a gateway or proxy, received an invalid response from the upstream server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    post:
      tags:
      - Assets
      summary: Add an asset
      description: "Creates a new asset for the existing asset type. Since you need to specify which type an asset will belong to, you can:\r\n            <br /> • use the [GET /AssetTypes](/swagger/ui/index?version=3#/AssetTypes/GETv3_AssetTypes) method to get a list of asset types of the current provider.\r\n            <br /> • create a new asset type by sending the [POST /AssetTypes](/swagger/ui/index?version=3#/AssetTypes/POSTv3_AssetTypes) request.\r\n            <br />You can learn more about [adding and editing assets](https://servicechannel.atlassian.net/wiki/spaces/SCU/pages/573178120/Adding+and+Editing+Assets) in ServiceChannel University."
      operationId: POSTv3_assets
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: assetRequest
        in: body
        description: "Request to create a new asset.\r\n            <br />Required parameters:\r\n            <br /> • **Tag** (aka **Tag ID**). Create an alphanumeric identifier for your asset, for example, AD-3421\r\n            <br /> • **Manufacturer**. Enter the brand name that exists in the system.\r\n            <br /> • **StoreId**. Specify the alphanumeric identifier of the existing location.\r\n            <br /> • **Trade**. Define the line of work an asset is used for, for example, *Electrical*, *Plumbing*, *Carpentry*.\r\n            <br /> • **Type**. Enter the type of an asset, for example, *Refrigerator*, *Computer Monitor*."
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AddAssetRequest'
      responses:
        '201':
          description: The created asset ID is in the response.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            503 — Unknown Brand name\r\n            503 — Asset Tag ID is empty\r\n            503 — Request is empty or null\r\n            503 — No Store ID in the request\r\n            503 — Trade not found \r\n            503 — Unknown Equipment type\r\n            503 — Unknown Store ID\r\n            503 — Other Trade in Asset Type"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/UpdateAssetTypeInAsset:
    put:
      tags:
      - Assets
      operationId: PUTv3_assets_UpdateAssetTypeInAsset
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.BulkUpdateAssetTypeInAssetRequest'
      responses:
        '200':
          description: The result of operation is in the response
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AssetTypeInAssetReponse[System.Collections.Generic.List[ServiceChannel.Services.Core.AssetTransferProcessingData]]'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            500 — Internal server error"
        '401':
          description: "The request is not authorized.\r\n            <br>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "The server was unable to complete the request due to an internal error.\r\n            <br>Error codes:\r\n            501 — Object reference is not set to an instance of an object."
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/AddUpdateAsset:
    post:
      tags:
      - Assets
      summary: Add Update Asset
      operationId: POSTv3_assets_AddUpdateAsset
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AddUpdateAssetRequest'
      responses:
        '200':
          description: The ID of the updated asset is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            502 — No asset to update\r\n            502 — Asset is not found\r\n            503 — Unknown Brand name\r\n            503 — Request is empty or null\r\n            503 — Do not have rights for editing Asset\r\n            503 — Unknown Equipment type\r\n            503 — 'Uses Refrigerant' attribute can not be changed\r\n            503 — Asset location can not be changed: There are active PM services for this asset."
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "The server was unable to complete the request due to an internal error.\r\n            <br>Error codes:\r\n            501 — Object reference is not set to an instance of an object."
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '502':
          description: The server, while acting as a gateway or proxy, received an invalid response from the upstream server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /assets/Activation:
    post:
      tags:
      - Assets
      summary: Activates or deactivates an asset depending on passed parameter.
      operationId: POSTv3_assets_Activation
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: "A set of values to indicate asset and action.\r\n            IsActive \"true\" means that asset must be activated.\r\n            IsActive \"false\" means that asset must be inactivated."
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Equipments.ActivateAssetRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: Indicates that the requested resource requires authentication.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: Forbidden - the data could not be processed by security reasons.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /assets/workorders/{workorderId}/attach:
    put:
      tags:
      - Assets
      summary: Replace an asset
      description: "Replaces one asset with another for the specified work order, or when the work order has no asset, attaches it.  \r\n            <br />Successful response returns `AssetId` and information about asset validation. \r\n            <br />***Note***: A work order and an asset should belong to the same trade and location.\r\n            <br />***Note***: This method cannot be used if a work order has more than one asset attached."
      operationId: PUTv3_assets_workorders_{workorderId}_attach
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Unique numeric identifier of the work order you want to assign an asset to. To retrieve IDs of work orders, use the [GET /workorders](/swagger/ui/index?version=3#/WorkOrders/GETv3_workorders_locationId__locationId__storeId__storeId_) method.
        required: true
        type: integer
        format: int32
      - name: attachAssetRequest
        in: body
        description: Request to assign the specified asset
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AttachAssetRequest'
      responses:
        '200':
          description: The ID of the asset attached to the work order is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AttachAssetResponse'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            502 — Asset is not found or Asset Location/Trade does not correspond to WO Location/Trade\r\n            502 — Work order is not found"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "You are not authorized to request this resource, or the resource is unavailable for some reason.\r\n            <br/>Error codes:\r\n            100 — Current Asset has already been assigned to the work order RecId: workorderId\r\n            100 — Work Order either has connection with a leak record or is a Leak Inspection."
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "The server was unable to complete the request due to an internal error.\r\n            <br/>Error codes:\r\n            501 — Object reference is not set to an instance of an object"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/workorders/attachassets:
    put:
      tags:
      - Assets
      summary: Add assets
      description: "Assigns several assets to the specified work order at a time. The *MultipleAssetsPerWorkOrder* FF should be enabled for the method to work properly.\r\n            <br />***Note***: Assets added before will remain attached to the work order along with the new ones."
      operationId: PUTv3_assets_workorders_attachassets
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: Request to add one or several assets to a particular work order.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.UpdateAssetsInWORequest'
      responses:
        '200':
          description: The specified assets are attached to the work order.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            502 — Asset is not found"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/workorders/setupassets:
    put:
      tags:
      - Assets
      summary: Add and replace assets
      description: "Assigns several assets to the specified work order at a time. The *MultipleAssetsPerWorkOrder* FF should be enabled for the method to work properly.\r\n            <br />***Note***. Existing assets will be replaced with the new ones."
      operationId: PUTv3_assets_workorders_setupassets
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: Request to add one or several assets to a particular work order.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.UpdateAssetsInWORequest'
      responses:
        '200':
          description: The specified assets are attached to the work order.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            502 — Asset is not found"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/workrequest/setup:
    put:
      tags:
      - Assets
      summary: Setup assets to the work request
      description: "*In limited availability phase.*\r\n            <br />Setup Assets to Work Request."
      operationId: PUTv3_assets_workrequest_setup
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: The work request identity and assets ids.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AssetsWorkRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            502 — Asset is not found;\r\n            Invalid Work Request Identifier;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/workrequest/remove:
    post:
      tags:
      - Assets
      summary: Remove specified assets from specified work request
      description: "*In limited availability phase.*\r\n            <br />Remove Assets from Work Request."
      operationId: POSTv3_assets_workrequest_remove
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: The work request identity and assets ids.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.RemoveAssetsWorkRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — Request Data should not be null;\r\n            User info should not be null;            \r\n            Asset identity is absent;\r\n            Work Request identity is absent;\r\n            502 — No asset to update;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/workrequest/{workRequestId}:
    get:
      tags:
      - Assets
      summary: Setup assets to the specified work order
      description: "*In limited availability phase.*\r\n            <br />Setup Assets to Work Order."
      operationId: GETv3_assets_workrequest_{workRequestId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workRequestId
        in: path
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — Request Data should not be null;\r\n            User info should not be null;            \r\n            Asset identity is absent;\r\n            Work Request identity is absent;\r\n            502 — No asset to update;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/workorders/removeassets:
    post:
      tags:
      - Assets
      summary: Remove specified assets from specified work order
      description: Remove Assets from Work Order.
      operationId: POSTv3_assets_workorders_removeassets
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: The work order identity and assets ids.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.RemoveAssetsFromWORequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — Request Data should not be null;\r\n            User info should not be null;\r\n            Asset identity is absent;\r\n            Work Order identity is absent;\r\n            502 — No asset to update;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/workorders/{workorderId}/detach:
    put:
      tags:
      - Assets
      summary: Remove assets
      description: Removes all assets assigned to the specified work order.
      operationId: PUTv3_assets_workorders_{workorderId}_detach
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: Unique numeric identifier of the work order you want to remove assets from. To retrieve IDs of work orders, use the [GET /workorders](/swagger/ui/index?version=3#/WorkOrders/GETv3_workorders_locationId__locationId__storeId__storeId_) method.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: The assets are successfully removed from the specified work order.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            502 — Work order is not found"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/{assetid}/assetwohistory:
    get:
      tags:
      - Assets
      summary: Get asset workorder history
      operationId: GETv3_assets_{assetid}_assetwohistory
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: assetid
        in: path
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Api.Model.Equipments.AssetWorkHistory'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — User info should not be null;\r\n            SubscriberId is null;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/{assetid}/assetTransferProvider:
    get:
      tags:
      - Assets
      summary: Get Asset Transfer Provider Id
      operationId: GETv3_assets_{assetid}_assetTransferProvider
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: assetid
        in: path
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          schema:
            format: int32
            type: integer
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — User info should not be null;\r\n            SubscriberId is null;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/TransferSettings/{subscriberId}:
    get:
      tags:
      - Assets
      summary: Get Transfer Settings
      operationId: GETv3_assets_TransferSettings_{subscriberId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: subscriberId
        in: path
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Response.AssetManager.AssetTransfer.AssetTransferSettings'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — User info should not be null;\r\n            SubscriberId is null;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/Brands:
    get:
      tags:
      - Assets
      summary: Get Brands
      operationId: GETv3_assets_Brands
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.Manufacturer'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — User info should not be null;\r\n            SubscriberId is null;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/v2/Brands:
    get:
      tags:
      - Assets
      summary: Get Brands (ver.2)
      operationId: GETv3_assets_v2_Brands?keyword={keyword}&startIndex={startIndex}&pageSize={pageSize}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: keyword
        in: query
        description: ''
        required: false
        type: string
      - name: startIndex
        in: query
        description: ''
        required: false
        type: integer
        format: int32
      - name: pageSize
        in: query
        description: ''
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.ManufacturersResponce'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — User info should not be null;\r\n            SubscriberId is null;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/v3/Brands:
    get:
      tags:
      - Assets
      summary: Get Brands (ver.3)
      operationId: GETv3_assets_v3_Brands?assetTypeId={assetTypeId}&keyword={keyword}&startIndex={startIndex}&pageSize={pageSize}&assetTypeBrandsOnly={assetTypeBrandsOnly}&subscriberId={subscriberId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: assetTypeId
        in: query
        description: ''
        required: false
        type: integer
        format: int32
      - name: keyword
        in: query
        description: ''
        required: false
        type: string
      - name: startIndex
        in: query
        description: ''
        required: false
        type: integer
        format: int32
      - name: pageSize
        in: query
        description: ''
        required: false
        type: integer
        format: int32
      - name: assetTypeBrandsOnly
        in: query
        description: ''
        required: false
        type: boolean
        default: false
      - name: subscriberId
        in: query
        description: ''
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.ManufacturersResponce'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — User info should not be null;\r\n            SubscriberId is null;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/{brandName}/AddBrand:
    post:
      tags:
      - Assets
      summary: Add Brand
      operationId: POSTv3_assets_{brandName}_AddBrand
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: brandName
        in: path
        description: ''
        required: true
        type: string
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          schema:
            format: int32
            type: integer
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — User info should not be null;\r\n            SubscriberId is null;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/assetrepairstatus:
    get:
      tags:
      - Assets
      summary: Get Asset Repair Status By AssetId
      operationId: GETv3_assets_assetrepairstatus?assetId={assetId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: assetId
        in: query
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          schema:
            enum:
            - InUse
            - OutForRepair
            - ReplacementRecommended
            - Repaired
            - Down
            - Inactive
            type: string
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — User info should not be null;\r\n            SubscriberId is null;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/assetstatushistory:
    get:
      tags:
      - Assets
      summary: Get Asset Status History By AssetId
      operationId: GETv3_assets_assetstatushistory?assetId={assetId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: assetId
        in: query
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AssetStatusHistoryResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — User info should not be null;\r\n            SubscriberId is null;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/updateassetrepairstatus:
    put:
      tags:
      - Assets
      summary: Update Asset Repair Status By AssetId
      operationId: PUTv3_assets_updateassetrepairstatus
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.UpdateAssetRepairStatusRequest'
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          schema:
            default: false
            type: boolean
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — User info should not be null;\r\n            SubscriberId is null;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/RecordScannedAsset:
    post:
      tags:
      - Assets
      summary: Records the result of scanning an asset tag
      description: "Records the outcome of scanning (or attempting to scan) an asset tag. Includes validation status and standardized failure reasons. For a successful request, returns `true` in the response.\r\n            <br />***Note:*** Asset scanning is based on **Asset Rules** (*AssetRules* FF) configured by clients within Asset Manager. To check validation rules, run the [GET/assets/{subscriberId}/ValidationRules](https://developer.servicechannel.com/swagger/index.html#/Assets/GETv3_assets_%7BsubscriberId%7D_ValidationRules) method."
      operationId: POSTv3_assets_RecordScannedAsset
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: auditRequest
        in: body
        description: Request body for recording the result of asset tag scanning.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AssetTagScanAuditRecord'
      responses:
        '200':
          description: The result of asset tag scanning was successfully recorded.
          schema:
            default: false
            type: boolean
        '400':
          description: The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Something went wrong, and the server was unable to complete your request.\r\n            <br/>Error codes:\r\n            501 &mdash; Recording of asset tag scan for asset ID # failed"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/HasAssetBeenValidated:
    post:
      tags:
      - Assets
      summary: Determines if the specified asset has had its tag validated or not
      operationId: POSTv3_assets_HasAssetBeenValidated
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: auditRequest
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AssetTagScanAuditRecord'
      responses:
        '200':
          description: Request succeeded
          schema:
            default: false
            type: boolean
        '400':
          description: Request did NOT succeed and the error information is in the response
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/GetAssetValidationInformation:
    post:
      tags:
      - Assets
      summary: Returns asset tag validation information for the specified list of assets
      operationId: POSTv3_assets_GetAssetValidationInformation
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: auditRequests
        in: body
        description: ''
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AssetTagScanAuditRecord'
      responses:
        '200':
          description: Request succeeded
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AssetTagScanAuditRecord'
        '400':
          description: Request did NOT succeed and the error information is in the response
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/{subscriberId}/ValidationRules:
    get:
      tags:
      - Assets
      summary: Gets the asset tag validation settings for the specified subscriber.
      operationId: GETv3_assets_{subscriberId}_ValidationRules
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: subscriberId
        in: path
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Request succeeded and response contains asset tag validation exception information
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Administration.AssetRules.AssetTagging'
        '400':
          description: Request did NOT succeed and response contains error information
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/ValidationRulesByWOId:
    get:
      tags:
      - Assets
      summary: Gets the asset tag validation settings for the specified work order.
      operationId: GETv3_assets_ValidationRulesByWOId?trackingNumber={trackingNumber}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: trackingNumber
        in: query
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Request succeeded and response contains asset tag validation exception information
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Administration.AssetRules.AssetTagging'
        '400':
          description: Request did NOT succeed and response contains error information
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/UnableToValidateReasons:
    get:
      tags:
      - Assets
      summary: Gets list of unable to validate reasons.
      operationId: GETv3_assets_UnableToValidateReasons
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: Request succeeded and response contains list of unable to validate reasons
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Administration.AssetRules.UnableToValidateReason'
        '400':
          description: Request did NOT succeed and response contains error information
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    post:
      tags:
      - Assets
      summary: Creates wo_UnableToValidateAssetHistory.
      operationId: POSTv3_assets_UnableToValidateReasons
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.UnableToValidateAssetReasonRequest'
      responses:
        '200':
          description: Request succeeded
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.UnableToValidateAssetReasonRequest'
        '400':
          description: Request did NOT succeed and response contains error information
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/UnableToScanReasons:
    get:
      tags:
      - Assets
      summary: Gets list of unable to scan reasons.
      operationId: GETv3_assets_UnableToScanReasons?subscriberId={subscriberId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: subscriberId
        in: query
        description: Subscriber unique indentifier
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: Request succeeded and response contains list of unable to scan reasons
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Administration.AssetRules.UnableToScanReason'
        '400':
          description: Request did NOT succeed and response contains error information
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    post:
      tags:
      - Assets
      summary: Creates wo_UnableToScanAssetHistory.
      operationId: POSTv3_assets_UnableToScanReasons
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.UnableToScanAssetReasonRequest'
      responses:
        '200':
          description: Request succeeded
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.UnableToScanAssetReasonRequest'
        '400':
          description: Request did NOT succeed and response contains error information
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/UnableToAddReasons:
    get:
      tags:
      - Assets
      summary: Gets list of unable to add reasons.
      operationId: GETv3_assets_UnableToAddReasons
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: Request succeeded and response contains list of unable to add reasons
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Administration.AssetRules.UnableToAddReason'
        '400':
          description: Request did NOT succeed and response contains error information
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    post:
      tags:
      - Assets
      summary: Creates wo_UnableToAddAssetHistory.
      operationId: POSTv3_assets_UnableToAddReasons
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.UnableToAddAssetReasonRequest'
      responses:
        '200':
          description: Request succeeded
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.UnableToAddAssetReasonRequest'
        '400':
          description: Request did NOT succeed and response contains error information
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/UnableToScanReasonsNotAttachedAsset:
    get:
      tags:
      - Assets
      summary: Gets list of unable to scan reasons not attached assets.
      operationId: GETv3_assets_UnableToScanReasonsNotAttachedAsset
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: Request succeeded and response contains list of unable to scan reasons not attached assets
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Administration.AssetRules.UnableToScanReasonsNotAttachedAsset'
        '400':
          description: Request did NOT succeed and response contains error information
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/UnableToValidateReasonsNotAttachedAsset:
    get:
      tags:
      - Assets
      summary: Gets list of unable to validate reasons not attached assets.
      operationId: GETv3_assets_UnableToValidateReasonsNotAttachedAsset
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: Request succeeded and response contains list of unable to validate reasons not attached assets
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Administration.AssetRules.UnableToValidateReasonsNotAttachedAsset'
        '400':
          description: Request did NOT succeed and response contains error information
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/ValidationRulesForMultipleSubscribers:
    post:
      tags:
      - Assets
      summary: Gets the asset tag validation settings for multiple subscribers.
      operationId: POSTv3_assets_ValidationRulesForMultipleSubscribers
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: request
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Core.InternalRequests.Administration.GetAssetTagValidationRequest'
      responses:
        '200':
          description: Request succeeded and response contains asset tag validation exception information
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Administration.AssetRules.AssetTagging'
        '400':
          description: Request did NOT succeed and response contains error information
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/GetAssetValidationHistoryByTrackingNumber:
    post:
      tags:
      - Assets
      summary: Returns asset tag validation information for the specified assets and the work order
      operationId: POSTv3_assets_GetAssetValidationHistoryByTrackingNumber
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Core.InternalRequests.Assets.GetAssetValidationHistoryRequestInternal'
      responses:
        '200':
          description: Request succeeded
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AssetTagScanAuditRecord'
        '400':
          description: Request did NOT succeed and the error information is in the response
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/updateAssetLocation:
    put:
      tags:
      - Assets
      summary: Update asset location
      description: Updates asset location
      operationId: PUTv3_assets_updateAssetLocation?assetId={assetId}&locationId={locationId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: assetId
        in: query
        description: Asset update id
        required: true
        type: integer
        format: int32
      - name: locationId
        in: query
        description: New location id
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — Request Data should not be null;\r\n            User info should not be null;\r\n            SubscriberId is null;\r\n            Asset ID is absent;\r\n            502 — No asset or location to update;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/{trackingNumber}/IsValidationRequired:
    get:
      tags:
      - Assets
      summary: Get Scan Method
      operationId: GETv3_assets_{trackingNumber}_IsValidationRequired
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: trackingNumber
        in: path
        description: Tracking Number
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — Request Data should not be null;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/getPrimaryAttachmentsForAssetList:
    post:
      tags:
      - Assets
      summary: Get primary attachments for asset list
      description: Adds new asset. Returns list of attachments for successful request.
      operationId: POSTv3_assets_getPrimaryAttachmentsForAssetList
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: listOfAssetIds
        in: body
        description: ''
        required: true
        schema:
          type: array
          items:
            format: int32
            type: integer
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AssetPrimaryAttachment'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — Request Data should not be null.\r\n            User info should not be null.\r\n            SubscriberId is null.\r\n            Unknown Asset type;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/getPrimaryAttachmentsForAssetList_v1:
    post:
      tags:
      - Assets
      summary: Get primary attachments for asset list
      description: Adds new asset. Returns list of attachments for successful request.
      operationId: POSTv3_assets_getPrimaryAttachmentsForAssetList_v1
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: assetAttachmentsRequest
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.AssetAttachmentsRequest'
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AssetPrimaryAttachment'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — Request Data should not be null.\r\n            User info should not be null.\r\n            SubscriberId is null.\r\n            Unknown Asset type;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/{tradeId}/getAssetTypeGroupsByTradeId:
    get:
      tags:
      - Assets
      summary: Get asset type groups by tradeId
      description: Adds tradeId. Returns list of assetTypeGroup for successful request.
      operationId: GETv3_assets_{tradeId}_getAssetTypeGroupsByTradeId
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: tradeId
        in: path
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.AssetTypes.AssetTypeGroup'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — Request Data should not be null.\r\n            User info should not be null.\r\n            SubscriberId is null.\r\n            Unknown Asset type;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/GetAssetTypeGroupsByAssetsIds:
    post:
      tags:
      - Assets
      summary: Get asset type groups by assetsIds
      description: Adds assetsids. Returns list of assetTypeGroup for successful request.
      operationId: POSTv3_assets_GetAssetTypeGroupsByAssetsIds
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.AssetTypes.GetAssetTypeGroupsRequest'
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.AssetTypes.AssetTypeGroup'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — Request Data should not be null.\r\n            User info should not be null.\r\n            SubscriberId is null.\r\n            Unknown Asset type;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/searchassetsByGroupId:
    post:
      tags:
      - Assets
      summary: Get list of assets grouped by AsseTypeGroupID
      operationId: POSTv3_assets_searchassetsByGroupId
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Equipments.SearchAssetsByGroupIDRequest'
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AssetsGroupedByCategoriesResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            503 — User info should not be null;\r\n            SubscriberId is null;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/CanUserEditAsset:
    get:
      tags:
      - Assets
      summary: Getting permission for edit asset
      operationId: GETv3_assets_CanUserEditAsset?assetTypeId={assetTypeId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: assetTypeId
        in: query
        description: ''
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /assets/CanCreateAsset/{assetTypeId}:
    get:
      tags:
      - Assets
      summary: Getting permission for provider for create new asset
      operationId: GETv3_assets_CanCreateAsset_{assetTypeId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: assetTypeId
        in: path
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Providers
  /assets/CanProviderCreateAssetForTrade/{tradeId}:
    get:
      tags:
      - Assets
      summary: Getting permission for provider for create new asset
      operationId: GETv3_assets_CanProviderCreateAssetForTrade_{tradeId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: tradeId
        in: path
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Providers
  /assets/AssetMeterReadings/{assetId}:
    get:
      tags:
      - Assets
      summary: Get asset readings
      description: "Returns asset meter readings details of the specified asset for the current subscriber.\r\n            <br />Send the [PUT /assets/AssetMeterReadings](/swagger/ui/index?version=3#/Assets/PUTv3_assets_AssetMeterReading) request to edit a particular asset meter reading.\r\n            <br />Refer to ServiceChannel University to learn more about [asset meter readings](https://servicechannel.atlassian.net/wiki/spaces/SCU/pages/834469973/Asset+Meter+Reading)."
      operationId: GETv3_assets_AssetMeterReadings_{assetId}?lastMeterReadingValuesOnly={lastMeterReadingValuesOnly}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: assetId
        in: path
        description: Unique numeric asset identifier you want to retrieve asset meter readings for.
        required: true
        type: integer
        format: int32
      - name: lastMeterReadingValuesOnly
        in: query
        description: When it is true the response should contain one last AssetMeterReading entry for each AssetTypeMeter.
        required: false
        type: boolean
        default: false
      responses:
        '200':
          description: The asset meter readings details are in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AssetMeterReadingResponseItem'
        '400':
          description: The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: The resource you are looking for has been removed, had its name changed, or is temporarily unavailable. / The request URI is incorrect, or the resource does not exist.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/AssetMeterReading:
    put:
      tags:
      - Assets
      summary: Update an asset meter reading
      description: Updates information of a particular asset meter reading.
      operationId: PUTv3_assets_AssetMeterReading
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: Request to update the existing asset meter reading.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.UpdateAssetMeterReadingRequest'
      responses:
        '200':
          description: The asset meter reading is successfully updated.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            Failed to Update Asset Meter Reading"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    post:
      tags:
      - Assets
      operationId: POSTv3_assets_AssetMeterReading
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AddAssetMeterReadingRequest'
      responses:
        '200':
          description: The asset meter reading is successfully added.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            Failed to add asset meter reading."
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/CreateAssetMeterReadingsBulk:
    post:
      tags:
      - Assets
      summary: Asset meter readings bulk create
      description: "Creates asset meter readings.\r\n            <br />Learn more about [adding asset meter reading](https://servicechannel.atlassian.net/wiki/spaces/SCU/pages/988840218/Adding+Asset+s+Meter+Reading+Data) in ServiceChannel University."
      operationId: POSTv3_assets_CreateAssetMeterReadingsBulk
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: Request to create asset readings.
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AddAssetMeterReadingRequestItem'
      responses:
        '200':
          description: The asset meter readings details are in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AssetMeterReadingResponseItem'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            Failed to create asset meter readings."
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "The request URI is incorrect, or the resource does not exist.\r\n            <br/>Error codes:\r\n            502 — Asset is not found"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/UpdateAssetMeterReadingsBulk:
    put:
      tags:
      - Assets
      summary: Asset meter readings bulk update
      description: Updates information about asset meter readings.
      operationId: PUTv3_assets_UpdateAssetMeterReadingsBulk
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: Request to update the existing asset meter readings.
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.UpdateAssetMeterReadingRequestItem'
      responses:
        '200':
          description: The asset meter readings details are in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AssetMeterReadingResponseItem'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            Failed to update asset meter readings."
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/AssetMeter:
    post:
      tags:
      - Assets
      summary: Add asset meters
      description: Attaches an asset meter to a certain asset by specifying a particular asset type meter.
      operationId: POSTv3_assets_AssetMeter
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: Request to add an asset meter to the existing asset.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AddAssetMeterRequest'
      responses:
        '200':
          description: The asset meter is successfully added.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            Failed to add an asset meter"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/AssetMeters:
    get:
      tags:
      - Assets
      summary: Get asset meters
      description: Returns the details of an asset meter by sending the `assetMeterId` parameter  or the details of one or several asset meters by using the `assetId` parameter.
      operationId: GETv3_assets_AssetMeters?assetMeterId={assetMeterId}&assetId={assetId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: assetMeterId
        in: query
        description: Unique numeric asset meter identifier you want to get the details of.
        required: false
        type: integer
        format: int32
      - name: assetId
        in: query
        description: Unique numeric asset identifier you want to retrieve asset meter details for.
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: The asset meter details are in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.AssetMeter'
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            AssetId and Id can't be both null"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/Manufacturer:
    get:
      tags:
      - Assets
      summary: Get Manufacturer
      operationId: GETv3_assets_Manufacturer?manufacturerId={manufacturerId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: manufacturerId
        in: query
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "The resource does not exist.\r\n            <br/>Error codes:\r\n            502 — Manufacturer is not found"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/WorkorderAreas/{subscriberId}:
    get:
      tags:
      - Assets
      summary: Get Work Orders Area list
      operationId: GETv3_assets_WorkorderAreas_{subscriberId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: subscriberId
        in: path
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/System.Collections.Generic.KeyValuePair[System.Int32,System.String]'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/> Request data should not be null.\r\n            <br/> Subscriber User can obtain only own Areas"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/GetValidationStatusesForMultipleWorkOrders:
    post:
      tags:
      - Assets
      summary: Gets list of asset validation statuses for multiple work order.
      operationId: POSTv3_assets_GetValidationStatusesForMultipleWorkOrders?includeDeactivated={includeDeactivated}
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.GetByIdsRequest'
      - name: includeDeactivated
        in: query
        description: ''
        required: false
        type: boolean
        default: false
      responses:
        '200':
          description: Request succeeded and response contains list of validation statuses
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.WorkOrderAssetsCommonValidationResponse'
        '400':
          description: Request did NOT succeed and response contains error information
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /assets/updateAssetStatus:
    put:
      tags:
      - Assets
      summary: Update Asset Status By AssetId
      operationId: PUTv3_assets_updateAssetStatus
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: ''
        required: true
        schema:
[...]
