openapi: 3.2.0
info:
  version: bearer.v1
  title: Fixxbook.Bearer.Api.V1 Invitation API
  isOdataApi: false
  relativePath: ''
  discoveryPath: docs/bearer.v1
  _isAuthorizedAccess: true
servers:
- url: https://sb2fixxbook.servicechannel.com:443/api
security:
- oauth2: []
tags:
- name: Invitation
paths:
  /invitation:
    post:
      tags:
      - Invitation
      summary: Create Invitation for provider for subscriber
      operationId: Invitation_Create
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvitationModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateInvitationModel'
        required: true
components:
  schemas:
    CompanyModel:
      required:
      - Email
      type: object
      properties:
        CompanyName:
          maxLength: 100
          minLength: 0
          type: string
        Email:
          maxLength: 255
          minLength: 0
          pattern: ^[\w!#$%&'*+\-\/=?\^_`{|}~]+(\.[\w!#$%&'*+\-\/=?\^_`{|}~]+)*@((([\-\w]+\.)+[a-zA-Z]{2,63})|(([0-9]{1,3}\.){3}[0-9]{1,3}))$
          type: string
        TaxId:
          maxLength: 100
          minLength: 0
          type: string
        IsActive:
          type: boolean
        AddressInformation:
          $ref: '#/components/schemas/AddressInformationModel'
    PaymentTermsModel:
      type: object
      properties:
        Period:
          format: int32
          type: integer
        Description:
          maxLength: 50
          minLength: 0
          type: string
    CreateInvitationModel:
      required:
      - ScSubscriberId
      type: object
      properties:
        ScSubscriberId:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        Provider:
          $ref: '#/components/schemas/CompanyModel'
        VendorId:
          maxLength: 50
          minLength: 0
          type: string
        Invitation:
          $ref: '#/components/schemas/InvitationModel'
        PaymentTerms:
          $ref: '#/components/schemas/PaymentTermsModel'
    InvitationModel:
      type: object
      properties:
        LanguageCulture:
          maxLength: 5
          minLength: 0
          type: string
        ExpirationDate:
          format: date-time
          type: string
        SenderEmail:
          maxLength: 255
          minLength: 0
          pattern: ^[\w!#$%&'*+\-\/=?\^_`{|}~]+(\.[\w!#$%&'*+\-\/=?\^_`{|}~]+)*@((([\-\w]+\.)+[a-zA-Z]{2,63})|(([0-9]{1,3}\.){3}[0-9]{1,3}))$
          type: string
    AddressInformationModel:
      type: object
      properties:
        Address1:
          maxLength: 50
          minLength: 0
          type: string
        Address2:
          maxLength: 50
          minLength: 0
          type: string
        City:
          maxLength: 50
          minLength: 0
          type: string
        Country:
          maxLength: 50
          minLength: 0
          type: string
        State:
          maxLength: 100
          minLength: 0
          type: string
        PostalCode:
          maxLength: 10
          minLength: 0
          type: string
    Object:
      type: object
      properties: {}
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://sb2login.servicechannel.com/oauth/authorize
          tokenUrl: https://sb2login.servicechannel.com/oauth/token
      description: OAuth2 Authorization
