openapi: 3.2.0
info:
  version: bearer.v1
  title: Fixxbook.Bearer.Api.V1 Client API
  isOdataApi: false
  relativePath: ''
  discoveryPath: docs/bearer.v1
  _isAuthorizedAccess: true
servers:
- url: https://sb2fixxbook.servicechannel.com:443/api
security:
- oauth2: []
tags:
- name: Client
paths:
  /Clients/GetProvidersInfo:
    get:
      tags:
      - Client
      summary: Retrieve the list of providers
      description: 'Returns a list of providers in subscriber’s private network. The response contains provider contact details and the vendor ID.


        Visit ServiceChannel University to find out more about the vendor ID.


        No input parameters are required.'
      operationId: Client_GetProvidersInfo
      responses:
        '200':
          description: The list of providers is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderContactInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/ProviderContactInfo'
        '401':
          description: The requested resource requires authentication.
        '500':
          description: Something went wrong, and the server was unable to complete your request.
      deprecated: false
      x-access: Subscribers
components:
  schemas:
    ContactDetails:
      description: Object containing provider contact information
      type: object
      properties:
        Name:
          description: Primary contact person of the provider
          type: string
        Phone:
          description: Provider’s contact phone number
          type: string
        StreetAddress1:
          description: Main address, such as the house number and street name
          type: string
        StreetAddress2:
          description: Additional address details, such as the floor number
          type: string
        PostalCode:
          description: Postal code
          type: string
        City:
          description: City name
          type: string
        RegionName:
          description: State, province, or administrative region
          type: string
        CountryCode:
          description: Country code
          type: string
        Fax:
          description: Fax number
          type: string
    ProviderContactInfo:
      description: Object containing details about providers in subscriber’s private network
      type: object
      properties:
        ProviderName:
          description: Provider name
          type: string
        ProviderId:
          format: int32
          description: Unique numeric identifier of the provider in the ServiceChannel system
          type: integer
        VendorId:
          description: Unique identification number of the provider assigned by the subscriber
          type: string
        SubscriberId:
          format: int64
          description: Unique numeric identifier of the subscriber in the ServiceChannel system
          type: integer
        MainContact:
          $ref: '#/components/schemas/ContactDetails'
          description: Object containing provider contact information
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://sb2login.servicechannel.com/oauth/authorize
          tokenUrl: https://sb2login.servicechannel.com/oauth/token
      description: OAuth2 Authorization
