swagger: '2.0'
info:
  version: bearer.v1
  title: Fixxbook.Bearer.Api.V1 AfterHours Proposals API
  isOdataApi: false
  relativePath: ''
  discoveryPath: docs/bearer.v1
  _isAuthorizedAccess: true
host: sb2fixxbook.servicechannel.com:443
basePath: /api
schemes:
- https
security:
- oauth2: []
tags:
- name: Proposals
paths:
  /proposals/statistics:
    get:
      tags:
      - Proposals
      summary: Retrieve statistics on RFPs and proposals
      description: "Returns statistics on requests for proposals (RFPs) and proposals for the specified time period for the current provider:\r\n             • RFPs awaiting response\r\n             • Open proposals\r\n             • Approved proposals\r\n             • Proposals in the _On Hold_ and _Reviewed_ statuses\r\n             • Rejected proposals"
      operationId: GETv3_proposals_statistics?daysPeriod={daysPeriod}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: daysPeriod
        in: query
        description: Time period set as the number of days prior to the current date for which statistics on RFPs and proposals are returned. The default is 30.
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: Statistics on RFPs and proposals for the requested time period are returned in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Proposals.ProposalStatisticsResponse'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            503 — Only for providers usage"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /proposals/{proposalId}/recipients:
    get:
      tags:
      - Proposals
      summary: Retrieve users who can be added to the list of email recipients to notify of a proposal approval or rejection
      description: "Returns users who can be added to the list of email recipients to notify when the specified proposal is approved or rejected.\r\n            <br />***Note:*** This method is only available to subscriber users."
      operationId: GETv3_proposals_{proposalId}_recipients
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: proposalId
        in: path
        description: The unique numeric identifier of the proposal.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Users who can be added to the list of email recipients to notify when a proposal is approved or rejected are in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Notes.EmailRecipientResponse'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            503 — Invalid proposal identifier\r\n            503 — Request is empty or null"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /proposals/{proposalId}/validate:
    get:
      tags:
      - Proposals
      summary: Validate a proposal
      description: Checks if the specified proposal exists for the current user.
      operationId: GETv3_proposals_{proposalId}_validate
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: proposalId
        in: path
        description: The unique numeric identifier of the proposal to validate.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: The specified proposal exists for the current user.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            502 — Proposal not found"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /proposals/{proposalId}/reject:
    put:
      tags:
      - Proposals
      summary: Reject a proposal
      description: "Updates the status of the specified proposal to *Rejected*.\r\n            <br />You can send a proposal rejection notification to a specific user or to all users from the **Proposals/Proposal Alerts** list.\r\n             • `ProviderEmail` and `UserEmail`. Use these parameters to send a proposal rejection notification to a specific user. If passed, any of these parameters prevails over `useProposalAlertEmails`. In case you pass a value to the `ProviderEmail` or `UserEmail` parameter in the request body and set `useProposalAlertEmails` to `true`, a notification is sent to the specified email address, while users from the **Proposals/Proposal Alerts** list are not notified.\r\n             • `useProposalAlertEmails`. Set this parameter to `true` to send proposal rejection notifications to all users listed in the **Proposals/Proposal Alerts** section of **Dispatch Preferences**.\r\n            <br />***Note:*** This method is only available to subscriber users.\r\n            <br />**Example Request**\r\n            \r\n                PUT /proposals/{proposalId}/reject\r\n                {\r\n                   \"Comments\": \"The project is canceled\",\r\n                   \"ProviderEmail\": \"\",\r\n                   \"UserEmail\": \"\",\r\n                   \"RejectReasonCodeId\": 7,\r\n                   \"ActionSource\": \"Standard\",\r\n                   \"ReasonString\": \"\",\r\n                   \"PinNote\": false,\r\n                }"
      operationId: PUTv3_proposals_{proposalId}_reject?useProposalAlertEmails={useProposalAlertEmails}
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: proposalId
        in: path
        description: The unique numeric identifier of the proposal to reject.
        required: true
        type: integer
        format: int32
      - name: request
        in: body
        description: The request to update the proposal status to *Rejected*.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Proposals.UpdateProposalStatusRequest'
      - name: useProposalAlertEmails
        in: query
        description: "Defines if a proposal rejection notification is sent to all users listed in the **Proposals/Proposal Alerts** section of **Dispatch Preferences**.\r\n            If the parameter value is `true`, users from the **Proposals/Proposal Alerts** list get a notification if the `ProviderEmail` and `UserEmail` parameters are not passed. If set to `false` or not passed, this parameter is ignored."
        required: false
        type: boolean
        default: false
      responses:
        '204':
          description: The proposal status is set to *Rejected*, users are notified based on the passed parameters, and the values of the specified parameters are updated.<br/>The response is intentionally blank.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            401 — Invalid subscriber id\r\n            502 — Proposal not found\r\n            503 — The proposal status is already Rejected\r\n            503 — The user is MLP user\r\n            503 — Request is empty or null"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/ProposalsReject:
    put:
      tags:
      - Proposals
      summary: Reject proposals
      description: "Updates the status of the specified proposal to *Rejected*.\r\n            <br />***Note:*** This method is only available to subscriber users."
      operationId: PUTv3_proposals_ProposalsReject
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: data
        in: body
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Proposals.UpdateProposalsStatusRequest'
      responses:
        '204':
          description: The proposal status is set to *Rejected*, users are notified based on the passed parameters, and the values of the specified parameters are updated.<br/>The response is intentionally blank.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes: \r\n            100 — Proposal was already rejected\r\n            100 — User has no rights to perform this action\r\n            401 — Invalid subscriber id\r\n            502 — Wrong Proposal Id\r\n            502 — Proposal not found\r\n            502 — Cannot find proposal data\r\n            502 — Cannot find assigned Work Order\r\n            502 — Proposal not has WO\r\n            502 — Proposals are linked to a different Work Order\r\n            502 — You don't have permissions to process Proposal\r\n            502 — Proposal is not MLP and cannot be rejected by an MLP user\r\n            502 — Proposal is already rejected\r\n            502 — Couldn’t find Proposals to Reject\r\n            502 — Couldn't find the Provider for Proposal\r\n            502 — Escalation can't be performed as all upper levels are empty\r\n            502 — Rule set not found\r\n            503 — Wrong Work Order Id\r\n            503 — More information Required\r\n            503 — Proposal requires a Reason for Rejection\r\n            503 — The request contains proposals with the same Proposal ID\r\n            503 — Request is empty or null"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/GetProposalsToReject:
    get:
      tags:
      - Proposals
      summary: Retrieve proposals that can be reject
      description: "Returns list of the proposals that can be reject.\r\n            <br />***Note:*** This method is only available to subscriber users."
      operationId: GETv3_proposals_GetProposalsToReject?trackingNumber={trackingNumber}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: trackingNumber
        in: query
        description: The unique numeric identifier of the WO.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Users that can be added to the list of email recipients to notify when a proposal is approved or rejected are in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Notes.EmailRecipientResponse'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            502 — Proposals to Reject not found\r\n            502 — Cannot find proposal data\r\n            503 — Invalid WO identifier"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /proposals/{proposalId}/onhold:
    put:
      tags:
      - Proposals
      summary: Put a proposal on hold
      description: "Updates the status of the specified proposal to *On Hold*.\r\n            <br />***Note:*** This method is only available to subscriber users.\r\n            <br />**Example Request**\r\n            \r\n                PUT /proposals/{proposalId}/onhold\r\n                {\r\n                   \"Comments\": \"The proposal needs further review\",\r\n                   \"ProviderEmail\": \"\",\r\n                   \"UserEmail\": \"\",\r\n                   \"RejectReasonCodeId\": 0,\r\n                   \"ActionSource\": \"Standard\",\r\n                   \"ReasonString\": \"\",\r\n                   \"PinNote\": false,\r\n                }"
      operationId: PUTv3_proposals_{proposalId}_onhold
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: proposalId
        in: path
        description: The unique numeric identifier of the proposal to put on hold.
        required: true
        type: integer
        format: int32
      - name: request
        in: body
        description: The request to update the proposal status to *On Hold*.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Proposals.UpdateProposalStatusRequest'
      responses:
        '204':
          description: The proposal status is set to *On Hold*, users are notified based on the passed parameters, and the values of the specified parameters are updated.<br/>The response is intentionally blank.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            401 — Invalid subscriber id\r\n            502 — Proposal not found\r\n            503 — The proposal status is already On Hold\r\n            503 — The user is MLP user\r\n            503 — Request is empty or null"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/{proposalId}/approve:
    put:
      tags:
      - Proposals
      summary: Approve a proposal
      description: "Updates the status of the specified proposal to *Approved*.\r\n            <br />***Note:*** This method is only available to subscriber users.\r\n            <br />**Example Request**\r\n            \r\n                PUT /proposals/{proposalId}/approve\r\n                {\r\n                   \"Comments\": \"The project starts earlier than expected\",\r\n                   \"ProviderEmail\": \"\",\r\n                   \"UserEmail\": \"\",\r\n                   \"RejectReasonCodeId\": 0,\r\n                   \"ActionSource\": \"Standard\",\r\n                   \"ReasonString\": \"Best fit for the job and scope\",\r\n                   \"AttachmentstoWO\": true,\r\n                   \"PinNote\": false,\r\n                }"
      operationId: PUTv3_proposals_{proposalId}_approve
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: proposalId
        in: path
        description: The unique numeric identifier of the proposal to approve.
        required: true
        type: integer
        format: int32
      - name: request
        in: body
        description: The request to update the proposal status to *Approved*.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Proposals.UpdateProposalStatusRequest'
      responses:
        '204':
          description: The proposal status is set to *Approved*, users are notified based on the passed parameters, and the values of the specified parameters are updated.<br/>The response is intentionally blank.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            100 — Proposal amount exceeds user’s NTE limit\r\n            401 — Invalid subscriber id\r\n            502 — Proposal not found\r\n            503 — The proposal status is already Approved\r\n            503 — Cannot Approve Proposal that is not assigned to Work Order\r\n            503 — Cannot Approve Proposal. The Work Order this proposal is linked to has already been invoiced\r\n            503 — The user is MLP user\r\n            503 — Request is empty or null"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/{proposalId}/open:
    put:
      tags:
      - Proposals
      summary: Open a proposal
      description: "Updates the status of the specified proposal to *Open*.\r\n            <br />***Note:*** This method is only available to subscriber users.\r\n            <br />**Example Request**\r\n            \r\n                PUT /proposals/{proposalId}/open\r\n                {\r\n                   \"Comments\": \"The project is resumed\",\r\n                   \"ProviderEmail\": \"\",\r\n                   \"UserEmail\": \"\",\r\n                   \"RejectReasonCodeId\": 0,\r\n                   \"ActionSource\": \"Standard\",\r\n                   \"ReasonString\": \"\",\r\n                   \"PinNote\": false,\r\n                }"
      operationId: PUTv3_proposals_{proposalId}_open
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: proposalId
        in: path
        description: The unique numeric identifier of the proposal to open.
        required: true
        type: integer
        format: int32
      - name: request
        in: body
        description: The request to update the proposal status to *Open*.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Proposals.UpdateProposalStatusRequest'
      responses:
        '204':
          description: The proposal status is set to *Open*, users are notified based on the passed parameters, and the values of the specified parameters are updated.<br/>The response is intentionally blank.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            401 — Invalid subscriber id\r\n            502 — Proposal not found\r\n            503 — The proposal status is already Open\r\n            503 — The user is MLP user\r\n            503 — Request is empty or null"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/{proposalId}/assignWO:
    put:
      tags:
      - Proposals
      summary: Attach a work order to a proposal
      description: "Links the specified work order to the proposal. If the proposal already has a linked service request, the attached work order is updated. See [Link a WO to a Proposal](/guides/proposals/link-a-WO-to-a-proposal/) for more information.\r\n            <br />***Note:*** This method is only available to subscriber users."
      operationId: PUTv3_proposals_{proposalId}_assignWO?isFromProjectsModule={isFromProjectsModule}
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: proposalId
        in: path
        description: The unique numeric identifier of the proposal to attach the work order to.
        required: true
        type: integer
        format: int32
      - name: workorderId
        in: body
        description: The unique numeric identifier of the work order to link to the proposal.
        required: true
        schema:
          format: int32
          type: integer
      - name: isFromProjectsModule
        in: query
        description: Is request from projects module.
        required: false
        type: boolean
        default: false
      responses:
        '204':
          description: The specified work order is attached to the proposal, and the response is intentionally blank.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            401 — Invalid subscriber id\r\n            502 — Proposal not found\r\n            503 — Request is empty or null\r\n            503 — Proposal already approved\r\n            503 — Workorder doesn't match\r\n            503 — The user is MLP user\r\n            917 — Invalid WO Identifier"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/{proposalId}/escalate:
    put:
      tags:
      - Proposals
      summary: Escalate a proposal
      description: "Escalates the specified proposal to another user in the subscriber’s multi-level proposal (MLP) approval hierarchy. The proposal can be approved, rejected, put on hold, or returned upon escalation. You can attach an existing work order or create a new one while submitting the request.\r\n            <br />***Note:*** This method is only available to subscribers with the MLP setting enabled.\r\n            <br />MLP users can [escalate a proposal](/guides/proposals/assign-or-escalate-a-proposal/#escalate-a-proposal-for-mlp-users) if the following conditions are met:\r\n             • The user's approval level corresponds to the proposal level.\r\n             • The Override option is enabled for the user in case their level is higher than the proposal level.\r\n            <br />**Example Request**\r\n            \r\n                PUT /proposals/{proposalId}/escalate\r\n                {\r\n                   \"Action\": \"Approve\",\r\n                   \"WoType\": 2,\r\n                   \"TrackingNumber\": 140324907,\r\n                   \"PoNumber\": \"\",\r\n                   \"ExistingPoNumber\": \"\",\r\n                   \"Category\": \"\",\r\n                   \"CategoryId\": ,\r\n                   \"ApprovalCode\": \"\",\r\n                   \"Priority\": \"\",\r\n                   \"Comment\": \"Escalating proposal to the General Manager\",\r\n                   \"RejectReasonCodeId\": 0,\r\n                   \"ReasonString\": \"\",\r\n                   \"EmailsToNotify\": \"john.smith@domain.com\",\r\n                   \"EmailMyself\": false,\r\n                   \"MyEmail\": \"\",\r\n                   \"ProposalId\": 10010836\r\n                }"
      operationId: PUTv3_proposals_{proposalId}_escalate
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: proposalId
        in: path
        description: The unique numeric identifier of the proposal to escalate.
        required: true
        type: integer
        format: int32
      - name: request
        in: body
        description: The request to escalate the proposal to another user in the MLP hierarchy.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Proposals.MlpWoRecommendationRequest'
      responses:
        '204':
          description: The specified proposal is escalated and updated with the passed parameters. The response is intentionally blank.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            401 — Invalid subscriber id\r\n            502 — Proposal not found\r\n            503 — Request is empty or null\r\n            503 — The user is not MLP user\r\n            503 — Invalid WO Tracking Number\r\n            503 — Invalid WO Tracking Number in Proposal\r\n            503 — Invalid Wo Type\r\n            503 — There is no WO recommendation\r\n            503 — Action not found in rules\r\n            503 — User level less than Proposal level\r\n            503 — ForwardTo item is empty\r\n            503 — There is no the action in next rule\r\n            503 — Invalid Level\r\n            503 — Override flag is false\r\n            503 — EndStatus item is empty\r\n            503 — Invalid Action"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/{proposalId}/assignUser:
    put:
      tags:
      - Proposals
      summary: Assign a proposal to a user
      description: "Assigns the proposal to the specified user in the subscriber’s organization. If the proposal already has an assignee, the appointed user is updated.\r\n            <br />***Note:*** You cannot [assign a proposal](/guides/proposals/assign-or-escalate-a-proposal/#assign-a-proposal-to-a-user) in the *Approved* or *Rejected* status.\r\n            <br />**Example Request**\r\n            \r\n                PUT /proposals/{proposalId}/assignUser\r\n                {\r\n                   \"UserId\": 1417703,\r\n                   \"Comments\": \"Proposal reassigned at the request of the Store Manager\",\r\n                   \"UserEmail\": \"\",\r\n                   \"ReasonString\": \"\",\r\n                   \"Note\": \"\"\r\n                }"
      operationId: PUTv3_proposals_{proposalId}_assignUser
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: proposalId
        in: path
        description: The unique numeric identifier of the proposal to assign to the specified user.
        required: true
        type: integer
        format: int32
      - name: request
        in: body
        description: The request to assign the proposal to the specified user.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Proposals.AssignUserToProposalRequest'
      responses:
        '204':
          description: The proposal is assigned to the specified user, and the response is intentionally blank.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes: \r\n            502 — Proposal not found\r\n            503 — Request is empty or null\r\n            503 — Wrong User Id\r\n            503 — Selected proposal has been finalized\r\n            503 — Selected user has no required rights\r\n            503 — Selected user doesn't have Location or Trade access"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals:
    get:
      tags:
      - Proposals
      summary: Retrieve proposals
      description: Returns proposals based on the specified input parameters for the current subscriber.
      operationId: GETv3_proposals?statuses={statuses}&assignedTo={assignedTo}&skip={skip}&top={top}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: statuses
        in: query
        description: "Proposal statuses separated by commas. Valid values: *Open*, *On Hold*, *Approved*, *Rejected*, *Void*, *Reviewed*.\r\n            Proposals in all statuses are returned if the value is not passed."
        required: false
        type: string
      - name: assignedTo
        in: query
        description: The unique numeric identifier of the user who is assigned the proposals.
        required: false
        type: integer
        format: int32
      - name: skip
        in: query
        description: The number of entries to skip in the response (starting from the first one).
        required: false
        type: integer
        format: int32
      - name: top
        in: query
        description: The number of entries to return. The default value is 50.
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: The requested proposals are in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Proposals.ProposalStatisticsResponse'
        '400':
          description: The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /proposals/GetProposals:
    post:
      tags:
      - Proposals
      summary: Get Proposals
      operationId: POSTv3_proposals_GetProposals
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: proposalModel
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Proposals.SearchProposalModel'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            <br> 400 - Bad Request\r\n            <br/> 503 - Request should not be null"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions\r\n            <br/>User does not have Location or Trade access to perform this operation"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /proposals/{proposalId}/users:
    get:
      tags:
      - Proposals
      summary: Retrieve users who can be assigned a proposal
      description: Returns a list of users in the subscriber’s organization who can be assigned the specified proposal. You can send this request to retrieve the user ID before [assigning a proposal](/guides/proposals/assign-or-escalate-a-proposal/#assign-a-proposal-to-a-user).
      operationId: GETv3_proposals_{proposalId}_users
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: proposalId
        in: path
        description: The unique numeric identifier of the proposal.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Users who can be assigned the specified proposal are in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.UserInfo'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            502 — Proposal not found"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /proposals/RejectionReasons:
    get:
      tags:
      - Proposals
      summary: Retrieve proposal rejection reasons
      description: Returns numeric identifiers and descriptions of the reasons for rejecting a proposal.
      operationId: GETv3_proposals_RejectionReasons
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: Proposal rejection reasons are in the response.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            400 — Bad Request"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: The server was unable to complete the request due to an internal error.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /proposals/ApprovalReasons:
    get:
      tags:
      - Proposals
      summary: Retrieve proposal approval reasons
      description: "Returns the reasons for approving a proposal for the current subscriber.\r\n            <br />Admin users can manage proposal approval reasons in Service Automation in **Admin** &gt; **Proposals** &gt; **Proposal Approve Reasons** if the subscriber has this feature enabled.\r\n            <br />Method either uses Trade and Category, or TradeId and CategoryId parameters in pairs. Trade and Category parameters are outdated. It is advised to use TradeId and CategoryId instead."
      operationId: GETv3_proposals_ApprovalReasons?Trade={Trade}&TradeId={TradeId}&Category={Category}&CategoryId={CategoryId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: Trade
        in: query
        description: The type of work a provider performs. Has a narrower definition than `Category`. Obsoleted, outdated. Please use TradeId instead.
        required: false
        type: string
      - name: TradeId
        in: query
        description: The type of work a provider performs. Has a narrower definition than `CategoryId`.
        required: false
        type: integer
        format: int32
      - name: Category
        in: query
        description: The overall classification of the performed work. Obsoleted, outdated. Please use CategoryId instead.
        required: false
        type: string
      - name: CategoryId
        in: query
        description: The overall classification of the performed work.
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: Proposal approval reasons are in the response.
        '400':
          description: The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: The requested resource is not allowed for the current user.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/AssignReasons:
    get:
      tags:
      - Proposals
      summary: Retrieve the reasons for assigning a proposal
      description: "Returns the reasons for assigning a proposal to another user in the subscriber’s organization.\r\n            <br />Admin users can manage the reasons for assigning proposals in Service Automation in **Admin** &gt; **Proposals** &gt; **Proposal Assign Reasons** if the subscriber has this feature enabled.\r\n            <br />Method either uses Trade and Category, or TradeId and CategoryId parameters in pairs. Trade and Category parameters are outdated. It is advised to use TradeId and CategoryId instead."
      operationId: GETv3_proposals_AssignReasons?Trade={Trade}&Category={Category}&TradeId={TradeId}&CategoryId={CategoryId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: Trade
        in: query
        description: The type of work a provider performs. Has a narrower definition than `Category`. Obsoleted, outdated. Please use TradeId instead.
        required: false
        type: string
      - name: Category
        in: query
        description: The overall classification of the performed work. Obsoleted, outdated. Please use CategoryId instead.
        required: false
        type: string
      - name: TradeId
        in: query
        description: The type of work a provider performs. Has a narrower definition than `CategoryId`.
        required: false
        type: integer
        format: int32
      - name: CategoryId
        in: query
        description: The overall classification of the performed work.
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: The reasons for assigning a proposal are in the response.
        '400':
          description: The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: The requested resource is not allowed for the current user.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/proposalIds:
    get:
      tags:
      - Proposals
      summary: Get proposal actions by ID
      description: "Returns available actions for the specified proposals:\r\n             • **Edit.** Proposals that can be changed by your client.\r\n             • **Open.** Proposals that haven't been reviewed by your client.\r\n             • **On hold.** Proposals that require your client’s further review before being approved or rejected.\r\n             • **Approve.** Proposals that have been already approved by your client.\r\n             • **Reject.** Proposals that have been rejected by your client.\r\n             • **Assign.** Proposals that have not been assigned by your client.\r\n            <br />In ServiceChannel University, you can find out more about [taking action on proposals](https://servicechannel.atlassian.net/wiki/spaces/SCU/pages/560103501/Taking+Action+on+Proposals)."
      operationId: GETv3_proposals_proposalIds?proposalIds[0]={proposalIds[0]}&proposalIds[1]={proposalIds[1]}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: proposalIds
        in: query
        description: Unique numeric identifier of the proposal.
        required: true
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      responses:
        '200':
          description: The available proposal actions are in the response.
        '400':
          description: The request is not accepted due to bad syntax, missing parameters, insufficient data, etc
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /proposals/GetUsersByLevelName:
    get:
      tags:
      - Proposals
      summary: Get users by level name
      description: "Returns the usernames of employees appointed to the specified MLP level.\r\n            <br />You can get MLP levels information for the current subscriber by sending the [GET /proposals/GetMlpLevelsForSubscriber](/swagger/ui/index?version=3#/Proposals/GETv3_proposals_GetMlpLevelsForSubscriber) request.\r\n            <br />Refer to ServiceChannel University to learn more about [how to configure MLP levels](https://servicechannel.atlassian.net/wiki/spaces/SCU/pages/621282301/Configuring+MLP+Levels)."
      operationId: GETv3_proposals_GetUsersByLevelName?levelName={levelName}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: levelName
        in: query
        description: MLP level name.
        required: true
        type: string
      responses:
        '200':
          description: The users assigned to the specified level are in the response.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            400 — Bad Request\r\n            503 — Request is empty or null\r\n            3401 — The level doesn't exist"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/GetMlpLevelsForSubscriber:
    get:
      tags:
      - Proposals
      summary: Get MLP levels for a subscriber
      description: "Returns all MLP levels with their information for the current subscriber.\r\n            <br />To retrieve all users assigned to a particular level, use the [GET /proposals/GetUsersByLevelName](/swagger/ui/index?version=3#/Proposals/GETv3_proposals_GetUsersByLevelName_levelName__levelName_) method."
      operationId: GETv3_proposals_GetMlpLevelsForSubscriber
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: The MLP levels for the current subscriber are in the response.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            400 - Bad Request"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/AddUserToMlpLevel:
    put:
      tags:
      - Proposals
      summary: Add a user to an MLP level
      description: "Assigns a user to an existing MLP level. Get a username by sending the [GET /users](/swagger/ui/index?version=3#/Users/GETv3_users_subscriberId__subscriberId__startIndex__startIndex__maxCount__maxCount_) request.\r\n            <br />Once you assign a user to an MLP level, you can assign a location to the user and MLP level by using the [PUT /proposals/AddLocationToUserLevel](/swagger/ui/index?version=3#/Proposals/PUTv3_proposals_AddLocationToUserLevel_userName__userName__location__location_) method.\r\n            <br />***Note***: Each user can be added to only one MLP level. If a user should be assigned to another level, you first need to [remove this user from the MLP level](/swagger/ui/index?version=3#/Proposals/PUTv3_proposals_RemoveUserFromLevel_userName__userName__location__location_) they currently belong to."
      operationId: PUTv3_proposals_AddUserToMlpLevel?userName={userName}&levelName={levelName}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: userName
        in: query
        description: Username to log into the system. The field is case sensitive.
        required: true
        type: string
      - name: levelName
        in: query
        description: MLP level name.
        required: true
        type: string
      responses:
        '200':
          description: The specified user is assigned to the MLP level.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            400 — Bad Request\r\n            503 — Request is empty or null\r\n            3401 — The user has already been assigned"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/RemoveUserFromMlpLevel:
    put:
      tags:
      - Proposals
      summary: Remove a user from an MLP level
      description: "Removes the specified user from the assigned MLP level.\r\n            <br />To assign a user to an MLP level, use the [PUT /proposals/AddUserToMlpLevel](/swagger/ui/index?version=3#/Proposals/PUTv3_proposals_AddUserToLevelLocation) method."
      operationId: PUTv3_proposals_RemoveUserFromMlpLevel?userName={userName}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: userName
        in: query
        description: Username to log into the system.
        required: true
        type: string
      responses:
        '200':
          description: The user is successfully removed from the MLP level.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            400 — Bad Request\r\n            503 — Request is empty or null\r\n            3401 — The user has already been assigned"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/AssignLocationToMlpUser:
    put:
      tags:
      - Proposals
      summary: Add a location to a user’s MLP level
      description: "Assigns a particular location to the specified user along with the MLP level.\r\n            <br />You can remove a location from the user and MLP level by using the [PUT /proposals/RemoveLocationFromUserLevel](/swagger/ui/index?version=3#/Proposals/PUTv3_proposals_RemoveLocationFromUserLevel_userName__userName__location__location_) method."
      operationId: PUTv3_proposals_AssignLocationToMlpUser?userName={userName}&location={location}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: userName
        in: query
        description: Username to log into the system.
        required: true
        type: string
      - name: location
        in: query
        description: Alphanumeric location identifier in the client’s system.
        required: true
        type: string
      responses:
        '200':
          description: The location is assigned to the specified user and MLP level.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            400 — Bad Request\r\n            503 — Request is empty or null\r\n            3401 — The location doesn't exist"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/RemoveLocationFromMlpUser:
    put:
      tags:
      - Proposals
      summary: Remove a location from a user’s MLP level
      description: "Removes the specified location from the user and user’s MLP level.\r\n            <br />To add a location, send the [PUT /proposals/AddLocationToUserLevel](/swagger/ui/index?version=3#/Proposals/PUTv3_proposals_AddLocationToUserLevel_userName__userName__location__location_) request."
      operationId: PUTv3_proposals_RemoveLocationFromMlpUser?userName={userName}&location={location}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: userName
        in: query
        description: Username to log into the system.
        required: true
        type: string
      - name: location
        in: query
        description: Alphanumeric location identifier in the client’s system.
        required: true
        type: string
      responses:
        '200':
          description: The location is successfully removed from the user and MLP level.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            400 — Bad Request\r\n            503 — Request is empty or null\r\n            3401 — The location doesn't exist"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/{rfpId}:
    put:
      tags:
      - Proposals
      summary: Delete Proposal and Rfp reference with projectId by rfpId
      description: Delete Proposal and Rfp reference with projectId by rfpId
      operationId: PUTv3_proposals_{rfpId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: rfpId
        in: path
        description: The unique numeric identifier of the RFP.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: The projectId reference is successfully removed from proposal and rfp.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            400 — Bad Request\r\n            503 — Request is empty or null"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/GetProposalsAssociatedWithWorkOderExceptRfp:
    get:
      tags:
      - Proposals
      operationId: GETv3_proposals_GetProposalsAssociatedWithWorkOderExceptRfp?trackingNumber={trackingNumber}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: trackingNumber
        in: query
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Get all proposals for a work order based on tracking numbers that are not associated with an RFP.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            400 - Bad Request\r\n            503 — Request is empty or null"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/AssignProjectIdToProposalAndRfp:
    put:
      tags:
      - Proposals
      summary: Assign a ProjectId to a ProposalId and Rfp
      operationId: PUTv3_proposals_AssignProjectIdToProposalAndRfp?proposalId={proposalId}&projectId={projectId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: proposalId
        in: query
        description: ''
        required: true
        type: integer
        format: int32
      - name: projectId
        in: query
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Assign a ProjectId to a ProposalId and Rfp
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            400 - Bad Request\r\n            503 — Request is empty or null"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/RemoveMlpUserValidationAsync:
    put:
      tags:
      - Proposals
      summary: Whether the user can be deleted from MLP level.
      description: Whether the user can be deleted from MLP level.
      operationId: PUTv3_proposals_RemoveMlpUserValidationAsync?userId={userId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: userId
        in: query
        description: The User Id.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Whether the user can be deleted from MLP level.
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            400 — Bad Request\r\n            503 — Request is empty or null\r\n            3401 — The user has already been assigned"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/GetProposalsAssociatedWithWorkOrderAsync:
    get:
      tags:
      - Proposals
      summary: Get proposals linked to the work order
      description: Searches for proposals associated with the work order by the WO tracking number.
      operationId: GETv3_proposals_GetProposalsAssociatedWithWorkOrderAsync?trackingNumber={trackingNumber}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: trackingNumber
        in: query
        description: Tracking number of the work order.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Proposals associated with the specified work order are in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Proposals.ProposalAssociatedWithWorkOder'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            400 &mdash; Bad request\r\n            503 &mdash; Request is empty or null"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 &mdash; API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Something went wrong, and the server was unable to complete your request.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
  /proposals/CheckProposalCreation:
    get:
      tags:
      - Proposals
      summary: Check the possibility of creating a proposal
      description: "Retrieves the result on the availability of creating a proposal via API based on user’s permissions and a combination of the input values: `subscriberId` + `providerId` + `locationId ` + `tradeId` + `currency`. When the combination of the input values does not allow creating a proposal using API, the method returns the following response: “Proposal form is not supported via API. Please use the UI instead.” \r\n            <br /> Having received the successful response, copy the response model from this method to use it as a request model in the [POST proposals/Create proposal](https://developer.servicechannel.com/swagger/index.html#/Proposals/POSTv3_proposals_CreateProposal) method. \r\n            <br /> ***Note***: Custom proposal forms are not supported."
      operationId: GETv3_proposals_CheckProposalCreation?SubscriberId={SubscriberId}&ProviderId={ProviderId}&LocationId={LocationId}&TradeId={TradeId}&Currency={Currency}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: subscriberId
        in: query
        required: false
        type: integer
        format: int32
      - name: providerId
        in: query
        required: false
        type: integer
        format: int32
      - name: locationId
        in: query
        required: false
        type: integer
        format: int32
      - name: tradeId
        in: query
        required: false
        type: integer
        format: int32
      - name: currency
        in: query
        required: false
        type: string
      responses:
        '200':
          description: The creation of a proposal is available. The proposal template is in the response.
          schema:
            type: string
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            503 &mdash; ProviderId is not specified or incorrect\r\n            503 &mdash; SubscriberId is not specified or incorrect \r\n            503 &mdash; LocationId is not specified or incorrect \r\n            503 &mdash; TradeId is not specified or incorrect\r\n            503 &mdash; User ID does not match the logged-in user's credentials  \r\n            503 &mdash; Currency is not specified or incorrect \r\n            503 &mdash; Currencies are represented by 3 letters\r\n            503 &mdash; Proposal form is not supported via API. Please use the UI instead"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 &mdash; API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /proposals/CreateProposal:
    post:
      tags:
      - Proposals
      summary: Create a proposal
      description: "Creates a proposal and returns its ID in the response. Once a proposal is created via API, an email is sent to the addressees listed in the `notificationEmails` parameter and a proposal appears in the ServiceChannel system. Use the response model of the [GET /proposals/CheckProposalCreation](https://developer.servicechannel.com/swagger/index.html#/Proposals/GETv3_proposals_CheckProposalCreation%3FSubscriberId%3D%7BSubscriberId%7D%26ProviderId%3D%7BProviderId%7D%26LocationId%3D%7BLocationId%7D%26TradeId%3D%7BTradeId%7D%26Currency%3D%7BCurrency%7D) method as a request model.\r\n            <br />***Note***: To run the method, subscriber users should possess one or a combination of the following permissions and roles: *Proposals: Create* permission, * Proposals:Full Control* permission, *Power User* role, *Power User Light* role. When provider users are eligible to create proposals via UI, they can also create proposals via API.\r\n            Find out more about [creating a proposal](https://servicechannel.atlassian.net/wiki/spaces/SCUCP/pages/619217044/Creating+a+Proposal) in ServiceChannel University. \r\n            <br /> ***Note***: Custom proposal forms are not supported. \r\n            <br />**Example Request** \r\n            \r\n            POST /proposals/CreateProposal \r\n            \r\n            {\r\n                \"version\": \"1.0.0\", \r\n                \"subscriberId\": 2014917243, \r\n                \"providerId\": 2000090505, \r\n                \"locationId\": 2016322567, \r\n                \"tradeId\": 90480, \r\n                \"currency\": \"USD\", \r\n                \"proposalNumber\": \"pr57820456142079\", \r\n                \"description\": \"Motor Replacement\", \r\n                \"notificationEmails\": \"\", \r\n                \r\n                \"costsIncurredToDate\": [], \r\n                \r\n                \"materials\": [\r\n                {\"description\": \"Motor Assembly Unit\", \"unit\": \"each\", \"qty\": 1, \"price\": 1450.00}, \r\n                {\"description\": \"Electrical Components Kit\", \"unit\": \"each\", \"qty\": 1, \"price\": 180.50}, \r\n                { \"description\": \"Fan Blade Component\", \"unit\": \"each\", \"qty\": 1, \"price\": 320.75}, \r\n                { \"description\": \"Capacitor Unit\", \"unit\": \"each\", \"qty\": 1, \"price\": 95.25} \r\n                ],\r\n                \r\n                \"materialsAnswer\": \"New\", \r\n                \r\n                \"installationLabor\": [\r\n                {\"description\": \"Regular Service Hours\", \"tech\": 1, \"hours\": 10, \"rate\": 95.00}, \r\n                { \"description\": \"Overtime Service Hours\", \"tech\": 0, \"hours\": 0, \"rate\": 0}, \r\n                { \"description\": \"Holiday Service Hours\", \"tech\": 0, \"hours\": 0, \"rate\": 0}, \r\n                { \"description\": \"Helper Standard Hours\", \"tech\": 0, \"hours\": 0, \"rate\": 0}, \r\n                { \"description\": \"Helper Overtime Hours\", \"tech\": 0, \"hours\": 0, \"rate\": 0}, \r\n                { \"description\": \"Helper Holiday Hours\", \"tech\": 0, \"hours\": 0, \"rate\": 0}, \r\n                { \"description\": \"External Labor Support\", \"tech\": 0, \"hours\": 0, \"rate\": 0} \r\n                ], \r\n                \r\n                \"installationLaborFlatFeeLabor\": 0, \r\n                \r\n                \"nonInstallationExpenses\": {\r\n                    \"travel\": { \"ofTrips\": 2, \"charge\": 85.00}, \r\n                    \"fees\": 0, \r\n                    \"nonInstallationLabor\": 0\r\n                    }, \r\n                    \r\n                \"nonInstallationExpensesOther\": [], \r\n                \r\n                \"freight\": 140.00, \r\n                \"freightOther\": [], \r\n                \r\n                \"tax\": {\r\n                    \"materialSalesTax\": 0, \r\n                    \"installationLaborSalesTax\": 0, \r\n                    \"nonInstallationExpensesSalesTax\": 0, \r\n                    \"freightTax\": 0\r\n                    }        \r\n            }"
      operationId: POSTv3_proposals_CreateProposal
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: proposalJson
        in: body
        description: "Proposal model in the form of JSON. Model shall include all blocks validated by 1.0.0 version. If you do not want to use any of the blocks provided in the model, leave it with the default values as it is but do not remove it from the JSON model.\r\n            <br /> ***Note*** The maximum length of the `proposal number` is 30 symbols. When left empty, the number will be generated automatically during the proposal creation."
        required: true
        schema:
          $ref: '#/definitions/System.Object'
      responses:
        '200':
          description: A proposal is successfully created.
          schema:
            type: string
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            503 &mdash; JSON is invalid or corrupted\r\n            503 &mdash; Version is required\r\n            503 &mdash; Template version is incorrect \r\n            503 &mdash; Proposal form is not supported via API. Please use the UI instead \r\n            503 &mdash; SubscriberId is required\r\n            503 &mdash; ProviderId is required \r\n            503 &mdash; LocationId is required \r\n            503 &mdash; Proposal number length exceeds 30 symbols \r\n            503 &mdash; This proposal number already exists \r\n            503 &mdash; Project Description is required \r\n            503 &mdash; Project Description length exceeds 4000 symbols \r\n            503 &mdash; NotificationEmails is required \r\n            503 &mdash; Incorrect email(s) \r\n            503 &mdash; The limit for email addresses in a field is 50 \r\n            503 &mdash; No proposal amount has been deposited \r\n            503 &mdash; Materials is required  \r\n            503 &mdash; MaterialsAnswer is required  \r\n            503 &mdash; MaterialsAnswer is not specified or incorrect \r\n            503 &mdash; Unit is not specified or incorrect \r\n            503 &mdash; CostsIncurredToDate is required \r\n            503 &mdash; CostsIncurredToDate has empty descriptions \r\n            503 &mdash; CostsIncurredToDate cannot be negative \r\n            503 &mdash; Total type is incorrect in CostsIncurredToDate \r\n            503 &mdash; InstallationLabor is required \r\n            503 &mdash; Invalid description in installationLabor \r\n            503 &mdash; NonInstallationExpensesOther has empty descriptions \r\n            503 &mdash; Total is required in NonInstallationExpensesOther \r\n            503 &mdash; OfTrips type is incorrect in Travel \r\n            503 &mdash; Currency type is incorrect \r\n            503 &mdash; Freight is required \r\n            503 &mdash; Freight decimal part exceeds two digits  \r\n            503 &mdash; FreightOther is required \r\n            503 &mdash; Total is required in FreightOther \r\n            503 &mdash; FreightOther cannot be negative \r\n            503 &mdash; MaterialSalesTax cannot be negative \r\n            503 &mdash; InstallationLaborSalesTax cannot be negative \r\n            804 &mdash; User has no permissions to perform this action"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 &mdash; API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "You are not authorized to request this resource, or the resource is unavailable for some reason.\r\n            <br/>Error codes:\r\n            804 &mdash; The functionality is not enabled"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /odata/proposals:
    get:
      tags:
      - Proposals
      summary: Retrieve Proposals
      description: "Retrieve Proposals\r\n            <br />The filter expressions by defaul is \"$filter CreatedDate ge (Now-90 days)\".\r\n            <br />The maximum CreatedDate value is 365 days even if provided.\r\n            <br />Dates without 'Dto' endings return UTC date format.\r\n            <br />Dates without 'Dto' endings are not recommended for using."
      operationId: Proposals_GetProposals
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: $expand
        in: query
        description: Expand a navigation property.
        required: false
        type: string
      - name: $select
        in: query
        description: Select a set of properties to return.
        required: false
        type: string
      - name: $filter
        in: query
        description: Filter a collection of resources addressed by a request URL.
        required: false
        type: string
      - name: $orderby
        in: query
        description: Order resources by the specified property in the response.
        required: false
        type: string
      - name: $top
        in: query
        description: Return the specified number of items in the response.
        required: false
        type: integer
      - name: $skip
        in: query
        description: Skip the specified number of items in the response.
        required: false
        type: integer
      - name: $count
        in: query
        description: Include the count of the matching resources in the response.
        required: false
        type: boolean
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Proposals.ProposalInfo'
        '400':
          description: Indicates that the requested Proposal is in void status.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /odata/rfps({rfpId})/proposals:
    get:
      tags:
      - Proposals
      summary: Retrieve Rfp Proposals
      description: Retrieve Rfp Proposals
      operationId: Proposals_GetProposalsForRfp
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: rfpId
        in: path
        description: ''
        required: true
        type: integer
        format: int32
      - name: $expand
        in: query
        description: Expand a navigation property.
        required: false
        type: string
      - name: $select
        in: query
        description: Select a set of properties to return.
        required: false
        type: string
      - name: $filter
        in: query
        description: Filter a collection of resources addressed by a request URL.
        required: false
        type: string
      - name: $orderby
        in: query
        description: Order resources by the specified property in the response.
        required: false
        type: string
      - name: $top
        in: query
        description: Return the specified number of items in the response.
        required: false
        type: integer
      - name: $skip
        in: query
        description: Skip the specified number of items in the response.
        required: false
        type: integer
      - name: $count
        in: query
        description: Include the count of the matching resources in the response.
        required: false
        type: boolean
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Proposals.ProposalInfo'
      deprecated: false
      x-access: Any
  /odata/proposals({proposalId})/Service.Categories():
    get:
      tags:
      - Proposals
      summary: Retrieve proposal categories
      description: "Returns proposal categories for the specified proposal ID.\r\n            <br />***Note:*** A proposal category represents a specific section in the proposal form. It can contain proposal costs information, for example, materials, installation labor, freight, etc.; or it can hold a question with answers configured for the proposal form.\r\n            <br />Supports filtering and sorting in the response.\r\n             • **$expand:** Not supported for this method.\r\n             • **$select:** Not supported for this method.\r\n             • **$filter:** Filter a collection of resources addressed by a request URL. For example, you can filter the proposal data to return only material costs **Name eq 'Materials'**. \r\n             • **$orderby:** Order proposal categories by the specified property in the response. For example, you can order by name in ascending order **Name asc** or in descending order **Name desc**.\r\n             • **$top:** Return the specified number of proposal categories in the response.\r\n             • **$skip:** Skip the specified number of proposal categories in the response.\r\n             • **$count:** Include the count of the proposal categories in the response."
      operationId: Proposals_GetProposalCategories
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: proposalId
        in: path
        description: Unique numeric identifier of the proposal.
        required: true
        type: integer
        format: int32
      - name: $expand
        in: query
        description: Expand a navigation property.
        required: false
        type: string
      - name: $select
        in: query
        description: Select a set of properties to return.
        required: false
        type: string
      - name: $filter
        in: query
        description: Filter a collection of resources addressed by a request URL.
        required: false
        type: string
      - name: $orderby
        in: query
        description: Order resources by the specified property in the response.
        required: false
        type: string
      - name: $top
        in: query
        description: Return the specified number of items in the response.
        required: false
        type: integer
      - name: $skip
        in: query
        description: Skip the specified number of items in the response.
        required: false
        type: integer
      - name: $count
        in: query
        description: Include the count of the matching resources in the response.
        required: false
        type: boolean
      responses:
        '200':
          description: Proposal categories are in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Proposals.ProposalCategory'
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            502 &mdash; Cannot find proposal data"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: The requested resource requires authentication.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Something went wrong, and the server was unable to complete your request.\r\n            <br/>Error codes:\r\n            501 &mdash; The type 'ServiceChannel.Services.Messaging.Proposals.ProposalCategory' is not an entity type. Only entity types support $select and $expand.\\r\\nParameter name: context"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
definitions:
  ServiceChannel.Services.Messaging.Proposals.UpdateProposalStatusRequest:
    description: The request object to update a proposal status.
    type: object
    properties:
      Comment:
        description: Comment on the proposal status update. The comment is added to the work order note.
        type: string
      ProviderEmail:
        description: Provider’s email address to which a notification about the proposal status change is sent. The default is the email address of the provider the proposal is assigned to.
        type: string
      UserEmail:
        description: User’s email address to which a notification about the proposal status change is sent. The default is the email address of the current user.
        type: string
      RejectReasonCodeId:
        format: int32
        description: "Numeric identifier of the reason for rejecting the proposal.\r\n            Pass value to this parameter when sending the *PUT /proposals/{proposalId}/reject* request. To retrieve a list of rejection reason codes and their descriptions, use the *GET /proposals/RejectionReasons* method."
        type: integer
      ActionSource:
        enum:
        - Standard
        - DecisionEngine
        type: string
      ReasonString:
        description: "Reason for approving the proposal.\r\n            Pass value to this parameter when sending the *PUT /proposals/{proposalId}/approve* request. The entered reason is added to the work order note."
        type: string
      Actor:
        description: The Actor is added to the work order note.
        type: string
      AttachmentstoWO:
        description: Move Approved Proposal attachments to WO.
        default: false
        type: boolean
      PinNote:
        description: Pin Work Order Note.
        default: false
        type: boolean
  ServiceChannel.Services.Messaging.Assets.Warranty:
    description: Object containing warranty parameters.
    type: object
    properties:
      ExpirationDate:
        format: date-time
        description: Warranty expiration date based on the warranty expiration settings.
        type: string
      ProviderId:
        format: int32
        description: ID of a provider who is in charge of warranty services.
        type: integer
      NTE:
        format: double
        description: Maximum amount of money to be spent on warranty services in USD. Value -1  means that the amount is not applicable.
        type: number
      Priority:
        description: Defines how quickly warranty services should be provided, for example, *Emergency-4 Hours*, *Normal-48 Hours*, *7 Days*.
        type: string
      PriorityId:
        format: int32
        type: integer
      Category:
        description: Warranty category, for example, *ADVISE ONLY*, *REPAIR*, *DISASTER*.
        type: string
      CategoryId:
        format: int32
        type: integer
      Provider:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.WarrantyProvider'
        description: Rules to choose Warranty Provider
      Expiration:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.WarrantyExpiration'
        description: Rules for Warranty Expiration
  ServiceChannel.Services.Messaging.Proposals.ProposalStatisticsResponse:
    description: Object of statistics on RFPs and proposals.
    type: object
    properties:
      DaysPeriod:
        format: int32
        description: Time period set as the number of days prior to the current date for which statistics on RFPs and proposals are returned.
        type: integer
      RFPsWaitingForApproval:
        format: int32
        description: The total number of RFPs awaiting response for the specified time period.
        type: integer
      OpenProposals:
        format: int32
        description: The total number of proposals in the _Open_ status for the specified time period.
        type: integer
      ApprovedProposalsDaysPeriod:
        format: int32
        description: Time period set as the number of days prior to the current date for which statistics on approved proposals are returned in `ApprovedProposals`.
        type: integer
      ApprovedProposals:
        format: int32
        description: The total number of proposals in the _Approved_ status for the specified time period.
        type: integer
      WaitingReviewProposals:
        format: int32
        description: The total number of proposals in the _On Hold_ and _Reviewed_ statuses for the specified time period.
        type: integer
      RejectedProposals:
        format: int32
        description: The total number of proposals in the _Rejected_ status for the specified time period.
        type: integer
  ServiceChannel.Services.Messaging.Proposals.ProposalAssociatedWithWorkOder:
    description: Object containing associated proposal details.
    type: object
    properties:
      ID:
        format: int32
        description: Unique numeric identifier of the proposal associated with the specified work order.
        type: integer
      ProposalNumber:
        description: Proposal number — as specified by the user who created the proposal.
        type: string
      CreatedDateDto:
        format: date-time
        description: Date and time when the proposal was created. The format is `YYYY-MM-DDThh:mm:ss.sssssss[±hh:mm]`, where `[±hh:mm]` represents the time zone offset from UTC.
        type: string
      Status:
        description: Proposal status, for example, *Approved*, *Open*, *Reviewed*, etc.
        type: string
      WorkOrder:
        format: int32
        description: Work order tracking number.
        type: integer
  ServiceChannel.Services.Messaging.Users.AccessOptions:
    description: Object listing locations, districts, regions, and trades a subscriber user has access to. Learn more about [granting access based on locations, districts, and regions](https://servicechannel.atlassian.net/wiki/spaces/SCU/pages/585107276/Location+District+Region+Access+Tab) in ServiceChannel University.
    type: object
    properties:
      Locations:
        description: Locations a user has access to.
        type: array
        items:
          type: string
      Districts:
        description: Districts a user has access to.
        type: array
        items:
          type: string
      Regions:
        description: Regions a user has access to.
        type: array
        items:
          type: string
      Trades:
        description: Trades a user is permitted to work with.
        type: array
        items:
          type: string
  ServiceChannel.Services.Messaging.Workorders.WeatherEvent:
    type: object
    properties:
      Id:
        format: int32
        type: integer
      Name:
        type: string
  ServiceChannel.Services.Messaging.CountDescriptor:
    type: object
    properties:
      Total:
        format: int32
        type: integer
      Own:
        format: int32
        type: integer
  ServiceChannel.Services.Messaging.Notes.NoteInfo:
    type: object
    properties:
      Id:
        format: int64
        type: integer
      DocumentId:
        type: string
      Number:
        format: int32
        type: integer
      NoteData:
        type: string
      DateCreated:
        format: date-time
        type: string
      DateCreated_DTO:
        format: date-time
        type: string
      ActionRequired:
        default: false
        type: boolean
      MailedTo:
        type: string
      CreatedBy:
        type: string
  ServiceChannel.Services.Messaging.Workorders.WorkorderStatusDescriptor:
    type: object
    properties:
      Primary:
        description: Primary work order status value, you can pass status id or its name here. To get all subscriber's statuses see [Statuses] in Statuses section
        type: string
      Extended:
        description: Extended status value
        type: string
      CanCreateInvoice:
        description: True if invoice creation is allowed
        default: false
        type: boolean
  ServiceChannel.Services.Messaging.Users.LimitOptions:
    description: Object for NTE, proposal, and invoice limits set for a subscriber user.
    type: object
    properties:
      NteLimit:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.Limit'
        description: Limit for the NTE amount that a user can not exceed upon editing work orders. If a user who has permission to edit work orders tries to enter the NTE amount above the set limit, an error message will appear.
      ProposalLimit:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.Limit'
        description: Limit for the proposal amount above which a user can not approve proposals — for users with the corresponding permission. The user can put on hold or reject proposals above their limit.
      InvoiceLimit:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.Users.Limit'
        description: Limit for the invoice amount above which a user can not process invoices by changing their status. The user can view invoices above their limit if they have the corresponding permission.
  ServiceChannel.Services.Messaging.Invoices.InvoiceApprovalCodeGroup:
    type: object
    properties:
      ApprovalCodeType:
        enum:
        - Labor
        - Travel
        - Material
        - Freight
        - Other
        - Tax
        - Tax2
        - LineItem
        - FreightGenerated
        type: string
      ApprovalCode:
        type: string
      AdditionalApprovalCode:
        type: string
      Amount:
        format: double
        type: number
      ApprovalCodes:
        type: array
        items:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Invoices.InvoiceApprovalCodeChild'
  ServiceChannel.Services.Messaging.Proposals.AssignUserToProposalRequest:
    description: The request object to assign a proposal to a user.
    required:
    - UserId
    type: object
    properties:
      UserId:
        format: int32
        description: The unique numeric identifier of the user to assign the proposal to.
        type: integer
      Comments:
        description: Your comment describing why you are assigning or reassigning the proposal to the specified user.
        type: string
      UserEmail:
        description: The email address to send a notification about the assigned proposal to. The default is the email address of the user who is assigned the proposal.
        type: string
      ReasonString:
        description: Reason for approving the proposal. Don’t pass when assigning the proposal to a user.
        type: string
      Note:
        description: Note added upon assigning or reassigning the proposal.
        type: string
      PinNote:
        description: Pin note on linked workorder
        default: false
        type: boolean
  ServiceChannel.Services.Messaging.Invoices.InvoiceAmountsDetails:
    description: Object containing the list of the invoice charges.
    type: object
    properties:
      LaborAmount:
        format: double
        description: Amount of the labor charge. Must equal `Labors.Amount`.
        type: number
      MaterialAmount:
        format: double
        description: Amount of the material charge. Must equal `Materials.Amount`.
        type: number
      TravelAmount:
        format: double
        description: Amount of the trip charge.
        type: number
      FreightAmount:
        format: double
        description: Amount of the freight charge.
        type: number
      OtherAmount:
        format: double
        description: Amount of other charges. When you add this parameter, also specify `InvoiceAmountsDetails.OtherDescription`.
        type: number
      OtherDescription:
        type: string
  ServiceChannel.Services.Messaging.Proposals.MlpWoRecommendationRequest:
    description: The request object to escalate a proposal.
    required:
    - Action
    type: object
    properties:
      Action:
        description: 'Proposal escalation action. **Valid values**: *Approve*, *Reject*, *OnHold*, *Return*.'
        type: string
      WoType:
        format: int32
        description: 'Work order type. **Valid values**: 0 — *Origin*, 1 — *New*, 2 — *Existing*.'
        type: integer
      TrackingNumber:
        format: int32
        description: The unique numeric identifier of the work order. Required if the `WoType` is 2 — *Existing*.
        type: integer
      PoNumber:
        description: Purchase order number.
        type: string
      ExistingPoNumber:
        description: The existing purchase order number. If the `PoNumber` parameter is passed, its value is used instead of `ExistingPoNumber`.
        type: string
      Category:
        description: "The overall classification of a WO, such as *Maintenance*, *Repair*, or *CAPEX*. Required if the `WoType` is 1 — *New*.\r\n            The value you enter must be a valid category."
        type: string
      CategoryId:
        format: int32
        description: Numeric identifier of the category.
        type: integer
      ApprovalCode:
        description: Approval code, or GL code, used when approving an invoice.
        type: string
      Priority:
        description: "Period during which a service provider should check in to perform the requested service. Required if the `WoType` is 1 — *New*.\r\n            The value you enter must be a valid priority."
        type: string
      PriorityId:
        format: int32
        description: Numeric identifier of the Priority.
        type: integer
      WoRecall:
        description: The WO has been marked as recall.
        default: false
        type: boolean
      AttachmentsToWO:
        description: Move Approved Proposal attachments to WO.
        default: false
        type: boolean
      Comment:
        description: Your comment describing why you are escalating the proposal.
        type: string
      RejectReasonCodeId:
        format: int32
        description: Numeric identifier of the reason for rejecting the proposal. Don’t pass when escalating the proposal.
        type: integer
      ReasonString:
        description: Reason for approving the proposal.
        type: string
      EmailsToNotify:
        description: The email address of the user to notify about the proposal escalation. When entering multiple addresses, separate them with a comma or semicolon.
        type: string
      EmailMyself:
        description: Defines if the proposal escalation notification is sent to the current user.
        default: false
        type: boolean
      MyEmail:
        description: The email address of the current user to which a proposal escalation notification is sent.
        type: string
      ProposalId:
        format: int32
        description: The unique numeric identifier of the proposal to escalate.
        type: integer
      WorkOrderLabel:
        $ref: '#/definitions/ServiceChannel.Api.Model.Label'
        description: WorkOrder Label.
      DeleteLabel:
        description: Is WorkOrder Label to delete.
        default: false
        type: boolean
      Actor:
        description: The Actor is added to the work order note.
        type: string
      AdditionalApprovalCodes:
        description: The Additional Approval Codes.
        type: array
        items:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.ApprovalCodes.AdditionalApprovalCode'
      WorkOrderLabels:
        description: WorkOrder Labels.
        type: array
        items:
          $ref: '#/definitions/ServiceChannel.Api.Model.Label'
      IsLinkToOriginatingWorkOrder:
        description: Link To Originating WorkOrder flag
        default: false
        type: boolean
      PinNote:
        description: Pin User note on WorkOrder
        default: false
        type: boolean
  ServiceChannel.Services.Messaging.Workorders.WorkOrder:
    description: Workorder object for Messages exchenge.
    type: object
    properties:
      Id:
        format: int32
        description: Work Order identifier.
        type: integer
      Number:
        description: Work Order Number
        type: string
      PurchaseNumber:
        description: Purchase number of work order
        type: string
      Subscriber:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.Subscribers.Subscriber'
        description: Subscriber info
      Provider:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.Providers.Provider'
        description: Provider info
      Location:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.Location.Location'
        description: Location info
      LocationId:
        format: int32
        description: LocationId for use in ODATA calls without expanding Location property (ref. PLAT-55878)
        type: integer
      Status:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.WorkorderStatusDescriptor'
        description: Workorder Status
      IssueTicketInfo:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.IssueLists.IssueTicketInformation'
        description: Issue ticket info
      Caller:
        description: Caller
        type: string
      CreatedBy:
        type: string
      CallDate:
        format: date-time
        type: string
      CallDate_DTO:
        format: date-time
        type: string
      ReassignDate:
        format: date-time
        type: string
      ReassignDate_DTO:
        format: date-time
        type: string
      LocationOpenDate:
        type: string
      LocationRemodelDate:
        type: string
      EstimatedCompletionDate:
        format: date-time
        type: string
      OriginalEstimatedCompletionDate:
        format: date-time
        type: string
      ProjectedCompletionDate:
        format: date-time
        type: string
      OriginalProjectedCompletionDate:
        format: date-time
        type: string
      Priority:
        type: string
      PriorityId:
        format: int32
        type: integer
      Trade:
        type: string
      TradeId:
        format: int32
        type: integer
      ApprovalCode:
        type: string
      ScheduledDate:
        format: date-time
        type: string
      ScheduledDate_DTO:
        format: date-time
        type: string
      CompletedDate:
        format: date-time
        type: string
      CompletedDate_DTO:
        format: date-time
        type: string
      ExpirationDate:
        format: date-time
        description: Gets or sets ExpirationDate.
        type: string
      ExpirationDate_DTO:
        format: date-time
        type: string
      OriginalEta:
        format: date-time
        type: string
      OriginalEta_DTO:
        format: date-time
        type: string
      UpdatedDate:
[...]
