openapi: 3.2.0
info:
  version: '3'
  title: ServiceChannel API - v.3 Location Supply API
  description: The ServiceChannel API is a RESTful and stateless API.
servers:
- url: https://sb2api.servicechannel.com/v3
security:
- oauth2: []
tags:
- name: LocationSupply
paths:
  /locationsupply:
    get:
      tags:
      - LocationSupply
      operationId: GETv3_locationsupply?LocationId={LocationId}&TruckId={TruckId}
      parameters:
      - name: locationId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: truckId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 locationsupply?location Id={Location Id}&Truck Id={Truck id}
      x-summary-source: derived
    put:
      tags:
      - LocationSupply
      operationId: PUTv3_locationsupply?LocationId={LocationId}&TruckId={TruckId}
      parameters:
      - name: locationId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: truckId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ServiceChannel.Api.Model.LocationSupply.Location'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ServiceChannel.Api.Model.LocationSupply.Location'
        required: true
      summary: PUTv3 locationsupply?location Id={Location Id}&Truck Id={Truck id}
      x-summary-source: derived
    post:
      tags:
      - LocationSupply
      operationId: POSTv3_locationsupply
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Api.Model.LocationSupply.LocationSupply'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Api.Model.LocationSupply.LocationSupply'
        required: true
      summary: POSTv3 locationsupply
      x-summary-source: derived
    delete:
      tags:
      - LocationSupply
      operationId: DELETEv3_locationsupply?LocationId={LocationId}&TruckId={TruckId}
      parameters:
      - name: locationId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: truckId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: DELETEv3 locationsupply?location Id={Location Id}&Truck Id={Truck id}
      x-summary-source: derived
components:
  schemas:
    ServiceChannel.Api.Model.LocationSupply.LocationSupply:
      type: object
      properties:
        Location:
          $ref: '#/components/schemas/ServiceChannel.Api.Model.LocationSupply.Location'
        SupplyLocations:
          type: array
          items:
            $ref: '#/components/schemas/ServiceChannel.Api.Model.LocationSupply.Location'
    ServiceChannel.Api.Model.LocationSupply.Location:
      type: object
      properties:
        LocationId:
          format: int32
          type: integer
        TruckId:
          format: int32
          type: integer
    System.Object:
      type: object
      properties: {}
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://sb2login.servicechannel.com/oauth/authorize
          tokenUrl: https://sb2login.servicechannel.com/oauth/token
      description: OAuth2 Authorization
