swagger: '2.0'
info:
  version: bearer.v1
  title: Fixxbook.Bearer.Api.V1 AfterHours WorkRequests API
  isOdataApi: false
  relativePath: ''
  discoveryPath: docs/bearer.v1
  _isAuthorizedAccess: true
host: sb2fixxbook.servicechannel.com:443
basePath: /api
schemes:
- https
security:
- oauth2: []
tags:
- name: WorkRequests
paths:
  /workrequests:
    post:
      tags:
      - WorkRequests
      summary: Creates a work request
      description: '*In limited availability phase.*'
      operationId: POSTv3_workrequests
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.WorkRequests.CreateWorkRequestRequest'
      responses:
        '201':
          description: Created indicates that the request resulted in a new resource created before the response was sent.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.WorkRequests.CreateWorkRequestResponse'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            101 - Invalid provider id\r\n            301 - Contract not found for specified subscribers location, provider and trade\r\n            401 - Invalid subscriber\r\n            601 - Location is not found\r\n            701 - Invalid trade\r\n            8001 — Description is required\r\n            8002 — Call Date is required\r\n            8003 — Issue is required\r\n            8005 - CallDate has wrong format\r\n            8006 - ScheduledDate has wrong format\r\n            8007 - Invalid status\r\n            8008 - Invalid extended status\r\n            8009 - Invalid category\r\n            8010 - Invalid priority\r\n            8011 - Invalid currency\r\n            8012 - Invalid setup\r\n            8013 - Invalid area\r\n            8014 - Invalid asset\r\n            8017 - ProblemCode is required\r\n            8018 - ProblemType is required\r\n            8019 - ScheduledDate must be greater than CallDate"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Indicates that a generic error has occurred on the server.\r\n            <br/>Error codes:\r\n            501 - Internal Error code"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workrequests/{id}:
    get:
      tags:
      - WorkRequests
      summary: Retrieve a work request
      description: '*In limited availability phase.*'
      operationId: GETv3_workrequests_{id}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        description: Numeric Id of the work request to perform action with.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.WorkRequests.WorkRequest'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "The requested resource does not exist on the server.\r\n            <br/>Error codes:\r\n            502 — Data not found"
      deprecated: false
      x-access: Any
    delete:
      tags:
      - WorkRequests
      summary: Delete a work request
      description: '*In limited availability phase.*'
      operationId: DELETEv3_workrequests_{id}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        description: Numeric Id of the work request to perform action with.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "The requested resource does not exist on the server.\r\n            <br/>Error codes:\r\n            502 — Data not found"
      deprecated: false
      x-access: Any
  /workrequests/{workRequestId}:
    put:
      tags:
      - WorkRequests
      summary: Update a work request
      description: '*In limited availability phase.*'
      operationId: PUTv3_workrequests_{workRequestId}
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workRequestId
        in: path
        description: Numeric Id of the work request to perform action with.
        required: true
        type: integer
        format: int32
      - name: updateRequest
        in: body
        description: The update request.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.WorkRequests.UpdateWorkRequestRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            301 - Contract not found for specified subscribers location, provider and trade\r\n            502 - WorkRequest not found\r\n            701 - Invalid trade\r\n            8006 - ScheduledDate has wrong format\r\n            8007 - Invalid status\r\n            8008 - Invalid extended status\r\n            8009 - Invalid category\r\n            8010 - Invalid priority     \r\n            8011 - Invalid currency\r\n            8019 - ScheduledDate must be greater than CallDate\r\n            8107 - Work request is closed\r\n            8108 - Closed reason is required for Closed status\r\n            8109 - Work order id is required for this closed reason\r\n            8110 - Invalid closed reason\r\n            8111 - Closed reason could be set only for Closed status\r\n            8112 - Invalid work order id\r\n            8113 - Work order id could be set only for Closed status\r\n            8114 - Work order id could be set only for &apos;Work order created&apos; reason"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Indicates that a generic error has occurred on the server.\r\n            <br/>Error codes:\r\n            501 - Internal Error code"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workrequests/{workRequestId}/status:
    put:
      tags:
      - WorkRequests
      summary: Update a work request status
      description: '*In limited availability phase.*'
      operationId: PUTv3_workrequests_{workRequestId}_status
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workRequestId
        in: path
        description: Numeric Id of the work request to perform action with.
        required: true
        type: integer
        format: int32
      - name: updateRequest
        in: body
        description: The update request. Work request Status.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.WorkRequests.ChangeWorkRequestStatusRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            502 - WorkRequest not found\r\n            8007 - Invalid status\r\n            8008 - Invalid extended status"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Indicates that a generic error has occurred on the server.\r\n            <br/>Error codes:\r\n            501 - Internal Error code"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workrequests/{workRequestId}/priority:
    put:
      tags:
      - WorkRequests
      summary: Update work request priority
      description: '*In limited availability phase.*'
      operationId: PUTv3_workrequests_{workRequestId}_priority?priorityId={priorityId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workRequestId
        in: path
        description: Numeric Id of the work request to perform action with.
        required: true
        type: integer
        format: int32
      - name: priorityId
        in: query
        description: Priority Id.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            502 - WorkRequest not found\r\n            8010 - Invalid priority"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Indicates that a generic error has occurred on the server.\r\n            <br/>Error codes:\r\n            501 - Internal Error code"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workrequests/{workRequestId}/category:
    put:
      tags:
      - WorkRequests
      summary: Update work request category
      description: '*In limited availability phase.*'
      operationId: PUTv3_workrequests_{workRequestId}_category?categoryId={categoryId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workRequestId
        in: path
        description: Numeric Id of the work request to perform action with.
        required: true
        type: integer
        format: int32
      - name: categoryId
        in: query
        description: Category Id.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            502 - WorkRequest not found\r\n            8009 - Invalid category"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Indicates that a generic error has occurred on the server.\r\n            <br/>Error codes:\r\n            501 - Internal Error code"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workrequests/{workRequestId}/nte:
    put:
      tags:
      - WorkRequests
      summary: Update work request NTE
      description: '*In limited availability phase.*'
      operationId: PUTv3_workrequests_{workRequestId}_nte
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workRequestId
        in: path
        description: Numeric Id of the work request to perform action with.
        required: true
        type: integer
        format: int32
      - name: updateRequest
        in: body
        description: The update request. Work request NTE.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.WorkRequests.ChangeWorkRequestNteRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            502 - WorkRequest not found\r\n            8011 - Invalid currency"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Indicates that a generic error has occurred on the server.\r\n            <br/>Error codes:\r\n            501 - Internal Error code"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workrequests/{workRequestId}/scheduledate:
    put:
      tags:
      - WorkRequests
      summary: Update work request schedule date
      description: '*In limited availability phase.*'
      operationId: PUTv3_workrequests_{workRequestId}_scheduledate?scheduledDate={scheduledDate}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workRequestId
        in: path
        description: Numeric Id of the work request to perform action with.
        required: true
        type: integer
        format: int32
      - name: scheduledDate
        in: query
        description: Scheduled date.
        required: true
        type: string
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            502 - WorkRequest not found\r\n            8006 - ScheduledDate has wrong format\r\n            8019 - ScheduledDate must be greater than CallDate"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Indicates that a generic error has occurred on the server.\r\n            <br/>Error codes:\r\n            501 - Internal Error code"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workrequests/{workRequestId}/description:
    put:
      tags:
      - WorkRequests
      summary: Update work request description
      description: '*In limited availability phase.*'
      operationId: PUTv3_workrequests_{workRequestId}_description
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workRequestId
        in: path
        description: Numeric Id of the work request to perform action with.
        required: true
        type: integer
        format: int32
      - name: updateRequest
        in: body
        description: The update request. Work request description.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.WorkRequests.ChangeWorkRequestStringFieldsRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            502 - WorkRequest not found"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Indicates that a generic error has occurred on the server.\r\n            <br/>Error codes:\r\n            501 - Internal Error code"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workrequests/{workRequestId}/trade:
    put:
      tags:
      - WorkRequests
      summary: Update work request trade
      description: '*In limited availability phase.*'
      operationId: PUTv3_workrequests_{workRequestId}_trade?tradeId={tradeId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workRequestId
        in: path
        description: Numeric Id of the Work request to perform action with.
        required: true
        type: integer
        format: int32
      - name: tradeId
        in: query
        description: Trade id.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            301 - Contract not found for specified subscribers location, provider and trade\r\n            502 - WorkRequest not found\r\n            701 - Invalid trade"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Indicates that a generic error has occurred on the server.\r\n            <br/>Error codes:\r\n            501 - Internal Error code"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workrequests/{workRequestId}/reassign:
    put:
      tags:
      - WorkRequests
      summary: Reassign work request to another provider
      description: '*In limited availability phase.*'
      operationId: PUTv3_workrequests_{workRequestId}_reassign
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workRequestId
        in: path
        description: Numeric Id of the work request to perform action with.
        required: true
        type: integer
        format: int32
      - name: reassignRequest
        in: body
        description: The request to perform action with.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.WorkRequests.ReassignWorkRequestRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:\r\n            100 - Invalid provider id passed\r\n            301 - Contract not found for specified subscribers location, provider and trade\r\n            502 - WorkRequest not found\r\n            503 - Provider should be changed\r\n            701 - Invalid trade\r\n            8006 - ScheduledDate has wrong format\r\n            8009 - Invalid category\r\n            8010 - Invalid priority\r\n            8011 - Invalid currency\r\n            8019 - ScheduledDate must be greater than CallDate"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Indicates that a generic error has occurred on the server.\r\n            <br/>Error codes:\r\n            501 - Internal Error code"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workrequests/search:
    post:
      tags:
      - WorkRequests
      summary: "Performs search of work requests by specified filter expression.  \r\n            One page contains 50 items by default (\"PageSize\"=50). \r\n            To get next 50 items use the “Page” parameter (for example Page=2 and so on)."
      description: '*In limited availability phase.*'
      operationId: POSTv3_workrequests_search
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.WorkRequests.SearchWorkRequestRequest'
      responses:
        '200':
          description: Work requests are in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.WorkRequests.WorkRequest'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:           \r\n            8100 - CallDateFrom has wrong format\r\n            8101 - CallDateTo has wrong format\r\n            8102 - ScheduledDateFrom has wrong format\r\n            8103 - ScheduledDateTo has wrong format\r\n            8104 - CloseDateFrom has wrong format\r\n            8105 - CloseDateTo has wrong format"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: The server was unable to complete the request due to an internal error.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workrequests/providersforreassignment:
    get:
      tags:
      - WorkRequests
      summary: Get providers available for reassign
      operationId: GETv3_workrequests_providersforreassignment?workRequestId={workRequestId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workRequestId
        in: query
        description: Work request id
        required: true
        type: integer
        format: int32
      responses:
        '201':
          description: Created indicates that the request resulted in a new resource created before the response was sent.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Providers.ServiceRequestProvider'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:           \r\n            503 - Invalid Equipment Id\r\n            503 - Invalid Location Id\r\n            804 - API call rejected by lack of provider permissions\r\n            502 - We could not find the service provider for the problem you have indicated"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "The requested resource does not exist on the server.\r\n            <br/>Error codes:\r\n            502 — We could not find the service provider for the problem you have indicated"
        '500':
          description: "Indicates that a generic error has occurred on the server.\r\n            <br/>Error codes:\r\n            501 - Internal Error code"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
definitions:
  ServiceChannel.Services.Messaging.WorkRequests.WorkRequest:
    description: Work Request
    type: object
    properties:
      Id:
        format: int32
        description: Id
        type: integer
      SubscriberId:
        format: int32
        description: Subscriber Id
        type: integer
      SubscriberShortName:
        description: Subscriber Short Name
        type: string
      ProviderId:
        format: int32
        description: Provider Id
        type: integer
      ProviderShortName:
        description: Provider Short Name
        type: string
      LocationId:
        format: int32
        description: Location Id
        type: integer
      LocationStoreId:
        description: Location Store Id
        type: string
      EventId:
        description: Event Id
        type: string
      StatusId:
        format: int32
        description: Status Id
        type: integer
      StatusName:
        description: Status Name
        type: string
      ExtendedStatusId:
        format: int32
        description: Extended Status Id
        type: integer
      ExtendedStatusName:
        description: Extended Status Name
        type: string
      ClosedReasonId:
        format: int32
        description: Closed Reason Id
        type: integer
      ClosedReasonName:
        description: Closed Reason Name
        type: string
      Description:
        description: Description
        type: string
      TradeId:
        format: int32
        description: Trade Id
        type: integer
      TradeName:
        description: Trade Name
        type: string
      CategoryId:
        format: int32
        description: Category Id
        type: integer
      CategoryName:
        description: Category Name
        type: string
      PriorityId:
        format: int32
        description: Priority Id
        type: integer
      PriorityName:
        description: Priority Name
        type: string
      Caller:
        description: Caller
        type: string
      CallDate:
        format: date-time
        description: Call Date
        type: string
      ClosedDate:
        format: date-time
        description: Closed Date
        type: string
      ScheduledDate:
        format: date-time
        description: Scheduled Date
        type: string
      WorkOrderId:
        format: int32
        description: Work Order Id
        type: integer
      AssetId:
        format: int32
        description: Asset Id
        type: integer
      Nte:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.WorkRequests.WorkRequestNte'
        description: NTE
      Issue:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.WorkRequests.WorkRequestIssue'
        description: Issue information
  ServiceChannel.Services.Messaging.ErrorResponse:
    description: The error response object
    type: object
    properties:
      ErrorCodes:
        description: The list of error codes. Go to /basics/general/response-codes/#internal-error-codes-and-messages to map error codes to error reasons.
        type: array
        items:
          enum:
          - NotAllowed
          - EmptyProvider
          - InvalidProviderId
          - UnknownProvider
          - ProviderAlreadyExists
          - ProviderIdNotExists
          - TimeoutExpiredError
          - EmptyContract
          - ContractUndefined
          - EmptySubscriber
          - InvalidSubscriberId
          - UnknownSubscriber
          - InactiveSubscriber
          - EmptySubscriberId
          - SubscriberIdNotExists
          - InternalError
          - DataNotFound
          - BadRequest
          - UnAuthorized
          - UnSupportedApplication
          - SubsidiaryUserDisabled
          - EmptyLocation
          - InvalidLocationId
          - UnknownLocation
          - LocationNotBelongsToSubscriber
          - EmptyLocationCountry
          - LocationAlreadyExists
          - InvalidStoreId
          - LocationEmptyState
          - NoAccessToLocation
          - LocationAddressValidationError
          - LocationAddressRequestValidationError
          - InvalidLocationNoteHeader
          - NoAccessToUpdateProtectedNote
          - InvalidBusinessHoursFormat
          - WorkingHoursIntersect
          - InvalidDayOfWeek
          - DuplicateDayOfWeek
          - InvalidBusinessHoursInitialSetup
          - BusinessHoursIsEmpty
          - InvalidHolidayRepeatByType
          - EmptyHolidayListOfDays
          - EmptyHolidayListOfMonths
          - InvalidHolidayMonthName
          - InvalidHolidayNameLength
          - InvalidHolidayRepeatEvery
          - DuplicateMonth
          - InvalidHolidayFrequency
          - InvalidHolidayStartDate
          - InvalidCloseAllDay
          - HolidayDoesNotExist
          - InvalidFormatParameter
          - InvalidLocationCity
          - InvalidLocationZip
          - InvalidLocationLatitude
          - InvalidLocationLongitude
          - InvalidLocationEmail
          - InvalidLocationName
          - InvalidLocationState
          - InvalidLocationAddlAddress
          - InvalidLocationMainAddress
          - InvalidLocationCountry
          - InvalidLocationRegion
          - InvalidLocationDistrict
          - InvalidLocationPhone
          - InvalidLocationContact
          - InvalidLocationFaxNumber
          - LocationCountryNotFound
          - LocationStateNotFound
          - LocationCityNotFound
          - LocationIdNotExists
          - InvalidLocationEmailLength
          - LocationStateIdNotFound
          - IncorrectCombinationStateAndStateId
          - InvalidSubscriberIds
          - InvalidLocalizationSettings
          - LandlordResponsibilityNotFound
          - LandlordResponsibilityAlreadyExists
          - EmptyLocationIds
          - AttachmentNotExist
          - InvalidTradeId
          - InvalidCategoryId
          - InvalidOverrideCategoryId
          - InvalidOverridePriorityId
          - LeaseNoteExceedMaxLength
          - InvalidOverrideProviderRank
          - InvalidOverrideNTE
          - DuplicateRows
          - InvalidPriorityId
          - LocationNotFound
          - EmptyTrade
          - InvalidTrade
          - TradeNotBelongsToSubscriber
          - InvalidPrimaryTrade
          - InvalidTradeForSubscriber
          - InvalidCategoryForSubscriber
          - GlCodeAlreadyExists
          - GlCodeNotExists
          - InvalidGlCodeUpdate
          - EmptyGlCode
          - TradeAlreadyExists
          - InvalidNTETrade
          - TradeNotExists
          - TradeAlreadyInUse
          - TradeWithTheSameNameHasBeenDeleted
          - TradeInUsePMServices
          - TradeInUseProposalError
          - TradeInUseRFPError
          - TradeInUseChecklistError
          - TradeInUseBudgetControl
          - TradeInUseGlCode
          - TradeInUseDynamicProviderAssignments
          - TradeInUseInvoice
          - TradeInUseLandlordResponsibilities
          - TradeInUseWO
          - TradeInUseEquipmentType
          - TradeInUseRFP
          - TradeInUseConnector
          - TradeInUseContractedService
          - TradeInUseIVR
          - TradeInUseSiteAccess
          - TradeInUseGLCodes
          - TradeInUseCIWO
          - TradeInUseOrganizationPermissions
          - TradeСreationError
          - EmptyUser
          - EmptyCreatedBy
          - InvalidUserName
          - NotProviderUser
          - UserHasNoPermissions
          - RestrictedAccount
          - UserAlreadyExists
          - UserHasNoPermissionsEditWO
          - UserEmailAddressIsMissing
          - UserIsNotRTAdmin
          - InvalidSubsriberProviderId
          - LanguageNameNotFound
          - InvalidLanguageId
          - LanguageIdNotFound
          - UseBothSubscriberIdProviderId
          - EmptyWoProblem
          - InvalidWoProblemSource
          - InvalidWoProblemDescription
          - InvalidWoProblemCode
          - InvalidWoStatus
          - InvalidWoNte
          - InvalidWoCaller
          - InvalidWoCallDate
          - InvalidWoScheduledDate
          - InvalidWoScheduledDateGreaterThanMaxAllowed
          - EmptyWoCategory
          - InvalidWoCategory
          - EmptyWoPriority
          - InvalidWoPriority
          - InvalidWoCurrency
          - InvalidWoSetupId
          - AttachmentsRequired
          - InvalidWoIdentifier
          - EquipmentRequired
          - WoNteOverflow
          - InvalidWoPurchaseNumber
          - InvalidWoStateForUpdate
          - InvalidPagingParameter
          - InvalidWoNumber
          - CheckInDenied
          - CheckOutDenied
          - WoScheduledDateLessThenReassignDate
          - WoScheduledDateLessThenCallDate
          - InvalidWoActionReason
          - EmptySubscriberProperty
          - WorkOrderUpdateError
          - MissedWoNteDetails
          - InvalidLinkedWoIdentifier
          - WoIsOnHold
          - InvalidWoTrade
          - InvalidStarScore
          - WorkOrderAlreadyRated
          - AttachmentThumbnailNotAvailable
          - InvalidWoIdentifierOrPin
          - InvalidTimeZoneHeader
          - RefrigerantWasUsedShouldBeYesOrNo
          - CheckInDeniedOutsideGeolocation
          - CheckOutDeniedOutsideGeolocation
          - LeakDetectorAuditShouldBeCreated
          - CheckInOutPremature
          - WorkOrderAttachmentsSizeExceeded
          - WorkOrderNotFound
          - WorkOrderCreateError
          - InvalidWoProjectedCompletionDate
          - InvalidFollowUpWo
          - InvalidWeatherEventId
          - InvalidSiteAuditLinkedWo
          - InvalidSetupId
          - IssueListNotFound
          - InvalidIssueListField
          - SiteAuditCompleted
          - CheckSiteAuditError
          - SaveSiteAuditError
          - RemoveSiteAuditError
          - InactiveTemplateType
          - SiteAuditNotFound
          - SiteAuditUpdateError
          - InvalidSiteAuditParameters
          - InvalidAdditionalApprovalCode
          - InvalidAdditionalApprovalCodeValue
          - AdditionalApprovalCodeIsDisabled
          - InvalidOtherDesc
          - InvalidTax2Name
          - InvoiceInconsistentAmounts
          - InvoiceInvalidTotal
          - InvoiceTotalGreaterNte
          - InvoiceExists
          - CreatingInvoiceError
          - DuplInvNumber
          - InvoiceTotalNull
          - InvComplDateNull
          - InvDateLessComplDate
          - InvoiceNotAuto
          - ESignatureRequired
          - InvWoNotFound
          - InvWrongWoCurr
          - InvWoCurrNotFound
          - InvoicingDisabled
          - InvCreationUnexpectedRes
          - InvoiceInvalidLaborAmount
          - InvoiceInvalidMaterialAmount
          - InvDateOld
          - InvDateGreater
          - InvoiceMaterialDescriptionLengthOverflow
          - InvoiceTaxNotValidated
          - InvoiceMaterialPartNumberLengthOverflow
          - TaxValidationError
          - TaxExemptionError
          - InvalidInvoiceNumber
          - GetApprovalLevelsError
          - InvoiceAddUsersToMliLevelsError
          - InvoiceAddDeleteLocationsToMliLevelUserError
          - InvoiceUpdateMLiLevelError
          - InvoiceDeleteMliLevelError
          - InvoiceDeleteUsersFromMliLevelError
          - ApprovalLevelNameLengthOverflow
          - GstTaxError
          - Tax2Error
          - GetApprovalLevelsAndLocationsByUserError
          - GetAssignedUserShortInfoError
          - AssignAllLocationsToApprovalLevelAndUserError
          - GetLocationsForApprovalLevelAndAssignedUserError
          - GetLocationsBySubscriberError
          - AssignUserWithLocationsToApprovalLevelError
          - ReAssignUserWithLocationsToNewApprovalLevelError
          - ReAssignLocationsToApprovalLevelAndUserError
          - OutstandingBalance
          - InvoiceTaxDetailsEmpty
          - InvoiceTaxDetailsIncorrectSum
          - MultipleUsersForLocationIsNotAllowed
          - UserAssignedToOtherLevel
          - UserDoesNotExist
          - LaborLineItemRequired
          - MaterialLineItemRequired
          - InvoiceDoesntExist
          - InvoiceStarUnstarFailed
          - InvoiceBatchUpdateInvalidInvoiceStatusError
          - InvoiceBatchUpdateLimitExceededError
          - InvoiceNotAvailableForCurrentUser
          - InvoiceBatchUpdateInvalidRuleSetStructure
          - InvoiceBatchUpdateInvalidMliStructure
          - InvoiceBatchUpdateStatusError
          - InvoiceMaterialUnitTypeInvalid
          - ExistingBatchNumber
          - InvoiceResolutionTextRequired
          - GetInvoiceDefaultApprovalCodesError
          - InvoiceInvalidTravelAmount
          - InvoiceTravelDescriptionLengthOverflow
          - InvoiceTravelUnitTypeInvalid
          - TravelLineItemRequired
          - TravelDetailsDisabled
          - OnOffShoreDisabled
          - InvoiceInvalidLaborCount
          - InvoiceInvalidMaterialCount
          - InvoiceInvalidTravelCount
          - SubscriberNotRegisteredForTaxValidation
          - ManyDecimalsInAmountError
          - DecimalPartQstTaxError
          - LaborRatesDiscrepancy
          - PayInvoicesError
          - InvoiceNumberRequirementsError
          - InvoiceNumberIncorrect
          - InvoiceNumberRegExPatternError
          - GetInvoicesPendingApprovalByLocationError
          - ReAssignInvoicesToUsersFailed
          - ReAssignInvoicesUsersMatched
          - GetUsersForReassignInvoiceError
          - InvalidTimeRangeActivity
          - OutsourcedSourceInvoiceNotFound
          - OthersLineItemsDisabled
          - InvoiceInvalidOtherAmount
          - InvoiceInvalidOtherCount
          - InvoiceOtherDescriptionLengthOverflow
          - OtherLineItemRequired
          - OtherLineItemsNotNegativeValueRequired
          - InvalidLaborSkillLevel
          - InvalidLaborType
          - InvalidTechnicianQuantity
          - GetInvoicesCommonCategoriesError
          - InvoiceExplainDisputeEmpty
          - InvoiceAdditionalApprovalCodeHeaderError
          - TemplateParseSuccess
          - TemplateIncorrectHeaderError
          - TemplateEmptyTemplateError
          - TemplateWrongFieldsCountError
          - TemplateFieldNotFoundError
          - TemplateFieldRequiredError
          - TemplateParseIntError
          - TemplateFieldSizeError
          - TemplateInvalidValueError
          - TemplateFieldFormatError
          - TemplateFieldMaxRangeError
          - TemplateFieldMinRangeError
          - TemplateProviderNotEntered
          - TemplateInvalidSubscriberError
          - TemplateVendorNotFoundError
          - TemplateMissedProviderError
          - TemplateProviderNotFoundError
          - TemplateProviderSubsccriberLinkError
          - TemplateTradeDispatchRankError
          - TemplateInvalidTradeForSubscriberError
          - TemplateStoreNotFoundError
          - TemplateNotStoresForStateError
          - TemplateNotStoresForCountryError
          - TemplateNotStoresForDistrictError
          - TemplateNotStoresForRegionError
          - TemplateMultiplePimaryProvidersForTradeStoreError
          - TemplateDuplicatePrimaryRelationshipError
          - TemplateAmbiguousDataError
          - TemplateIncorrectSubscriber
          - TemplateDuplicateRanking
          - TemplateLongitudeRangeError
          - TemplateLatitudeRangeError
          - InvoiceMaterialPartNameLengthOverflow
          - TemplateTradeLocationExclusion
          - TemplateInvalidStateError
          - TemplateMissedSubscriberError
          - TemplateMissedStoreIdError
          - TemplateInvalidSubscriberIdError
          - TemplateOpenCloseDateError
          - TemplateInvalidCountryError
          - TemplateInvalidStateForCountryError
          - TemplateInvalidLocationTypeError
          - TemplateMissingFullAndShortNameError
          - TemplateMissingCountryError
          - TemplateDuplicatedDataError
          - TemplateParentLocationNotFoundError
          - TemplateParseDateTimeError
          - TemplateParseDecimalError
          - TemplateSquareValueRangeError
          - TemplateInvalidSquareMeasureError
          - TemplateTypeLabelCanNotBeUpdatedError
          - TemplateTypeLabelHaveToBeLocationForNotInventory
          - TemplateInvalidPrimarySupplyLocation
          - TemplateInvalidHomestoreLocationNumber
          - TemplateErrorDuringCreation
          - TemplateLocationNotFoundError
          - TemplateDuplicatedLocationFoundError
          - TemplateInvalidLocationHeaderError
          - TemplateDuplicatedLocationHeaderError
          - TemplateHeaderContainsEmptyFieldsError
          - TemplateLocHeadersShortHeaderError
          - TemplateHeaderContainsDuplicatesError
          - TemplateLocationNotesStoreIdFieldLengthError
          - TemplateLocationNotesNoteValueFieldLengthError
          - TemplateErrorInvalidZipCode
          - TemplateMissingLocationNoteHeader
          - TemplateMissingLocationNoteIdHeader
          - TemplateInvalidSecondarySupplyLocation
          - TemplateLocationWasNotCreated
          - TemplateTruckNameIsEmpty
          - TemplateWrongFormat
          - TemplateSubscriberNotFound
          - TemplateDuplicatedLocationHeaders
          - TemplateInvalidHeaders
          - TemplateInvalidPhoneError
          - TemplateDuplicateTelecomRecordError
          - TemplateTelecomRecordExistsError
          - TemplateInvalidCategory
          - TemplateDifferentRanksForProviderAssignments
          - TemplateDuplicateRankError
          - TemplateProviderNonCompliant
          - TemplateLocationIsClosed
          - TemplateProviderWarning
          - TemplateMultipleProvidersForTradeStoreError
          - EmptyRequest
          - InvalidNumberOfParameters
          - InvoiceOtherUnitTypeInvalid
          - EmptyLocationOrTradeList
          - RequestSubscriberIdDoesntMatchUserSubscriberId
          - StoreIdRequiredError
          - InvalidUserIdError
          - InvalidStoreIdError
          - AmbigiousError
          - MliHierarchyFiledsCountError
          - MliHierarchyMaxUserNameError
          - MliHierarchyDuplicateUserError
          - MLiHirarchyUserExistInOtherLevelError
          - MissingLevelsError
          - DuplicateApprovalLevelsError
          - InvalidMliLocations
          - InvalidMlpLocations
          - ApprovalLevelUsedInRulsetError
          - GLCodeAmbiguous
          - GlCodeInvalidResponce
          - GetRuleSetListError
          - RuleSetDuplicateNameError
          - RuleSetDuplicateActionError
          - RuleSetConflictedActionError
          - RuleSetRuleSetDoesNotExistsError
          - RuleSetTradeDoesNotExistError
          - RuleSetCategoryDoesNotExistError
          - RuleSetMliLevelDoesNotExistError
          - GetRuleSet
          - CreateUpdateRuleSetError
          - DeleteRuleSet
          - GetRuleSetCategoriesTradesCountError
          - GetRuleSetByInvoice
          - GetCategoryTradeIdsAreSelectedError
          - ProposalAboveMlpLimitError
          - ProposalNextLevelHasNoAvailableActionsError
          - DefaultRuleSetError
          - RuleSetActionEndStatusError
          - RuleSetRejectActionEmptyForwardToError
          - UserFilterGetError
          - UserFilterCreateUpdateError
          - UserFilterDeleteError
          - UserFilterSetAsDefaultError
          - InvoiceFilterFromAlpProviderError
          - RegionFilterNotAllowedError
          - LocationIdFilterNotAllowedError
          - PaymenowScProviderIdOrFbCompanyIdMustBeProvided
          - PaymenowBannersForProvidersOnly
          - PaymenowFeatureDisabled
          - PaymenowBannerInfoNotFound
          - PaymenowBannerInvalidNavigationUrl
          - PaymenowRequestedProvidersIsNotAssigned
          - PaymenowEmptyRequestedProviders
          - PaymentManagerFeatureDisabled
          - PaymentManagerFeatureDisabledForSubscriber
          - PaymentSystemCurrentlyUnavailable
          - CurrencyNotSupported
          - PaymentSystemAccountNotFound
          - FeatureIsOff
          - EarlyPayFeatureWithoutPaymentManagetFeatureError
          - FtpTestError
          - AcceptTermsAndConditionsRequestInvalid
          - PaymentSystemAccountError
          - SendReportToFTP
          - SchedulingError
          - BadPaymentData
          - InvoicesCanNotBeRepaid
          - InvoicesCanNotBeRescheduled
          - InvalidBillingAddress
          - PaymentManagerGeneralSettingsNotFound
          - PaymentManagerEInvoiceSettingsNotFound
          - BadgeVerificationFailed
          - BadgeTempPassEmpty
          - BadgeScanRequired
          - SolvedIssueSubmitFailed
          - SolvedIssueInvalidLocationId
          - SolvedIssueInvalidCategoryId
          - SolvedIssueInvalidTradeId
          - SolvedIssueInvalidPriorityId
          - SolvedIssueInvalidSource
          - SolvedIssueInvalidProblemCode
          - SolvedIssueInvalidType
          - SubmitFeedbackErrorWoStatus
          - SubmitFeedbackInvalidAnswer
          - SubmitFeedbackInvalidTrackingNumber
          - SubmitFeedbackInvalidSubscriber
          - SubmitFeedbackInvalidScore
          - SubmitFeedbackUnsatisfactoryCommentRequired
          - SubmitFeedbackInvalidReviewId
          - SubmitFeedbackInvalidSetupId
          - FeedbackSetupInvalidSetupId
          - S3SaveError
          - AbsSaveError
          - GoodDataLoginFailed
          - GoodDataElementUriError
          - GoodDataReportResultUriError
          - GoodDataReportResultEmpty
          - GoodDataDesReportResCountError
          - GoodDataDesReportResConvertError
          - GoodDataDesDisplayFormAttributeEmpty
          - InvalidProposalAmountLimit
          - GetApprovalProposalReasonsError
          - GetEmailRecipientsError
          - GetAssignProposalReasonsError
          - ProposalHasBeenVoided
          - AssetTypeDuplicateNameError
          - AssetTypeDoesntExistError
          - AssetTypeFailUpdateRefrigerantPurpose
          - AssetTypeDeleteFailed
          - ExistingAssetsFoundForAssetType
          - CantModifyAssetTypeParentId
          - InvalidAssetTypeName
          - AssetTypeInheritanceError
          - ExistingProposalsFoundForAssetType
          - InstallPurchaseDateOverflow
          - WOexistsWithSomeAssets
          - PartsChangeFailed
          - PartsReasonCodeError
          - PartsUseDateError
          - PartsRefrigerantAlreadyExists
          - PartsChargeHistoryAlreadyExists
          - PartsNotFound
          - BulkPartUseIncorrectWorkOrder
          - BulkPartsByIdsNotFound
          - BulkPartsMultipleWosError
          - BulkPartsIncorrectIsRefrigerantParam
          - BulkPartsIsRefrigerantCanNotbeChanged
          - BulkPartsReasonCodeChangeError
          - BulkPartsInvalidAssetAndReasonCodeParams
          - BulkPartsInvalidAssetId
          - BulkPartsInvalidInitialChargeCode
          - BulkPartsAssetDoesntContainCharge
          - BulkPartsIsInventoryFlagError
          - BulkPartsLeakAlreadyInProcessError
          - BulkPartsInvalidDateRangeError
          - BulkPartsMoeNumberRequiredError
          - BulkPartsSystemChargeExceeded
          - BulkRefrigerantuUageBlocked
          - BulkIDsNotBeNull
          - BulkPartRemovalNotAllowedOnRetrofitRetireWO
          - BulkAddPartUsagesNotAllowedAfterRetrofitRetireCreation
          - BulkRetrofitRetireRefrigerantUsageReasonCanNotChanged
          - BulkInitialChargeSystemExpansionNotAllowed
          - BulkInventoryPartIdCanNotBeChanged
          - BulkInventoryLocationIdCanNotBeChanged
          - BulkPartsDuplicatedRequest
          - BulkChangePartsIncorrectRefrigerantType
          - BulkPartsRetroRetireIsInProgressOnThisDate
          - BulkPartsCanNotAttachRefrigerantUsageToPlanLeakRecord
          - RetrofitRetireCanNotBeRemoved
          - RetroRetirePartsCantbeChanged
          - BulkPartsInventoryApiFailed
          - BulkPartsDuplicated
          - BulkPartsWorkOrderInProcessing
          - BadNotificationSubscriptionEventType
          - RefrigerantUseDateOutOfTheLeakProcessDateRange
          - InventoryUsageNotAllowedOnRTrackingConnectedSubAndSubcontractors
          - BulkExternalWoCurrentlyDoesntExists
          - BulkConnectorOnlyExternalClientAssetsCanBeProcessed
          - BulkConnectorOnlyClientAssetsCouldBeProcessed
          - LeakRecordHasWrongDateValue
          - HasUncompliedLeakRecordInAnoutherWO
          - HasUncompletedWOOnAnotherLeakRecord
          - OnlyOneAssetWorkOrderPair
          - OneLeakRecordMustBeOnCompletedWO
          - LeakRecordNotFound
          - AssetIDWoIdIsRequired
          - BulkPartsReasonCodeRetrofit
          - RetrofitRetireWasCancelledNoLeak
          - FailedToUpdateLeakEvent
          - AddPartUsagesAreNotAllowedInRetireRetrofitDateInterval
          - LeakPartUseOnZeroChargeNotAllowed
          - BulkLeakRecordsAndAuditRequest
          - LeakRecordsDuplicateRequestDetected
          - AllLeakRecordFieldsAreRequired
          - BulkPartsTheSamePartIdForUpdateAndRemovalPassed
          - MlpImportLevelError
          - UpdateMlpUserLevelError
          - InvalidHolidayName
          - DuplicateHolidayName
          - HolidaysDeleteFailed
          - HolidaysExcludeInsertFailed
          - HolidaysUpdateFailed
          - HolidaysInsertFailed
          - HolidaysExcludeDeleteFailed
          - BusinessHoursDeleteFailed
          - BusinessHoursUpdateFailed
          - BusinessHoursInsertFailed
          - InvalidTime
          - HolidayForDeleteNotFound
          - InvalidChecklistId
          - ChecklistNotPopulated
          - ChecklistNotAssignedForTransfersWO
          - NoLinkBetweenSubscriberAndProvider
          - WorkforceCreateContractorError
          - InvalidCertificateId
          - MaxThresholdExceeded
          - MaxTriggerRateExceeded
          - LeakPriorityIsRequired
          - MissingRTSettings
          - ResolutionCodesLimitExceeded
          - ResolutionCodesAreRequired
          - RootCauseIsRequired
          - RootCauseTextIsRequired
          - NoAccessToSetRootCauseText
          - RootCauseTextMaxLengthExceeded
          - ResolutionCodeTextIsRequired
          - NoAccessToSetResolutionCodeText
          - ResolutionCodeTextMaxLengthExceeded
          - ResolutionCodeTextMustBeUnique
          - ResolutionCodeWithoutFreeTextMustBeUnique
          - PendingResCodesStatusCannotBeChangedToInvoiceableBySubscriber
          - ResolutionAndRootCauseCodesAreRequiredToMoveToInvoiceableStatusByProvider
          - AssetCategoriesLimitExceeded
          - NoAccessToAssetCategories
          - AssetCategoriesAreRequired
          - InvalidAssetCategoryId
          - NoAssetCategoriesOnWorkOrder
          - RootCausesMustBeForAllWorkOrderAssetCategories
          - RootCauseTextMustBeUnique
          - AssetCategoryIsRequired
          - MultipleRootCausesMethodMustBeUsed
          - ResolutionCodesMustBeForAllWorkOrderAssetCategories
          - AssetFilterLocationsLimitExceeded
          - UnknownStoreId
          - UsesRefrigerantAttributeNotChanged
          - AssetTagDuplicate
          - AssetTagIdDuplicate
          - UnknownEquipmentType
          - ParentIdInOtherLocation
          - UnknownBrandName
          - CARBRequiredManufacturedDate
          - CARBRequiredInstallDate
          - TradeNotFound
          - AssetDoesntExist
          - AssetIsNotRefrigerant
          - AssetCantContainRefrigerant
          - OnlyRackAssetsContainingCircuits
          - ConnectorAssetTagIdCanNotBeChanged
          - ConnectorAssetLocationIdCanNotBeChanged
          - AssetTagCantBeUpdated
          - AssetTypeIsNotСonfiguredToManageRTAssets
          - RefrigerantTrackingNotAvailableForLocation
          - UsesRefrigerantRequiredByAssetTypeSettings
          - AssetLocationTradeDoesntCorrespondToWO
          - AssetLocationSelectedPMmodule
          - UpdateAssetRepairStatusValidation
          - HasCircuitsCantBeChange
          - HasComponentsCantBeChange
          - CircuitCanNotBeConnectedToCircuit
          - RTCircuitCanNotBeConnectedToNonRTAsset
          - RTComponentCanNotBeConnectedToNonRTAsset
          - ComponentCanNotBeConnectedToComponent
          - NonRTComponentCanNotBeConnectedToRtAsset
          - NonRTCircuitCanNotBeConnectedToRtAsset
          - ComponentCanNotBeConnectedToCircuit
          - ParentAssetShouldHaveEitherComponentsNorCircuits
          - ParentAssetCantHaveComponents
          - ParentAssetCantHaveCircuits
          - MultipleAssetsFoundForTheRequestedTagId
          - InvalidBrandName
          - UnknownBrandId
          - BrandRestrictedByAssetType
          - BrandRestrictedBySubscriber
          - BrandsRestrictedBySubscriber
          - DeclineWorkOrderFailed
          - AcceptWorkOrderFailed
          - WorkOrderWasAccepted
          - AssetAttachmentsSizeExceeded
          - SaveMliAuditReportSetting
          - GetMliAuditReportSetting
          - SaveMliAuditReportResult
          - SaveMliAuditReportSendEmailStatus
          - SaveMliAuditReportFilePath
          - GetSubscribersEnabledSchedule
          - SaveMliAuditInfoError
          - TaxValidationAddNewCompanySettingsError
          - TaxValidationUpdateCompanySettingsError
          - ProjectAssociationError
          - GetProjectsInvoiceAmountsError
          - TaxCodeNotUniqueError
          - FieldLengthIsTooLongError
          - SetTaxCodesBulkError
          - InvoiceAdditionalApprovalCodeValueError
          - BulkUpdateInvoicePaymentError
          - InvoiceLineItemFilterDisabled
          - InvoiceStatusToRejectProviderNotificationFailed
          - SortFieldNotAvailableError
          - ContractServiceExist
          - ContractServiceCantChangeTrade
          - ContractServiceCantChangeCategory
          - ContractServiceCantChangeProvider
          - ContractServicePMServiceCantChangeTrade
          - ContractServicePMServiceCantChangeCategory
          - ContractedServiceNameAlreadyExists
          - ContractedServiceNameLinkedToRates
          - WorkRequestDescriptionIsRequired
          - WorkRequestCallDateIsRequired
          - WorkRequestIssueIsRequired
          - WorkRequestCallDateHasWrongFormat
          - WorkRequestScheduledDateHasWrongFormat
          - InvalidWorkRequestStatus
          - InvalidWorkRequestExtendedStatus
          - InvalidWorkRequestCategory
          - InvalidWorkRequestPriority
          - InvalidWorkRequestCurrency
          - InvalidWorkRequestIssueSetup
          - InvalidWorkRequestIssueArea
          - InvalidWorkRequestAsset
          - WorkRequestAttachmentFileNameIsRequired
          - WorkRequestAttachmentOriginalNameIsRequired
          - WorkRequestIssueProblemCodeIsRequired
          - WorkRequestIssueProblemTypeIsRequired
          - WorkRequestScheduledDateMustBeGreaterThanCallDate
          - InvalidWorkRequestId
          - WorkRequestSearchCallDateFromHasWrongFormat
          - WorkRequestSearchCallDateToHasWrongFormat
          - WorkRequestSearchScheduledDateFromHasWrongFormat
          - WorkRequestSearchScheduledDateToHasWrongFormat
          - WorkRequestSearchClosedDateFromHasWrongFormat
          - WorkRequestSearchClosedDateToHasWrongFormat
          - WorkOrderIsAlreadyCreatedForWorkRequest
          - WorkRequestIsClosed
          - WorkRequestClosedReasonIsRequiredForClosedStatus
          - WorkOrderIdIsRequiredForThisClosedReason
          - InvalidWorkRequestClosedReason
          - WorkRequestClosedReasonIsOnlyForClosedStatus
          - InvalidWorkRequestWorkOrderId
          - WorkRequestWorkOrderIdIsOnlyForClosedStatus
          - WorkRequestWorkOrderIdIsOnlyForCertainClosedReason
          - InvalidWorkOrderSourceType
          - DeclineReasonIdIsRequired
          - DeclineReasonDoesntAllowCustomText
          - InvalidDeclineReasonId
          - MultipleWorkOrdersForPurchaseNumber
          - InvoiceMaterialMakupInvalid
          - MaterialMarkUpDiscrepancyReasonShouldBeStated
          - MaterialPriceDiscrepancyReasonShouldBeStated
          - OtherPriceDiscrepancyReasonShouldBeStated
          - SubscriberIdIsNotValid
          - FiscalPeriodIsNotValid
          - AmountIsNotValid
          - AmountFormatIsNotValid
          - CategoryMustBeEmpty
          - CategoryIsNotValid
          - TradeMustBeEmpty
          - TradeIsNotValid
          - GlCodeMustBeEmpty
          - GlCodeIsNotValid
          - LocationMustBeEmpty
          - LocationIsNotValid
          - RegionMustBeEmpty
          - RegionIsNotValid
          - DistrictMustBeEmpty
          - DistrictIsNotValid
          - DuplicateData
          - PrimaryCategoryMustBeEmpty
          - PrimaryCategoryIsNotValid
          - CategoryAndExcludedCategoryCannotSimultaneously
          - PrimaryCategoryAndExcludedPrimaryCategoryCannotSimultaneously
          - TradeAndExcludedTradeCannotSimultaneously
          - GlCodeAndExcludedGlCodeCannotSimultaneously
          - DuplicateCategories
          - DuplicateTrades
          - DuplicateGlCodes
          - DuplicatePrimaryCategories
          - LocationNoteMustBeEmpty
          - LocationNoteIsNotValid
          - OverlappingCategories
          - OverlappingPrimaryCategories
          - OverlappingTrades
          - OverlappingPrimaryTrades
          - OverlappingGlCodes
          - OverlappingLocations
          - OverlappingRegions
          - OverlappingDistricts
          - OverlappingLocationNotes
          - TaxExemptionErrorApi
          - OtherLineItemZeroAmount
          - TravelLineItemsNotNegativeValueRequired
          - MaterialLineItemsNotNegativeValueRequired
          - LaborLineItemsNotNegativeValueRequired
          - AdditionalApprovalCodeSetupIdInvalid
          - VendorIdIsNotValid
          - InvalidBatchId
          - InvalidBatchStatusId
          - CategoryInUsePMServiceError
          - CategoryInUseChecklistError
          - CategoryInUseETAMissedAlertError
          - CategoryInUseBudgetControl
          - CategoryInUseConnector
          - CategoryInUseContractedService
          - CategoryInUseEDI
          - CategoryInUseIVR
          - CategoryInUseFeedbackV2
          - CategoryInUseProposalApproveReasons
          - CategoryInUsePaymentManager
          - CategoryInUseProviderAssignments
          - CategoryInUseSiteAccess
          - CategoryInUseAlerts
          - CategoryInUseOpenWOAlert
          - CategoryInUseWOAutocopy
          - CategoryInUseWorkRequest
          - CategoryInUseWO
          - CategoryInUseDashboardOverride
          - CategoryInUseInvoiceAttributes
          - FeatureIsOn
          - LocationHierarchyNotFound
          - LocationHierarchyLevelNotFound
          - LocationHierarchyParentLevelNotFound
          - LocationSpaceTypeNotFound
          - DuplicateRowByValueKey
          - ParentNotFound
          - DuplicateSequenceAmongSiblings
          - SequenceConflictsWithExistingData
          - SequenceMustBeGreaterThanZero
          - ValueContainsPathDelimiter
          - InitializationWarmupError
          type: string
      ErrorCode:
        description: The code of the first error found
        enum:
        - NotAllowed
        - EmptyProvider
        - InvalidProviderId
        - UnknownProvider
        - ProviderAlreadyExists
        - ProviderIdNotExists
        - TimeoutExpiredError
        - EmptyContract
        - ContractUndefined
        - EmptySubscriber
        - InvalidSubscriberId
        - UnknownSubscriber
        - InactiveSubscriber
        - EmptySubscriberId
        - SubscriberIdNotExists
        - InternalError
        - DataNotFound
        - BadRequest
        - UnAuthorized
        - UnSupportedApplication
        - SubsidiaryUserDisabled
        - EmptyLocation
        - InvalidLocationId
        - UnknownLocation
        - LocationNotBelongsToSubscriber
        - EmptyLocationCountry
        - LocationAlreadyExists
        - InvalidStoreId
        - LocationEmptyState
        - NoAccessToLocation
        - LocationAddressValidationError
        - LocationAddressRequestValidationError
        - InvalidLocationNoteHeader
        - NoAccessToUpdateProtectedNote
        - InvalidBusinessHoursFormat
        - WorkingHoursIntersect
        - InvalidDayOfWeek
        - DuplicateDayOfWeek
        - InvalidBusinessHoursInitialSetup
        - BusinessHoursIsEmpty
        - InvalidHolidayRepeatByType
        - EmptyHolidayListOfDays
        - EmptyHolidayListOfMonths
        - InvalidHolidayMonthName
        - InvalidHolidayNameLength
        - InvalidHolidayRepeatEvery
        - DuplicateMonth
        - InvalidHolidayFrequency
        - InvalidHolidayStartDate
        - InvalidCloseAllDay
        - HolidayDoesNotExist
        - InvalidFormatParameter
        - InvalidLocationCity
        - InvalidLocationZip
        - InvalidLocationLatitude
        - InvalidLocationLongitude
        - InvalidLocationEmail
        - InvalidLocationName
        - InvalidLocationState
        - InvalidLocationAddlAddress
        - InvalidLocationMainAddress
        - InvalidLocationCountry
        - InvalidLocationRegion
        - InvalidLocationDistrict
        - InvalidLocationPhone
        - InvalidLocationContact
        - InvalidLocationFaxNumber
        - LocationCountryNotFound
        - LocationStateNotFound
        - LocationCityNotFound
        - LocationIdNotExists
        - InvalidLocationEmailLength
        - LocationStateIdNotFound
        - IncorrectCombinationStateAndStateId
        - InvalidSubscriberIds
        - InvalidLocalizationSettings
        - LandlordResponsibilityNotFound
        - LandlordResponsibilityAlreadyExists
        - EmptyLocationIds
        - AttachmentNotExist
        - InvalidTradeId
        - InvalidCategoryId
        - InvalidOverrideCategoryId
        - InvalidOverridePriorityId
        - LeaseNoteExceedMaxLength
        - InvalidOverrideProviderRank
        - InvalidOverrideNTE
        - DuplicateRows
        - InvalidPriorityId
        - LocationNotFound
        - EmptyTrade
        - InvalidTrade
        - TradeNotBelongsToSubscriber
        - InvalidPrimaryTrade
        - InvalidTradeForSubscriber
        - InvalidCategoryForSubscriber
        - GlCodeAlreadyExists
        - GlCodeNotExists
        - InvalidGlCodeUpdate
        - EmptyGlCode
        - TradeAlreadyExists
        - InvalidNTETrade
        - TradeNotExists
        - TradeAlreadyInUse
        - TradeWithTheSameNameHasBeenDeleted
        - TradeInUsePMServices
        - TradeInUseProposalError
        - TradeInUseRFPError
        - TradeInUseChecklistError
        - TradeInUseBudgetControl
        - TradeInUseGlCode
        - TradeInUseDynamicProviderAssignments
        - TradeInUseInvoice
        - TradeInUseLandlordResponsibilities
        - TradeInUseWO
        - TradeInUseEquipmentType
        - TradeInUseRFP
        - TradeInUseConnector
        - TradeInUseContractedService
        - TradeInUseIVR
        - TradeInUseSiteAccess
        - TradeInUseGLCodes
        - TradeInUseCIWO
        - TradeInUseOrganizationPermissions
        - TradeСreationError
        - EmptyUser
        - EmptyCreatedBy
        - InvalidUserName
        - NotProviderUser
        - UserHasNoPermissions
        - RestrictedAccount
        - UserAlreadyExists
        - UserHasNoPermissionsEditWO
        - UserEmailAddressIsMissing
        - UserIsNotRTAdmin
        - InvalidSubsriberProviderId
        - LanguageNameNotFound
        - InvalidLanguageId
        - LanguageIdNotFound
        - UseBothSubscriberIdProviderId
        - EmptyWoProblem
        - InvalidWoProblemSource
        - InvalidWoProblemDescription
        - InvalidWoProblemCode
        - InvalidWoStatus
        - InvalidWoNte
        - InvalidWoCaller
        - InvalidWoCallDate
        - InvalidWoScheduledDate
        - InvalidWoScheduledDateGreaterThanMaxAllowed
        - EmptyWoCategory
        - InvalidWoCategory
        - EmptyWoPriority
        - InvalidWoPriority
        - InvalidWoCurrency
        - InvalidWoSetupId
        - AttachmentsRequired
        - InvalidWoIdentifier
        - EquipmentRequired
        - WoNteOverflow
        - InvalidWoPurchaseNumber
        - InvalidWoStateForUpdate
        - InvalidPagingParameter
        - InvalidWoNumber
        - CheckInDenied
        - CheckOutDenied
        - WoScheduledDateLessThenReassignDate
        - WoScheduledDateLessThenCallDate
        - InvalidWoActionReason
        - EmptySubscriberProperty
        - WorkOrderUpdateError
        - MissedWoNteDetails
        - InvalidLinkedWoIdentifier
        - WoIsOnHold
        - InvalidWoTrade
        - InvalidStarScore
        - WorkOrderAlreadyRated
        - AttachmentThumbnailNotAvailable
        - InvalidWoIdentifierOrPin
        - InvalidTimeZoneHeader
        - RefrigerantWasUsedShouldBeYesOrNo
        - CheckInDeniedOutsideGeolocation
        - CheckOutDeniedOutsideGeolocation
        - LeakDetectorAuditShouldBeCreated
        - CheckInOutPremature
        - WorkOrderAttachmentsSizeExceeded
        - WorkOrderNotFound
        - WorkOrderCreateError
        - InvalidWoProjectedCompletionDate
        - InvalidFollowUpWo
        - InvalidWeatherEventId
        - InvalidSiteAuditLinkedWo
        - InvalidSetupId
        - IssueListNotFound
        - InvalidIssueListField
        - SiteAuditCompleted
        - CheckSiteAuditError
        - SaveSiteAuditError
        - RemoveSiteAuditError
        - InactiveTemplateType
        - SiteAuditNotFound
        - SiteAuditUpdateError
        - InvalidSiteAuditParameters
        - InvalidAdditionalApprovalCode
        - InvalidAdditionalApprovalCodeValue
        - AdditionalApprovalCodeIsDisabled
        - InvalidOtherDesc
        - InvalidTax2Name
        - InvoiceInconsistentAmounts
        - InvoiceInvalidTotal
        - InvoiceTotalGreaterNte
        - InvoiceExists
        - CreatingInvoiceError
        - DuplInvNumber
        - InvoiceTotalNull
        - InvComplDateNull
        - InvDateLessComplDate
        - InvoiceNotAuto
        - ESignatureRequired
        - InvWoNotFound
        - InvWrongWoCurr
        - InvWoCurrNotFound
        - InvoicingDisabled
        - InvCreationUnexpectedRes
        - InvoiceInvalidLaborAmount
        - InvoiceInvalidMaterialAmount
        - InvDateOld
        - InvDateGreater
        - InvoiceMaterialDescriptionLengthOverflow
        - InvoiceTaxNotValidated
        - InvoiceMaterialPartNumberLengthOverflow
        - TaxValidationError
        - TaxExemptionError
        - InvalidInvoiceNumber
        - GetApprovalLevelsError
        - InvoiceAddUsersToMliLevelsError
        - InvoiceAddDeleteLocationsToMliLevelUserError
        - InvoiceUpdateMLiLevelError
        - InvoiceDeleteMliLevelError
        - InvoiceDeleteUsersFromMliLevelError
        - ApprovalLevelNameLengthOverflow
        - GstTaxError
        - Tax2Error
        - GetApprovalLevelsAndLocationsByUserError
        - GetAssignedUserShortInfoError
        - AssignAllLocationsToApprovalLevelAndUserError
        - GetLocationsForApprovalLevelAndAssignedUserError
        - GetLocationsBySubscriberError
        - AssignUserWithLocationsToApprovalLevelError
        - ReAssignUserWithLocationsToNewApprovalLevelError
        - ReAssignLocationsToApprovalLevelAndUserError
        - OutstandingBalance
        - InvoiceTaxDetailsEmpty
        - InvoiceTaxDetailsIncorrectSum
        - MultipleUsersForLocationIsNotAllowed
        - UserAssignedToOtherLevel
        - UserDoesNotExist
        - LaborLineItemRequired
        - MaterialLineItemRequired
        - InvoiceDoesntExist
        - InvoiceStarUnstarFailed
        - InvoiceBatchUpdateInvalidInvoiceStatusError
        - InvoiceBatchUpdateLimitExceededError
        - InvoiceNotAvailableForCurrentUser
        - InvoiceBatchUpdateInvalidRuleSetStructure
        - InvoiceBatchUpdateInvalidMliStructure
        - InvoiceBatchUpdateStatusError
        - InvoiceMaterialUnitTypeInvalid
        - ExistingBatchNumber
        - InvoiceResolutionTextRequired
        - GetInvoiceDefaultApprovalCodesError
        - InvoiceInvalidTravelAmount
        - InvoiceTravelDescriptionLengthOverflow
        - InvoiceTravelUnitTypeInvalid
        - TravelLineItemRequired
        - TravelDetailsDisabled
        - OnOffShoreDisabled
        - InvoiceInvalidLaborCount
        - InvoiceInvalidMaterialCount
        - InvoiceInvalidTravelCount
        - SubscriberNotRegisteredForTaxValidation
        - ManyDecimalsInAmountError
        - DecimalPartQstTaxError
        - LaborRatesDiscrepancy
        - PayInvoicesError
        - InvoiceNumberRequirementsError
        - InvoiceNumberIncorrect
        - InvoiceNumberRegExPatternError
        - GetInvoicesPendingApprovalByLocationError
        - ReAssignInvoicesToUsersFailed
        - ReAssignInvoicesUsersMatched
        - GetUsersForReassignInvoiceError
        - InvalidTimeRangeActivity
        - OutsourcedSourceInvoiceNotFound
        - OthersLineItemsDisabled
        - InvoiceInvalidOtherAmount
        - InvoiceInvalidOtherCount
        - InvoiceOtherDescriptionLengthOverflow
        - OtherLineItemRequired
        - OtherLineItemsNotNegativeValueRequired
        - InvalidLaborSkillLevel
        - InvalidLaborType
        - InvalidTechnicianQuantity
        - GetInvoicesCommonCategoriesError
        - InvoiceExplainDisputeEmpty
        - InvoiceAdditionalApprovalCodeHeaderError
        - TemplateParseSuccess
        - TemplateIncorrectHeaderError
        - TemplateEmptyTemplateError
        - TemplateWrongFieldsCountError
        - TemplateFieldNotFoundError
        - TemplateFieldRequiredError
        - TemplateParseIntError
        - TemplateFieldSizeError
        - TemplateInvalidValueError
        - TemplateFieldFormatError
        - TemplateFieldMaxRangeError
        - TemplateFieldMinRangeError
        - TemplateProviderNotEntered
        - TemplateInvalidSubscriberError
        - TemplateVendorNotFoundError
        - TemplateMissedProviderError
        - TemplateProviderNotFoundError
        - TemplateProviderSubsccriberLinkError
        - TemplateTradeDispatchRankError
        - TemplateInvalidTradeForSubscriberError
        - TemplateStoreNotFoundError
        - TemplateNotStoresForStateError
        - TemplateNotStoresForCountryError
        - TemplateNotStoresForDistrictError
        - TemplateNotStoresForRegionError
        - TemplateMultiplePimaryProvidersForTradeStoreError
        - TemplateDuplicatePrimaryRelationshipError
        - TemplateAmbiguousDataError
        - TemplateIncorrectSubscriber
        - TemplateDuplicateRanking
        - TemplateLongitudeRangeError
        - TemplateLatitudeRangeError
        - InvoiceMaterialPartNameLengthOverflow
        - TemplateTradeLocationExclusion
        - TemplateInvalidStateError
        - TemplateMissedSubscriberError
        - TemplateMissedStoreIdError
        - TemplateInvalidSubscriberIdError
        - TemplateOpenCloseDateError
        - TemplateInvalidCountryError
        - TemplateInvalidStateForCountryError
        - TemplateInvalidLocationTypeError
        - TemplateMissingFullAndShortNameError
        - TemplateMissingCountryError
        - TemplateDuplicatedDataError
        - TemplateParentLocationNotFoundError
        - TemplateParseDateTimeError
        - TemplateParseDecimalError
        - TemplateSquareValueRangeError
        - TemplateInvalidSquareMeasureError
        - TemplateTypeLabelCanNotBeUpdatedError
        - TemplateTypeLabelHaveToBeLocationForNotInventory
        - TemplateInvalidPrimarySupplyLocation
        - TemplateInvalidHomestoreLocationNumber
        - TemplateErrorDuringCreation
        - TemplateLocationNotFoundError
        - TemplateDuplicatedLocationFoundError
        - TemplateInvalidLocationHeaderError
        - TemplateDuplicatedLocationHeaderError
        - TemplateHeaderContainsEmptyFieldsError
        - TemplateLocHeadersShortHeaderError
        - TemplateHeaderContainsDuplicatesError
        - TemplateLocationNotesStoreIdFieldLengthError
        - TemplateLocationNotesNoteValueFieldLengthError
        - TemplateErrorInvalidZipCode
        - TemplateMissingLocationNoteHeader
        - TemplateMissingLocationNoteIdHeader
        - TemplateInvalidSecondarySupplyLocation
        - TemplateLocationWasNotCreated
        - TemplateTruckNameIsEmpty
        - TemplateWrongFormat
        - TemplateSubscriberNotFound
        - TemplateDuplicatedLocationHeaders
        - TemplateInvalidHeaders
        - TemplateInvalidPhoneError
        - TemplateDuplicateTelecomRecordError
        - TemplateTelecomRecordExistsError
        - TemplateInvalidCategory
        - TemplateDifferentRanksForProviderAssignments
        - TemplateDuplicateRankError
        - TemplateProviderNonCompliant
        - TemplateLocationIsClosed
        - TemplateProviderWarning
        - TemplateMultipleProvidersForTradeStoreError
        - EmptyRequest
        - InvalidNumberOfParameters
        - InvoiceOtherUnitTypeInvalid
        - EmptyLocationOrTradeList
        - RequestSubscriberIdDoesntMatchUserSubscriberId
        - StoreIdRequiredError
        - InvalidUserIdError
        - InvalidStoreIdError
        - AmbigiousError
        - MliHierarchyFiledsCountError
        - MliHierarchyMaxUserNameError
        - MliHierarchyDuplicateUserError
        - MLiHirarchyUserExistInOtherLevelError
        - MissingLevelsError
        - DuplicateApprovalLevelsError
        - InvalidMliLocations
        - InvalidMlpLocations
        - ApprovalLevelUsedInRulsetError
        - GLCodeAmbiguous
        - GlCodeInvalidResponce
        - GetRuleSetListError
        - RuleSetDuplicateNameError
        - RuleSetDuplicateActionError
        - RuleSetConflictedActionError
        - RuleSetRuleSetDoesNotExistsError
        - RuleSetTradeDoesNotExistError
        - RuleSetCategoryDoesNotExistError
        - RuleSetMliLevelDoesNotExistError
        - GetRuleSet
        - CreateUpdateRuleSetError
        - DeleteRuleSet
        - GetRuleSetCategoriesTradesCountError
        - GetRuleSetByInvoice
        - GetCategoryTradeIdsAreSelectedError
        - ProposalAboveMlpLimitError
        - ProposalNextLevelHasNoAvailableActionsError
        - DefaultRuleSetError
        - RuleSetActionEndStatusError
        - RuleSetRejectActionEmptyForwardToError
        - UserFilterGetError
        - UserFilterCreateUpdateError
        - UserFilterDeleteError
        - UserFilterSetAsDefaultError
        - InvoiceFilterFromAlpProviderError
        - RegionFilterNotAllowedError
        - LocationIdFilterNotAllowedError
        - PaymenowScProviderIdOrFbCompanyIdMustBeProvided
        - PaymenowBannersForProvidersOnly
        - PaymenowFeatureDisabled
        - PaymenowBannerInfoNotFound
        - PaymenowBannerInvalidNavigationUrl
        - PaymenowRequestedProvidersIsNotAssigned
        - PaymenowEmptyRequestedProviders
        - PaymentManagerFeatureDisabled
        - PaymentManagerFeatureDisabledForSubscriber
        - PaymentSystemCurrentlyUnavailable
        - CurrencyNotSupported
        - PaymentSystemAccountNotFound
        - FeatureIsOff
        - EarlyPayFeatureWithoutPaymentManagetFeatureError
        - FtpTestError
        - AcceptTermsAndConditionsRequestInvalid
        - PaymentSystemAccountError
        - SendReportToFTP
        - SchedulingError
        - BadPaymentData
        - InvoicesCanNotBeRepaid
        - InvoicesCanNotBeRescheduled
        - InvalidBillingAddress
        - PaymentManagerGeneralSettingsNotFound
        - PaymentManagerEInvoiceSettingsNotFound
        - BadgeVerificationFailed
        - BadgeTempPassEmpty
        - BadgeScanRequired
        - SolvedIssueSubmitFailed
        - SolvedIssueInvalidLocationId
        - SolvedIssueInvalidCategoryId
        - SolvedIssueInvalidTradeId
        - SolvedIssueInvalidPriorityId
        - SolvedIssueInvalidSource
        - SolvedIssueInvalidProblemCode
        - SolvedIssueInvalidType
        - SubmitFeedbackErrorWoStatus
        - SubmitFeedbackInvalidAnswer
        - SubmitFeedbackInvalidTrackingNumber
        - SubmitFeedbackInvalidSubscriber
        - SubmitFeedbackInvalidScore
        - SubmitFeedbackUnsatisfactoryCommentRequired
        - SubmitFeedbackInvalidReviewId
        - SubmitFeedbackInvalidSetupId
        - FeedbackSetupInvalidSetupId
        - S3SaveError
        - AbsSaveError
        - GoodDataLoginFailed
        - GoodDataElementUriError
        - GoodDataReportResultUriError
        - GoodDataReportResultEmpty
        - GoodDataDesReportResCountError
        - GoodDataDesReportResConvertError
        - GoodDataDesDisplayFormAttributeEmpty
        - InvalidProposalAmountLimit
        - GetApprovalProposalReasonsError
        - GetEmailRecipientsError
        - GetAssignProposalReasonsError
        - ProposalHasBeenVoided
        - AssetTypeDuplicateNameError
        - AssetTypeDoesntExistError
        - AssetTypeFailUpdateRefrigerantPurpose
        - AssetTypeDeleteFailed
        - ExistingAssetsFoundForAssetType
        - CantModifyAssetTypeParentId
        - InvalidAssetTypeName
        - AssetTypeInheritanceError
        - ExistingProposalsFoundForAssetType
        - InstallPurchaseDateOverflow
        - WOexistsWithSomeAssets
        - PartsChangeFailed
        - PartsReasonCodeError
        - PartsUseDateError
        - PartsRefrigerantAlreadyExists
        - PartsChargeHistoryAlreadyExists
        - PartsNotFound
        - BulkPartUseIncorrectWorkOrder
        - BulkPartsByIdsNotFound
        - BulkPartsMultipleWosError
        - BulkPartsIncorrectIsRefrigerantParam
        - BulkPartsIsRefrigerantCanNotbeChanged
        - BulkPartsReasonCodeChangeError
        - BulkPartsInvalidAssetAndReasonCodeParams
        - BulkPartsInvalidAssetId
        - BulkPartsInvalidInitialChargeCode
        - BulkPartsAssetDoesntContainCharge
        - BulkPartsIsInventoryFlagError
        - BulkPartsLeakAlreadyInProcessError
        - BulkPartsInvalidDateRangeError
        - BulkPartsMoeNumberRequiredError
        - BulkPartsSystemChargeExceeded
        - BulkRefrigerantuUageBlocked
        - BulkIDsNotBeNull
        - BulkPartRemovalNotAllowedOnRetrofitRetireWO
        - BulkAddPartUsagesNotAllowedAfterRetrofitRetireCreation
        - BulkRetrofitRetireRefrigerantUsageReasonCanNotChanged
        - BulkInitialChargeSystemExpansionNotAllowed
        - BulkInventoryPartIdCanNotBeChanged
        - BulkInventoryLocationIdCanNotBeChanged
        - BulkPartsDuplicatedRequest
        - BulkChangePartsIncorrectRefrigerantType
        - BulkPartsRetroRetireIsInProgressOnThisDate
        - BulkPartsCanNotAttachRefrigerantUsageToPlanLeakRecord
        - RetrofitRetireCanNotBeRemoved
        - RetroRetirePartsCantbeChanged
        - BulkPartsInventoryApiFailed
        - BulkPartsDuplicated
        - BulkPartsWorkOrderInProcessing
        - BadNotificationSubscriptionEventType
        - RefrigerantUseDateOutOfTheLeakProcessDateRange
        - InventoryUsageNotAllowedOnRTrackingConnectedSubAndSubcontractors
        - BulkExternalWoCurrentlyDoesntExists
        - BulkConnectorOnlyExternalClientAssetsCanBeProcessed
        - BulkConnectorOnlyClientAssetsCouldBeProcessed
        - LeakRecordHasWrongDateValue
        - HasUncompliedLeakRecordInAnoutherWO
        - HasUncompletedWOOnAnotherLeakRecord
        - OnlyOneAssetWorkOrderPair
        - OneLeakRecordMustBeOnCompletedWO
        - LeakRecordNotFound
        - AssetIDWoIdIsRequired
        - BulkPartsReasonCodeRetrofit
        - RetrofitRetireWasCancelledNoLeak
        - FailedToUpdateLeakEvent
        - AddPartUsagesAreNotAllowedInRetireRetrofitDateInterval
        - LeakPartUseOnZeroChargeNotAllowed
        - BulkLeakRecordsAndAuditRequest
        - LeakRecordsDuplicateRequestDetected
        - AllLeakRecordFieldsAreRequired
        - BulkPartsTheSamePartIdForUpdateAndRemovalPassed
        - MlpImportLevelError
        - UpdateMlpUserLevelError
        - InvalidHolidayName
        - DuplicateHolidayName
        - HolidaysDeleteFailed
        - HolidaysExcludeInsertFailed
        - HolidaysUpdateFailed
        - HolidaysInsertFailed
        - HolidaysExcludeDeleteFailed
        - BusinessHoursDeleteFailed
        - BusinessHoursUpdateFailed
        - BusinessHoursInsertFailed
        - InvalidTime
        - HolidayForDeleteNotFound
        - InvalidChecklistId
        - ChecklistNotPopulated
        - ChecklistNotAssignedForTransfersWO
        - NoLinkBetweenSubscriberAndProvider
        - WorkforceCreateContractorError
        - InvalidCertificateId
        - MaxThresholdExceeded
        - MaxTriggerRateExceeded
        - LeakPriorityIsRequired
        - MissingRTSettings
        - ResolutionCodesLimitExceeded
        - ResolutionCodesAreRequired
        - RootCauseIsRequired
        - RootCauseTextIsRequired
        - NoAccessToSetRootCauseText
        - RootCauseTextMaxLengthExceeded
        - ResolutionCodeTextIsRequired
        - NoAccessToSetResolutionCodeText
        - ResolutionCodeTextMaxLengthExceeded
        - ResolutionCodeTextMustBeUnique
        - ResolutionCodeWithoutFreeTextMustBeUnique
        - PendingResCodesStatusCannotBeChangedToInvoiceableBySubscriber
        - ResolutionAndRootCauseCodesAreRequiredToMoveToInvoiceableStatusByProvider
        - AssetCategoriesLimitExceeded
        - NoAccessToAssetCategories
        - AssetCategoriesAreRequired
        - InvalidAssetCategoryId
        - NoAssetCategoriesOnWorkOrder
        - RootCausesMustBeForAllWorkOrderAssetCategories
        - RootCauseTextMustBeUnique
        - AssetCategoryIsRequired
        - MultipleRootCausesMethodMustBeUsed
        - ResolutionCodesMustBeForAllWorkOrderAssetCategories
        - AssetFilterLocationsLimitExceeded
        - UnknownStoreId
        - UsesRefrigerantAttributeNotChanged
        - AssetTagDuplicate
        - AssetTagIdDuplicate
        - UnknownEquipmentType
        - ParentIdInOtherLocation
        - UnknownBrandName
        - CARBRequiredManufacturedDate
        - CARBRequiredInstallDate
        - TradeNotFound
        - AssetDoesntExist
        - AssetIsNotRefrigerant
        - AssetCantContainRefrigerant
        - OnlyRackAssetsContainingCircuits
        - ConnectorAssetTagIdCanNotBeChanged
        - ConnectorAssetLocationIdCanNotBeChanged
        - AssetTagCantBeUpdated
        - AssetTypeIsNotСonfiguredToManageRTAssets
        - RefrigerantTrackingNotAvailableForLocation
        - UsesRefrigerantRequiredByAssetTypeSettings
        - AssetLocationTradeDoesntCorrespondToWO
        - AssetLocationSelectedPMmodule
        - UpdateAssetRepairStatusValidation
        - HasCircuitsCantBeChange
        - HasComponentsCantBeChange
        - CircuitCanNotBeConnectedToCircuit
        - RTCircuitCanNotBeConnectedToNonRTAsset
        - RTComponentCanNotBeConnectedToNonRTAsset
        - ComponentCanNotBeConnectedToComponent
        - NonRTComponentCanNotBeConnectedToRtAsset
        - NonRTCircuitCanNotBeConnectedToRtAsset
        - ComponentCanNotBeConnectedToCircuit
        - ParentAssetShouldHaveEitherComponentsNorCircuits
        - ParentAssetCantHaveComponents
        - ParentAssetCantHaveCircuits
        - MultipleAssetsFoundForTheRequestedTagId
        - InvalidBrandName
        - UnknownBrandId
        - BrandRestrictedByAssetType
        - BrandRestrictedBySubscriber
        - BrandsRestrictedBySubscriber
        - DeclineWorkOrderFailed
        - AcceptWorkOrderFailed
        - WorkOrderWasAccepted
        - AssetAttachmentsSizeExceeded
        - SaveMliAuditReportSetting
        - GetMliAuditReportSetting
        - SaveMliAuditReportResult
        - SaveMliAuditReportSendEmailStatus
        - SaveMliAuditReportFilePath
        - GetSubscribersEnabledSchedule
        - SaveMliAuditInfoError
        - TaxValidationAddNewCompanySettingsError
        - TaxValidationUpdateCompanySettingsError
        - ProjectAssociationError
        - GetProjectsInvoiceAmountsError
        - TaxCodeNotUniqueError
        - FieldLengthIsTooLongError
        - SetTaxCodesBulkError
        - InvoiceAdditionalApprovalCodeValueError
        - BulkUpdateInvoicePaymentError
        - InvoiceLineItemFilterDisabled
        - InvoiceStatusToRejectProviderNotificationFailed
        - SortFieldNotAvailableError
        - ContractServiceExist
        - ContractServiceCantChangeTrade
        - ContractServiceCantChangeCategory
        - ContractServiceCantChangeProvider
        - ContractServicePMServiceCantChangeTrade
        - ContractServicePMServiceCantChangeCategory
        - ContractedServiceNameAlreadyExists
        - ContractedServiceNameLinkedToRates
        - WorkRequestDescriptionIsRequired
        - WorkRequestCallDateIsRequired
        - WorkRequestIssueIsRequired
        - WorkRequestCallDateHasWrongFormat
        - WorkRequestScheduledDateHasWrongFormat
        - InvalidWorkRequestStatus
        - InvalidWorkRequestExtendedStatus
        - InvalidWorkRequestCategory
        - InvalidWorkRequestPriority
        - InvalidWorkRequestCurrency
        - InvalidWorkRequestIssueSetup
        - InvalidWorkRequestIssueArea
        - InvalidWorkRequestAsset
        - WorkRequestAttachmentFileNameIsRequired
        - WorkRequestAttachmentOriginalNameIsRequired
        - WorkRequestIssueProblemCodeIsRequired
        - WorkRequestIssueProblemTypeIsRequired
        - WorkRequestScheduledDateMustBeGreaterThanCallDate
        - InvalidWorkRequestId
        - WorkRequestSearchCallDateFromHasWrongFormat
        - WorkRequestSearchCallDateToHasWrongFormat
        - WorkRequestSearchScheduledDateFromHasWrongFormat
        - WorkRequestSearchScheduledDateToHasWrongFormat
        - WorkRequestSearchClosedDateFromHasWrongFormat
        - WorkRequestSearchClosedDateToHasWrongFormat
        - WorkOrderIsAlreadyCreatedForWorkRequest
        - WorkRequestIsClosed
        - WorkRequestClosedReasonIsRequiredForClosedStatus
        - WorkOrderIdIsRequiredForThisClosedReason
        - InvalidWorkRequestClosedReason
        - WorkRequestClosedReasonIsOnlyForClosedStatus
        - InvalidWorkRequestWorkOrderId
        - WorkRequestWorkOrderIdIsOnlyForClosedStatus
        - WorkRequestWorkOrderIdIsOnlyForCertainClosedReason
        - InvalidWorkOrderSourceType
        - DeclineReasonIdIsRequired
        - DeclineReasonDoesntAllowCustomText
        - InvalidDeclineReasonId
        - MultipleWorkOrdersForPurchaseNumber
        - InvoiceMaterialMakupInvalid
        - MaterialMarkUpDiscrepancyReasonShouldBeStated
        - MaterialPriceDiscrepancyReasonShouldBeStated
        - OtherPriceDiscrepancyReasonShouldBeStated
        - SubscriberIdIsNotValid
        - FiscalPeriodIsNotValid
        - AmountIsNotValid
        - AmountFormatIsNotValid
        - CategoryMustBeEmpty
        - CategoryIsNotValid
        - TradeMustBeEmpty
        - TradeIsNotValid
        - GlCodeMustBeEmpty
        - GlCodeIsNotValid
        - LocationMustBeEmpty
        - LocationIsNotValid
        - RegionMustBeEmpty
        - RegionIsNotValid
        - DistrictMustBeEmpty
        - DistrictIsNotValid
        - DuplicateData
        - PrimaryCategoryMustBeEmpty
        - PrimaryCategoryIsNotValid
        - CategoryAndExcludedCategoryCannotSimultaneously
        - PrimaryCategoryAndExcludedPrimaryCategoryCannotSimultaneously
        - TradeAndExcludedTradeCannotSimultaneously
        - GlCodeAndExcludedGlCodeCannotSimultaneously
        - DuplicateCategories
        - DuplicateTrades
        - DuplicateGlCodes
        - DuplicatePrimaryCategories
        - LocationNoteMustBeEmpty
        - LocationNoteIsNotValid
        - OverlappingCategories
        - OverlappingPrimaryCategories
        - OverlappingTrades
        - OverlappingPrimaryTrades
        - OverlappingGlCodes
        - OverlappingLocations
        - OverlappingRegions
        - OverlappingDistricts
        - OverlappingLocationNotes
        - TaxExemptionErrorApi
        - OtherLineItemZeroAmount
        - TravelLineItemsNotNegativeValueRequired
        - MaterialLineItemsNotNegativeValueRequired
        - LaborLineItemsNotNegativeValueRequired
        - AdditionalApprovalCodeSetupIdInvalid
        - VendorIdIsNotValid
        - InvalidBatchId
        - InvalidBatchStatusId
        - CategoryInUsePMServiceError
        - CategoryInUseChecklistError
        - CategoryInUseETAMissedAlertError
        - CategoryInUseBudgetControl
        - CategoryInUseConnector
        - CategoryInUseContractedService
        - CategoryInUseEDI
        - CategoryInUseIVR
        - CategoryInUseFeedbackV2
        - CategoryInUseProposalApproveReasons
        - CategoryInUsePaymentManager
        - CategoryInUseProviderAssignments
        - CategoryInUseSiteAccess
        - CategoryInUseAlerts
        - CategoryInUseOpenWOAlert
        - CategoryInUseWOAutocopy
        - CategoryInUseWorkRequest
        - CategoryInUseWO
        - CategoryInUseDashboardOverride
        - CategoryInUseInvoiceAttributes
        - FeatureIsOn
        - LocationHierarchyNotFound
        - LocationHierarchyLevelNotFound
        - LocationHierarchyParentLevelNotFound
        - LocationSpaceTypeNotFound
        - DuplicateRowByValueKey
        - ParentNotFound
        - DuplicateSequenceAmongSiblings
        - SequenceConflictsWithExistingData
        - SequenceMustBeGreaterThanZero
        - ValueContainsPathDelimiter
        - InitializationWarmupError
        type: string
        readOnly: true
      ErrorMessage:
        description: The description of all errors.
        type: string
      Data:
        $ref: '#/definitions/System.Object'
        description: "Optional\r\n            Gets or Sets the Data object."
  ServiceChannel.Services.Messaging.WorkRequests.ChangeWorkRequestStringFieldsRequest:
    description: Request to update the value of a work request parameter.
    type: object
    properties:
      Value:
        description: Value of the work request parameter to update.
        type: string
  ServiceChannel.Services.Messaging.WorkRequests.SearchWorkRequestRequest:
    description: Object to perform search for work requests
    type: object
    properties:
      Ids:
        description: Ids
        type: array
        items:
          format: int32
          type: integer
      SubscriberIds:
        description: Subscriber Ids
        type: array
        items:
          format: int32
          type: integer
      ProviderIds:
        description: Provider Ids
        type: array
        items:
          format: int32
          type: integer
      LocationIds:
        description: Location Ids
        type: array
        items:
          format: int32
          type: integer
      CategoryIds:
        description: Category Ids
        type: array
        items:
          format: int32
          type: integer
      StatusIds:
        description: Status Ids
        type: array
        items:
          format: int32
          type: integer
      ExtendedStatusIds:
        description: Extended Status Ids
        type: array
        items:
          format: int32
          type: integer
      PriorityIds:
        description: Priority Ids
        type: array
        items:
          format: int32
          type: integer
      TradeIds:
        description: Trade Ids
        type: array
        items:
          format: int32
          type: integer
      ClosedReasonIds:
        description: Closed Reason Ids
        type: array
        items:
          format: int32
          type: integer
      EventIds:
        description: Event Ids
        type: array
        items:
          type: string
      WorkOrderIds:
        description: Work Order Ids
        type: array
        items:
          format: int32
          type: integer
      AssetIds:
        description: Asset Ids
        type: array
        items:
          format: int32
          type: integer
      CallDateFrom:
        description: Minimum Call Date
        type: string
      CallDateTo:
        description: Maximum Call Date
        type: string
      ScheduledDateFrom:
        description: Minimum Scheduled Date
        type: string
      ScheduledDateTo:
        description: Maximum Scheduled Date
        type: string
      ClosedDateFrom:
        description: Minimum Closed Date
        type: string
      ClosedDateTo:
        description: Maximum Closed Date
        type: string
      SortField:
        description: Sort Field
        enum:
        - Id
        - CallDate
        - ScheduledDate
        - ClosedDate
        type: string
      SortDirection:
        description: Sort direction
        enum:
        - Asc
        - Desc
        type: string
      Page:
        format: int32
        description: Page. Zero based
        type: integer
      PageSize:
        format: int32
        description: Page Size
        type: integer
  ServiceChannel.Services.Messaging.WorkRequests.UpdateWorkRequestRequest:
    description: Request to update a work request properties
    type: object
    properties:
      StatusId:
        format: int32
        description: Status Id
        type: integer
      ExtendedStatusId:
        format: int32
        description: Extended Status Id
        type: integer
      ClosedReasonId:
        format: int32
        description: Closed Reason Id
        type: integer
      WorkOrderId:
        format: int32
        description: Work Order Id
        type: integer
      PriorityId:
        format: int32
        description: Priority Id
        type: integer
      CategoryId:
        format: int32
        description: Category Id
        type: integer
      ScheduledDate:
        description: Scheduled date
        type: string
      Description:
        description: Description
        type: string
      TradeId:
        format: int32
        description: Trade Id
        type: integer
      NTE:
        format: double
        description: NTE value
        type: number
  ServiceChannel.Services.Messaging.WorkRequests.CreateWorkRequestAttachmentRequest:
    description: Request to add attachments to a work request
    type: object
    properties:
      Description:
        description: Description
        type: string
      FileName:
        description: 'File name of a uploaded attachment. For example, #workorders/0DD13443-EAF4-4A1D-930B-992EFC8ED3E0'
        type: string
      OriginalName:
        description: Original file name. For example, my-file.pdf
        type: string
      Visibility:
        format: int32
        description: Visibility
        type: integer
  ServiceChannel.Services.Messaging.WorkRequests.CreateWorkRequestResponse:
    description: Response for work request creation
    type: object
    properties:
      Id:
        format: int32
        description: Id of the created work request
        type: integer
  ServiceChannel.Services.Messaging.Providers.ServiceRequestProvider:
    type: object
    properties:
      Rank:
        format: int32
        description: Rank
        type: integer
      Category:
        description: Category
        type: string
      Priority:
        description: Priority
        type: string
      Nte:
        format: double
        description: Nte
        type: number
      GeneralEmail:
        description: General Email
        type: string
      IsDefault:
        description: Is Default
        default: false
        type: boolean
      ServiceRequestEmails:
        description: ServiceRequestEmails
        type: string
      Phone:
        type: string
      FullName:
        description: Full Name
        type: string
      Address1:
        description: Address1
        type: string
      Address2:
        description: Adress2
        type: string
      City:
        description: City
        type: string
      State:
        description: State
        type: string
      Zip:
        description: Zip
        type: string
      Country:
        description: Country
        type: string
      MainContact:
        description: Main Contact
        type: string
      DateCreated:
        format: date-time
        description: Date Created
        type: string
      LastUserDate:
        description: Last User Date
        type: string
      SuperUser:
        description: SuperUser
        type: string
      WebSite:
        description: WebSite
        type: string
      Email:
        description: Email
        type: string
      TaxId:
        description: Tax Id
        type: string
      Trade:
        description: Trade
        type: string
      ProcessingEmail:
        description: Processing Email
        type: string
      FaxNumber:
        description: Fax Number
[...]
