openapi: 3.2.0
info:
  version: '3'
  title: ServiceChannel API - v.3 Trucks API
  description: The ServiceChannel API is a RESTful and stateless API.
servers:
- url: https://sb2api.servicechannel.com/v3
security:
- oauth2: []
tags:
- name: Trucks
paths:
  /trucks/{id}:
    get:
      tags:
      - Trucks
      operationId: GETv3_trucks_{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 trucks {id}
      x-summary-source: derived
    put:
      tags:
      - Trucks
      operationId: PUTv3_trucks_{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Trucks.TruckRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Trucks.TruckRequest'
        required: true
      summary: PUTv3 trucks {id}
      x-summary-source: derived
    delete:
      tags:
      - Trucks
      operationId: DELETEv3_trucks_{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: DELETEv3 trucks {id}
      x-summary-source: derived
  /trucks:
    post:
      tags:
      - Trucks
      operationId: POSTv3_trucks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Trucks.TruckRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Trucks.TruckRequest'
        required: true
      summary: POSTv3 trucks
      x-summary-source: derived
  /trucks/technician:
    post:
      tags:
      - Trucks
      operationId: POSTv3_trucks_technician
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Trucks.TechTruckRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Trucks.TechTruckRequest'
        required: true
      summary: POSTv3 trucks technician
      x-summary-source: derived
  /trucks/technician/{authTechId}:
    get:
      tags:
      - Trucks
      operationId: GETv3_trucks_technician_{authTechId}
      parameters:
      - name: authTechId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 trucks technician {auth tech id}
      x-summary-source: derived
    put:
      tags:
      - Trucks
      operationId: PUTv3_trucks_technician_{authTechId}
      parameters:
      - name: authTechId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Trucks.TechTruckRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Trucks.TechTruckRequest'
        required: true
      summary: PUTv3 trucks technician {auth tech id}
      x-summary-source: derived
    delete:
      tags:
      - Trucks
      operationId: DELETEv3_trucks_technician_{authTechId}
      parameters:
      - name: authTechId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: DELETEv3 trucks technician {auth tech id}
      x-summary-source: derived
  /odata/trucks:
    get:
      tags:
      - Trucks
      operationId: Trucks_GetTrucks
      parameters:
      - name: $expand
        in: query
        description: Expand a navigation property.
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Select a set of properties to return.
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: Filter a collection of resources addressed by a request URL.
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: Order resources by the specified property in the response.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: Return the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $skip
        in: query
        description: Skip the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $count
        in: query
        description: Include the count of the matching resources in the response.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: Trucks get trucks
      x-summary-source: derived
components:
  schemas:
    ServiceChannel.Services.Messaging.Trucks.TechTruckRequest:
      required:
      - AuthTechnicianId
      type: object
      properties:
        AuthTechnicianId:
          format: int64
          type: integer
        TruckId:
          format: int32
          type: integer
        AlternativeTruckDescription:
          type: string
    System.Object:
      type: object
      properties: {}
    ServiceChannel.Services.Messaging.Trucks.TruckRequest:
      required:
      - TruckId
      - Name
      type: object
      properties:
        TruckId:
          type: string
        Name:
          type: string
        Region:
          type: string
        District:
          type: string
        Make:
          type: string
        Model:
          type: string
        Year:
          type: string
        License:
          type: string
        Vin:
          type: string
        HomestoreLocationId:
          format: int32
          type: integer
        MainContact:
          type: string
        PhoneNumber:
          type: string
        FaxNumber:
          type: string
        Email:
          type: string
        ManagerAuthId:
          format: int64
          type: integer
        InventoryProviderId:
          format: int32
          type: integer
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://sb2login.servicechannel.com/oauth/authorize
          tokenUrl: https://sb2login.servicechannel.com/oauth/token
      description: OAuth2 Authorization
