openapi: 3.2.0
info:
  version: '3'
  title: ServiceChannel API - v.3 Planned Maintenance API
  description: The ServiceChannel API is a RESTful and stateless API.
servers:
- url: https://sb2api.servicechannel.com/v3
security:
- oauth2: []
tags:
- name: PlannedMaintenance
paths:
  /PlannedMaintenance/LocationPmSummary:
    get:
      tags:
      - PlannedMaintenance
      operationId: GETv3_PlannedMaintenance_LocationPmSummary?startDate={startDate}&endDate={endDate}&locationId={locationId}&pageSize={pageSize}&pageIndex={pageIndex}
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: locationId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: pageIndex
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Api.Model.PreventiveMaintenance.PlannedMaintenanceSummaryItemResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Api.Model.PreventiveMaintenance.PlannedMaintenanceSummaryItemResponse'
      deprecated: false
      x-access: Any
      summary: GETv3 planned maintenance location pm summary?start date={start date}&end…
      x-summary-source: derived
  /PlannedMaintenance/ServicesByLocation:
    get:
      tags:
      - PlannedMaintenance
      operationId: GETv3_PlannedMaintenance_ServicesByLocation?locationId={locationId}
      parameters:
      - name: locationId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 planned maintenance services by location?location id={location id}
      x-summary-source: derived
components:
  schemas:
    ServiceChannel.Api.Model.PreventiveMaintenance.PlannedMaintenanceSummaryItemResponse:
      type: object
      properties:
        ServiceDescription:
          type: string
        FrequencyDescription:
          type: string
        RecurrenceDescription:
          type: string
        TradeId:
          format: int32
          type: integer
        TradeName:
          type: string
        CategoryId:
          format: int32
          type: integer
        CategoryName:
          type: string
        ProviderId:
          format: int32
          type: integer
        ProviderName:
          type: string
        Priority:
          type: string
        ServiceId:
          format: int32
          type: integer
        FrequencyId:
          format: int32
          type: integer
    System.Object:
      type: object
      properties: {}
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://sb2login.servicechannel.com/oauth/authorize
          tokenUrl: https://sb2login.servicechannel.com/oauth/token
      description: OAuth2 Authorization
