openapi: 3.2.0
info:
  version: '3'
  title: ServiceChannel API - v.3 Supply Click API
  description: The ServiceChannel API is a RESTful and stateless API.
servers:
- url: https://sb2api.servicechannel.com/v3
security:
- oauth2: []
tags:
- name: SupplyClick
paths:
  /SupplyClick/ProcessItems:
    post:
      tags:
      - SupplyClick
      summary: Create supply manager work orders
      operationId: POSTv3_SupplyClick_ProcessItems
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ServiceChannel.Api.Model.SupplyManager.CatalogItemModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ServiceChannel.Api.Model.SupplyManager.CatalogItemModel'
        description: Materials
        required: true
components:
  schemas:
    System.Object:
      type: object
      properties: {}
    ServiceChannel.Api.Model.SupplyManager.CatalogItemModel:
      type: object
      properties:
        ProductId:
          type: string
        SubscriberId:
          format: int32
          type: integer
        LocationId:
          format: int32
          type: integer
        StoreId:
          type: string
        CallerName:
          type: string
        CustomCallerName:
          type: string
        CallerEmail:
          type: string
        ShippingAddress:
          type: string
        BillingAddress:
          type: string
        SupplierId:
          type: string
        Quantity:
          format: double
          type: number
        Price:
          format: double
          type: number
        Description:
          type: string
        SupplierPartId:
          type: string
        SupplierPartAuxiliaryId:
          type: string
        SupplierName:
          type: string
        CurrencyCode:
          type: string
        NTE:
          type: string
        Attachment:
          type: string
        Reason:
          type: string
        GlCode:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://sb2login.servicechannel.com/oauth/authorize
          tokenUrl: https://sb2login.servicechannel.com/oauth/token
      description: OAuth2 Authorization
