openapi: 3.2.0
info:
  version: '3'
  title: ServiceChannel API - v.3 Attachments API
  description: The ServiceChannel API is a RESTful and stateless API.
servers:
- url: https://sb2api.servicechannel.com/v3
security:
- oauth2: []
tags:
- name: Attachments
paths:
  /workorders/{workorderId}/notes/{noteId}/attachments:
    post:
      tags:
      - Attachments
      summary: Add Attachments to Work Order Note
      description: Add Attachments to Work Order Note. Returns list of attachments Id for successful request.
      operationId: POSTv3_workorders_{workorderId}_notes_{noteId}_attachments
      parameters:
      - name: workorderId
        in: path
        description: Numeric Id of the Work order to perform action with.
        required: true
        schema:
          type: integer
          format: int32
      - name: noteId
        in: path
        description: Numeric Id of the Note to perform action with.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '201':
          description: Created indicates that the request resulted in a new resource created before the response was sent.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            <br/> 503 - Validation fails;\n            <br/> 917 - InvalidWoIdentifier;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                AddAttachmentsRequest:
                  type: application/json
                  description: Optional Descriptor for file(s)
                file:
                  type: string
                  description: File to attach to note
                  format: binary
              required:
              - file
  /rfps/{id}/attachments:
    post:
      tags:
      - Attachments
      summary: Add attchment to RFP
      description: Adds attchment to RFP. Returns RFP attachment Id for successful request.
      operationId: POSTv3_rfps_{id}_attachments
      parameters:
      - name: id
        in: path
        description: Rfp ID to perform action with.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '201':
          description: Created indicates that the request resulted in a new resource created before the response was sent.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            <br/> 501 - Failed to upload attachment;\n            <br/> 502 - Data not found. Returned if target Rfp is not found;\n            <br/> 503 - Request data is empty;\n            <br/>Invalid Attachment Request;\n            <br/>User info should not be null;\n            <br/>SubscriberId is null;\n            <br/>Cannot accept file(s) of this type;\n            <br/>The file that you're trying to attach has name that exceed the maximum allowable name length;\n            <br/>The file that you're trying to attach has length that exceed the maximum allowable length;\n            <br/>Empty Location or Store ID;\n            <br/>Empty Provider ID;\n            <br/>Provider is not valid;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: File to attach to RFP
                  format: binary
              required:
              - file
  /siteaudit/comments/{commentId}/attachments:
    get:
      tags:
      - Attachments
      summary: Returns list of attachment ids and urls
      operationId: GETv3_siteaudit_comments_{commentId}_attachments
      parameters:
      - name: commentId
        in: path
        description: Numeric Id of the Comment which Attachment belongs to.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Api.Model.SiteAudit.AttachmentInComment'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Api.Model.SiteAudit.AttachmentInComment'
        '400':
          description: "Bad Request - the request could not be executed or was missing required parameters.\n            <br/>Error codes:\n            <br/> 503 - validation fails;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "The requested resource does not exist on the server.\n            <br/>Error codes:\n            502 — Data not found"
      deprecated: false
      x-access: Any
    post:
      tags:
      - Attachments
      summary: Add attchment to Comment
      description: Adds attchment to Comment. If Comment is not created yet specify {commentId} = -1.
      operationId: POSTv3_siteaudit_comments_{commentId}_attachments
      parameters:
      - name: commentId
        in: path
        description: Numeric Id of the Comment to perform action with.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '201':
          description: Created indicates that the request resulted in a new resource created before the response was sent.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            <br/> 501 - Failed to upload attachment;\n            <br/> 502 - Data not found. Returned if target Comment is not found;\n            <br/> 503 - Request data is empty;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: File to attach to Comment
                  format: binary
              required:
              - file
  /siteaudit/comments/{commentId}/attachments/{attachmentId}:
    get:
      tags:
      - Attachments
      summary: Retrieve original attchment from Comment
      operationId: GETv3_siteaudit_comments_{commentId}_attachments_{attachmentId}
      parameters:
      - name: commentId
        in: path
        description: Numeric Id of the Comment which Attachment belongs to.
        required: true
        schema:
          type: integer
          format: int32
      - name: attachmentId
        in: path
        description: Numeric Id of the Attachment to perform action with.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
  /siteaudit/comments/{commentId}/attachments/{attachmentId}/thumbnail:
    get:
      tags:
      - Attachments
      summary: Retrieve resized attchment from Comment
      operationId: GETv3_siteaudit_comments_{commentId}_attachments_{attachmentId}_thumbnail?width={width}&height={height}&mode={mode}&imageFormat={imageFormat}
      parameters:
      - name: commentId
        in: path
        description: Numeric Id of the Comment which Attachment belongs to.
        required: true
        schema:
          type: integer
          format: int32
      - name: attachmentId
        in: path
        description: Numeric Id of the Attachment to perform action with.
        required: true
        schema:
          type: integer
          format: int32
      - name: width
        in: query
        description: Width of the output file.
        required: false
        schema:
          type: integer
          format: int32
      - name: height
        in: query
        description: Height of the output file.
        required: false
        schema:
          type: integer
          format: int32
      - name: mode
        in: query
        description: "How to resolve aspect ratio differences between the requested size and the \n            original image's size: Max = 1, Pad = 2, Crop = 3, Carve = 4, Stretch = 5."
        required: false
        schema:
          type: string
          enum:
          - None
          - Max
          - Pad
          - Crop
          - Carve
          - Stretch
      - name: imageFormat
        in: query
        description: "The desired image format, like 'jpg', 'gif', or 'png'. Do not specify \n            if you want to preserve the original format."
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
  /assets/{assetId}/attachments:
    get:
      tags:
      - Attachments
      summary: Get Asset Attachments
      description: ''
      operationId: GETv3_assets_{assetId}_attachments?providerId={providerId}
      parameters:
      - name: assetId
        in: path
        description: Asset Identifier
        required: true
        schema:
          type: integer
          format: int32
      - name: providerId
        in: query
        description: The provider identifier. Required for sub-contractor request. [Required Special permissions]
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetAttachment'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetAttachment'
        '400':
          description: "Bad Request - the request could not be executed or was missing required parameters.\n            <br/>Error codes:\n            <br/> 503 - User info should not be null;\n            <br/>SubscriberId is null;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    post:
      tags:
      - Attachments
      summary: Add Attachments to Asset
      operationId: POSTv3_assets_{assetId}_attachments?isDefault={isDefault}
      parameters:
      - name: assetId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: isDefault
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Created indicates that the request resulted in a new resource created before the response was sent.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AddAssetAttachmentResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AddAssetAttachmentResponse'
        '400':
          description: "Bad Request - the request could not be executed or was missing required parameters.\n            <br/>Error codes:\n            <br/> 502 - Asset Not found;\n            < br/> 503 - Bad Request;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                AddAttachmentsRequest:
                  type: application/json
                  description: Required Descriptor for file(s)
                file:
                  type: string
                  description: File to attach to workorder
                  format: binary
              required:
              - file
  /assets/{assetAttachmentId}/deleteAttachment:
    post:
      tags:
      - Attachments
      summary: Delete Asset Attachment
      operationId: POSTv3_assets_{assetAttachmentId}_deleteAttachment
      parameters:
      - name: assetAttachmentId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: "Bad Request - the request could not be executed or was missing required parameters.\n            <br/>Error codes:\n            <br/> 503 - User info should not be null;\n            <br/>SubscriberId is null;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /assets/getattachmentsbyassetids:
    post:
      tags:
      - Attachments
      summary: Get Asset Attachments
      operationId: POSTv3_assets_getattachmentsbyassetids
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetAttachment'
            text/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetAttachment'
        '400':
          description: "Bad Request - the request could not be executed or was missing required parameters.\n            <br/>Error codes:\n            <br/> 503 - User info should not be null;\n            <br/>SubscriberId is null;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                format: int32
                type: integer
          text/json:
            schema:
              type: array
              items:
                format: int32
                type: integer
        required: true
  /assets/getattachmentsbyassetids_v1:
    post:
      tags:
      - Attachments
      summary: Get Asset Attachments
      operationId: POSTv3_assets_getattachmentsbyassetids_v1
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetAttachment'
            text/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetAttachment'
        '400':
          description: "Bad Request - the request could not be executed or was missing required parameters.\n            <br/>Error codes:\n            <br/> 503 - User info should not be null;\n            <br/>SubscriberId is null;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Models.AssetAttachmentsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Models.AssetAttachmentsRequest'
        required: true
  /assets/updateAssetAttachment:
    put:
      tags:
      - Attachments
      summary: Update asset attachment by id
      description: ''
      operationId: PUTv3_assets_updateAssetAttachment?attachmentId={attachmentId}&fileName={fileName}&description={description}
      parameters:
      - name: attachmentId
        in: query
        description: Attachment identifier
        required: true
        schema:
          type: integer
          format: int32
      - name: fileName
        in: query
        description: New file name
        required: false
        schema:
          type: string
      - name: description
        in: query
        description: New file description(comment)
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            <br/> 503 - FileName or Description is required;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workrequest/{workRequestId}/attachments:
    get:
      tags:
      - Attachments
      summary: Get WorkRequest Attachments
      description: '*In limited availability phase.*'
      operationId: GETv3_workrequest_{workRequestId}_attachments
      parameters:
      - name: workRequestId
        in: path
        description: WorkRequest Identifier
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Attachments.Attachment'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Attachments.Attachment'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    post:
      tags:
      - Attachments
      summary: Add attachments to a WorkRequest
      description: '*In limited availability phase.*


        Adds attachments to the specified WorkRequest.'
      operationId: POSTv3_workrequest_{workRequestId}_attachments?actor={actor}
      parameters:
      - name: workRequestId
        in: path
        description: Numeric ID of the WorkRequest to add attachments to.
        required: true
        schema:
          type: integer
          format: int32
      - name: actor
        in: query
        description: Name of the person on whose behalf you are performing the action
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created indicates that the request resulted in a new resource created before the response was sent.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            <br/> 502 - Work Request not found;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                AddAttachmentsRequest:
                  type: application/json
                file:
                  type: string
                  description: File to attach to the work request.
                  format: binary
              required:
              - file
  /workrequest/{workRequestId}/notes/{noteId}/attachments:
    post:
      tags:
      - Attachments
      summary: Add Attachments to Work Request Note
      description: '*In limited availability phase.*


        Add Attachments to Work Request Note. Returns list of attachments Id for successful request.'
      operationId: POSTv3_workrequest_{workRequestId}_notes_{noteId}_attachments
      parameters:
      - name: workRequestId
        in: path
        description: Numeric Id of the Work Request to perform action with.
        required: true
        schema:
          type: integer
          format: int32
      - name: noteId
        in: path
        description: Numeric Id of the Note to perform action with.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '201':
          description: Created indicates that the request resulted in a new resource created before the response was sent.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            <br/> 503 - Validation fails;\n            <br/> 8020 - InvalidWorkRequestIdentifier;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                AddAttachmentsRequest:
                  type: application/json
                  description: Optional Descriptor for file(s)
                file:
                  type: string
                  description: File to attach to note
                  format: binary
              required:
              - file
  /workrequest({workRequestId})/notes({noteId})/attachments:
    get:
      tags:
      - Attachments
      summary: Get WorkRequest Note Attachments
      description: '*In limited availability phase.*'
      operationId: GETv3_workrequest({workRequestId})_notes({noteId})_attachments
      parameters:
      - name: workRequestId
        in: path
        description: WorkRequest Identifier
        required: true
        schema:
          type: integer
          format: int32
      - name: noteId
        in: path
        description: Note Identifier
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Attachments.Attachment'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Attachments.Attachment'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/uploadplanattachmentsonblob:
    post:
      tags:
      - Attachments
      summary: Upload Attachments To Storage
      operationId: POSTv3_refrigeranttracking_uploadplanattachmentsonblob
      responses:
        '200':
          description: Created indicates that the request resulted in a new resource created before the response was sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Models.Response.Attachments.UploadRetrofitRetireAttachmentsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Models.Response.Attachments.UploadRetrofitRetireAttachmentsResponse'
        '400':
          description: "Bad Request - the request could not be executed or was missing required parameters.\n            <br/>Error codes:\n            <br/> 502 - Asset Not found;\n            < br/> 503 - Bad Request;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: File to upload
                  format: binary
                UploadRetrofitRetireAttachmentsRequest:
                  type: application/json
                  description: Required Descriptor for file(s)
              required:
              - file
  /refrigeranttracking/RetrofitRetirePlanAttachments:
    get:
      tags:
      - Attachments
      summary: Get retrofit retire plan attachments
      description: Returns list of attachments for the specific plan.
      operationId: GETv3_refrigeranttracking_RetrofitRetirePlanAttachments?planId={planId}
      parameters:
      - name: planId
        in: query
        description: Request
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.RefrigerantTracking.RetrofitRetireDoc'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.RefrigerantTracking.RetrofitRetireDoc'
        '400':
          description: The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\n            <br>Error codes:\n            <br> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Something went wrong, and the server was unable to complete your request.\n            <br>Error codes:\n            501 - Internal Error"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/linkPlanAttachments:
    post:
      tags:
      - Attachments
      summary: Add file link to the specific retrofit retire plan
      operationId: POSTv3_refrigeranttracking_linkPlanAttachments
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:            \n            <br/> 502 - No Update/Insert Leak Tracking Preferences;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\n            <br>Error codes:\n            <br> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.RefrigerantTracking.AddRetrofitRetirePlanDocsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.RefrigerantTracking.AddRetrofitRetirePlanDocsRequest'
        required: true
  /refrigeranttracking/removeattachments:
    post:
      tags:
      - Attachments
      summary: Delete retrofit retire plan attachments
      operationId: POSTv3_refrigeranttracking_removeattachments
      responses:
        '200':
          description: Request succeeded and the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: "Bad Request - the request could not be executed or was missing required parameters.\n            <br/>Error codes:\n            <br/> 503 - User info should not be null;\n            <br/>SubscriberId is null;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Unauthorized indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Attachments.RemoveRetrofitRetireDocsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Attachments.RemoveRetrofitRetireDocsRequest'
        required: true
  /workorders/{workorderId}/attachments:
    post:
      tags:
      - Attachments
      summary: Add attachments to a work order
      description: Adds attachments to the specified work order.
      operationId: POSTv3_workorders_{workorderId}_attachments?actor={actor}
      parameters:
      - name: workorderId
        in: path
        description: "Numeric ID of the work order to add attachments to.\n            You can upload a file without binding it to a Work Order. To do this, you need to set -1 instead of WorkOrderId. \n            In the response, you will receive Path for further uploading of the file from Remote Storage."
        required: true
        schema:
          type: integer
          format: int32
      - name: actor
        in: query
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created indicates that the request resulted in a new resource created before the response was sent.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            <br/> 502 - Work Order not found;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                AddAttachmentsRequest:
                  type: application/json
                  description: "<br />Pass the following parameters in the request:\n             • **Name**: Attachment Name.\n             • **Description**: Attachment Description.\n             • **Path**: Attachment Path.\n             • **Type**: Attachment Type.\n              ◦ **File - 1**.\n              ◦ **Remote Storage - 2**.\n             • **MediaType**: Mime type of the attachment.\n             • **Visibility**: Note visibility - valid values: null, 1, 2, 3.\n             • **IsInvoiceDigitalCopy**: Mark attachment as Invoice Digital Copy.\n            <br />**Example Object for the Add Attachments Request**\n            \n                {\n                  \"Attachments\": [\n                  {\n                    \"Name\": \"\", \n                    \"Description\": \"\",\n                    \"Path\": \"\",\n                    \"Type\": 2,\n                    \"MediaType\": \"\",\n                    \"Visibility\": 1,\n                    \"IsInvoiceDigitalCopy\": false\n                  }]\n                }"
                file:
                  type: string
                  description: File to attach to the work order.
                  format: binary
  /workorders/{poNumber}/attachmentsByPoNumber:
    post:
      tags:
      - Attachments
      summary: Add attachments to a work order by PO number. Only for Subscriber
      operationId: POSTv3_workorders_{poNumber}_attachmentsByPoNumber?actor={actor}
      parameters:
      - name: poNumber
        in: path
        description: Purchase Order
        required: true
        schema:
          type: string
      - name: actor
        in: query
        description: On whose behalf the attachment is adding
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created indicates that the request resulted in a new resource created before the response was sent.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            <br/> 502 - Work Order not found;\n            <br/> 503 - Only for subscribers usage;        \n            <br/> 920 - Purchase number cannot be empty;\n            <br/> 9100 - There are multiple work orders with the same PO number;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                AddAttachmentsRequest:
                  type: application/json
                  description: "<br />Pass the following parameters in the request:\n             • **Name**: Attachment Name.\n             • **Description**: Attachment Description.\n             • **Path**: Attachment Path.\n             • **Type**: Attachment Type.\n              ◦ **File - 1**.\n              ◦ **Remote Storage - 2**.\n             • **MediaType**: Mime type of the attachment.\n             • **Visibility**: Note visibility - valid values: null, 1, 2, 3.\n             • **IsInvoiceDigitalCopy**: Mark attachment as Invoice Digital Copy.\n            <br />**Example Object for the Add Attachments Request**\n            \n                {\n                  \"Attachments\": [\n                  {\n                    \"Name\": \"\", \n                    \"Description\": \"\",\n                    \"Path\": \"\",\n                    \"Type\": 2,\n                    \"MediaType\": \"\",\n                    \"Visibility\": 1,\n                    \"IsInvoiceDigitalCopy\": false\n                  }]\n                }"
                file:
                  type: string
                  description: File to attach to the work order.
                  format: binary
  /workorders/attachmentAsBase64:
    post:
      tags:
      - Attachments
      operationId: POSTv3_workorders_attachmentAsBase64
      responses:
        '201':
          description: Created indicates that the request resulted in a new resource created before the response was sent.
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\n            <br/>Error codes:\n            <br/> 502 - Work Order not found;\n            <br/> 503 - Only for subscribers usage;        \n            <br/> 920 - Purchase number cannot be empty;\n            <br/> 946 - Work Order attachments size exceeded;\n            <br/> 9100 - There are multiple work orders with the same PO number;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\n            <br/>Error codes:\n            <br/> 504 - API call rejected by security permissions;"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Indicates that a generic error has occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Subscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Attachments.AddBase64AttachmentsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Attachments.AddBase64AttachmentsRequest'
        required: true
      summary: POSTv3 workorders attachment as base64
      x-summary-source: derived
  /workorders/{workorderId}/attachments/{attachmentId}/thumbnail:
    get:
      tags:
      - Attachments
      operationId: GETv3_workorders_{workorderId}_attachments_{attachmentId}_thumbnail?width={width}&height={height}&mode={mode}&imageFormat={imageFormat}
      parameters:
      - name: workorderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: attachmentId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: width
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: height
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: mode
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - Max
          - Pad
          - Crop
          - Carve
          - Stretch
      - name: imageFormat
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 workorders {workorder id} attachments {attachment id}…
      x-summary-source: derived
  /workorders/{workOrderId}/attachments/{attachmentId}:
    delete:
      tags:
      - Attachments
      summary: Delete a work order attachment
      description: 'Removes an attachment from the specified work order. Returns the work order ID in the response. Removing an attachment from the work order using this method creates a system note for this work order.


        This method is available for subscribers and providers.


        ***Note***: Deleting an attachment from the work order doesn’t remove this attachment from the ServiceChannel database.'
      operationId: DELETEv3_workorders_{workOrderId}_attachments_{attachmentId}
      parameters:
      - name: workOrderId
        in: path
        description: Unique numeric identifier of the work order.
        required: true
        schema:
          type: integer
          format: int32
      - name: attachmentId
        in: path
        description: "Unique numeric identifier of the attachment to be removed from the work order.\n            <br />To get the attachment ID, use the [GET /odata/workorders({workorderId})/attachments](https://developer.servicechannel.com/swagger/index.html#/Attachments/Attachments_GetWorkOrderAttachments)."
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Attachment is successfully removed from the work order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Models.Response.Attachments.DeleteWorkOrderAttachmentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Models.Response.Attachments.DeleteWorkOrderAttachmentResponse'
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.  \n            <br/>Error codes:\n            503 — Data not found. The work order or attachment are not found in the database"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The requested resource requires authentication. \n            <br/>Error codes:\n            504 - API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "You are not authorized to request this resource, or the resource is unavailable for some reason.\n            <br/>Error codes: \n            100 — User has no rights to perform this action"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Something went wrong, and the server was unable to complete your request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /odata/workorders({workorderId})/attachments:
    get:
      tags:
      - Attachments
      summary: Get a work order attachment
      description: Retrieves attachment(s) added to the specified work order.
      operationId: Attachments_GetWorkOrderAttachments
      parameters:
      - name: workorderId
        in: path
        description: Unique numeric identifier of the work order.
        required: true
        schema:
          type: integer
          format: int32
      - name: $expand
        in: query
        description: Expand a navigation property.
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Select a set of properties to return.
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: Filter a collection of resources addressed by a request URL.
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: Order resources by the specified property in the response.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: Return the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $skip
        in: query
        description: Skip the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $count
        in: query
        description: Include the count of the matching resources in the response.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Information about attachments is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Attachments.Attachment'
        '401':
          description: "The requested resource requires authentication.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: The requested resource does not exist on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /odata/workorders({workorderId})/notes({noteId})/attachments:
    get:
      tags:
      - Attachments
      summary: Get a work order note attachment
      description: Retrieves attachments added to the note of the specified work order.
      operationId: Attachments_GetWorkOrderNotesAttachments
      parameters:
      - name: noteId
        in: path
        description: Unique numeric identifier of the note.
        required: true
        schema:
          type: integer
          format: int64
      - name: workorderId
        in: path
        description: Unique numeric identifier of the work order.
        required: true
        schema:
          type: integer
          format: int32
      - name: $expand
        in: query
        description: Expand a navigation property.
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Select a set of properties to return.
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: Filter a collection of resources addressed by a request URL.
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: Order resources by the specified property in the response.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: Return the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $skip
        in: query
        description: Skip the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $count
        in: query
        description: Include the count of the matching resources in the response.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Information about the attachment is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Attachments.Attachment'
        '401':
          description: "The requested resource requires authentication.\n            <br/>Error codes:\n            504 — API call rejected by security permissions"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "The requested resource does not exist on the server.\n            <br/>Error code:\n            502 — Work order is not found"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Something went wrong, and the server was unable to complete your request. \n            <br/>Error codes:\n            501 — Internal Error"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  ? /odata/workorders({workorderId})/attachments({attachmentId})/Service.GetThumbnail(width={width},height={height},mode={mode},imageFormat={imageFormat})
  : get:
      tags:
      - Attachments
      summary: Retrieve Attachment Thumbnail
      operationId: Attachments_GetWorkorderAttachmentThumbnail
      parameters:
      - name: imageFormat
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: mode
        in: path
        description: ''
        required: true
        schema:
          type: string
          default: Max
      - name: height
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
          default: 150
      - name: width
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
          default: 150
      - name: attachmentId
        in: path
        description: Attachment Identifier
        required: true
        schema:
          type: integer
          format: int32
      - name: workorderId
        in: path
        description: Workorder Identifier
        required: true
        schema:
          type: integer
          format: int32
      - name: $expand
        in: query
        description: Expand a navigation property.
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Select a set of properties to return.
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: Filter a collection of resources addressed by a request URL.
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: Order resources by the specified property in the response.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: Return the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $skip
        in: query
        description: Skip the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $count
        in: query
        description: Include the count of the matching resources in the response.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Net.Http.ByteArrayContent'
      deprecated: false
      x-access: Any
  /odata/proposals({proposalId})/attachments:
    get:
      tags:
      - Attachments
      summary: Retrieve Proposal Attachments
      operationId: Attachments_GetProposalAttachments
      parameters:
      - name: proposalId
        in: path
        description: Proposal Identifier
        required: true
        schema:
          type: integer
          format: int32
      - name: $expand
        in: query
        description: Expand a navigation property.
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Select a set of properties to return.
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: Filter a collection of resources addressed by a request URL.
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: Order resources by the specified property in the response.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: Return the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $skip
        in: query
        description: Skip the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $count
        in: query
        description: Include the count of the matching resources in the response.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Attachments.Attachment'
      deprecated: false
      x-access: Any
  ? /odata/proposals({proposalId})/attachments({attachmentId})/Service.GetThumbnail(width={width},height={height},mode={mode},imageFormat={imageFormat})
  : get:
      tags:
      - Attachments
      summary: Retrieve Attachment Thumbnail
      operationId: Attachments_GetProposalAttachmentThumbnail
      parameters:
      - name: imageFormat
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: mode
        in: path
        description: ''
        required: true
        schema:
          type: string
          default: Max
      - name: height
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
          default: 150
      - name: width
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
          default: 150
      - name: attachmentId
        in: path
        description: Attachment Identifier
        required: true
        schema:
          type: integer
          format: int32
      - name: proposalId
        in: path
        description: Proposal Identifier
        required: true
        schema:
          type: integer
          format: int32
      - name: $expand
        in: query
        description: Expand a navigation property.
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Select a set of properties to return.
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: Filter a collection of resources addressed by a request URL.
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: Order resources by the specified property in the response.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: Return the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $skip
        in: query
        description: Skip the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $count
        in: query
        description: Include the count of the matching resources in the response.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Net.Http.ByteArrayContent'
      deprecated: false
      x-access: Any
  /odata/rfps({rfpId})/attachments:
    get:
      tags:
      - Attachments
      summary: Retrieve Rfp Attachments
      operationId: Attachments_GetRFPAttachments
      parameters:
      - name: rfpId
        in: path
        description: Rfp Identifier
        required: true
        schema:
          type: integer
          format: int32
      - name: $expand
        in: query
        description: Expand a navigation property.
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: Select a set of properties to return.
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: Filter a collection of resources addressed by a request URL.
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: Order resources by the specified property in the response.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: Return the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $skip
        in: query
        description: Skip the specified number of items in the response.
        required: false
        schema:
          type: integer
      - name: $count
        in: query
        description: Include the count of the matching resources in the response.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Attachments.Attachment'
      deprecated: false
      x-access: Any
components:
  schemas:
    ServiceChannel.Services.Messaging.Attachments.RemoveRetrofitRetireDocRequest:
      type: object
      properties:
        AttachmentId:
          format: int32
          type: integer
    System.Net.Http.ByteArrayContent:
      type: object
      properties:
        Headers:
          type: array
          items:
            $ref: '#/components/schemas/System.Collections.Generic.KeyValuePair_System.String_System.Collections.Generic.IEnumerable_System.String'
          readOnly: true
    ServiceChannel.Services.Messaging.Attachments.Attachment:
      description: Object containing information about an attachment.
      type: object
      properties:
        Id:
          format: int32
          description: Unique numeric identifier of the attachment.
          type: integer
        Description:
          description: Optional text that a user added when uploading the attachment. The maximum character count is 200.
          type: string
        Name:
          description: Attachment name.
          type: string
        TimeStamp:
          format: date-time
          description: Date and time when the attachment was uploaded. The format is `YYYY-MM-DDThh:mm:ss.sss±hh:mm`, where `±hh:mm` represents the time zone offset from UTC.
          type: string
        Uri:
          description: Link address to the attachment in the ServiceChannel system.
          type: string
        NoteId:
          format: int64
          description: Unique numeric identifier of the note to which a user added the attachment.
          type: integer
        Visibility:
          format: int32
          description: "Visibility status of the attachment. Defines which parties can view the attachment. The *PrivateProviderNotesAndAttachments* feature should be enabled. For subscribers who are using Universal Connector, the *PrivateClientNotesAndAttachments* feature should be enabled.\n            <br />Possible values:\n             • `0`: No restrictions on visibility. Visible to everyone.\n             • `1`: Not visible to the client. The subscriber deselected the “Visible to Client” checkmark when uploading an attachment or adding a note with an attachment. \n             • `2`: Not visible to the provider. The subscriber deselected the “Visible to Provider” checkmark when uploading an attachment or adding a note with an attachment. \n             • `3`: Visible to the subscriber only. The subscriber deselected the “Visible to Client” and “Visible to Provider” checkmarks when uploading an attachment or adding a note with an attachment."
          type: integer
        IsInvoiceDigitalCopy:
          description: "Defines if the attachment is a digital copy of the provider’s invoice. According to subscriber configurations, some providers should attach digital copies of invoices.\n            Possible values: \n             • `true`: The attachment is an invoice digital copy. \n             • `false`: The attachment is not an invoice digital copy. \n            <br />***Note:*** Subscribers can set the requirement of a digital invoice copy from providers when the *InvoiceRequireDigitalCopy* feature is turned on."
          default: false
          type: boolean
        UploadBy:
          description: User who uploaded the attachment.
          type: string
    ServiceChannel.Services.Messaging.RefrigerantTracking.AddRetrofitRetirePlanDocsRequest:
      type: object
      properties:
        PlanId:
          format: int32
          type: integer
        Description:
          type: string
        UploadedFileLinks:
          type: array
          items:
            $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Attachments.UploadRetrofitRetireAttachmentResponse'
    ServiceChannel.Services.Messaging.Attachments.AddBase64AttachmentsRequest:
      type: object
      properties:
        poNumber:
          description: Purchase Order. Required.
          type: string
        file:
          description: File as a base64 encoded value.
          type: string
        fileName:
          description: File name with extension. Optional. GUID value by default.
          type: string
        extension:
          description: File extension. Ignored if fileName is passed. Optional.
          type: string
        description:
          description: Description for file. Optional.
          type: string
        actor:
          description: Name of the person on whose behalf you are performing the action. Optional.
          type: string
        isInvoiceDigitalCopy:
          description: Mark attachment as Invoice Digital Copy
          default: false
          type: boolean
    ServiceChannel.Services.Messaging.ErrorResponse:
      description: The error response object
      type: object
      properties:
        ErrorCodes:
          description: The list of error codes. Go to /basics/general/response-codes/#internal-error-codes-and-messages to map error codes to error reasons.
          type: array
          items:
            enum:
            - NotAllowed
            - EmptyProvider
            - InvalidProviderId
            - UnknownProvider
            - ProviderAlreadyExists
            - ProviderIdNotExists
            - TimeoutExpiredError
            - EmptyContract
            - ContractUndefined
            - EmptySubscriber
            - InvalidSubscriberId
            - UnknownSubscriber
            - InactiveSubscriber
            - EmptySubscriberId
            - SubscriberIdNotExists
            - InternalError
            - DataNotFound
            - BadRequest
            - UnAuthorized
            - UnSupportedApplication
            - SubsidiaryUserDisabled
            - EmptyLocation
            - InvalidLocationId
            - UnknownLocation
            - LocationNotBelongsToSubscriber
            - EmptyLocationCountry
            - LocationAlreadyExists
            - InvalidStoreId
            - LocationEmptyState
            - NoAccessToLocation
            - LocationAddressValidationError
            - LocationAddressRequestValidationError
            - InvalidLocationNoteHeader
            - NoAccessToUpdateProtectedNote
            - InvalidBusinessHoursFormat
            - WorkingHoursIntersect
            - InvalidDayOfWeek
            - DuplicateDayOfWeek
            - InvalidBusinessHoursInitialSetup
            - BusinessHoursIsEmpty
            - InvalidHolidayRepeatByType
            - EmptyHolidayListOfDays
            - EmptyHolidayListOfMonths
            - InvalidHolidayMonthName
            - InvalidHolidayNameLength
            - InvalidHolidayRepeatEvery
            - DuplicateMonth
            - InvalidHolidayFrequency
            - InvalidHolidayStartDate
            - InvalidCloseAllDay
            - HolidayDoesNotExist
            - InvalidFormatParameter
            - InvalidLocationCity
            - InvalidLocationZip
            - InvalidLocationLatitude
            - InvalidLocationLongitude
            - InvalidLocationEmail
            - InvalidLocationName
            - InvalidLocationState
            - InvalidLocationAddlAddress
            - InvalidLocationMainAddress
            - InvalidLocationCountry
            - InvalidLocationRegion
            - InvalidLocationDistrict
            - InvalidLocationPhone
            - InvalidLocationContact
            - InvalidLocationFaxNumber
            - LocationCountryNotFound
            - LocationStateNotFound
            - LocationCityNotFound
            - LocationIdNotExists
            - InvalidLocationEmailLength
            - LocationStateIdNotFound
            - IncorrectCombinationStateAndStateId
            - InvalidSubscriberIds
            - InvalidLocalizationSettings
            - LandlordResponsibilityNotFound
            - LandlordResponsibilityAlreadyExists
            - EmptyLocationIds
            - AttachmentNotExist
            - InvalidTradeId
            - InvalidCategoryId
            - InvalidOverrideCategoryId
            - InvalidOverridePriorityId
            - LeaseNoteExceedMaxLength
            - InvalidOverrideProviderRank
            - InvalidOverrideNTE
            - DuplicateRows
            - InvalidPriorityId
            - LocationNotFound
            - EmptyTrade
            - InvalidTrade
            - TradeNotBelongsToSubscriber
            - InvalidPrimaryTrade
            - InvalidTradeForSubscriber
            - InvalidCategoryForSubscriber
            - GlCodeAlreadyExists
            - GlCodeNotExists
            - InvalidGlCodeUpdate
            - EmptyGlCode
            - TradeAlreadyExists
            - InvalidNTETrade
            - TradeNotExists
            - TradeAlreadyInUse
            - TradeWithTheSameNameHasBeenDeleted
            - TradeInUsePMServices
            - TradeInUseProposalError
            - TradeInUseRFPError
            - TradeInUseChecklistError
            - TradeInUseBudgetControl
            - TradeInUseGlCode
            - TradeInUseDynamicProviderAssignments
            - TradeInUseInvoice
            - TradeInUseLandlordResponsibilities
            - TradeInUseWO
            - TradeInUseEquipmentType
            - TradeInUseRFP
            - TradeInUseConnector
            - TradeInUseContractedService
            - TradeInUseIVR
            - TradeInUseSiteAccess
            - TradeInUseGLCodes
            - TradeInUseCIWO
            - TradeInUseOrganizationPermissions
            - TradeСreationError
            - EmptyUser
            - EmptyCreatedBy
            - InvalidUserName
            - NotProviderUser
            - UserHasNoPermissions
            - RestrictedAccount
            - UserAlreadyExists
            - UserHasNoPermissionsEditWO
            - UserEmailAddressIsMissing
            - UserIsNotRTAdmin
            - InvalidSubsriberProviderId
            - LanguageNameNotFound
            - InvalidLanguageId
            - LanguageIdNotFound
            - UseBothSubscriberIdProviderId
            - EmptyWoProblem
            - InvalidWoProblemSource
            - InvalidWoProblemDescription
            - InvalidWoProblemCode
            - InvalidWoStatus
            - InvalidWoNte
            - InvalidWoCaller
            - InvalidWoCallDate
            - InvalidWoScheduledDate
            - InvalidWoScheduledDateGreaterThanMaxAllowed
            - EmptyWoCategory
            - InvalidWoCategory
            - EmptyWoPriority
            - InvalidWoPriority
            - InvalidWoCurrency
            - InvalidWoSetupId
            - AttachmentsRequired
            - InvalidWoIdentifier
            - EquipmentRequired
            - WoNteOverflow
            - InvalidWoPurchaseNumber
            - InvalidWoStateForUpdate
            - InvalidPagingParameter
            - InvalidWoNumber
            - CheckInDenied
            - CheckOutDenied
            - WoScheduledDateLessThenReassignDate
            - WoScheduledDateLessThenCallDate
            - InvalidWoActionReason
            - EmptySubscriberProperty
            - WorkOrderUpdateError
            - MissedWoNteDetails
            - InvalidLinkedWoIdentifier
            - WoIsOnHold
            - InvalidWoTrade
            - InvalidStarScore
            - WorkOrderAlreadyRated
            - AttachmentThumbnailNotAvailable
            - InvalidWoIdentifierOrPin
            - InvalidTimeZoneHeader
            - RefrigerantWasUsedShouldBeYesOrNo
            - CheckInDeniedOutsideGeolocation
            - CheckOutDeniedOutsideGeolocation
            - LeakDetectorAuditShouldBeCreated
            - CheckInOutPremature
            - WorkOrderAttachmentsSizeExceeded
            - WorkOrderNotFound
            - WorkOrderCreateError
            - InvalidWoProjectedCompletionDate
            - InvalidFollowUpWo
            - InvalidWeatherEventId
            - InvalidSiteAuditLinkedWo
            - InvalidSetupId
            - IssueListNotFound
            - InvalidIssueListField
            - SiteAuditCompleted
            - CheckSiteAuditError
            - SaveSiteAuditError
            - RemoveSiteAuditError
            - InactiveTemplateType
            - SiteAuditNotFound
            - SiteAuditUpdateError
            - InvalidSiteAuditParameters
            - InvalidAdditionalApprovalCode
            - InvalidAdditionalApprovalCodeValue
            - AdditionalApprovalCodeIsDisabled
            - InvalidOtherDesc
            - InvalidTax2Name
            - InvoiceInconsistentAmounts
            - InvoiceInvalidTotal
            - InvoiceTotalGreaterNte
            - InvoiceExists
            - CreatingInvoiceError
            - DuplInvNumber
            - InvoiceTotalNull
            - InvComplDateNull
            - InvDateLessComplDate
            - InvoiceNotAuto
            - ESignatureRequired
            - InvWoNotFound
            - InvWrongWoCurr
            - InvWoCurrNotFound
            - InvoicingDisabled
            - InvCreationUnexpectedRes
            - InvoiceInvalidLaborAmount
            - InvoiceInvalidMaterialAmount
            - InvDateOld
            - InvDateGreater
            - InvoiceMaterialDescriptionLengthOverflow
            - InvoiceTaxNotValidated
            - InvoiceMaterialPartNumberLengthOverflow
            - TaxValidationError
            - TaxExemptionError
            - InvalidInvoiceNumber
            - GetApprovalLevelsError
            - InvoiceAddUsersToMliLevelsError
            - InvoiceAddDeleteLocationsToMliLevelUserError
            - InvoiceUpdateMLiLevelError
            - InvoiceDeleteMliLevelError
            - InvoiceDeleteUsersFromMliLevelError
            - ApprovalLevelNameLengthOverflow
            - GstTaxError
            - Tax2Error
            - GetApprovalLevelsAndLocationsByUserError
            - GetAssignedUserShortInfoError
            - AssignAllLocationsToApprovalLevelAndUserError
            - GetLocationsForApprovalLevelAndAssignedUserError
            - GetLocationsBySubscriberError
            - AssignUserWithLocationsToApprovalLevelError
            - ReAssignUserWithLocationsToNewApprovalLevelError
            - ReAssignLocationsToApprovalLevelAndUserError
            - OutstandingBalance
            - InvoiceTaxDetailsEmpty
            - InvoiceTaxDetailsIncorrectSum
            - MultipleUsersForLocationIsNotAllowed
            - UserAssignedToOtherLevel
            - UserDoesNotExist
            - LaborLineItemRequired
            - MaterialLineItemRequired
            - InvoiceDoesntExist
            - InvoiceStarUnstarFailed
            - InvoiceBatchUpdateInvalidInvoiceStatusError
            - InvoiceBatchUpdateLimitExceededError
            - InvoiceNotAvailableForCurrentUser
            - InvoiceBatchUpdateInvalidRuleSetStructure
            - InvoiceBatchUpdateInvalidMliStructure
            - InvoiceBatchUpdateStatusError
            - InvoiceMaterialUnitTypeInvalid
            - ExistingBatchNumber
            - InvoiceResolutionTextRequired
            - GetInvoiceDefaultApprovalCodesError
            - InvoiceInvalidTravelAmount
            - InvoiceTravelDescriptionLengthOverflow
            - InvoiceTravelUnitTypeInvalid
            - TravelLineItemRequired
            - TravelDetailsDisabled
            - OnOffShoreDisabled
            - InvoiceInvalidLaborCount
            - InvoiceInvalidMaterialCount
            - InvoiceInvalidTravelCount
            - SubscriberNotRegisteredForTaxValidation
            - ManyDecimalsInAmountError
            - DecimalPartQstTaxError
            - LaborRatesDiscrepancy
            - PayInvoicesError
            - InvoiceNumberRequirementsError
            - InvoiceNumberIncorrect
            - InvoiceNumberRegExPatternError
            - GetInvoicesPendingApprovalByLocationError
            - ReAssignInvoicesToUsersFailed
            - ReAssignInvoicesUsersMatched
            - GetUsersForReassignInvoiceError
            - InvalidTimeRangeActivity
            - OutsourcedSourceInvoiceNotFound
            - OthersLineItemsDisabled
            - InvoiceInvalidOtherAmount
            - InvoiceInvalidOtherCount
            - InvoiceOtherDescriptionLengthOverflow
            - OtherLineItemRequired
            - OtherLineItemsNotNegativeValueRequired
            - InvalidLaborSkillLevel
            - InvalidLaborType
            - InvalidTechnicianQuantity
            - GetInvoicesCommonCategoriesError
            - InvoiceExplainDisputeEmpty
            - InvoiceAdditionalApprovalCodeHeaderError
            - TemplateParseSuccess
            - TemplateIncorrectHeaderError
            - TemplateEmptyTemplateError
            - TemplateWrongFieldsCountError
            - TemplateFieldNotFoundError
            - TemplateFieldRequiredError
            - TemplateParseIntError
            - TemplateFieldSizeError
            - TemplateInvalidValueError
            - TemplateFieldFormatError
            - TemplateFieldMaxRangeError
            - TemplateFieldMinRangeError
            - TemplateProviderNotEntered
            - TemplateInvalidSubscriberError
            - TemplateVendorNotFoundError
            - TemplateMissedProviderError
            - TemplateProviderNotFoundError
            - TemplateProviderSubsccriberLinkError
            - TemplateTradeDispatchRankError
            - TemplateInvalidTradeForSubscriberError
            - TemplateStoreNotFoundError
            - TemplateNotStoresForStateError
            - TemplateNotStoresForCountryError
            - TemplateNotStoresForDistrictError
            - TemplateNotStoresForRegionError
            - TemplateMultiplePimaryProvidersForTradeStoreError
            - TemplateDuplicatePrimaryRelationshipError
            - TemplateAmbiguousDataError
            - TemplateIncorrectSubscriber
            - TemplateDuplicateRanking
            - TemplateLongitudeRangeError
            - TemplateLatitudeRangeError
            - InvoiceMaterialPartNameLengthOverflow
            - TemplateTradeLocationExclusion
            - TemplateInvalidStateError
            - TemplateMissedSubscriberError
            - TemplateMissedStoreIdError
            - TemplateInvalidSubscriberIdError
            - TemplateOpenCloseDateError
            - TemplateInvalidCountryError
            - TemplateInvalidStateForCountryError
            - TemplateInvalidLocationTypeError
            - TemplateMissingFullAndShortNameError
            - TemplateMissingCountryError
            - TemplateDuplicatedDataError
            - TemplateParentLocationNotFoundError
            - TemplateParseDateTimeError
            - TemplateParseDecimalError
            - TemplateSquareValueRangeError
            - TemplateInvalidSquareMeasureError
            - TemplateTypeLabelCanNotBeUpdatedError
            - TemplateTypeLabelHaveToBeLocationForNotInventory
            - TemplateInvalidPrimarySupplyLocation
            - TemplateInvalidHomestoreLocationNumber
            - TemplateErrorDuringCreation
            - TemplateLocationNotFoundError
            - TemplateDuplicatedLocationFoundError
            - TemplateInvalidLocationHeaderError
            - TemplateDuplicatedLocationHeaderError
            - TemplateHeaderContainsEmptyFieldsError
            - TemplateLocHeadersShortHeaderError
            - TemplateHeaderContainsDuplicatesError
            - TemplateLocationNotesStoreIdFieldLengthError
            - TemplateLocationNotesNoteValueFieldLengthError
            - TemplateErrorInvalidZipCode
            - TemplateMissingLocationNoteHeader
            - TemplateMissingLocationNoteIdHeader
            - TemplateInvalidSecondarySupplyLocation
            - TemplateLocationWasNotCreated
            - TemplateTruckNameIsEmpty
            - TemplateWrongFormat
            - TemplateSubscriberNotFound
            - TemplateDuplicatedLocationHeaders
            - TemplateInvalidHeaders
            - TemplateInvalidPhoneError
            - TemplateDuplicateTelecomRecordError
            - TemplateTelecomRecordExistsError
            - TemplateInvalidCategory
            - TemplateDifferentRanksForProviderAssignments
            - TemplateDuplicateRankError
            - TemplateProviderNonCompliant
            - TemplateLocationIsClosed
            - TemplateProviderWarning
            - TemplateMultipleProvidersForTradeStoreError
            - EmptyRequest
            - InvalidNumberOfParameters
            - InvoiceOtherUnitTypeInvalid
            - EmptyLocationOrTradeList
            - RequestSubscriberIdDoesntMatchUserSubscriberId
            - StoreIdRequiredError
            - InvalidUserIdError
            - InvalidStoreIdError
            - AmbigiousError
            - MliHierarchyFiledsCountError
            - MliHierarchyMaxUserNameError
            - MliHierarchyDuplicateUserError
            - MLiHirarchyUserExistInOtherLevelError
            - MissingLevelsError
            - DuplicateApprovalLevelsError
            - InvalidMliLocations
            - InvalidMlpLocations
            - ApprovalLevelUsedInRulsetError
            - GLCodeAmbiguous
            - GlCodeInvalidResponce
            - GetRuleSetListError
            - RuleSetDuplicateNameError
            - RuleSetDuplicateActionError
            - RuleSetConflictedActionError
            - RuleSetRuleSetDoesNotExistsError
            - RuleSetTradeDoesNotExistError
            - RuleSetCategoryDoesNotExistError
            - RuleSetMliLevelDoesNotExistError
            - GetRuleSet
            - CreateUpdateRuleSetError
[...]
