openapi: 3.2.0
info:
  version: '3'
  title: ServiceChannel API - v.3 Eula API
  description: The ServiceChannel API is a RESTful and stateless API.
servers:
- url: https://sb2api.servicechannel.com/v3
security:
- oauth2: []
tags:
- name: EULA
paths:
  /eula/agreement:
    get:
      tags:
      - EULA
      summary: Method to retrieve the EULA agreement
      operationId: GETv3_eula_agreement
      responses:
        '200':
          description: The request succeeded and the eula agreement is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Eula.EulaAgreement'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Eula.EulaAgreement'
        '403':
          description: The user doesn't have permissions to view the agreement text.
        '502':
          description: No agreement was found.
      deprecated: false
      x-access: Any
  /eula/accept:
    post:
      tags:
      - EULA
      summary: Method to accept the EULA agreement
      operationId: POSTv3_eula_accept
      responses:
        '200':
          description: The request succeeded and the eula agreement is accepted.
        '403':
          description: The user doesn't have permissions to accept the agreement.
      deprecated: false
      x-access: Any
components:
  schemas:
    ServiceChannel.Services.Messaging.Eula.EulaAgreement:
      description: Represents an EULA agreement
      type: object
      properties:
        Text:
          description: EULA agreement text
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://sb2login.servicechannel.com/oauth/authorize
          tokenUrl: https://sb2login.servicechannel.com/oauth/token
      description: OAuth2 Authorization
