openapi: 3.2.0
info:
  version: '3'
  title: ServiceChannel API - v.3 Outgoing XML API
  description: The ServiceChannel API is a RESTful and stateless API.
servers:
- url: https://sb2api.servicechannel.com/v3
security:
- oauth2: []
tags:
- name: OutgoingXml
paths:
  /api/notifications/v2/workorders/resend:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_api_notifications_v2_workorders_resend
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData_System.Int32'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData_System.Int32'
        required: true
      summary: POSTv3 api notifications v2 workorders resend
      x-summary-source: derived
  /notifications/v2/workorders/resend:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_notifications_v2_workorders_resend
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData_System.Int32'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData_System.Int32'
        required: true
      summary: POSTv3 notifications v2 workorders resend
      x-summary-source: derived
  /api/notifications/v2/workorders/notes/resend:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_api_notifications_v2_workorders_notes_resend
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData_System.Int64'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData_System.Int64'
        required: true
      summary: POSTv3 api notifications v2 workorders notes resend
      x-summary-source: derived
  /notifications/v2/workorders/notes/resend:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_notifications_v2_workorders_notes_resend
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData_System.Int64'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData_System.Int64'
        required: true
      summary: POSTv3 notifications v2 workorders notes resend
      x-summary-source: derived
  /api/notifications/v2/workorders/ivr/resend:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_api_notifications_v2_workorders_ivr_resend
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData_System.Int32'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData_System.Int32'
        required: true
      summary: POSTv3 api notifications v2 workorders ivr resend
      x-summary-source: derived
  /notifications/v2/workorders/ivr/resend:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_notifications_v2_workorders_ivr_resend
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData_System.Int32'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData_System.Int32'
        required: true
      summary: POSTv3 notifications v2 workorders ivr resend
      x-summary-source: derived
  /api/notifications/v2/workorders/{id}:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_api_notifications_v2_workorders_{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 api notifications v2 workorders {id}
      x-summary-source: derived
  /notifications/v2/workorders/{id}:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_notifications_v2_workorders_{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 notifications v2 workorders {id}
      x-summary-source: derived
  /api/notifications/v2/workorders/cxml/{id}:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_api_notifications_v2_workorders_cxml_{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 api notifications v2 workorders cxml {id}
      x-summary-source: derived
  /notifications/v2/workorders/cxml/{id}:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_notifications_v2_workorders_cxml_{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 notifications v2 workorders cxml {id}
      x-summary-source: derived
  /api/notifications/v2/workorders/notes/{id}:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_api_notifications_v2_workorders_notes_{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 api notifications v2 workorders notes {id}
      x-summary-source: derived
  /notifications/v2/workorders/notes/{id}:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_notifications_v2_workorders_notes_{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 notifications v2 workorders notes {id}
      x-summary-source: derived
  /api/notifications/v2/workorders/ivr/{id}:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_api_notifications_v2_workorders_ivr_{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 api notifications v2 workorders ivr {id}
      x-summary-source: derived
  /notifications/v2/workorders/ivr/{id}:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_notifications_v2_workorders_ivr_{id}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 notifications v2 workorders ivr {id}
      x-summary-source: derived
  /api/notifications/v2/workorders/list:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_api_notifications_v2_workorders_list?proId={proId}&start={start}&finish={finish}
      parameters:
      - name: proId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: start
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: finish
        in: query
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 api notifications v2 workorders list?pro id={pro…
      x-summary-source: derived
  /notifications/v2/workorders/list:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_notifications_v2_workorders_list?proId={proId}&start={start}&finish={finish}
      parameters:
      - name: proId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: start
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: finish
        in: query
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 notifications v2 workorders list?pro id={pro…
      x-summary-source: derived
  /api/notifications/v2/workorders/notes/list:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_api_notifications_v2_workorders_notes_list?proId={proId}&start={start}&finish={finish}
      parameters:
      - name: proId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: start
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: finish
        in: query
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 api notifications v2 workorders notes list?pro id={pro…
      x-summary-source: derived
  /notifications/v2/workorders/notes/list:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_notifications_v2_workorders_notes_list?proId={proId}&start={start}&finish={finish}
      parameters:
      - name: proId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: start
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: finish
        in: query
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 notifications v2 workorders notes list?pro id={pro…
      x-summary-source: derived
  /api/notifications/v2/workorders/ivr/list:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_api_notifications_v2_workorders_ivr_list?proId={proId}&start={start}&finish={finish}
      parameters:
      - name: proId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: start
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: finish
        in: query
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 api notifications v2 workorders ivr list?pro id={pro…
      x-summary-source: derived
  /notifications/v2/workorders/ivr/list:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_notifications_v2_workorders_ivr_list?proId={proId}&start={start}&finish={finish}
      parameters:
      - name: proId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: start
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: finish
        in: query
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 notifications v2 workorders ivr list?pro id={pro…
      x-summary-source: derived
  /api/notifications/resetnotify:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_api_notifications_resetnotify?setupName={setupName}
      parameters:
      - name: setupName
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: POSTv3 api notifications resetnotify?setup name={setup name}
      x-summary-source: derived
  /notifications/resetnotify:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_notifications_resetnotify?setupName={setupName}
      parameters:
      - name: setupName
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: POSTv3 notifications resetnotify?setup name={setup name}
      x-summary-source: derived
  /webhooks/subscribe:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_webhooks_subscribe
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Api.Model.OutgoingXml.OutgoingXmlUser'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Api.Model.OutgoingXml.OutgoingXmlUser'
        required: true
      summary: POSTv3 webhooks subscribe
      x-summary-source: derived
  /webhooks/unsubscribe:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_webhooks_unsubscribe
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Api.Model.OutgoingXml.OutgoingXmlUser'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Api.Model.OutgoingXml.OutgoingXmlUser'
        required: true
      summary: POSTv3 webhooks unsubscribe
      x-summary-source: derived
  /webhooks:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_webhooks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 webhooks
      x-summary-source: derived
  /webhooks/{id}:
    get:
      tags:
      - OutgoingXml
      operationId: GETv3_webhooks_{id}?providerId={providerId}
      parameters:
      - name: providerId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: GETv3 webhooks {id}?provider id={provider id}
      x-summary-source: derived
  /api/notifications/v4/workorders/sendnotify:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_api_notifications_v4_workorders_sendnotify?setupName={setupName}
      parameters:
      - name: setupName
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: POSTv3 api notifications v4 workorders sendnotify?setup name={setup name}
      x-summary-source: derived
  /notifications/v4/workorders/sendnotify:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_notifications_v4_workorders_sendnotify?setupName={setupName}
      parameters:
      - name: setupName
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: POSTv3 notifications v4 workorders sendnotify?setup name={setup name}
      x-summary-source: derived
  /api/notifications/v4/workorders/status/sendnotify:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_api_notifications_v4_workorders_status_sendnotify?setupName={setupName}
      parameters:
      - name: setupName
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: POSTv3 api notifications v4 workorders status sendnotify?setup name={setup name}
      x-summary-source: derived
  /notifications/v4/workorders/status/sendnotify:
    post:
      tags:
      - OutgoingXml
      operationId: POSTv3_notifications_v4_workorders_status_sendnotify?setupName={setupName}
      parameters:
      - name: setupName
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
      deprecated: false
      x-access: Any
      summary: POSTv3 notifications v4 workorders status sendnotify?setup name={setup name}
      x-summary-source: derived
components:
  schemas:
    ServiceChannel.Api.Model.OutgoingXml.OutgoingXmlUser:
      type: object
      properties:
        Key:
          type: string
        IdentityId:
          format: int32
          type: integer
        Type:
          type: string
        Id:
          format: int32
          type: integer
        Pin:
          format: int32
          type: integer
        TypeMsg:
          type: string
        Url:
          type: string
        Login:
          type: string
        Password:
          type: string
        HttpMethod:
          type: string
        Format:
          type: string
        Topic:
          type: string
    System.Object:
      type: object
      properties: {}
    ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData_System.Int32:
      type: object
      properties:
        ids:
          type: array
          items:
            format: int32
            type: integer
        delay:
          format: float
          type: number
    ServiceChannel.Services.WebApi.Controllers.OutgoingXmlController.ResendData_System.Int64:
      type: object
      properties:
        ids:
          type: array
          items:
            format: int64
            type: integer
        delay:
          format: float
          type: number
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://sb2login.servicechannel.com/oauth/authorize
          tokenUrl: https://sb2login.servicechannel.com/oauth/token
      description: OAuth2 Authorization
