swagger: '2.0'
info:
  version: bearer.v1
  title: Fixxbook.Bearer.Api.V1 AfterHours RefrigerantTracking API
  isOdataApi: false
  relativePath: ''
  discoveryPath: docs/bearer.v1
  _isAuthorizedAccess: true
host: sb2fixxbook.servicechannel.com:443
basePath: /api
schemes:
- https
security:
- oauth2: []
tags:
- name: RefrigerantTracking
paths:
  /refrigeranttracking/ChargeDescriptions:
    get:
      tags:
      - RefrigerantTracking
      summary: Get refrigerant charge descriptions
      description: "Shows a list of refrigerant charge descriptions and their IDs. Charge descriptions represent different methods of adding the refrigerant to a system. The descriptions are universal and available to users upon adding a charge record for a refrigerated asset.\r\n            <br />For both subscribers and providers."
      operationId: GETv3_refrigeranttracking_ChargeDescriptions
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: The request succeeded, and the charge descriptions are in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Response.AssetManager.RefrigerantChargeOptionResponseItem'
        '401':
          description: "The requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 — API call rejected by security permissions."
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking:
    get:
      tags:
      - RefrigerantTracking
      summary: Get leak tracking preferences
      description: "Shows refrigerant leak tracking preferences, including Commercial Refrigerant Trigger Rate, HVAC Trigger Rate, PM Leak Inspection NTE, and more, configured for the subscriber. \r\n            <br />When the *RefrigerationTracking* feature flag is turned off for the subscriber, the method returns the default — EPA standard — values."
      operationId: GETv3_refrigeranttracking?subscriberId={subscriberId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: subscriberId
        in: query
        description: Unique numeric identifier of the subscriber.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Refrigerant tracking settings for the specified subscriber are in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.RefrigerantSettings.RefrigerantSettingsUS'
        '400':
          description: "The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:           \r\n            502 &mdash; No refrigerant tracking preferences are found for this subscriber\r\n            503 &mdash; Invalid subscriber"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The requested resource requires authentication.\r\n            <br>Error codes:\r\n            504 &mdash; API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    put:
      tags:
      - RefrigerantTracking
      summary: Update/Insert Leak Tracking Preferences
      description: Update/Insert Leak Tracking Preferences. Returns Success/NoSuccess request.
      operationId: PUTv3_refrigeranttracking
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.PreferencesRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:            \r\n            <br/> 502 - No Update/Insert Leak Tracking Preferences;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            <br> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    post:
      tags:
      - RefrigerantTracking
      summary: Get rack equipment
      description: "Returns rack assets for the specified subscriber and location. Only assets with the **Refrigerant Usage Type** set to **Rack** will be sent in the response.\r\n            <br />To check the rack connection, use the [GET/refrigeranttracking/rack](https://developer.servicechannel.com/swagger/index.html#/RefrigerantTracking/GETv3_refrigeranttracking_rack%3Fid%3D%7Bid%7D) method."
      operationId: POSTv3_refrigeranttracking
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: 'Request for getting a list of rack systems available at the specified location. The required parameters are: `SubscriberId` and `LocationId`.'
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Equipments.GetAvailableRacksRequest'
      responses:
        '200':
          description: Rack assets are returned in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Core.InternalRequests.RefrigerantTracking.GetAvailableRacksResponse'
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:           \r\n            502 &mdash; No rack equipment\r\n            503 &mdash; Request is empty or null"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 &mdash; API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/rack:
    get:
      tags:
      - RefrigerantTracking
      summary: Get Rack Connection
      description: Rack Connection
      operationId: GETv3_refrigeranttracking_rack?id={id}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: query
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.GetConnectedRackResponse'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:           \r\n            <br/> 502 - No Get Rack Connection"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            <br> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    post:
      tags:
      - RefrigerantTracking
      summary: Create/Update Rack Connection
      description: Create/Update Rack Connection
      operationId: POSTv3_refrigeranttracking_rack
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.CreateUpdateRackConnectionRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:           \r\n            <br/> 502 - No Get Rack Connection"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            <br> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/{locationId}/GetRefrigerantSettings:
    get:
      tags:
      - RefrigerantTracking
      summary: Get Refrigerant settings by locationId
      description: GetRefrigerantSettingsByLocationId
      operationId: GETv3_refrigeranttracking_{locationId}_GetRefrigerantSettings
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: locationId
        in: path
        description: Location Id
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Response.RefrigerantSettingsWithFF'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:           \r\n            <br/> 502 - No Refrigerant Setings;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            <br> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/CheckRefrigerantTrackingAvailable:
    post:
      tags:
      - RefrigerantTracking
      summary: Check if refrigerant tracking is enabled for the location(s)
      description: Verifies whether the refrigerant tracking settings are enabled for the specified location(s).
      operationId: POSTv3_refrigeranttracking_CheckRefrigerantTrackingAvailable
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: locationIds
        in: body
        description: "Unique numeric identifier of the location (generated by the system). To get a location ID, run either of the methods:\r\n             • `GET/stores`\r\n             • `GET/locations`\r\n            <br />Separate multiple locations’ IDs with a comma."
        required: true
        schema:
          type: array
          items:
            format: int32
            type: integer
      responses:
        '200':
          description: Request succeeded, and the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.RefrigerantSettings.RefrigerantSettingByLocationItem'
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:           \r\n            502 &mdash; No leak tracking preferences"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 &mdash; API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/CheckRefrigerantTrackingAvailable_v1:
    post:
      tags:
      - RefrigerantTracking
      summary: Check if refrigerant tracking is enabled for the location(s)
      description: "Verifies whether the refrigerant tracking settings are enabled for the specified location(s). Additionally, returns the unit of measure for each location:\r\n             • `0`: Pounds and decimals of pounds\r\n             • `1`: Pounds and ounces\r\n             • `2`: Kilograms and grams"
      operationId: POSTv3_refrigeranttracking_CheckRefrigerantTrackingAvailable_v1
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: "Request containing a list of location IDs (unique numeric identifiers, generated by the system). To get location IDs, run either of the methods:\r\n             • `GET/stores`\r\n             • `GET/locations`"
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Core.InternalRequests.RefrigerantTracking.CheckRefrigerantTrackingRequest'
      responses:
        '200':
          description: Request succeeded, and the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:           \r\n            502 &mdash; No leak tracking preferences"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 &mdash; API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Something went wrong, and the server was unable to complete your request.\r\n            <br/>Error codes:\r\n            501 &mdash; Internal error"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/{subscriberId}/GetRefrigerantUseReasonCodes:
    get:
      tags:
      - RefrigerantTracking
      summary: Get reason codes for refrigerant use
      description: Retrieves a list of reason codes for the refrigerant part use. For example, leak or repair.
      operationId: GETv3_refrigeranttracking_{subscriberId}_GetRefrigerantUseReasonCodes
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: subscriberId
        in: path
        description: Unique numeric identifier of the subscriber.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: The list of reason codes is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.RefrigerantUseReasonCode'
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:           \r\n            502 &mdash; No leak tracking preferences"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 &mdash; API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: The requested resource does not exist on the server.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/{assetId}/refrigerantusagesummary:
    get:
      tags:
      - RefrigerantTracking
      summary: Get refrigerant usage summary
      operationId: GETv3_refrigeranttracking_{assetId}_refrigerantusagesummary
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: assetId
        in: path
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:            \r\n            <br/> 502 - No Update/Insert Leak Tracking Preferences;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            <br> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/subscribers:
    get:
      tags:
      - RefrigerantTracking
      summary: Get SubscriberIds With RefrigerantTracking Feature Flag
      operationId: GETv3_refrigeranttracking_subscribers
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:            \r\n            <br/> 502 - No Update/Insert Leak Tracking Preferences;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            <br> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/leakrecord:
    put:
      tags:
      - RefrigerantTracking
      summary: Complete/update a leak event
      description: "Allows users to close a leak event by setting the completion date. Other leak information can be updated as well for both in-progress and completed leak events. \r\n            <br />***Note:*** When the *RTMultiLeakFlow* feature flag is on, you can only add or update the completion date via this method. Other parameters cannot be modified. Note that at least one leak record should be associated with the event."
      operationId: PUTv3_refrigeranttracking_leakrecord
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: "Request model to update a leak event. \r\n            <br />***Note:*** When the *RTMultiLeakFlow* FF is on, you can send the request with two parameters only: `Id` and `CompletedDate`.\r\n            \r\n            {\r\n              \"Id\": 115264,\r\n              \"CompletedDate\": \"2023-10-12T15:16:19.178Z\"\r\n            }"
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.UpdateLeakRecordRequest'
      responses:
        '200':
          description: The specified leak event has been successfully updated.
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:            \r\n            502 &mdash; Leak record was not updated\r\n            503 &mdash; Leak location ID is required\r\n            503 &mdash; Leak record is not found\r\n            503 &mdash; Follow-up verification date on the leak record cannot be less than the initial verification date + secondary verification delay time. Depending on the refrigerant tracking settings, it could be required to pass the follow-up verification not earlier than in several days after the initial verification.\r\n            503 &mdash; Completion date can't be less than the leak record repair date\r\n            503 &mdash; Completion date can't be less than the work order call date\r\n            503 &mdash; Completion date can't be more than the work order completion date\r\n            503 &mdash; Follow-up date and the completed date can't be earlier than the initial date\r\n            503 &mdash; Follow-up date and the completed date can't be earlier than the repair date\r\n            503 &mdash; Follow-up date and the completed date can't be earlier than the trigger date\r\n            503 &mdash; Repair date and the initial date should be entered\r\n            503 &mdash; Repair date is required\r\n            503 &mdash; Follow-up verification date and/or the completed date is earlier than the refrigerant removal date\r\n            503 &mdash; Repair date and the completion date can't be earlier than the work order call date\r\n            503 &mdash; Repair date and the completion date can't be more than the work order completion date \r\n            503 &mdash; Leak record completion date cannot be less than the refrigerant usage date\r\n            503 &mdash; Leak record repair and the verification date should be less than the next leak record triggered date\r\n            503 &mdash; Leak record initial date should be less than the next leak record triggered date\r\n            503 &mdash; Leak record repair and the verification date should be less than any refrigerant use related to the next leak record\r\n            503 &mdash; Leak record repair and the verification date should be more than the previous leak record completion date\r\n            503 &mdash; Initial date can't be earlier than the repair date\r\n            503 &mdash; Leak record completion date should not be out of the retrofit plan dates\r\n            503 &mdash; Work order is in the completed status. Only RT Admins can process\r\n            503 &mdash; Work order is already completed. Verification data cannot be removed\r\n            503 &mdash; Follow-up date must equal the completed date\r\n            503 &mdash; Leak event should contain at least one leak record"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The requested resource requires authentication. \r\n            <br>Error codes:\r\n            504 &mdash; API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Something went wrong, and the server was unable to complete your request.\r\n            <br>Error codes:\r\n            501 &mdash; Internal Error"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/leakrecordV1:
    put:
      tags:
      - RefrigerantTracking
      summary: UpdateLeakRecord With Returns Detail Operation Result
      operationId: PUTv3_refrigeranttracking_leakrecordV1
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.UpdateLeakRecordRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:            \r\n            <br/> 502 - No Update Leak Record;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            <br> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/{trackingNumber}/leakRecord:
    get:
      tags:
      - RefrigerantTracking
      summary: Get leak events by `workorderID`
      description: Returns [leak events](https://servicechannel.atlassian.net/wiki/spaces/SCU/pages/573898951/Viewing+Refrigerant+Leak+Events) generated on the certain work order and associated leak records.
      operationId: GETv3_refrigeranttracking_{trackingNumber}_leakRecord
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: trackingNumber
        in: path
        description: Unique numeric identifier of the work order.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: The request succeeded and the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.AssetLeakHistoryResponse'
        '401':
          description: "The request is not authorized.\r\n            <br/> Error codes:\r\n            504 — API call rejected by security permissions"
      deprecated: false
      x-access: Any
  /refrigeranttracking/CreateLeakRecordFollowupWo:
    post:
      tags:
      - RefrigerantTracking
      summary: Creates Follow Up wo for non-closed leak records
      operationId: POSTv3_refrigeranttracking_CreateLeakRecordFollowupWo?leakRecordId={leakRecordId}&currentTrackingNumber={currentTrackingNumber}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: leakRecordId
        in: query
        description: ''
        required: true
        type: integer
        format: int32
      - name: currentTrackingNumber
        in: query
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:            \r\n            <br/> 502 - No Update/Insert Leak Tracking Preferences;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            <br> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/leakRecord/faultCodes:
    get:
      tags:
      - RefrigerantTracking
      summary: Retrieve leak record fault codes
      operationId: GETv3_refrigeranttracking_leakRecord_faultCodes
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /refrigeranttracking/isRefrigerantTrackingAvailable/{locationId}:
    get:
      tags:
      - RefrigerantTracking
      operationId: GETv3_refrigeranttracking_isRefrigerantTrackingAvailable_{locationId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: locationId
        in: path
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:            \r\n            <br/> 502 - No Update/Insert Leak Tracking Preferences;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            <br> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/leakRecord/actionCodes:
    get:
      tags:
      - RefrigerantTracking
      summary: Retrieve leak record action codes
      operationId: GETv3_refrigeranttracking_leakRecord_actionCodes
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /refrigeranttracking/leakNote:
    post:
      tags:
      - RefrigerantTracking
      summary: Add leak note
      operationId: POSTv3_refrigeranttracking_leakNote
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.AddLeakNoteRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:            \r\n            <br/> 502 - No Update/Insert Leak Tracking Preferences;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            <br> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/{subscriberId}/leaklocations:
    get:
      tags:
      - RefrigerantTracking
      summary: Get leak locations
      operationId: GETv3_refrigeranttracking_{subscriberId}_leaklocations
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: subscriberId
        in: path
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:            \r\n            <br/> 502 - No get Leak Locations;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            <br> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/leakareas:
    get:
      tags:
      - RefrigerantTracking
      summary: Get leak areas
      description: Shows the predefined list of the areas where the leak can be located. A leak area refers to the specific location where the leak occurred, for example, in a receiver or compressor.
      operationId: GETv3_refrigeranttracking_leakareas
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: The request succeeded, and the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.GetLeakAreaListResponse'
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:            \r\n            502 &mdash; No leak areas"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The requested resource requires authentication.\r\n            <br/>Error codes:\r\n            504 &mdash; API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/addLeakDetectorAudit:
    post:
      tags:
      - RefrigerantTracking
      summary: Add leak detector audit
      operationId: POSTv3_refrigeranttracking_addLeakDetectorAudit
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.LeakDetectorAuditAddUpdateRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:            \r\n            <br/> 502 - No Get leak Areas;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            <br> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/getLeakDetectorLastAudit:
    get:
      tags:
      - RefrigerantTracking
      summary: get leak detector last audit
      operationId: GETv3_refrigeranttracking_getLeakDetectorLastAudit?assetId={assetId}&recId={recId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: assetId
        in: query
        description: ''
        required: true
        type: integer
        format: int32
      - name: recId
        in: query
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:            \r\n            <br/> 502 - No Get leak Areas;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            <br> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/createChargeHistory:
    post:
      tags:
      - RefrigerantTracking
      summary: Create Charge History
      operationId: POSTv3_refrigeranttracking_createChargeHistory
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.ChargeHistoryRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            <br> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/addUpdateRefrigerationDetails:
    post:
      tags:
      - RefrigerantTracking
      summary: Add Update Refrigeration Details
      operationId: POSTv3_refrigeranttracking_addUpdateRefrigerationDetails?equipmentId={equipmentId}
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: equipmentId
        in: query
        description: ''
        required: true
        type: integer
        format: int32
      - name: model
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.EditAssetRefrigerantRequest'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br>Error codes:\r\n            <br> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/AddOrUpdateRefrigerationTypes:
    post:
      tags:
      - RefrigerantTracking
      operationId: POSTv3_refrigeranttracking_AddOrUpdateRefrigerationTypes
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.RefrigerantType'
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
        '401':
          description: Indicates that the requested resource requires authentication.<br>Error codes:<br> 504 - API call rejected by security permissions;
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/SaveRefrigerationDetails:
    post:
      tags:
      - RefrigerantTracking
      summary: Add/Update Refrigeration Details for an asset
      operationId: POSTv3_refrigeranttracking_SaveRefrigerationDetails
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: assetRefrigerant
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.EditAssetRefrigerantRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /refrigeranttracking/RefrigerantTypes:
    get:
      tags:
      - RefrigerantTracking
      summary: Get refrigerant types
      operationId: GETv3_refrigeranttracking_RefrigerantTypes?subscriberId={subscriberId}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: subscriberId
        in: query
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "Bad Request - the request could not be understood or was missing required parameters.\r\n            <br/>Error codes:            \r\n            <br/> 502 - No Get Refrigerant Types;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/LeakVerificationMethods:
    get:
      tags:
      - RefrigerantTracking
      summary: Get Leak Verification Methods
      operationId: GETv3_refrigeranttracking_LeakVerificationMethods
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.LeakRecord.LeakVerifyMethod'
        '500':
          description: Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/{assetTypeId}/getRefrigerantUseTypes:
    get:
      tags:
      - RefrigerantTracking
      summary: Get refrigerant use types for equipment
      operationId: GETv3_refrigeranttracking_{assetTypeId}_getRefrigerantUseTypes
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: assetTypeId
        in: path
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
        '401':
          description: Indicates that the requested resource requires authentication.<br>Error codes:<br> 504 - API call rejected by security permissions;
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/GetRackTypeListItems:
    get:
      tags:
      - RefrigerantTracking
      summary: Get Rack Type List Items
      operationId: GETv3_refrigeranttracking_GetRackTypeListItems
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /refrigeranttracking/OperationalStatuses:
    get:
      tags:
      - RefrigerantTracking
      summary: Get Operational Statuses
      operationId: GETv3_refrigeranttracking_OperationalStatuses
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /refrigeranttracking/SystemLocations:
    get:
      tags:
      - RefrigerantTracking
      summary: Get physical locations of refrigeration systems
      description: Returns the list of available physical locations and their IDs for refrigeration and HVAC systems. For example, indoors, outdoors, and partially indoors/outdoors. Applicable to assets that are regulated by the CARB.
      operationId: GETv3_refrigeranttracking_SystemLocations
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        '200':
          description: The list of system locations and their IDs is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.SystemLocationResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/{workOrderId}/isCompletedStatusesLimitedByRTSetup:
    get:
      tags:
      - RefrigerantTracking
      summary: Check If WO Status Is Limited By RTSetup
      operationId: GETv3_refrigeranttracking_{workOrderId}_isCompletedStatusesLimitedByRTSetup
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workOrderId
        in: path
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /refrigeranttracking/{workOrderId}/checkRefrigerantWasUsedIsValidForInvoiceableStatuses:
    get:
      tags:
      - RefrigerantTracking
      summary: Check If Used Refrigerant Is Valid For Invoiceble Statuses
      operationId: GETv3_refrigeranttracking_{workOrderId}_checkRefrigerantWasUsedIsValidForInvoiceableStatuses?refrigerantWasUsed={refrigerantWasUsed}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workOrderId
        in: path
        description: ''
        required: true
        type: integer
        format: int32
      - name: refrigerantWasUsed
        in: query
        description: ''
        required: false
        type: string
        enum:
        - 'No'
        - 'Yes'
        - EnterLater
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /refrigeranttracking/{workOrderId}/createLeakRecordFollowUpWoForStatusUpdate:
    post:
      tags:
      - RefrigerantTracking
      summary: Create Leak Record Follow Up WorkOrder
      operationId: POSTv3_refrigeranttracking_{workOrderId}_createLeakRecordFollowUpWoForStatusUpdate
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workOrderId
        in: path
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /refrigeranttracking/WOLeakVerification:
    put:
      tags:
      - RefrigerantTracking
      summary: Update WOLeakVerification
      operationId: PUTv3_refrigeranttracking_WOLeakVerification
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Equipments.AddUpdatePmLeakVerificationsRequest'
      responses:
        '200':
          description: Indicates that the request succeeded.
          schema:
            $ref: '#/definitions/System.Object'
        '404':
          description: Indicates that the recId is not found
          schema:
            $ref: '#/definitions/System.Web.Http.Results.NotFoundResult'
        '500':
          description: Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    post:
      tags:
      - RefrigerantTracking
      summary: Add WOLeakVerification
      operationId: POSTv3_refrigeranttracking_WOLeakVerification
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Equipments.AddUpdatePmLeakVerificationsRequest'
      responses:
        '200':
          description: Indicates that the request succeeded
          schema:
            $ref: '#/definitions/System.Object'
        '404':
          description: Indicates that the recId is not found
          schema:
            $ref: '#/definitions/System.Web.Http.Results.NotFoundResult'
        '500':
          description: Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/WOLeakVerification/{trackingNumber}:
    get:
      tags:
      - RefrigerantTracking
      summary: Get leak verification methods for EPA Leak Inspection WOs
      description: "Retrieves leak verification methods by WO tracking number. Only for Planned Maintenance work orders of the **EPA Leak Inspection** category where compliance acknowledgement is enabled by the subscriber.\r\n             • `1`: Soap Bubble Test\r\n             • `2`: Electronic Leak Detection\r\n             • `3`: Ultrasonic Leak Detection\r\n             • `4`: Pressure Test\r\n             • `5`: Vacuum Test\r\n             • `6`: Fluorescent Dye Test\r\n             • `7`: Infrared Test\r\n             • `8`: Near Infrared Test\r\n             • `9`: Halon Gas Detection\r\n            <br />***Note***: Requires the *RefLeakInspectionAcknowledgement* and the *RTMultiLeakFlow* feature flags to be turned on."
      operationId: GETv3_refrigeranttracking_WOLeakVerification_{trackingNumber}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: trackingNumber
        in: path
        description: Unique numeric identifier of the PM work order.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Verification methods for the specified PM WO are in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Api.Model.RefrigerantTracking.WOLeakVerificationResponse'
        '400':
          description: The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '404':
          description: "Indicates that the RecId is not found.\r\n            <br/>Error codes:\r\n            947 &mdash; Work order is not found"
          schema:
            $ref: '#/definitions/System.Web.Http.Results.NotFoundResult'
        '500':
          description: Something went wrong, and the server was unable to complete your request.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/LeakRecordImmeasurable:
    put:
      tags:
      - RefrigerantTracking
      summary: Update a leak record
      description: Updates the specified leak record.
      operationId: PUTv3_refrigeranttracking_LeakRecordImmeasurable
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: Object to add a leak record to the work order.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.UpdateLeakImmeasurable'
      responses:
        '200':
          description: The request succeeded and that the requested information is in the response.
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:            \r\n            503 - `Repair date` cannot be earlier than the work order call date and later than the work order completion date\r\n            503 — `Initial Verification Date` cannot be earlier that `Repair Date` and later than the work order completion date or the scheduled date\r\n            503 — `FollowUpVerification Date` cannot be earlier than the initial verification call date and later than the work order completion date or the scheduled date\r\n            503 — `ActionCodeId` is not found \r\n            503 — `FaultCodeId` is not found"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    post:
      tags:
      - RefrigerantTracking
      summary: Add a leak record to a work order and an asset
      description: "Creates a leak record for the unique pair **WO + Asset**. Returns the leak record ID in the response.\r\n            <br />With the *RTMultiLeakFlow* feature flag turned on, it is possible to add several leak records."
      operationId: POSTv3_refrigeranttracking_LeakRecordImmeasurable
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: "Request model to create a leak record for the **work order + asset** pair. \r\n            <br />***Note:*** All parameters, except for `Notes` and `Actor`, are required."
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.AddLeakImmeasurableRequest'
      responses:
        '200':
          description: The leak record has been successfully created.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            503 &mdash; Asset is not attached to a work order \r\n            503 &mdash; Asset is not refrigerant\r\n            503 &mdash; Asset ID and work order ID are required\r\n            503 &mdash; Asset doesn't exist\r\n            503 &mdash; Actor length cannot be more than 50 symbols\r\n            503 &mdash; There are uncompleted leak records in another WO\r\n            503 &mdash; Follow-up verification date cannot be earlier than the initial verification date and later than the work order completion date or the scheduled date\r\n            503 &mdash; Initial verification date can't be less than the repair date and more than the work order completion date or scheduled date\r\n            503 &mdash; Verification data cannot be entered without the leak location\r\n            503 &mdash; Repair date is required\r\n            503 &mdash; Repair date cannot be earlier than the work order call date and later than the work order completion date\r\n            503 &mdash; Fault code ID is required\r\n            503 &mdash; Action code ID is required\r\n            503 &mdash; Action сode ID is not found\r\n            503 &mdash; Fault code ID is not found\r\n            503 &mdash; Follow-up verification date and method should be entered\r\n            503 &mdash; Initial verification date and method should be entered\r\n            503 &mdash; Work order is in the completed status. Only RT Admins can process leak records on WOs in an invoiceable status\r\n            503 &mdash; To complete a leak record, fill out all the fields\r\n            503 &mdash; Leak immeasurable must be completed. If a work order is already in an invoiceable status or the linked leak event is already completed, all leak record data should be entered"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Something went wrong, and the server was unable to complete your request.\r\n            <br>Error codes:\r\n            501 &mdash; Internal Error"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/LeakRecordImmeasurable/{trackingNumber}:
    get:
      tags:
      - RefrigerantTracking
      summary: Get leak records by `workorderID` and `assetID`
      description: Returns leak records which are created for a certain work order and an asset.
      operationId: GETv3_refrigeranttracking_LeakRecordImmeasurable_{trackingNumber}?assetid={assetid}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: trackingNumber
        in: path
        description: Unique numeric identifier of the work order.
        required: true
        type: integer
        format: int32
      - name: assetid
        in: query
        description: Unique numeric identifier of the asset.
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: The request succeeded and the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.LeakImmeasurableResponse'
        '500':
          description: "Something went wrong, and the server was unable to complete your request.\r\n            <br>Error codes:\r\n            501 - Internal Error"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/DeleteLeakRecordImmeasurable:
    delete:
      tags:
      - RefrigerantTracking
      summary: Delete a leak record
      description: Removes a leak record from the work order and the asset.
      operationId: DELETEv3_refrigeranttracking_DeleteLeakRecordImmeasurable?id={id}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: query
        description: "Unique numeric identifier of the leak record.\r\n            <br />To get the leak record ID, use the [GET /refrigeranttracking/LeakRecordImmeasurable/{trackingNumber}](/swagger/index.html#/RefrigerantTracking/GETv3_refrigeranttracking_LeakRecordImmeasurable_%7BtrackingNumber%7D%3Fassetid%3D%7Bassetid%7D) method."
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: The request succeeded and that the requested information is in the response.
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:            \r\n            503 - Leak record was not found"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br>Error codes:\r\n            504 - API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/leakrecords/{trackingNumber}:
    get:
      tags:
      - RefrigerantTracking
      summary: Get leak events with leak records by `workorderID`
      description: Returns [leak events](https://servicechannel.atlassian.net/wiki/spaces/SCU/pages/573898951/Viewing+Refrigerant+Leak+Events) with leak records for the specified work order.
      operationId: GETv3_refrigeranttracking_leakrecords_{trackingNumber}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: trackingNumber
        in: path
        description: Unique numeric identifier of the work order.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: The request succeeded and the requested information is in the response.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.AssetLeakHistoryResponse'
        '401':
          description: "The request is not authorized.\r\n            <br>Error codes:\r\n            504 - API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Something went wrong, and the server was unable to complete your request.\r\n            <br>Error codes:\r\n            501 - Internal Error"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/BulkLeakrecords:
    post:
      tags:
      - RefrigerantTracking
      summary: Update multiple leak records for a work order and an asset
      description: "Creates, updates, or deletes multiple leak records for the **work order + asset** pair.\r\n            <br />***Note:*** Leak records should belong to a unique pair of **WO + asset** to perform bulk operations with them. \r\n            <br />***Note:*** Available with the *RTMultiLeakFlow* feature flag.\r\n            <br />**Example request for adding multiple leak records:**\r\n            \r\n                { \r\n                    \"AddItems\": [\r\n                        {\r\n                        \"RepairDate\": \"2022-09-18T11:53:48.741Z\",\r\n                        \"InitialVerificationDate\": \"2022-09-18T11:53:48.741Z\",\r\n                        \"InitialVerificationMethod\": 2,\r\n                        \"FollowUpVerificationDate\": \"2022-09-18T11:53:48.741Z\",\r\n                        \"FollowUpVerificationMethod\": 2,\r\n                        \"ActionCodeId\": 2,\r\n                        \"FaultCodeId\": 2,\r\n                        \"LeakLocationId\": 2,\r\n                        \"Notes\": [\r\n                            \"leak record 1\"\r\n                            ],\r\n                        \"RecId\": 204762085,\r\n                        \"AssetId\": 5490153,\r\n                        \"Actor\": \"Sam Drill\"\r\n                        },\r\n                        {\r\n                        \"RepairDate\": \"2022-09-19T11:53:48.741Z\",\r\n                        \"InitialVerificationDate\": \"2022-09-19T11:53:48.741Z\",\r\n                        \"InitialVerificationMethod\": 1,\r\n                        \"FollowUpVerificationDate\": \"2022-09-19T11:53:48.741Z\",\r\n                        \"FollowUpVerificationMethod\": 1,\r\n                        \"ActionCodeId\": 1,\r\n                        \"FaultCodeId\": 1,\r\n                        \"LeakLocationId\": 1,\r\n                        \"Notes\": [\r\n                            \"leak record 2\"\r\n                            ],\r\n                        \"RecId\": 204762085,\r\n                        \"AssetId\": 5490153,\r\n                        \"Actor\": \"Derek Crown\" \r\n                        ],\r\n                     \"RecId\": 204762085,\r\n                     \"AssetId\": 5490153\r\n                }"
      operationId: POSTv3_refrigeranttracking_BulkLeakrecords
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: Request model to perform bulk operations with multiple leak records for the work order and an asset.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.LeakImmeasurableBulkChangeRequest'
      responses:
        '200':
          description: The specified leak records have been successfully modified.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Core.InternalRequests.RefrigerantTracking.LeakImmeasurableBulkChangeRequestInternal'
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            503 &mdash; Asset is not attached to a work order\r\n            503 &mdash; Asset is not refrigerant \r\n            503 &mdash; Asset ID and work order ID are required\r\n            503 &mdash; Asset doesn't exist \r\n            503 &mdash; Actor length cannot be more than 50 symbols \r\n            503 &mdash; There are uncompleted leak records in another WO \r\n            503 &mdash; Follow-up verification date cannot be earlier than the initial verification date and later than the work order completion date or the scheduled date \r\n            503 &mdash; Initial verification date can't be less than the repair date and more than the work order completion date or scheduled date \r\n            503 &mdash; Verification data cannot be entered without the leak location \r\n            503 &mdash; Repair date cannot be earlier than the work order call date and later than the work order completion date  \r\n            503 &mdash; Repair date is required\r\n            503 &mdash; Fault code ID is required \r\n            503 &mdash; Action code ID is required \r\n            503 &mdash; Action сode ID is not found \r\n            503 &mdash; Fault code ID is not found \r\n            503 &mdash; Follow-up verification date and method should be entered \r\n            503 &mdash; Initial verification date and method should be entered \r\n            503 &mdash; Work order is in the completed status. Only RT Admins can process leak records on WOs in an invoiceable status \r\n            503 &mdash; To complete a leak record, fill out all the fields \r\n            503 &mdash; Leak immeasurable must be completed. If a work order is already in an invoiceable status or the linked leak event is already completed, all leak record data should be entered \r\n            503 &mdash; Only one WO + asset pair is allowed in the request"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Something went wrong, and the server was unable to complete your request.\r\n            <br>Error codes:\r\n            501 &mdash; Internal Error"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '503':
          description: The request was not accepted because the user is not a Refrigerant Tracking Admin.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/BulkLeakRecordsAndAudit:
    post:
      tags:
      - RefrigerantTracking
      summary: Update multiple leak records for a work order and an asset
      description: "Creates, updates, or deletes multiple leak records for a work order and an asset.\r\n            <br />***Note***: Leak records should belong to a unique pair `WO + Asset`, to perform bulk operations with them."
      operationId: POSTv3_refrigeranttracking_BulkLeakRecordsAndAudit
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.LeakImmeasurableAndAuditBulkChangeRequest'
      responses:
        '200':
          description: The request succeeded and the requested information is in the response.
        '400':
          description: The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Something went wrong, and the server was unable to complete your request.\r\n            <br>Error codes:\r\n            501 - Internal Error"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '503':
          description: The request was not accepted because the user is not a Refrigerant Tracking Admin.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/GetLeakRecordsVerificationHistory:
    post:
      tags:
      - RefrigerantTracking
      summary: Get leak immeasurable verification history
      description: Returns leak verification history for the list of leak immeasurable.
      operationId: POSTv3_refrigeranttracking_GetLeakRecordsVerificationHistory
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: Request
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Request.RefrigerantTracking.GetLeakRecordsVerificationHistoryRequest'
      responses:
        '200':
          description: The request succeeded and the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.LeakRecordVerificationResponse'
        '400':
          description: The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Something went wrong, and the server was unable to complete your request.\r\n            <br>Error codes:\r\n            501 - Internal Error"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/LeakInspectionComplianceAcknowledgement:
    post:
      tags:
      - RefrigerantTracking
      summary: Add Leak Inspection Compliance Acknowledgement
      operationId: POSTv3_refrigeranttracking_LeakInspectionComplianceAcknowledgement
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.LeakInspectionComplianceAcknowledgement'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /refrigeranttracking/MultiAssetLeakInspectionComplianceAcknowledgement:
    get:
      tags:
      - RefrigerantTracking
      summary: Get Leak Inspections Compliance Acknowledgement by trackingNumber and assetId
      operationId: GETv3_refrigeranttracking_MultiAssetLeakInspectionComplianceAcknowledgement?trackingNumber={trackingNumber}&assetid={assetid}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: trackingNumber
        in: query
        required: true
        type: integer
        format: int32
      - name: assetid
        in: query
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
    post:
      tags:
      - RefrigerantTracking
      summary: Add Leak Inspections Compliance Acknowledgement
      operationId: POSTv3_refrigeranttracking_MultiAssetLeakInspectionComplianceAcknowledgement
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.MultiLeakInspectionComplianceAcknowledgement'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
      x-access: Any
  /refrigeranttracking/{workOrderId}/isSecondaryLeakVerificationRequired:
    get:
      tags:
      - RefrigerantTracking
      summary: Check if a WO requires secondary leak verification
      description: "Checks if a work order has the associated leak record where the secondary leak verification date and method haven’t been provided yet.\r\n            <br />Possible response values:\r\n             • `true`: There is an incomplete leak record linked to the specified work order ID. The secondary verification date and method are missing.\r\n             • `false`: There are no leak events for the specified work order ID, or the leak event associated with the WO was completed, with the secondary leak verification date and method provided.\r\n            <br />Can be used by both providers and subscribers."
      operationId: GETv3_refrigeranttracking_{workOrderId}_isSecondaryLeakVerificationRequired
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workOrderId
        in: path
        description: Unique numeric identifier of the work order.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: The request succeeded, and the requested information is in the response.
          schema:
            default: false
            type: boolean
        '400':
          description: The request is not accepted due to bad syntax, missing parameters, insufficient data, etc.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '403':
          description: "You are not authorized to request this resource, or the resource is unavailable for some reason.\r\n            <br/>Error Codes:\r\n            503 — Invalid WO identifier"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/DeleteRetrofitRetirePlan:
    delete:
      tags:
      - RefrigerantTracking
      summary: Delete retrofit/retire plan
      description: Removes plan with related part usages.
      operationId: DELETEv3_refrigeranttracking_DeleteRetrofitRetirePlan?id={id}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: query
        description: Unique numeric identifier of the plan.
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: The request succeeded and that the requested information is in the response.
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:            \r\n            503 - Leak record was not found"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "The request is not authorized.\r\n            <br>Error codes:\r\n            504 - API call rejected by security permissions"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/AddRetrofitRetirePlan:
    post:
      tags:
      - RefrigerantTracking
      summary: Add retrofit retire plan
      operationId: POSTv3_refrigeranttracking_AddRetrofitRetirePlan
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: Request
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Request.RefrigerantTracking.RetrofitRetirePlanWebRequest'
      responses:
        '200':
          description: The request succeeded and the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Something went wrong, and the server was unable to complete your request.\r\n            <br>Error codes:\r\n            501 - Internal Error"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '503':
          description: The request was not accepted because the user is not a Refrigerant Tracking Admin.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /refrigeranttracking/UpdateRetrofitRetirePlan:
    post:
      tags:
      - RefrigerantTracking
      summary: Update retrofit retire plan
      operationId: POSTv3_refrigeranttracking_UpdateRetrofitRetirePlan
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: Request
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.RetrofitRetirement.UpdateRetrofitRetirePlanRequest'
      responses:
        '200':
          description: The request succeeded and the requested information is in the response.
          schema:
            $ref: '#/definitions/System.Object'
        '400':
          description: The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: "Something went wrong, and the server was unable to complete your request.\r\n            <br>Error codes:\r\n            501 - Internal Error"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '503':
          description: The request was not accepted because the user is not a Refrigerant Tracking Admin.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
definitions:
  ServiceChannel.Services.Messaging.RefrigerantTracking.RefrigerantSettings.RefrigerantSettingByLocationItem:
    description: Object containing subscriber’s locations with refrigerant tracking enabled.
    type: object
    properties:
      LocationId:
        format: int32
        description: Unique numeric identifier of the location (generated by the system).
        type: integer
      IsRefrigerantTrackingAvailable:
        description: 'Shows whether the refrigerant tracking settings are enabled for the location. Possible response values: `true` and `false`.'
        default: false
        type: boolean
      UnitsOfMeasure:
        format: int32
        description: "Unit of measure for tracking refrigerant use. Possible response values:\r\n             • `0`: Pounds and decimals of pounds\r\n             • `1`: Pounds and ounces\r\n             • `2`: Kilograms and grams"
        type: integer
  ServiceChannel.Services.Messaging.RefrigerantTracking.UpdateLeakRecordRequest:
    description: Object containing information about the leak event.
    required:
    - Id
    type: object
    properties:
      Id:
        format: int32
        description: Unique numeric identifier of the leak event. Leak event IDs can be found in the **Refrigerant Leak Events** report in Service Automation.
        type: integer
      Note:
        description: Leak record note.
        type: string
      RepairDate:
        format: date-time
        description: Date when the repair was completed. It cannot be earlier than the work order call date. The date format is `YYYY-MM-DDThh:mm:ss.sssZ`.
        type: string
      InitialDate:
        format: date-time
        description: Date when the first leak verification took place. The date format is `YYYY-MM-DDThh:mm:ss.sssZ`. ***Note:*** The initial verification date cannot be in the future. It should be either a current date or a date in the past.
        type: string
      InitialMethod:
        format: int32
        description: "Method that was used during the first verification to make sure the leak had been fixed.\r\n            <br />Possible values:\r\n             • `0`: Unknown \r\n             • `1`: Soap Bubble Test \r\n             • `2`: Electronic Leak Detection \r\n             • `3`: Ultrasonic Leak Detection \r\n             • `4`: Pressure Test \r\n             • `5`: Vacuum Test \r\n             • `6`: Fluorescent Dye Test \r\n             • `7`: Infrared Test \r\n             • `8`: Near Infrared Test \r\n             • `9`: Halon Gas Detection"
        type: integer
      FollowUpDate:
        format: date-time
        description: Date of the second verification. The date format is `YYYY-MM-DDThh:mm:ss.sssZ`. ***Note:*** The follow-up verification date cannot be earlier than the initial verification date and cannot be in the future. It should be either a current date or a date in the past.
        type: string
      FollowUpMethod:
        format: int32
        description: Method of the second verification. The list of available verification methods is the same as for the `InitialMethod`.
        type: integer
      LeakLocationId:
        format: int32
        description: 'Unique numeric identifier of the location where the leak occurred: more specific place within the particular area, for example, *Level Indicator/Alarm*, *Splitting Valve*. Use the [GET/refrigeranttracking/{subscriberId}/leaklocations](https://developer.servicechannel.com/swagger/index.html#/RefrigerantTracking/GETv3_refrigeranttracking_%7BsubscriberId%7D_leaklocations) method to get the list of available leak locations.'
        type: integer
      FaultCodeId:
        format: int32
        description: "Unique numeric identifier of the reason why the problem occurred. Use the [GET/refrigeranttracking/leakRecord/faultCodes](https://developer.servicechannel.com/swagger/index.html#/RefrigerantTracking/GETv3_refrigeranttracking_leakRecord_faultCodes) method to get available fault codes and their IDs. \r\n            <br />Possible values:\r\n             • `1`: Accidental Damage\r\n             • `2`: Braze or Joint Failure\r\n             • `3`: Corrosion\r\n             • `4`: Defrost Heater Failure\r\n             • `5`: Faulty Part\r\n             • `6`: Forklift Damage\r\n             • `7`: Gasket Seal Failure\r\n             • `8`: Ice Build Up \r\n             • `9`: Line Break\r\n             • `10`: Manufacture Defect\r\n             • `11`: Missing Part\r\n             • `12`: Natural Disaster\r\n             • `13`: Normal Mechanical Wear\r\n             • `14`: Other(Must Explain in Comments)\r\n             • `15`: Vandalism \r\n             • `16`: Vibration Related\r\n             • `17`: Project Related Loss"
        type: integer
      ActionCodeId:
        format: int32
        description: Unique numeric identifier of the action that a technician took to fix the leak. Use the [GET/refrigeranttracking/leakRecord/actionCodes](https://developer.servicechannel.com/swagger/index.html#/RefrigerantTracking/GETv3_refrigeranttracking_leakRecord_actionCodes) method to get available action codes and their IDs.
        type: integer
      LeakAreaId:
        format: int32
        description: 'Unique numeric identifier of the area where the leak occurred: more general place, for example, *Receiver* or *Compressor*. Use the [GET/refrigeranttracking/leakareas](https://developer.servicechannel.com/swagger/index.html#/RefrigerantTracking/GETv3_refrigeranttracking_leakareas) method to get leak areas and their IDs.'
        type: integer
      CurrentTrackingNumber:
        format: int32
        description: Unique numeric identifier of the work order.
        type: integer
      CompletedDate:
        format: date-time
        description: Date and time when the leak event was completed. The date format is `YYYY-MM-DDThh:mm:ss.sssZ`. ***Note:*** The leak event completion date cannot be earlier than the leak event repair date and later than the work order completion date.
        type: string
  ServiceChannel.Services.Messaging.Equipments.AddUpdatePmLeakVerificationsRequest:
    description: Request to add or update PmLeakVerifications
    type: object
    properties:
      RecId:
        format: int32
        type: integer
      Actor:
        type: string
      VerificationMethodsIds:
        type: array
        items:
          format: int32
          type: integer
      CertifiedTechnicianId:
        format: int32
        type: integer
      TechnicianCertificateId:
        type: string
      CertificateId:
        format: int32
        type: integer
      AssetId:
        format: int32
        type: integer
  ServiceChannel.Services.WebApi.Models.Request.RefrigerantTracking.RetrofitRetirePlanWebRequest:
    type: object
    properties:
      MoeNumber:
        type: string
      RecId:
        format: int32
        type: integer
      AssetId:
        format: int32
        type: integer
      RetrofitRetirePlanData:
        $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Request.RefrigerantTracking.RetrofitRetirePlanDataWeb'
      RefrigerantRemovalData:
        $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Request.RefrigerantTracking.RetrofitRetirePlanRefrigerantRemovalDataWeb'
      RefrigerantEnteredData:
        $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Request.RefrigerantTracking.RetrofitRetirePlanRefrigerantEnterdDataWeb'
  ServiceChannel.Services.Messaging.RefrigerantTracking.LeakArea:
    description: Object containing refrigerant leak areas.
    type: object
    properties:
      Id:
        format: int32
        description: Unique numeric identifier of the leak area.
        type: integer
      Name:
        description: "Leak area name. Possible response values:\r\n             • `Compressor`\r\n             • `Discharge Line`\r\n             • `Condensor`\r\n             • `Receiver`\r\n             • `Liquid Line`\r\n             • `Evaporator`\r\n             • `Suction line`\r\n             • `Other`"
        type: string
  ServiceChannel.Services.Messaging.RefrigerantTracking.LeakImmeasurableAndAuditBulkUpdateRequest:
    type: object
    properties:
      Id:
        format: int32
        type: integer
      RepairDate:
        format: date-time
        type: string
      ActionCodeId:
        format: int32
        description: Date when the first verification took place.
        type: integer
      FaultCodeId:
        format: int32
        description: Unique numeric identifier of the reason why the problem occurred.
        type: integer
      LeakLocationId:
        format: int32
        description: 'Unique numeric identifier of the location where the leak occurred: more specific place within the particular area, for example, level indicator/alarm/splitting valve.'
        type: integer
      LeakAreaId:
        format: int32
        description: 'Unique numeric identifier of the area where the leak occurred: more general place, for example, receiver/condensor.'
        type: integer
      Notes:
        description: Leak record notes.
        type: array
        items:
          type: string
      LeakVerifications:
        description: Unique numeric identifier of the work order to add the leak record to.
        type: array
        items:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.LeakRecordVerificationAddRequest'
  ServiceChannel.Services.WebApi.Models.Request.RefrigerantTracking.RetrofitRetirePlanRefrigerantEnterdDataWeb:
    type: object
    properties:
      Date:
        format: date-time
        type: string
      Qty:
        format: double
        type: number
      PartNumber:
        type: string
      PartGroupId:
        format: int32
        type: integer
      InventoryLocationGuid:
        type: string
      IsInventoryPart:
        default: false
        type: boolean
      InventoryPartId:
        format: int32
        type: integer
      PartGroup:
        type: string
      RefrigerantChargeOptionsId:
        format: int32
        type: integer
      RefrigerantChargeVendor:
        type: string
      IsNewCharge:
        default: false
        type: boolean
  ServiceChannel.Services.Messaging.RefrigerantTracking.AssetLeakHistoryResponse:
    description: Object containing the details of a leak event.
    type: object
    properties:
      Id:
        format: int32
        description: Unique numeric identifier of the leak event.
        type: integer
      AssetId:
        format: int32
        description: Unique numeric identifier of the asset.
        type: integer
      RecId:
        format: int32
        description: Unique numeric identifier of the work order.
        type: integer
      TriggerDate:
        format: date-time
        description: Date when the leak event was created. The format is YYYY-MM-DDThh:mm:ss.sss.
        type: string
      RepairDate:
        description: Date when the repair was completed.
        type: string
      TriggerDateStr:
        description: Date when the leak event was created. The format is YYYY-MM-DD.
        type: string
      InitialVerificationDate:
        description: Date when the first verification took place.
        type: string
      FollowUpDate:
        description: Date of the second verification.
        type: string
      InitialVerificationMethod:
        format: int32
        description: Method that was used during the first verification to make sure the leak had been fixed.
        type: integer
      CalculationMethod:
        format: byte
        description: Method of leak calculating, for example, rolling average.
        type: string
      FollowUpMethod:
        format: int32
        description: Method of the second verification.
        type: integer
      LeakStatus:
        format: byte
        description: Status of the leak event.
        type: string
      LeakRate:
        format: double
        description: Result of the leak calculation in percentage.
        type: number
      Charge:
        format: double
        description: Total system charge of the asset.
        type: number
      ChargeMetrics:
        format: double
        description: Metrics of the asset’s charge.
        type: number
      TriggerQty:
        format: double
        description: Trigger quantity.
        type: number
      TriggerQtyMetrics:
        format: double
        description: Trigger quantity metrics.
        type: number
      LeakAreaId:
        format: int32
        description: 'Unique numeric identifier of the area where the leak occurred: more general place, for example, receiver/condensor.'
        type: integer
      LeakLocationId:
        format: int32
        description: 'Unique numeric identifier of the location where the leak occurred: more specific place within the particular area, for example, level indicator/alarm/splitting valve.'
        type: integer
      Step:
        format: byte
        description: Step.
        type: string
        readOnly: true
      FaultCodeId:
        format: int32
        description: Unique numeric identifier of the reason why the problem occurred.
        type: integer
      ActionCodeId:
        format: int32
        description: Unique numeric identifier of the action that a technician took to fix the leak.
        type: integer
      FaultCodeName:
        type: string
      ActionCodeName:
        type: string
      GeneratedDate:
        format: date-time
        description: Generated date. The format is YYYY-MM-DDThh:mm:ss.sss.
        type: string
      LeakImmeasurableList:
        description: Object containing the list of leak records
        type: array
        items:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.LeakImmeasurableResponse'
      CompletedDate:
        format: date-time
        description: Date when the leak event was completed.
        type: string
  ServiceChannel.Services.Messaging.RefrigerantTracking.RefrigerantUseReasonCode:
    description: Object containing refrigerant use reasons.
    type: object
    properties:
      Id:
        format: int32
        description: Unique numeric identifier of the refrigerant use reason code.
        type: integer
      Order:
        format: int32
        description: Order of appearance of a reason code.
        type: integer
      Purpose:
        format: int32
        description: "Unique numeric identifier of the reason code for the refrigerant part use. Possible values: `0` - Leak, `1` - InitialCharge, `2` - SystemExpansion, `3` - Removal, `4` - Other, `5` - RemovedReused, `6` - Retrofit.\r\n            <br />Each reason code on the subscriber side is associated with a hardcoded purpose value in the database. Since reason codes can vary across subscribers, the purpose helps identify the valid reason code.\r\n            <br />***Note:*** Purpose value `0` is assigned to the `Leak` and `Repair` reason codes, indicating that a leak record gets calculated for these reason codes."
        type: integer
      Name:
        description: "Reason code name for the refrigerant part use as configured by the subscriber. Possible values:\r\n             • `Leak`\r\n             • `Repair`\r\n             • `Adjustment`\r\n             • `System Expansion`\r\n             • `Removal`\r\n             • `Initial Charge`\r\n             • `Retrofit`\r\n             • `Removed Reused`"
        type: string
      SubscriberId:
        format: int32
        description: Unique numeric identifier of the subscriber.
        type: integer
      IsActive:
        description: "Defines whether a user can select a reason code when capturing refrigerant use. Possible response values:\r\n             • `true`: Reason code is enabled.\r\n             • `false`: Reason code is disabled."
        default: false
        type: boolean
  ServiceChannel.Services.Messaging.RefrigerantTracking.RefrigerantType:
    type: object
    properties:
      InventoryId:
        format: int32
        type: integer
      SubscriberId:
        format: int32
        type: integer
      Name:
        type: string
      IsODS:
        default: false
        type: boolean
      GwpRefrigerantId:
        format: int32
        type: integer
  ServiceChannel.Services.WebApi.Models.Request.RefrigerantTracking.GetLeakRecordsVerificationHistoryRequest:
    type: object
    properties:
      LeakImmeasurableIds:
        type: array
        items:
          format: int32
          type: integer
  ServiceChannel.Services.WebApi.Models.Response.RefrigerantSettingsWithFF:
    type: object
    properties:
      RefrigerantTSettings:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.RefrigerantSettings.IRefrigerantSettings'
      FFSubRefCertSCP:
        default: false
        type: boolean
      FFSubRTMultiLeakFlow:
        default: false
        type: boolean
      FFSubRefValidatelogOn:
        default: false
        type: boolean
      FFSubNoRefrigerantAsset:
        default: false
        type: boolean
      FFRTLeakDateEmpty:
        default: false
        type: boolean
      FFRTMultiLeakFollowUp:
        default: false
        type: boolean
      FFRefLeakInspectionAcknowledgementAll:
        default: false
        type: boolean
  ServiceChannel.Services.Messaging.RefrigerantTracking.LeakRecordVerificationAddRequest:
    type: object
    properties:
      VerificationDate:
        format: date-time
        type: string
[...]
