swagger: '2.0'
info:
  version: bearer.v1
  title: Fixxbook.Bearer.Api.V1 AfterHours Parts API
  isOdataApi: false
  relativePath: ''
  discoveryPath: docs/bearer.v1
  _isAuthorizedAccess: true
host: sb2fixxbook.servicechannel.com:443
basePath: /api
schemes:
- https
security:
- oauth2: []
tags:
- name: Parts
paths:
  /workorders/{workorderId}/parts:
    get:
      tags:
      - Parts
      summary: Get a Work order parts
      description: "Get a Work order parts. Returns Work order parts collection for successful request.\r\n            <br /><br />Available for provider and subscriber usage."
      operationId: GETv3_workorders_{workorderId}_parts
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: The Work order identity
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.WorkOrderPartResponse'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
    put:
      tags:
      - Parts
      summary: Update Work order parts
      description: Available only for provider.
      operationId: PUTv3_workorders_{workorderId}_parts
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: The Work order identity
        required: true
        type: integer
        format: int32
      - name: request
        in: body
        description: The Work order parts collection for update
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.UpdateWorkOrderPartsCollectionRequest'
      responses:
        '200':
          description: Indicates that the request succeeded.
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.<br>Error codes:<br>502 - WorkOrder not found;
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: Indicates that the requested resource requires authentication.<br>Error codes:<br/> 504 - API call rejected by security permissions;
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Error while processing request.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Providers
    post:
      tags:
      - Parts
      summary: Create Work order parts
      description: Available only for provider.
      operationId: POSTv3_workorders_{workorderId}_parts
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: A new Work order identity
        required: true
        type: integer
        format: int32
      - name: requestModel
        in: body
        description: A new Work order parts collection
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.CreateWorkOrderPartsCollectionRequest'
      responses:
        '201':
          description: Indicates that the request succeeded.
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.<br>Error codes:<br>502 - WorkOrder not found;
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: Indicates that the requested resource requires authentication.<br>Error codes:<br/> 504 - API call rejected by security permissions;
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Error while processing request.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Providers
    delete:
      tags:
      - Parts
      summary: Delete Work order parts
      description: Available only for provider.
      operationId: DELETEv3_workorders_{workorderId}_parts?ids[0]={ids[0]}&ids[1]={ids[1]}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: The Work order identity
        required: true
        type: integer
        format: int32
      - name: ids
        in: query
        description: The Work order part identity collection for delete
        required: true
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      responses:
        '200':
          description: Indicates that the request succeeded.
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.<br>Error codes:<br>502 - WorkOrder not found;
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: Indicates that the requested resource requires authentication.<br>Error codes:<br/> 504 - API call rejected by security permissions;
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Error while processing request.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Providers
  /workorders/{workorderId}/{includeConnectorParts}/partsV1:
    get:
      tags:
      - Parts
      summary: Get a Work order parts
      description: "Get a Work order parts. Returns Work order parts collection for successful request.\r\n            <br /><br />Available for provider and subscriber usage."
      operationId: GETv3_workorders_{workorderId}_{includeConnectorParts}_partsV1
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: The Work order identity
        required: true
        type: integer
        format: int32
      - name: includeConnectorParts
        in: path
        description: Include Connector Parts
        required: true
        type: boolean
        default: false
      responses:
        '200':
          description: Indicates that the request succeeded and that the requested information is in the response.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.WorkOrderPartResponse'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: "Indicates that the requested resource requires authentication.\r\n            <br/>Error codes:\r\n            <br/> 504 - API call rejected by security permissions;"
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/inventory/refrigerantusage:
    get:
      tags:
      - Parts
      summary: ''
      operationId: GETv3_workorders_{workorderId}_inventory_refrigerantusage
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Parts.RefrigerantUsageResponse'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.<br>Error codes:<br>502 - WorkOrder not found;
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: Indicates that the requested resource requires authentication.<br>Error codes:<br/> 504 - API call rejected by security permissions;
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Error while processing request.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/inventory/parts/bulkPartUsage:
    post:
      tags:
      - Parts
      summary: Update multiple part uses for a work order and an asset
      description: "Creates, updates, or deletes multiple part uses for the **work order + asset** pair.\r\n             • Supports both refrigerant and non-refrigerant parts. \r\n             • Supports inventory and vendor-supplied parts.\r\n            <br />**Example request for removing part use records:**\r\n            \r\n               { \r\n                \"DeleteItems\": [\r\n                { \r\n                    \"PartId\": 58069830,\r\n                    \"DeletionReason\": \"Incorrect Quantity\",\r\n                    \"InventoryPartId\": 80467,\r\n                    \"IsInventoryPart\": true\r\n                },\r\n                { \r\n                    \"PartId\": 58069831,\r\n                    \"DeletionReason\": \"Wrong Part\",\r\n                    \"IsInventoryPart\": false\r\n                }\r\n               ]\r\n               }"
      operationId: POSTv3_workorders_inventory_parts_bulkPartUsage
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: request
        in: body
        description: Request model to modify part use records in bulk.
        required: true
        schema:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.WorkOrderPartRefrigerantBulkChangeRequest'
      responses:
        '200':
          description: Part use records have been successfully modified.
        '400':
          description: "The request was not accepted due to bad syntax, missing parameters, insufficient data, etc.\r\n            <br/>Error codes:\r\n            3227 &mdash; Inventory part cannot be changed\r\n            5027 &mdash; Refrigerant tracking is not available for the location\r\n            503 &mdash; Refrigerant type entered is not defined. Part usage was blocked\r\n            3205 &mdash; Entered inventory parts don’t correspond to the asset refrigerant\r\n            3235 &mdash; Failed to process the inventory request\r\n            3219 &mdash; MOE number is required; part usage cannot be processed\r\n            3222 &mdash; Inventory part IDs and location IDs or GUIDs should not be null\r\n            3309 &mdash; There are uncompleted leak records in another WO\r\n            3306 &mdash; Refrigerant Tracking Connector is turned on. Only the external client's assets can be processed \r\n            3307 &mdash; Refrigerant Tracking Connector is not supported. Only the client's assets can be processed \r\n            3304 &mdash; Inventory usage is not allowed on refrigerant tracking for Connected Subscribers and Subcontractors \r\n            3237 &mdash; Another WO part use request is in processing now. Please try later \r\n            3236 &mdash; Duplicated parts detected \r\n            3327 &mdash; The same part is passed for update and removal in the same request \r\n            3207 &mdash; Parts with specified part IDs were not found \r\n            503 &mdash; Refrigerant usage cannot be processed. There are no refrigerant settings \r\n            503 &mdash; Only one asset can be processed in the request \r\n            3213 &mdash; Asset is not assigned to the work order \r\n            3305 &mdash; External WO currently doesn’t exist. Refrigerant usage is blocked \r\n            3212 &mdash; Add part usage: Either remove the Reason Code and the IsRefrigerant flag or specify an asset \r\n            3212 &mdash; Asset is not using refrigerant. Reason Code and IsRefrigerant values are not allowed \r\n            3213 &mdash; Either the asset is deactivated or you don’t have access to it \r\n            503 &mdash; Asset is not connected to any rack \r\n            809 &mdash; Work order is in the completed status. Only RT Admins can process \r\n            3230 &mdash; Incorrect refrigerant type entered \r\n            4003 &mdash; Asset uses refrigerant. RT setting is required \r\n            503 &mdash; There are no any charge records with the date earlier than the use date \r\n            3303 &mdash; A closed leak record exists for this work order. Only one leak record can exist per work order. Please enter additional part usage on a new work order \r\n            3232 &mdash; Leak record part usages cannot be attached to the Retro/Retire plan leak record \r\n            503 &mdash; Asset doesn’t contain charge prior to the given date \r\n            503 &mdash; Work order refrigerant leak part usages should belong to the same asset charge \r\n            3218 &mdash; Use date cannot be after the completed/scheduled date and earlier than the call date \r\n            3315 &mdash; Used reason code Retrofit cannot be selected for non-retrofit work orders \r\n            503 &mdash; Description field length cannot be more than 250 symbols \r\n            503 &mdash; Part number field length cannot be more than 50 symbols \r\n            3208 &mdash; Request should contain only one work order ID. Work order IDs found: \r\n            3206 &mdash; Incorrect work order \r\n            3201 &mdash; Incorrect reason code for the subscriber was entered \r\n            3209 &mdash; Invalid IsRefrigerant and Reason Code combination \r\n            3210 &mdash; IsRefrigerant flag cannot be changed \r\n            3211 &mdash; Reason code change is not allowed \r\n            3224 &mdash; Add part usages are not allowed after the Retrofit/Retire creation \r\n            3223 &mdash; Part removal is not allowed on the Retrofit/Retire WO \r\n            3319 &mdash; Zero charge value. Leak event calculation cannot be executed \r\n            3226 &mdash; Initial charge or system expansion are not allowed on “Connected to the rack” assets \r\n            3201 &mdash; System expansion and the leak repair cannot be processed in one WO \r\n            3215 &mdash; Asset doesn’t contain charge \r\n            3217 &mdash; Leak record is currently in processing on another work order \r\n            3229 &mdash; Duplicated request detected. Please wait a minute and try again \r\n            3227 &mdash; Inventory part cannot be changed \r\n            3228 &mdash; Inventory location cannot be changed \r\n            3231 &mdash; Part usage date is not allowed in the Retire/Retrofit date interval  \r\n            503 &mdash; Broken date order in part usages for the system expansion"
          schema:
            type: string
        '500':
          description: Something went wrong, and the server was unable to complete your request.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /workorders/{workorderId}/partsUsage:
    get:
      tags:
      - Parts
      summary: Retrieve work order parts usage
      operationId: GETv3_workorders_{workorderId}_partsUsage
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: workorderId
        in: path
        description: ''
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Indicates that the request succeeded.
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.WorkOrderPartRefrigerantResponse'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.<br>Error codes:<br>502 - WorkOrder not found;
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: Indicates that the requested resource requires authentication.<br>Error codes:<br/> 504 - API call rejected by security permissions;
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Error while processing request.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
  /parts/isTechCertificationUsedOnRefrigerantTracking:
    get:
      tags:
      - Parts
      summary: Verifies that user is associated with parts usage
      operationId: GETv3_parts_isTechCertificationUsedOnRefrigerantTracking?authUserId={authUserId}&technicianId={technicianId}&certificationNumber={certificationNumber}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: authUserId
        in: query
        description: ''
        required: true
        type: integer
        format: int64
      - name: technicianId
        in: query
        description: ''
        required: true
        type: integer
        format: int32
      - name: certificationNumber
        in: query
        description: ''
        required: true
        type: string
      responses:
        '200':
          description: Indicates that the request succeeded.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.Assets.TechnicianAssociatedResponse'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: Indicates that the requested resource requires authentication.<br>Error codes:<br/> 504 - API call rejected by security permissions;
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Error while processing request.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Providers
  /parts/workorders/wasmaterialsused:
    get:
      tags:
      - Parts
      summary: Checks materials usage across multiple work orders
      operationId: GETv3_parts_workorders_wasmaterialsused?recIds={recIds}
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: recIds
        in: query
        description: ''
        required: true
        type: string
      responses:
        '200':
          description: Indicates that the request succeeded.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.WebApi.Models.Response.WasMaterialUsedResponse'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '401':
          description: Indicates that the requested resource requires authentication.<br>Error codes:<br/> 504 - API call rejected by security permissions;
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
        '500':
          description: Error while processing request.
          schema:
            $ref: '#/definitions/ServiceChannel.Services.Messaging.ErrorResponse'
      deprecated: false
      x-access: Any
definitions:
  ServiceChannel.Services.Messaging.Workorders.WorkOrderPartResponse:
    type: object
    properties:
      Id:
        format: int32
        type: integer
      Quantity:
        format: float
        type: number
      RecId:
        format: int32
        type: integer
      Description:
        type: string
      Price:
        format: double
        type: number
      Reason:
        type: string
      SupplierPartId:
        type: string
      SupplierPartAuxiliaryId:
        type: string
      DefaultNte:
        format: double
        type: number
      NteMultiplier:
        format: double
        type: number
      IsSupplierPart:
        default: false
        type: boolean
      IsInventoryPart:
        default: false
        type: boolean
      InventoryLocationName:
        type: string
  ServiceChannel.Services.Messaging.ErrorResponse:
    description: The error response object
    type: object
    properties:
      ErrorCodes:
        description: The list of error codes. Go to /basics/general/response-codes/#internal-error-codes-and-messages to map error codes to error reasons.
        type: array
        items:
          enum:
          - NotAllowed
          - EmptyProvider
          - InvalidProviderId
          - UnknownProvider
          - ProviderAlreadyExists
          - ProviderIdNotExists
          - TimeoutExpiredError
          - EmptyContract
          - ContractUndefined
          - EmptySubscriber
          - InvalidSubscriberId
          - UnknownSubscriber
          - InactiveSubscriber
          - EmptySubscriberId
          - SubscriberIdNotExists
          - InternalError
          - DataNotFound
          - BadRequest
          - UnAuthorized
          - UnSupportedApplication
          - SubsidiaryUserDisabled
          - EmptyLocation
          - InvalidLocationId
          - UnknownLocation
          - LocationNotBelongsToSubscriber
          - EmptyLocationCountry
          - LocationAlreadyExists
          - InvalidStoreId
          - LocationEmptyState
          - NoAccessToLocation
          - LocationAddressValidationError
          - LocationAddressRequestValidationError
          - InvalidLocationNoteHeader
          - NoAccessToUpdateProtectedNote
          - InvalidBusinessHoursFormat
          - WorkingHoursIntersect
          - InvalidDayOfWeek
          - DuplicateDayOfWeek
          - InvalidBusinessHoursInitialSetup
          - BusinessHoursIsEmpty
          - InvalidHolidayRepeatByType
          - EmptyHolidayListOfDays
          - EmptyHolidayListOfMonths
          - InvalidHolidayMonthName
          - InvalidHolidayNameLength
          - InvalidHolidayRepeatEvery
          - DuplicateMonth
          - InvalidHolidayFrequency
          - InvalidHolidayStartDate
          - InvalidCloseAllDay
          - HolidayDoesNotExist
          - InvalidFormatParameter
          - InvalidLocationCity
          - InvalidLocationZip
          - InvalidLocationLatitude
          - InvalidLocationLongitude
          - InvalidLocationEmail
          - InvalidLocationName
          - InvalidLocationState
          - InvalidLocationAddlAddress
          - InvalidLocationMainAddress
          - InvalidLocationCountry
          - InvalidLocationRegion
          - InvalidLocationDistrict
          - InvalidLocationPhone
          - InvalidLocationContact
          - InvalidLocationFaxNumber
          - LocationCountryNotFound
          - LocationStateNotFound
          - LocationCityNotFound
          - LocationIdNotExists
          - InvalidLocationEmailLength
          - LocationStateIdNotFound
          - IncorrectCombinationStateAndStateId
          - InvalidSubscriberIds
          - InvalidLocalizationSettings
          - LandlordResponsibilityNotFound
          - LandlordResponsibilityAlreadyExists
          - EmptyLocationIds
          - AttachmentNotExist
          - InvalidTradeId
          - InvalidCategoryId
          - InvalidOverrideCategoryId
          - InvalidOverridePriorityId
          - LeaseNoteExceedMaxLength
          - InvalidOverrideProviderRank
          - InvalidOverrideNTE
          - DuplicateRows
          - InvalidPriorityId
          - LocationNotFound
          - EmptyTrade
          - InvalidTrade
          - TradeNotBelongsToSubscriber
          - InvalidPrimaryTrade
          - InvalidTradeForSubscriber
          - InvalidCategoryForSubscriber
          - GlCodeAlreadyExists
          - GlCodeNotExists
          - InvalidGlCodeUpdate
          - EmptyGlCode
          - TradeAlreadyExists
          - InvalidNTETrade
          - TradeNotExists
          - TradeAlreadyInUse
          - TradeWithTheSameNameHasBeenDeleted
          - TradeInUsePMServices
          - TradeInUseProposalError
          - TradeInUseRFPError
          - TradeInUseChecklistError
          - TradeInUseBudgetControl
          - TradeInUseGlCode
          - TradeInUseDynamicProviderAssignments
          - TradeInUseInvoice
          - TradeInUseLandlordResponsibilities
          - TradeInUseWO
          - TradeInUseEquipmentType
          - TradeInUseRFP
          - TradeInUseConnector
          - TradeInUseContractedService
          - TradeInUseIVR
          - TradeInUseSiteAccess
          - TradeInUseGLCodes
          - TradeInUseCIWO
          - TradeInUseOrganizationPermissions
          - TradeСreationError
          - EmptyUser
          - EmptyCreatedBy
          - InvalidUserName
          - NotProviderUser
          - UserHasNoPermissions
          - RestrictedAccount
          - UserAlreadyExists
          - UserHasNoPermissionsEditWO
          - UserEmailAddressIsMissing
          - UserIsNotRTAdmin
          - InvalidSubsriberProviderId
          - LanguageNameNotFound
          - InvalidLanguageId
          - LanguageIdNotFound
          - UseBothSubscriberIdProviderId
          - EmptyWoProblem
          - InvalidWoProblemSource
          - InvalidWoProblemDescription
          - InvalidWoProblemCode
          - InvalidWoStatus
          - InvalidWoNte
          - InvalidWoCaller
          - InvalidWoCallDate
          - InvalidWoScheduledDate
          - InvalidWoScheduledDateGreaterThanMaxAllowed
          - EmptyWoCategory
          - InvalidWoCategory
          - EmptyWoPriority
          - InvalidWoPriority
          - InvalidWoCurrency
          - InvalidWoSetupId
          - AttachmentsRequired
          - InvalidWoIdentifier
          - EquipmentRequired
          - WoNteOverflow
          - InvalidWoPurchaseNumber
          - InvalidWoStateForUpdate
          - InvalidPagingParameter
          - InvalidWoNumber
          - CheckInDenied
          - CheckOutDenied
          - WoScheduledDateLessThenReassignDate
          - WoScheduledDateLessThenCallDate
          - InvalidWoActionReason
          - EmptySubscriberProperty
          - WorkOrderUpdateError
          - MissedWoNteDetails
          - InvalidLinkedWoIdentifier
          - WoIsOnHold
          - InvalidWoTrade
          - InvalidStarScore
          - WorkOrderAlreadyRated
          - AttachmentThumbnailNotAvailable
          - InvalidWoIdentifierOrPin
          - InvalidTimeZoneHeader
          - RefrigerantWasUsedShouldBeYesOrNo
          - CheckInDeniedOutsideGeolocation
          - CheckOutDeniedOutsideGeolocation
          - LeakDetectorAuditShouldBeCreated
          - CheckInOutPremature
          - WorkOrderAttachmentsSizeExceeded
          - WorkOrderNotFound
          - WorkOrderCreateError
          - InvalidWoProjectedCompletionDate
          - InvalidFollowUpWo
          - InvalidWeatherEventId
          - InvalidSiteAuditLinkedWo
          - InvalidSetupId
          - IssueListNotFound
          - InvalidIssueListField
          - SiteAuditCompleted
          - CheckSiteAuditError
          - SaveSiteAuditError
          - RemoveSiteAuditError
          - InactiveTemplateType
          - SiteAuditNotFound
          - SiteAuditUpdateError
          - InvalidSiteAuditParameters
          - InvalidAdditionalApprovalCode
          - InvalidAdditionalApprovalCodeValue
          - AdditionalApprovalCodeIsDisabled
          - InvalidOtherDesc
          - InvalidTax2Name
          - InvoiceInconsistentAmounts
          - InvoiceInvalidTotal
          - InvoiceTotalGreaterNte
          - InvoiceExists
          - CreatingInvoiceError
          - DuplInvNumber
          - InvoiceTotalNull
          - InvComplDateNull
          - InvDateLessComplDate
          - InvoiceNotAuto
          - ESignatureRequired
          - InvWoNotFound
          - InvWrongWoCurr
          - InvWoCurrNotFound
          - InvoicingDisabled
          - InvCreationUnexpectedRes
          - InvoiceInvalidLaborAmount
          - InvoiceInvalidMaterialAmount
          - InvDateOld
          - InvDateGreater
          - InvoiceMaterialDescriptionLengthOverflow
          - InvoiceTaxNotValidated
          - InvoiceMaterialPartNumberLengthOverflow
          - TaxValidationError
          - TaxExemptionError
          - InvalidInvoiceNumber
          - GetApprovalLevelsError
          - InvoiceAddUsersToMliLevelsError
          - InvoiceAddDeleteLocationsToMliLevelUserError
          - InvoiceUpdateMLiLevelError
          - InvoiceDeleteMliLevelError
          - InvoiceDeleteUsersFromMliLevelError
          - ApprovalLevelNameLengthOverflow
          - GstTaxError
          - Tax2Error
          - GetApprovalLevelsAndLocationsByUserError
          - GetAssignedUserShortInfoError
          - AssignAllLocationsToApprovalLevelAndUserError
          - GetLocationsForApprovalLevelAndAssignedUserError
          - GetLocationsBySubscriberError
          - AssignUserWithLocationsToApprovalLevelError
          - ReAssignUserWithLocationsToNewApprovalLevelError
          - ReAssignLocationsToApprovalLevelAndUserError
          - OutstandingBalance
          - InvoiceTaxDetailsEmpty
          - InvoiceTaxDetailsIncorrectSum
          - MultipleUsersForLocationIsNotAllowed
          - UserAssignedToOtherLevel
          - UserDoesNotExist
          - LaborLineItemRequired
          - MaterialLineItemRequired
          - InvoiceDoesntExist
          - InvoiceStarUnstarFailed
          - InvoiceBatchUpdateInvalidInvoiceStatusError
          - InvoiceBatchUpdateLimitExceededError
          - InvoiceNotAvailableForCurrentUser
          - InvoiceBatchUpdateInvalidRuleSetStructure
          - InvoiceBatchUpdateInvalidMliStructure
          - InvoiceBatchUpdateStatusError
          - InvoiceMaterialUnitTypeInvalid
          - ExistingBatchNumber
          - InvoiceResolutionTextRequired
          - GetInvoiceDefaultApprovalCodesError
          - InvoiceInvalidTravelAmount
          - InvoiceTravelDescriptionLengthOverflow
          - InvoiceTravelUnitTypeInvalid
          - TravelLineItemRequired
          - TravelDetailsDisabled
          - OnOffShoreDisabled
          - InvoiceInvalidLaborCount
          - InvoiceInvalidMaterialCount
          - InvoiceInvalidTravelCount
          - SubscriberNotRegisteredForTaxValidation
          - ManyDecimalsInAmountError
          - DecimalPartQstTaxError
          - LaborRatesDiscrepancy
          - PayInvoicesError
          - InvoiceNumberRequirementsError
          - InvoiceNumberIncorrect
          - InvoiceNumberRegExPatternError
          - GetInvoicesPendingApprovalByLocationError
          - ReAssignInvoicesToUsersFailed
          - ReAssignInvoicesUsersMatched
          - GetUsersForReassignInvoiceError
          - InvalidTimeRangeActivity
          - OutsourcedSourceInvoiceNotFound
          - OthersLineItemsDisabled
          - InvoiceInvalidOtherAmount
          - InvoiceInvalidOtherCount
          - InvoiceOtherDescriptionLengthOverflow
          - OtherLineItemRequired
          - OtherLineItemsNotNegativeValueRequired
          - InvalidLaborSkillLevel
          - InvalidLaborType
          - InvalidTechnicianQuantity
          - GetInvoicesCommonCategoriesError
          - InvoiceExplainDisputeEmpty
          - InvoiceAdditionalApprovalCodeHeaderError
          - TemplateParseSuccess
          - TemplateIncorrectHeaderError
          - TemplateEmptyTemplateError
          - TemplateWrongFieldsCountError
          - TemplateFieldNotFoundError
          - TemplateFieldRequiredError
          - TemplateParseIntError
          - TemplateFieldSizeError
          - TemplateInvalidValueError
          - TemplateFieldFormatError
          - TemplateFieldMaxRangeError
          - TemplateFieldMinRangeError
          - TemplateProviderNotEntered
          - TemplateInvalidSubscriberError
          - TemplateVendorNotFoundError
          - TemplateMissedProviderError
          - TemplateProviderNotFoundError
          - TemplateProviderSubsccriberLinkError
          - TemplateTradeDispatchRankError
          - TemplateInvalidTradeForSubscriberError
          - TemplateStoreNotFoundError
          - TemplateNotStoresForStateError
          - TemplateNotStoresForCountryError
          - TemplateNotStoresForDistrictError
          - TemplateNotStoresForRegionError
          - TemplateMultiplePimaryProvidersForTradeStoreError
          - TemplateDuplicatePrimaryRelationshipError
          - TemplateAmbiguousDataError
          - TemplateIncorrectSubscriber
          - TemplateDuplicateRanking
          - TemplateLongitudeRangeError
          - TemplateLatitudeRangeError
          - InvoiceMaterialPartNameLengthOverflow
          - TemplateTradeLocationExclusion
          - TemplateInvalidStateError
          - TemplateMissedSubscriberError
          - TemplateMissedStoreIdError
          - TemplateInvalidSubscriberIdError
          - TemplateOpenCloseDateError
          - TemplateInvalidCountryError
          - TemplateInvalidStateForCountryError
          - TemplateInvalidLocationTypeError
          - TemplateMissingFullAndShortNameError
          - TemplateMissingCountryError
          - TemplateDuplicatedDataError
          - TemplateParentLocationNotFoundError
          - TemplateParseDateTimeError
          - TemplateParseDecimalError
          - TemplateSquareValueRangeError
          - TemplateInvalidSquareMeasureError
          - TemplateTypeLabelCanNotBeUpdatedError
          - TemplateTypeLabelHaveToBeLocationForNotInventory
          - TemplateInvalidPrimarySupplyLocation
          - TemplateInvalidHomestoreLocationNumber
          - TemplateErrorDuringCreation
          - TemplateLocationNotFoundError
          - TemplateDuplicatedLocationFoundError
          - TemplateInvalidLocationHeaderError
          - TemplateDuplicatedLocationHeaderError
          - TemplateHeaderContainsEmptyFieldsError
          - TemplateLocHeadersShortHeaderError
          - TemplateHeaderContainsDuplicatesError
          - TemplateLocationNotesStoreIdFieldLengthError
          - TemplateLocationNotesNoteValueFieldLengthError
          - TemplateErrorInvalidZipCode
          - TemplateMissingLocationNoteHeader
          - TemplateMissingLocationNoteIdHeader
          - TemplateInvalidSecondarySupplyLocation
          - TemplateLocationWasNotCreated
          - TemplateTruckNameIsEmpty
          - TemplateWrongFormat
          - TemplateSubscriberNotFound
          - TemplateDuplicatedLocationHeaders
          - TemplateInvalidHeaders
          - TemplateInvalidPhoneError
          - TemplateDuplicateTelecomRecordError
          - TemplateTelecomRecordExistsError
          - TemplateInvalidCategory
          - TemplateDifferentRanksForProviderAssignments
          - TemplateDuplicateRankError
          - TemplateProviderNonCompliant
          - TemplateLocationIsClosed
          - TemplateProviderWarning
          - TemplateMultipleProvidersForTradeStoreError
          - EmptyRequest
          - InvalidNumberOfParameters
          - InvoiceOtherUnitTypeInvalid
          - EmptyLocationOrTradeList
          - RequestSubscriberIdDoesntMatchUserSubscriberId
          - StoreIdRequiredError
          - InvalidUserIdError
          - InvalidStoreIdError
          - AmbigiousError
          - MliHierarchyFiledsCountError
          - MliHierarchyMaxUserNameError
          - MliHierarchyDuplicateUserError
          - MLiHirarchyUserExistInOtherLevelError
          - MissingLevelsError
          - DuplicateApprovalLevelsError
          - InvalidMliLocations
          - InvalidMlpLocations
          - ApprovalLevelUsedInRulsetError
          - GLCodeAmbiguous
          - GlCodeInvalidResponce
          - GetRuleSetListError
          - RuleSetDuplicateNameError
          - RuleSetDuplicateActionError
          - RuleSetConflictedActionError
          - RuleSetRuleSetDoesNotExistsError
          - RuleSetTradeDoesNotExistError
          - RuleSetCategoryDoesNotExistError
          - RuleSetMliLevelDoesNotExistError
          - GetRuleSet
          - CreateUpdateRuleSetError
          - DeleteRuleSet
          - GetRuleSetCategoriesTradesCountError
          - GetRuleSetByInvoice
          - GetCategoryTradeIdsAreSelectedError
          - ProposalAboveMlpLimitError
          - ProposalNextLevelHasNoAvailableActionsError
          - DefaultRuleSetError
          - RuleSetActionEndStatusError
          - RuleSetRejectActionEmptyForwardToError
          - UserFilterGetError
          - UserFilterCreateUpdateError
          - UserFilterDeleteError
          - UserFilterSetAsDefaultError
          - InvoiceFilterFromAlpProviderError
          - RegionFilterNotAllowedError
          - LocationIdFilterNotAllowedError
          - PaymenowScProviderIdOrFbCompanyIdMustBeProvided
          - PaymenowBannersForProvidersOnly
          - PaymenowFeatureDisabled
          - PaymenowBannerInfoNotFound
          - PaymenowBannerInvalidNavigationUrl
          - PaymenowRequestedProvidersIsNotAssigned
          - PaymenowEmptyRequestedProviders
          - PaymentManagerFeatureDisabled
          - PaymentManagerFeatureDisabledForSubscriber
          - PaymentSystemCurrentlyUnavailable
          - CurrencyNotSupported
          - PaymentSystemAccountNotFound
          - FeatureIsOff
          - EarlyPayFeatureWithoutPaymentManagetFeatureError
          - FtpTestError
          - AcceptTermsAndConditionsRequestInvalid
          - PaymentSystemAccountError
          - SendReportToFTP
          - SchedulingError
          - BadPaymentData
          - InvoicesCanNotBeRepaid
          - InvoicesCanNotBeRescheduled
          - InvalidBillingAddress
          - PaymentManagerGeneralSettingsNotFound
          - PaymentManagerEInvoiceSettingsNotFound
          - BadgeVerificationFailed
          - BadgeTempPassEmpty
          - BadgeScanRequired
          - SolvedIssueSubmitFailed
          - SolvedIssueInvalidLocationId
          - SolvedIssueInvalidCategoryId
          - SolvedIssueInvalidTradeId
          - SolvedIssueInvalidPriorityId
          - SolvedIssueInvalidSource
          - SolvedIssueInvalidProblemCode
          - SolvedIssueInvalidType
          - SubmitFeedbackErrorWoStatus
          - SubmitFeedbackInvalidAnswer
          - SubmitFeedbackInvalidTrackingNumber
          - SubmitFeedbackInvalidSubscriber
          - SubmitFeedbackInvalidScore
          - SubmitFeedbackUnsatisfactoryCommentRequired
          - SubmitFeedbackInvalidReviewId
          - SubmitFeedbackInvalidSetupId
          - FeedbackSetupInvalidSetupId
          - S3SaveError
          - AbsSaveError
          - GoodDataLoginFailed
          - GoodDataElementUriError
          - GoodDataReportResultUriError
          - GoodDataReportResultEmpty
          - GoodDataDesReportResCountError
          - GoodDataDesReportResConvertError
          - GoodDataDesDisplayFormAttributeEmpty
          - InvalidProposalAmountLimit
          - GetApprovalProposalReasonsError
          - GetEmailRecipientsError
          - GetAssignProposalReasonsError
          - ProposalHasBeenVoided
          - AssetTypeDuplicateNameError
          - AssetTypeDoesntExistError
          - AssetTypeFailUpdateRefrigerantPurpose
          - AssetTypeDeleteFailed
          - ExistingAssetsFoundForAssetType
          - CantModifyAssetTypeParentId
          - InvalidAssetTypeName
          - AssetTypeInheritanceError
          - ExistingProposalsFoundForAssetType
          - InstallPurchaseDateOverflow
          - WOexistsWithSomeAssets
          - PartsChangeFailed
          - PartsReasonCodeError
          - PartsUseDateError
          - PartsRefrigerantAlreadyExists
          - PartsChargeHistoryAlreadyExists
          - PartsNotFound
          - BulkPartUseIncorrectWorkOrder
          - BulkPartsByIdsNotFound
          - BulkPartsMultipleWosError
          - BulkPartsIncorrectIsRefrigerantParam
          - BulkPartsIsRefrigerantCanNotbeChanged
          - BulkPartsReasonCodeChangeError
          - BulkPartsInvalidAssetAndReasonCodeParams
          - BulkPartsInvalidAssetId
          - BulkPartsInvalidInitialChargeCode
          - BulkPartsAssetDoesntContainCharge
          - BulkPartsIsInventoryFlagError
          - BulkPartsLeakAlreadyInProcessError
          - BulkPartsInvalidDateRangeError
          - BulkPartsMoeNumberRequiredError
          - BulkPartsSystemChargeExceeded
          - BulkRefrigerantuUageBlocked
          - BulkIDsNotBeNull
          - BulkPartRemovalNotAllowedOnRetrofitRetireWO
          - BulkAddPartUsagesNotAllowedAfterRetrofitRetireCreation
          - BulkRetrofitRetireRefrigerantUsageReasonCanNotChanged
          - BulkInitialChargeSystemExpansionNotAllowed
          - BulkInventoryPartIdCanNotBeChanged
          - BulkInventoryLocationIdCanNotBeChanged
          - BulkPartsDuplicatedRequest
          - BulkChangePartsIncorrectRefrigerantType
          - BulkPartsRetroRetireIsInProgressOnThisDate
          - BulkPartsCanNotAttachRefrigerantUsageToPlanLeakRecord
          - RetrofitRetireCanNotBeRemoved
          - RetroRetirePartsCantbeChanged
          - BulkPartsInventoryApiFailed
          - BulkPartsDuplicated
          - BulkPartsWorkOrderInProcessing
          - BadNotificationSubscriptionEventType
          - RefrigerantUseDateOutOfTheLeakProcessDateRange
          - InventoryUsageNotAllowedOnRTrackingConnectedSubAndSubcontractors
          - BulkExternalWoCurrentlyDoesntExists
          - BulkConnectorOnlyExternalClientAssetsCanBeProcessed
          - BulkConnectorOnlyClientAssetsCouldBeProcessed
          - LeakRecordHasWrongDateValue
          - HasUncompliedLeakRecordInAnoutherWO
          - HasUncompletedWOOnAnotherLeakRecord
          - OnlyOneAssetWorkOrderPair
          - OneLeakRecordMustBeOnCompletedWO
          - LeakRecordNotFound
          - AssetIDWoIdIsRequired
          - BulkPartsReasonCodeRetrofit
          - RetrofitRetireWasCancelledNoLeak
          - FailedToUpdateLeakEvent
          - AddPartUsagesAreNotAllowedInRetireRetrofitDateInterval
          - LeakPartUseOnZeroChargeNotAllowed
          - BulkLeakRecordsAndAuditRequest
          - LeakRecordsDuplicateRequestDetected
          - AllLeakRecordFieldsAreRequired
          - BulkPartsTheSamePartIdForUpdateAndRemovalPassed
          - MlpImportLevelError
          - UpdateMlpUserLevelError
          - InvalidHolidayName
          - DuplicateHolidayName
          - HolidaysDeleteFailed
          - HolidaysExcludeInsertFailed
          - HolidaysUpdateFailed
          - HolidaysInsertFailed
          - HolidaysExcludeDeleteFailed
          - BusinessHoursDeleteFailed
          - BusinessHoursUpdateFailed
          - BusinessHoursInsertFailed
          - InvalidTime
          - HolidayForDeleteNotFound
          - InvalidChecklistId
          - ChecklistNotPopulated
          - ChecklistNotAssignedForTransfersWO
          - NoLinkBetweenSubscriberAndProvider
          - WorkforceCreateContractorError
          - InvalidCertificateId
          - MaxThresholdExceeded
          - MaxTriggerRateExceeded
          - LeakPriorityIsRequired
          - MissingRTSettings
          - ResolutionCodesLimitExceeded
          - ResolutionCodesAreRequired
          - RootCauseIsRequired
          - RootCauseTextIsRequired
          - NoAccessToSetRootCauseText
          - RootCauseTextMaxLengthExceeded
          - ResolutionCodeTextIsRequired
          - NoAccessToSetResolutionCodeText
          - ResolutionCodeTextMaxLengthExceeded
          - ResolutionCodeTextMustBeUnique
          - ResolutionCodeWithoutFreeTextMustBeUnique
          - PendingResCodesStatusCannotBeChangedToInvoiceableBySubscriber
          - ResolutionAndRootCauseCodesAreRequiredToMoveToInvoiceableStatusByProvider
          - AssetCategoriesLimitExceeded
          - NoAccessToAssetCategories
          - AssetCategoriesAreRequired
          - InvalidAssetCategoryId
          - NoAssetCategoriesOnWorkOrder
          - RootCausesMustBeForAllWorkOrderAssetCategories
          - RootCauseTextMustBeUnique
          - AssetCategoryIsRequired
          - MultipleRootCausesMethodMustBeUsed
          - ResolutionCodesMustBeForAllWorkOrderAssetCategories
          - AssetFilterLocationsLimitExceeded
          - UnknownStoreId
          - UsesRefrigerantAttributeNotChanged
          - AssetTagDuplicate
          - AssetTagIdDuplicate
          - UnknownEquipmentType
          - ParentIdInOtherLocation
          - UnknownBrandName
          - CARBRequiredManufacturedDate
          - CARBRequiredInstallDate
          - TradeNotFound
          - AssetDoesntExist
          - AssetIsNotRefrigerant
          - AssetCantContainRefrigerant
          - OnlyRackAssetsContainingCircuits
          - ConnectorAssetTagIdCanNotBeChanged
          - ConnectorAssetLocationIdCanNotBeChanged
          - AssetTagCantBeUpdated
          - AssetTypeIsNotСonfiguredToManageRTAssets
          - RefrigerantTrackingNotAvailableForLocation
          - UsesRefrigerantRequiredByAssetTypeSettings
          - AssetLocationTradeDoesntCorrespondToWO
          - AssetLocationSelectedPMmodule
          - UpdateAssetRepairStatusValidation
          - HasCircuitsCantBeChange
          - HasComponentsCantBeChange
          - CircuitCanNotBeConnectedToCircuit
          - RTCircuitCanNotBeConnectedToNonRTAsset
          - RTComponentCanNotBeConnectedToNonRTAsset
          - ComponentCanNotBeConnectedToComponent
          - NonRTComponentCanNotBeConnectedToRtAsset
          - NonRTCircuitCanNotBeConnectedToRtAsset
          - ComponentCanNotBeConnectedToCircuit
          - ParentAssetShouldHaveEitherComponentsNorCircuits
          - ParentAssetCantHaveComponents
          - ParentAssetCantHaveCircuits
          - MultipleAssetsFoundForTheRequestedTagId
          - InvalidBrandName
          - UnknownBrandId
          - BrandRestrictedByAssetType
          - BrandRestrictedBySubscriber
          - BrandsRestrictedBySubscriber
          - DeclineWorkOrderFailed
          - AcceptWorkOrderFailed
          - WorkOrderWasAccepted
          - AssetAttachmentsSizeExceeded
          - SaveMliAuditReportSetting
          - GetMliAuditReportSetting
          - SaveMliAuditReportResult
          - SaveMliAuditReportSendEmailStatus
          - SaveMliAuditReportFilePath
          - GetSubscribersEnabledSchedule
          - SaveMliAuditInfoError
          - TaxValidationAddNewCompanySettingsError
          - TaxValidationUpdateCompanySettingsError
          - ProjectAssociationError
          - GetProjectsInvoiceAmountsError
          - TaxCodeNotUniqueError
          - FieldLengthIsTooLongError
          - SetTaxCodesBulkError
          - InvoiceAdditionalApprovalCodeValueError
          - BulkUpdateInvoicePaymentError
          - InvoiceLineItemFilterDisabled
          - InvoiceStatusToRejectProviderNotificationFailed
          - SortFieldNotAvailableError
          - ContractServiceExist
          - ContractServiceCantChangeTrade
          - ContractServiceCantChangeCategory
          - ContractServiceCantChangeProvider
          - ContractServicePMServiceCantChangeTrade
          - ContractServicePMServiceCantChangeCategory
          - ContractedServiceNameAlreadyExists
          - ContractedServiceNameLinkedToRates
          - WorkRequestDescriptionIsRequired
          - WorkRequestCallDateIsRequired
          - WorkRequestIssueIsRequired
          - WorkRequestCallDateHasWrongFormat
          - WorkRequestScheduledDateHasWrongFormat
          - InvalidWorkRequestStatus
          - InvalidWorkRequestExtendedStatus
          - InvalidWorkRequestCategory
          - InvalidWorkRequestPriority
          - InvalidWorkRequestCurrency
          - InvalidWorkRequestIssueSetup
          - InvalidWorkRequestIssueArea
          - InvalidWorkRequestAsset
          - WorkRequestAttachmentFileNameIsRequired
          - WorkRequestAttachmentOriginalNameIsRequired
          - WorkRequestIssueProblemCodeIsRequired
          - WorkRequestIssueProblemTypeIsRequired
          - WorkRequestScheduledDateMustBeGreaterThanCallDate
          - InvalidWorkRequestId
          - WorkRequestSearchCallDateFromHasWrongFormat
          - WorkRequestSearchCallDateToHasWrongFormat
          - WorkRequestSearchScheduledDateFromHasWrongFormat
          - WorkRequestSearchScheduledDateToHasWrongFormat
          - WorkRequestSearchClosedDateFromHasWrongFormat
          - WorkRequestSearchClosedDateToHasWrongFormat
          - WorkOrderIsAlreadyCreatedForWorkRequest
          - WorkRequestIsClosed
          - WorkRequestClosedReasonIsRequiredForClosedStatus
          - WorkOrderIdIsRequiredForThisClosedReason
          - InvalidWorkRequestClosedReason
          - WorkRequestClosedReasonIsOnlyForClosedStatus
          - InvalidWorkRequestWorkOrderId
          - WorkRequestWorkOrderIdIsOnlyForClosedStatus
          - WorkRequestWorkOrderIdIsOnlyForCertainClosedReason
          - InvalidWorkOrderSourceType
          - DeclineReasonIdIsRequired
          - DeclineReasonDoesntAllowCustomText
          - InvalidDeclineReasonId
          - MultipleWorkOrdersForPurchaseNumber
          - InvoiceMaterialMakupInvalid
          - MaterialMarkUpDiscrepancyReasonShouldBeStated
          - MaterialPriceDiscrepancyReasonShouldBeStated
          - OtherPriceDiscrepancyReasonShouldBeStated
          - SubscriberIdIsNotValid
          - FiscalPeriodIsNotValid
          - AmountIsNotValid
          - AmountFormatIsNotValid
          - CategoryMustBeEmpty
          - CategoryIsNotValid
          - TradeMustBeEmpty
          - TradeIsNotValid
          - GlCodeMustBeEmpty
          - GlCodeIsNotValid
          - LocationMustBeEmpty
          - LocationIsNotValid
          - RegionMustBeEmpty
          - RegionIsNotValid
          - DistrictMustBeEmpty
          - DistrictIsNotValid
          - DuplicateData
          - PrimaryCategoryMustBeEmpty
          - PrimaryCategoryIsNotValid
          - CategoryAndExcludedCategoryCannotSimultaneously
          - PrimaryCategoryAndExcludedPrimaryCategoryCannotSimultaneously
          - TradeAndExcludedTradeCannotSimultaneously
          - GlCodeAndExcludedGlCodeCannotSimultaneously
          - DuplicateCategories
          - DuplicateTrades
          - DuplicateGlCodes
          - DuplicatePrimaryCategories
          - LocationNoteMustBeEmpty
          - LocationNoteIsNotValid
          - OverlappingCategories
          - OverlappingPrimaryCategories
          - OverlappingTrades
          - OverlappingPrimaryTrades
          - OverlappingGlCodes
          - OverlappingLocations
          - OverlappingRegions
          - OverlappingDistricts
          - OverlappingLocationNotes
          - TaxExemptionErrorApi
          - OtherLineItemZeroAmount
          - TravelLineItemsNotNegativeValueRequired
          - MaterialLineItemsNotNegativeValueRequired
          - LaborLineItemsNotNegativeValueRequired
          - AdditionalApprovalCodeSetupIdInvalid
          - VendorIdIsNotValid
          - InvalidBatchId
          - InvalidBatchStatusId
          - CategoryInUsePMServiceError
          - CategoryInUseChecklistError
          - CategoryInUseETAMissedAlertError
          - CategoryInUseBudgetControl
          - CategoryInUseConnector
          - CategoryInUseContractedService
          - CategoryInUseEDI
          - CategoryInUseIVR
          - CategoryInUseFeedbackV2
          - CategoryInUseProposalApproveReasons
          - CategoryInUsePaymentManager
          - CategoryInUseProviderAssignments
          - CategoryInUseSiteAccess
          - CategoryInUseAlerts
          - CategoryInUseOpenWOAlert
          - CategoryInUseWOAutocopy
          - CategoryInUseWorkRequest
          - CategoryInUseWO
          - CategoryInUseDashboardOverride
          - CategoryInUseInvoiceAttributes
          - FeatureIsOn
          - LocationHierarchyNotFound
          - LocationHierarchyLevelNotFound
          - LocationHierarchyParentLevelNotFound
          - LocationSpaceTypeNotFound
          - DuplicateRowByValueKey
          - ParentNotFound
          - DuplicateSequenceAmongSiblings
          - SequenceConflictsWithExistingData
          - SequenceMustBeGreaterThanZero
          - ValueContainsPathDelimiter
          - InitializationWarmupError
          type: string
      ErrorCode:
        description: The code of the first error found
        enum:
        - NotAllowed
        - EmptyProvider
        - InvalidProviderId
        - UnknownProvider
        - ProviderAlreadyExists
        - ProviderIdNotExists
        - TimeoutExpiredError
        - EmptyContract
        - ContractUndefined
        - EmptySubscriber
        - InvalidSubscriberId
        - UnknownSubscriber
        - InactiveSubscriber
        - EmptySubscriberId
        - SubscriberIdNotExists
        - InternalError
        - DataNotFound
        - BadRequest
        - UnAuthorized
        - UnSupportedApplication
        - SubsidiaryUserDisabled
        - EmptyLocation
        - InvalidLocationId
        - UnknownLocation
        - LocationNotBelongsToSubscriber
        - EmptyLocationCountry
        - LocationAlreadyExists
        - InvalidStoreId
        - LocationEmptyState
        - NoAccessToLocation
        - LocationAddressValidationError
        - LocationAddressRequestValidationError
        - InvalidLocationNoteHeader
        - NoAccessToUpdateProtectedNote
        - InvalidBusinessHoursFormat
        - WorkingHoursIntersect
        - InvalidDayOfWeek
        - DuplicateDayOfWeek
        - InvalidBusinessHoursInitialSetup
        - BusinessHoursIsEmpty
        - InvalidHolidayRepeatByType
        - EmptyHolidayListOfDays
        - EmptyHolidayListOfMonths
        - InvalidHolidayMonthName
        - InvalidHolidayNameLength
        - InvalidHolidayRepeatEvery
        - DuplicateMonth
        - InvalidHolidayFrequency
        - InvalidHolidayStartDate
        - InvalidCloseAllDay
        - HolidayDoesNotExist
        - InvalidFormatParameter
        - InvalidLocationCity
        - InvalidLocationZip
        - InvalidLocationLatitude
        - InvalidLocationLongitude
        - InvalidLocationEmail
        - InvalidLocationName
        - InvalidLocationState
        - InvalidLocationAddlAddress
        - InvalidLocationMainAddress
        - InvalidLocationCountry
        - InvalidLocationRegion
        - InvalidLocationDistrict
        - InvalidLocationPhone
        - InvalidLocationContact
        - InvalidLocationFaxNumber
        - LocationCountryNotFound
        - LocationStateNotFound
        - LocationCityNotFound
        - LocationIdNotExists
        - InvalidLocationEmailLength
        - LocationStateIdNotFound
        - IncorrectCombinationStateAndStateId
        - InvalidSubscriberIds
        - InvalidLocalizationSettings
        - LandlordResponsibilityNotFound
        - LandlordResponsibilityAlreadyExists
        - EmptyLocationIds
        - AttachmentNotExist
        - InvalidTradeId
        - InvalidCategoryId
        - InvalidOverrideCategoryId
        - InvalidOverridePriorityId
        - LeaseNoteExceedMaxLength
        - InvalidOverrideProviderRank
        - InvalidOverrideNTE
        - DuplicateRows
        - InvalidPriorityId
        - LocationNotFound
        - EmptyTrade
        - InvalidTrade
        - TradeNotBelongsToSubscriber
        - InvalidPrimaryTrade
        - InvalidTradeForSubscriber
        - InvalidCategoryForSubscriber
        - GlCodeAlreadyExists
        - GlCodeNotExists
        - InvalidGlCodeUpdate
        - EmptyGlCode
        - TradeAlreadyExists
        - InvalidNTETrade
        - TradeNotExists
        - TradeAlreadyInUse
        - TradeWithTheSameNameHasBeenDeleted
        - TradeInUsePMServices
        - TradeInUseProposalError
        - TradeInUseRFPError
        - TradeInUseChecklistError
        - TradeInUseBudgetControl
        - TradeInUseGlCode
        - TradeInUseDynamicProviderAssignments
        - TradeInUseInvoice
        - TradeInUseLandlordResponsibilities
        - TradeInUseWO
        - TradeInUseEquipmentType
        - TradeInUseRFP
        - TradeInUseConnector
        - TradeInUseContractedService
        - TradeInUseIVR
        - TradeInUseSiteAccess
        - TradeInUseGLCodes
        - TradeInUseCIWO
        - TradeInUseOrganizationPermissions
        - TradeСreationError
        - EmptyUser
        - EmptyCreatedBy
        - InvalidUserName
        - NotProviderUser
        - UserHasNoPermissions
        - RestrictedAccount
        - UserAlreadyExists
        - UserHasNoPermissionsEditWO
        - UserEmailAddressIsMissing
        - UserIsNotRTAdmin
        - InvalidSubsriberProviderId
        - LanguageNameNotFound
        - InvalidLanguageId
        - LanguageIdNotFound
        - UseBothSubscriberIdProviderId
        - EmptyWoProblem
        - InvalidWoProblemSource
        - InvalidWoProblemDescription
        - InvalidWoProblemCode
        - InvalidWoStatus
        - InvalidWoNte
        - InvalidWoCaller
        - InvalidWoCallDate
        - InvalidWoScheduledDate
        - InvalidWoScheduledDateGreaterThanMaxAllowed
        - EmptyWoCategory
        - InvalidWoCategory
        - EmptyWoPriority
        - InvalidWoPriority
        - InvalidWoCurrency
        - InvalidWoSetupId
        - AttachmentsRequired
        - InvalidWoIdentifier
        - EquipmentRequired
        - WoNteOverflow
        - InvalidWoPurchaseNumber
        - InvalidWoStateForUpdate
        - InvalidPagingParameter
        - InvalidWoNumber
        - CheckInDenied
        - CheckOutDenied
        - WoScheduledDateLessThenReassignDate
        - WoScheduledDateLessThenCallDate
        - InvalidWoActionReason
        - EmptySubscriberProperty
        - WorkOrderUpdateError
        - MissedWoNteDetails
        - InvalidLinkedWoIdentifier
        - WoIsOnHold
        - InvalidWoTrade
        - InvalidStarScore
        - WorkOrderAlreadyRated
        - AttachmentThumbnailNotAvailable
        - InvalidWoIdentifierOrPin
        - InvalidTimeZoneHeader
        - RefrigerantWasUsedShouldBeYesOrNo
        - CheckInDeniedOutsideGeolocation
        - CheckOutDeniedOutsideGeolocation
        - LeakDetectorAuditShouldBeCreated
        - CheckInOutPremature
        - WorkOrderAttachmentsSizeExceeded
        - WorkOrderNotFound
        - WorkOrderCreateError
        - InvalidWoProjectedCompletionDate
        - InvalidFollowUpWo
        - InvalidWeatherEventId
        - InvalidSiteAuditLinkedWo
        - InvalidSetupId
        - IssueListNotFound
        - InvalidIssueListField
        - SiteAuditCompleted
        - CheckSiteAuditError
        - SaveSiteAuditError
        - RemoveSiteAuditError
        - InactiveTemplateType
        - SiteAuditNotFound
        - SiteAuditUpdateError
        - InvalidSiteAuditParameters
        - InvalidAdditionalApprovalCode
        - InvalidAdditionalApprovalCodeValue
        - AdditionalApprovalCodeIsDisabled
        - InvalidOtherDesc
        - InvalidTax2Name
        - InvoiceInconsistentAmounts
        - InvoiceInvalidTotal
        - InvoiceTotalGreaterNte
        - InvoiceExists
        - CreatingInvoiceError
        - DuplInvNumber
        - InvoiceTotalNull
        - InvComplDateNull
        - InvDateLessComplDate
        - InvoiceNotAuto
        - ESignatureRequired
        - InvWoNotFound
        - InvWrongWoCurr
        - InvWoCurrNotFound
        - InvoicingDisabled
        - InvCreationUnexpectedRes
        - InvoiceInvalidLaborAmount
        - InvoiceInvalidMaterialAmount
        - InvDateOld
        - InvDateGreater
        - InvoiceMaterialDescriptionLengthOverflow
        - InvoiceTaxNotValidated
        - InvoiceMaterialPartNumberLengthOverflow
        - TaxValidationError
        - TaxExemptionError
        - InvalidInvoiceNumber
        - GetApprovalLevelsError
        - InvoiceAddUsersToMliLevelsError
        - InvoiceAddDeleteLocationsToMliLevelUserError
        - InvoiceUpdateMLiLevelError
        - InvoiceDeleteMliLevelError
        - InvoiceDeleteUsersFromMliLevelError
        - ApprovalLevelNameLengthOverflow
        - GstTaxError
        - Tax2Error
        - GetApprovalLevelsAndLocationsByUserError
        - GetAssignedUserShortInfoError
        - AssignAllLocationsToApprovalLevelAndUserError
        - GetLocationsForApprovalLevelAndAssignedUserError
        - GetLocationsBySubscriberError
        - AssignUserWithLocationsToApprovalLevelError
        - ReAssignUserWithLocationsToNewApprovalLevelError
        - ReAssignLocationsToApprovalLevelAndUserError
        - OutstandingBalance
        - InvoiceTaxDetailsEmpty
        - InvoiceTaxDetailsIncorrectSum
        - MultipleUsersForLocationIsNotAllowed
        - UserAssignedToOtherLevel
        - UserDoesNotExist
        - LaborLineItemRequired
        - MaterialLineItemRequired
        - InvoiceDoesntExist
        - InvoiceStarUnstarFailed
        - InvoiceBatchUpdateInvalidInvoiceStatusError
        - InvoiceBatchUpdateLimitExceededError
        - InvoiceNotAvailableForCurrentUser
        - InvoiceBatchUpdateInvalidRuleSetStructure
        - InvoiceBatchUpdateInvalidMliStructure
        - InvoiceBatchUpdateStatusError
        - InvoiceMaterialUnitTypeInvalid
        - ExistingBatchNumber
        - InvoiceResolutionTextRequired
        - GetInvoiceDefaultApprovalCodesError
        - InvoiceInvalidTravelAmount
        - InvoiceTravelDescriptionLengthOverflow
        - InvoiceTravelUnitTypeInvalid
        - TravelLineItemRequired
        - TravelDetailsDisabled
        - OnOffShoreDisabled
        - InvoiceInvalidLaborCount
        - InvoiceInvalidMaterialCount
        - InvoiceInvalidTravelCount
        - SubscriberNotRegisteredForTaxValidation
        - ManyDecimalsInAmountError
        - DecimalPartQstTaxError
        - LaborRatesDiscrepancy
        - PayInvoicesError
        - InvoiceNumberRequirementsError
        - InvoiceNumberIncorrect
        - InvoiceNumberRegExPatternError
        - GetInvoicesPendingApprovalByLocationError
        - ReAssignInvoicesToUsersFailed
        - ReAssignInvoicesUsersMatched
        - GetUsersForReassignInvoiceError
        - InvalidTimeRangeActivity
        - OutsourcedSourceInvoiceNotFound
        - OthersLineItemsDisabled
        - InvoiceInvalidOtherAmount
        - InvoiceInvalidOtherCount
        - InvoiceOtherDescriptionLengthOverflow
        - OtherLineItemRequired
        - OtherLineItemsNotNegativeValueRequired
        - InvalidLaborSkillLevel
        - InvalidLaborType
        - InvalidTechnicianQuantity
        - GetInvoicesCommonCategoriesError
        - InvoiceExplainDisputeEmpty
        - InvoiceAdditionalApprovalCodeHeaderError
        - TemplateParseSuccess
        - TemplateIncorrectHeaderError
        - TemplateEmptyTemplateError
        - TemplateWrongFieldsCountError
        - TemplateFieldNotFoundError
        - TemplateFieldRequiredError
        - TemplateParseIntError
        - TemplateFieldSizeError
        - TemplateInvalidValueError
        - TemplateFieldFormatError
        - TemplateFieldMaxRangeError
        - TemplateFieldMinRangeError
        - TemplateProviderNotEntered
        - TemplateInvalidSubscriberError
        - TemplateVendorNotFoundError
        - TemplateMissedProviderError
        - TemplateProviderNotFoundError
        - TemplateProviderSubsccriberLinkError
        - TemplateTradeDispatchRankError
        - TemplateInvalidTradeForSubscriberError
        - TemplateStoreNotFoundError
        - TemplateNotStoresForStateError
        - TemplateNotStoresForCountryError
        - TemplateNotStoresForDistrictError
        - TemplateNotStoresForRegionError
        - TemplateMultiplePimaryProvidersForTradeStoreError
        - TemplateDuplicatePrimaryRelationshipError
        - TemplateAmbiguousDataError
        - TemplateIncorrectSubscriber
        - TemplateDuplicateRanking
        - TemplateLongitudeRangeError
        - TemplateLatitudeRangeError
        - InvoiceMaterialPartNameLengthOverflow
        - TemplateTradeLocationExclusion
        - TemplateInvalidStateError
        - TemplateMissedSubscriberError
        - TemplateMissedStoreIdError
        - TemplateInvalidSubscriberIdError
        - TemplateOpenCloseDateError
        - TemplateInvalidCountryError
        - TemplateInvalidStateForCountryError
        - TemplateInvalidLocationTypeError
        - TemplateMissingFullAndShortNameError
        - TemplateMissingCountryError
        - TemplateDuplicatedDataError
        - TemplateParentLocationNotFoundError
        - TemplateParseDateTimeError
        - TemplateParseDecimalError
        - TemplateSquareValueRangeError
        - TemplateInvalidSquareMeasureError
        - TemplateTypeLabelCanNotBeUpdatedError
        - TemplateTypeLabelHaveToBeLocationForNotInventory
        - TemplateInvalidPrimarySupplyLocation
        - TemplateInvalidHomestoreLocationNumber
        - TemplateErrorDuringCreation
        - TemplateLocationNotFoundError
        - TemplateDuplicatedLocationFoundError
        - TemplateInvalidLocationHeaderError
        - TemplateDuplicatedLocationHeaderError
        - TemplateHeaderContainsEmptyFieldsError
        - TemplateLocHeadersShortHeaderError
        - TemplateHeaderContainsDuplicatesError
        - TemplateLocationNotesStoreIdFieldLengthError
        - TemplateLocationNotesNoteValueFieldLengthError
        - TemplateErrorInvalidZipCode
        - TemplateMissingLocationNoteHeader
        - TemplateMissingLocationNoteIdHeader
        - TemplateInvalidSecondarySupplyLocation
        - TemplateLocationWasNotCreated
        - TemplateTruckNameIsEmpty
        - TemplateWrongFormat
        - TemplateSubscriberNotFound
        - TemplateDuplicatedLocationHeaders
        - TemplateInvalidHeaders
        - TemplateInvalidPhoneError
        - TemplateDuplicateTelecomRecordError
        - TemplateTelecomRecordExistsError
        - TemplateInvalidCategory
        - TemplateDifferentRanksForProviderAssignments
        - TemplateDuplicateRankError
        - TemplateProviderNonCompliant
        - TemplateLocationIsClosed
        - TemplateProviderWarning
        - TemplateMultipleProvidersForTradeStoreError
        - EmptyRequest
        - InvalidNumberOfParameters
        - InvoiceOtherUnitTypeInvalid
        - EmptyLocationOrTradeList
        - RequestSubscriberIdDoesntMatchUserSubscriberId
        - StoreIdRequiredError
        - InvalidUserIdError
        - InvalidStoreIdError
        - AmbigiousError
        - MliHierarchyFiledsCountError
        - MliHierarchyMaxUserNameError
        - MliHierarchyDuplicateUserError
        - MLiHirarchyUserExistInOtherLevelError
        - MissingLevelsError
        - DuplicateApprovalLevelsError
        - InvalidMliLocations
        - InvalidMlpLocations
        - ApprovalLevelUsedInRulsetError
        - GLCodeAmbiguous
        - GlCodeInvalidResponce
        - GetRuleSetListError
        - RuleSetDuplicateNameError
        - RuleSetDuplicateActionError
        - RuleSetConflictedActionError
        - RuleSetRuleSetDoesNotExistsError
        - RuleSetTradeDoesNotExistError
        - RuleSetCategoryDoesNotExistError
        - RuleSetMliLevelDoesNotExistError
        - GetRuleSet
        - CreateUpdateRuleSetError
        - DeleteRuleSet
        - GetRuleSetCategoriesTradesCountError
        - GetRuleSetByInvoice
        - GetCategoryTradeIdsAreSelectedError
        - ProposalAboveMlpLimitError
        - ProposalNextLevelHasNoAvailableActionsError
        - DefaultRuleSetError
        - RuleSetActionEndStatusError
        - RuleSetRejectActionEmptyForwardToError
        - UserFilterGetError
        - UserFilterCreateUpdateError
        - UserFilterDeleteError
        - UserFilterSetAsDefaultError
        - InvoiceFilterFromAlpProviderError
        - RegionFilterNotAllowedError
        - LocationIdFilterNotAllowedError
        - PaymenowScProviderIdOrFbCompanyIdMustBeProvided
        - PaymenowBannersForProvidersOnly
        - PaymenowFeatureDisabled
        - PaymenowBannerInfoNotFound
        - PaymenowBannerInvalidNavigationUrl
        - PaymenowRequestedProvidersIsNotAssigned
        - PaymenowEmptyRequestedProviders
        - PaymentManagerFeatureDisabled
        - PaymentManagerFeatureDisabledForSubscriber
        - PaymentSystemCurrentlyUnavailable
        - CurrencyNotSupported
        - PaymentSystemAccountNotFound
        - FeatureIsOff
        - EarlyPayFeatureWithoutPaymentManagetFeatureError
        - FtpTestError
        - AcceptTermsAndConditionsRequestInvalid
        - PaymentSystemAccountError
        - SendReportToFTP
        - SchedulingError
        - BadPaymentData
        - InvoicesCanNotBeRepaid
        - InvoicesCanNotBeRescheduled
        - InvalidBillingAddress
        - PaymentManagerGeneralSettingsNotFound
        - PaymentManagerEInvoiceSettingsNotFound
        - BadgeVerificationFailed
        - BadgeTempPassEmpty
        - BadgeScanRequired
        - SolvedIssueSubmitFailed
        - SolvedIssueInvalidLocationId
        - SolvedIssueInvalidCategoryId
        - SolvedIssueInvalidTradeId
        - SolvedIssueInvalidPriorityId
        - SolvedIssueInvalidSource
        - SolvedIssueInvalidProblemCode
        - SolvedIssueInvalidType
        - SubmitFeedbackErrorWoStatus
        - SubmitFeedbackInvalidAnswer
        - SubmitFeedbackInvalidTrackingNumber
        - SubmitFeedbackInvalidSubscriber
        - SubmitFeedbackInvalidScore
        - SubmitFeedbackUnsatisfactoryCommentRequired
        - SubmitFeedbackInvalidReviewId
        - SubmitFeedbackInvalidSetupId
        - FeedbackSetupInvalidSetupId
        - S3SaveError
        - AbsSaveError
        - GoodDataLoginFailed
        - GoodDataElementUriError
        - GoodDataReportResultUriError
        - GoodDataReportResultEmpty
        - GoodDataDesReportResCountError
        - GoodDataDesReportResConvertError
        - GoodDataDesDisplayFormAttributeEmpty
        - InvalidProposalAmountLimit
        - GetApprovalProposalReasonsError
        - GetEmailRecipientsError
        - GetAssignProposalReasonsError
        - ProposalHasBeenVoided
        - AssetTypeDuplicateNameError
        - AssetTypeDoesntExistError
        - AssetTypeFailUpdateRefrigerantPurpose
        - AssetTypeDeleteFailed
        - ExistingAssetsFoundForAssetType
        - CantModifyAssetTypeParentId
        - InvalidAssetTypeName
        - AssetTypeInheritanceError
        - ExistingProposalsFoundForAssetType
        - InstallPurchaseDateOverflow
        - WOexistsWithSomeAssets
        - PartsChangeFailed
        - PartsReasonCodeError
        - PartsUseDateError
        - PartsRefrigerantAlreadyExists
        - PartsChargeHistoryAlreadyExists
        - PartsNotFound
        - BulkPartUseIncorrectWorkOrder
        - BulkPartsByIdsNotFound
        - BulkPartsMultipleWosError
        - BulkPartsIncorrectIsRefrigerantParam
        - BulkPartsIsRefrigerantCanNotbeChanged
        - BulkPartsReasonCodeChangeError
        - BulkPartsInvalidAssetAndReasonCodeParams
        - BulkPartsInvalidAssetId
        - BulkPartsInvalidInitialChargeCode
        - BulkPartsAssetDoesntContainCharge
        - BulkPartsIsInventoryFlagError
        - BulkPartsLeakAlreadyInProcessError
        - BulkPartsInvalidDateRangeError
        - BulkPartsMoeNumberRequiredError
        - BulkPartsSystemChargeExceeded
        - BulkRefrigerantuUageBlocked
        - BulkIDsNotBeNull
        - BulkPartRemovalNotAllowedOnRetrofitRetireWO
        - BulkAddPartUsagesNotAllowedAfterRetrofitRetireCreation
        - BulkRetrofitRetireRefrigerantUsageReasonCanNotChanged
        - BulkInitialChargeSystemExpansionNotAllowed
        - BulkInventoryPartIdCanNotBeChanged
        - BulkInventoryLocationIdCanNotBeChanged
        - BulkPartsDuplicatedRequest
        - BulkChangePartsIncorrectRefrigerantType
        - BulkPartsRetroRetireIsInProgressOnThisDate
        - BulkPartsCanNotAttachRefrigerantUsageToPlanLeakRecord
        - RetrofitRetireCanNotBeRemoved
        - RetroRetirePartsCantbeChanged
        - BulkPartsInventoryApiFailed
        - BulkPartsDuplicated
        - BulkPartsWorkOrderInProcessing
        - BadNotificationSubscriptionEventType
        - RefrigerantUseDateOutOfTheLeakProcessDateRange
        - InventoryUsageNotAllowedOnRTrackingConnectedSubAndSubcontractors
        - BulkExternalWoCurrentlyDoesntExists
        - BulkConnectorOnlyExternalClientAssetsCanBeProcessed
        - BulkConnectorOnlyClientAssetsCouldBeProcessed
        - LeakRecordHasWrongDateValue
        - HasUncompliedLeakRecordInAnoutherWO
        - HasUncompletedWOOnAnotherLeakRecord
        - OnlyOneAssetWorkOrderPair
        - OneLeakRecordMustBeOnCompletedWO
        - LeakRecordNotFound
        - AssetIDWoIdIsRequired
        - BulkPartsReasonCodeRetrofit
        - RetrofitRetireWasCancelledNoLeak
        - FailedToUpdateLeakEvent
        - AddPartUsagesAreNotAllowedInRetireRetrofitDateInterval
        - LeakPartUseOnZeroChargeNotAllowed
        - BulkLeakRecordsAndAuditRequest
        - LeakRecordsDuplicateRequestDetected
        - AllLeakRecordFieldsAreRequired
        - BulkPartsTheSamePartIdForUpdateAndRemovalPassed
        - MlpImportLevelError
        - UpdateMlpUserLevelError
        - InvalidHolidayName
        - DuplicateHolidayName
        - HolidaysDeleteFailed
        - HolidaysExcludeInsertFailed
        - HolidaysUpdateFailed
        - HolidaysInsertFailed
        - HolidaysExcludeDeleteFailed
        - BusinessHoursDeleteFailed
        - BusinessHoursUpdateFailed
        - BusinessHoursInsertFailed
        - InvalidTime
        - HolidayForDeleteNotFound
        - InvalidChecklistId
        - ChecklistNotPopulated
        - ChecklistNotAssignedForTransfersWO
        - NoLinkBetweenSubscriberAndProvider
        - WorkforceCreateContractorError
        - InvalidCertificateId
        - MaxThresholdExceeded
        - MaxTriggerRateExceeded
        - LeakPriorityIsRequired
        - MissingRTSettings
        - ResolutionCodesLimitExceeded
        - ResolutionCodesAreRequired
        - RootCauseIsRequired
        - RootCauseTextIsRequired
        - NoAccessToSetRootCauseText
        - RootCauseTextMaxLengthExceeded
        - ResolutionCodeTextIsRequired
        - NoAccessToSetResolutionCodeText
        - ResolutionCodeTextMaxLengthExceeded
        - ResolutionCodeTextMustBeUnique
        - ResolutionCodeWithoutFreeTextMustBeUnique
        - PendingResCodesStatusCannotBeChangedToInvoiceableBySubscriber
        - ResolutionAndRootCauseCodesAreRequiredToMoveToInvoiceableStatusByProvider
        - AssetCategoriesLimitExceeded
        - NoAccessToAssetCategories
        - AssetCategoriesAreRequired
        - InvalidAssetCategoryId
        - NoAssetCategoriesOnWorkOrder
        - RootCausesMustBeForAllWorkOrderAssetCategories
        - RootCauseTextMustBeUnique
        - AssetCategoryIsRequired
        - MultipleRootCausesMethodMustBeUsed
        - ResolutionCodesMustBeForAllWorkOrderAssetCategories
        - AssetFilterLocationsLimitExceeded
        - UnknownStoreId
        - UsesRefrigerantAttributeNotChanged
        - AssetTagDuplicate
        - AssetTagIdDuplicate
        - UnknownEquipmentType
        - ParentIdInOtherLocation
        - UnknownBrandName
        - CARBRequiredManufacturedDate
        - CARBRequiredInstallDate
        - TradeNotFound
        - AssetDoesntExist
        - AssetIsNotRefrigerant
        - AssetCantContainRefrigerant
        - OnlyRackAssetsContainingCircuits
        - ConnectorAssetTagIdCanNotBeChanged
        - ConnectorAssetLocationIdCanNotBeChanged
        - AssetTagCantBeUpdated
        - AssetTypeIsNotСonfiguredToManageRTAssets
        - RefrigerantTrackingNotAvailableForLocation
        - UsesRefrigerantRequiredByAssetTypeSettings
        - AssetLocationTradeDoesntCorrespondToWO
        - AssetLocationSelectedPMmodule
        - UpdateAssetRepairStatusValidation
        - HasCircuitsCantBeChange
        - HasComponentsCantBeChange
        - CircuitCanNotBeConnectedToCircuit
        - RTCircuitCanNotBeConnectedToNonRTAsset
        - RTComponentCanNotBeConnectedToNonRTAsset
        - ComponentCanNotBeConnectedToComponent
        - NonRTComponentCanNotBeConnectedToRtAsset
        - NonRTCircuitCanNotBeConnectedToRtAsset
        - ComponentCanNotBeConnectedToCircuit
        - ParentAssetShouldHaveEitherComponentsNorCircuits
        - ParentAssetCantHaveComponents
        - ParentAssetCantHaveCircuits
        - MultipleAssetsFoundForTheRequestedTagId
        - InvalidBrandName
        - UnknownBrandId
        - BrandRestrictedByAssetType
        - BrandRestrictedBySubscriber
        - BrandsRestrictedBySubscriber
        - DeclineWorkOrderFailed
        - AcceptWorkOrderFailed
        - WorkOrderWasAccepted
        - AssetAttachmentsSizeExceeded
        - SaveMliAuditReportSetting
        - GetMliAuditReportSetting
        - SaveMliAuditReportResult
        - SaveMliAuditReportSendEmailStatus
        - SaveMliAuditReportFilePath
        - GetSubscribersEnabledSchedule
        - SaveMliAuditInfoError
        - TaxValidationAddNewCompanySettingsError
        - TaxValidationUpdateCompanySettingsError
        - ProjectAssociationError
        - GetProjectsInvoiceAmountsError
        - TaxCodeNotUniqueError
        - FieldLengthIsTooLongError
        - SetTaxCodesBulkError
        - InvoiceAdditionalApprovalCodeValueError
        - BulkUpdateInvoicePaymentError
        - InvoiceLineItemFilterDisabled
        - InvoiceStatusToRejectProviderNotificationFailed
        - SortFieldNotAvailableError
        - ContractServiceExist
        - ContractServiceCantChangeTrade
        - ContractServiceCantChangeCategory
        - ContractServiceCantChangeProvider
        - ContractServicePMServiceCantChangeTrade
        - ContractServicePMServiceCantChangeCategory
        - ContractedServiceNameAlreadyExists
        - ContractedServiceNameLinkedToRates
        - WorkRequestDescriptionIsRequired
        - WorkRequestCallDateIsRequired
        - WorkRequestIssueIsRequired
        - WorkRequestCallDateHasWrongFormat
        - WorkRequestScheduledDateHasWrongFormat
        - InvalidWorkRequestStatus
        - InvalidWorkRequestExtendedStatus
        - InvalidWorkRequestCategory
        - InvalidWorkRequestPriority
        - InvalidWorkRequestCurrency
        - InvalidWorkRequestIssueSetup
        - InvalidWorkRequestIssueArea
        - InvalidWorkRequestAsset
        - WorkRequestAttachmentFileNameIsRequired
        - WorkRequestAttachmentOriginalNameIsRequired
        - WorkRequestIssueProblemCodeIsRequired
        - WorkRequestIssueProblemTypeIsRequired
        - WorkRequestScheduledDateMustBeGreaterThanCallDate
        - InvalidWorkRequestId
        - WorkRequestSearchCallDateFromHasWrongFormat
        - WorkRequestSearchCallDateToHasWrongFormat
        - WorkRequestSearchScheduledDateFromHasWrongFormat
        - WorkRequestSearchScheduledDateToHasWrongFormat
        - WorkRequestSearchClosedDateFromHasWrongFormat
        - WorkRequestSearchClosedDateToHasWrongFormat
        - WorkOrderIsAlreadyCreatedForWorkRequest
        - WorkRequestIsClosed
        - WorkRequestClosedReasonIsRequiredForClosedStatus
        - WorkOrderIdIsRequiredForThisClosedReason
        - InvalidWorkRequestClosedReason
        - WorkRequestClosedReasonIsOnlyForClosedStatus
        - InvalidWorkRequestWorkOrderId
        - WorkRequestWorkOrderIdIsOnlyForClosedStatus
        - WorkRequestWorkOrderIdIsOnlyForCertainClosedReason
        - InvalidWorkOrderSourceType
        - DeclineReasonIdIsRequired
        - DeclineReasonDoesntAllowCustomText
        - InvalidDeclineReasonId
        - MultipleWorkOrdersForPurchaseNumber
        - InvoiceMaterialMakupInvalid
        - MaterialMarkUpDiscrepancyReasonShouldBeStated
        - MaterialPriceDiscrepancyReasonShouldBeStated
        - OtherPriceDiscrepancyReasonShouldBeStated
        - SubscriberIdIsNotValid
        - FiscalPeriodIsNotValid
        - AmountIsNotValid
        - AmountFormatIsNotValid
        - CategoryMustBeEmpty
        - CategoryIsNotValid
        - TradeMustBeEmpty
        - TradeIsNotValid
        - GlCodeMustBeEmpty
        - GlCodeIsNotValid
        - LocationMustBeEmpty
        - LocationIsNotValid
        - RegionMustBeEmpty
        - RegionIsNotValid
        - DistrictMustBeEmpty
        - DistrictIsNotValid
        - DuplicateData
        - PrimaryCategoryMustBeEmpty
        - PrimaryCategoryIsNotValid
        - CategoryAndExcludedCategoryCannotSimultaneously
        - PrimaryCategoryAndExcludedPrimaryCategoryCannotSimultaneously
        - TradeAndExcludedTradeCannotSimultaneously
        - GlCodeAndExcludedGlCodeCannotSimultaneously
        - DuplicateCategories
        - DuplicateTrades
        - DuplicateGlCodes
        - DuplicatePrimaryCategories
        - LocationNoteMustBeEmpty
        - LocationNoteIsNotValid
        - OverlappingCategories
        - OverlappingPrimaryCategories
        - OverlappingTrades
        - OverlappingPrimaryTrades
        - OverlappingGlCodes
        - OverlappingLocations
        - OverlappingRegions
        - OverlappingDistricts
        - OverlappingLocationNotes
        - TaxExemptionErrorApi
        - OtherLineItemZeroAmount
        - TravelLineItemsNotNegativeValueRequired
        - MaterialLineItemsNotNegativeValueRequired
        - LaborLineItemsNotNegativeValueRequired
        - AdditionalApprovalCodeSetupIdInvalid
        - VendorIdIsNotValid
        - InvalidBatchId
        - InvalidBatchStatusId
        - CategoryInUsePMServiceError
        - CategoryInUseChecklistError
        - CategoryInUseETAMissedAlertError
        - CategoryInUseBudgetControl
        - CategoryInUseConnector
        - CategoryInUseContractedService
        - CategoryInUseEDI
        - CategoryInUseIVR
        - CategoryInUseFeedbackV2
        - CategoryInUseProposalApproveReasons
        - CategoryInUsePaymentManager
        - CategoryInUseProviderAssignments
        - CategoryInUseSiteAccess
        - CategoryInUseAlerts
        - CategoryInUseOpenWOAlert
        - CategoryInUseWOAutocopy
        - CategoryInUseWorkRequest
        - CategoryInUseWO
        - CategoryInUseDashboardOverride
        - CategoryInUseInvoiceAttributes
        - FeatureIsOn
        - LocationHierarchyNotFound
        - LocationHierarchyLevelNotFound
        - LocationHierarchyParentLevelNotFound
        - LocationSpaceTypeNotFound
        - DuplicateRowByValueKey
        - ParentNotFound
        - DuplicateSequenceAmongSiblings
        - SequenceConflictsWithExistingData
        - SequenceMustBeGreaterThanZero
        - ValueContainsPathDelimiter
        - InitializationWarmupError
        type: string
        readOnly: true
      ErrorMessage:
        description: The description of all errors.
        type: string
      Data:
        $ref: '#/definitions/System.Object'
        description: "Optional\r\n            Gets or Sets the Data object."
  ServiceChannel.Services.Messaging.RefrigerantTracking.DeleteWorkOrderPartRefrigerantItem:
    description: Object for deleting part use records in bulk
    type: object
    properties:
      PartId:
        format: int32
        description: Unique numeric identifier of the part use record that should be removed. Use the [GET/workorders/{workorderId}/partsUsage](https://developer.servicechannel.com/swagger/index.html#/Parts/GETv3_workorders_%7BworkorderId%7D_partsUsage) method to identify the required part use record ID.
        type: integer
      InventoryLocationGuid:
        description: GUID of the inventory location.
        type: string
      DeletionReason:
        format: byte
        description: "Reason for removing the refrigerant part use record. Possible values:\r\n             • `Wrong Part`\r\n             • `Wrong Asset`\r\n             • `Incorrect Quantity`\r\n             • `Other`"
        type: string
      DeletionReasonDescription:
        description: When the `DeletionReason` is set to `Other`, the `DeletionReasonDescription` parameter provides additional information on why the part use record is being removed. Shouldn’t exceed 150 characters.
        type: string
      InventoryPartId:
        format: int32
        description: Unique numeric identifier of the inventory part. To get the inventory part ID, use the [GET/Setup/parts](https://inventoryapi.servicechannel.com/swagger/index.html) method.
        type: integer
      IsInventoryPart:
        description: "Specifies whether the part you are trying to remove is listed in the inventory catalog for the location or the part is supplied by the vendor. Possible input values:\r\n             • `true`: Indicates an inventory part\r\n             • `false`: Indicates a vendor-supplied part"
        default: false
        type: boolean
  ServiceChannel.Services.Messaging.RefrigerantTracking.UpdateWorkOrderPartRefrigerantItem:
    description: Object for updating part use records in bulk
    type: object
    properties:
      PartId:
        format: int32
        description: Unique numeric identifier of the part use record that you want to update. Use the [GET/workorders/{workorderId}/partsUsage](https://developer.servicechannel.com/swagger/index.html#/Parts/GETv3_workorders_%7BworkorderId%7D_partsUsage) method to identify the required part use record ID.
        type: integer
      Quantity:
        format: double
        description: Quantity of parts used.
        type: number
      UnitCost:
        format: double
        description: Cost of each part.
        type: number
      IsRefrigerant:
        description: 'Specifies whether the part you are trying to update is classified as a refrigerant. Possible input values: `true` and `false`.'
        default: false
        type: boolean
      IsInventoryPart:
        description: "Specifies whether the part you are trying to update is listed in the inventory catalog for the location or the part is supplied by the vendor. Possible input values:\r\n             • `true`: Indicates an inventory part \r\n             • `false`: Indicates a vendor-supplied part"
        default: false
        type: boolean
      UseDate:
        format: date-time
        description: Date and time when the part was used.
        type: string
      UseDateStr:
        description: Date and time when the part was used.
        type: string
      ReasonCode:
        format: int32
        description: "Reason code name for the refrigerant part use — as configured by the subscriber. Possible values:\r\n             • `Leak`\r\n             • `Repair`\r\n             • `Adjustment`\r\n             • `System Expansion`\r\n             • `Removal` \r\n             • `Initial Charge`\r\n             • `Retrofit`\r\n             • `Removed Reused`\r\n            <br />To get the list of reason codes for the subscriber, use the [GET/refrigeranttracking/{subscriberId}/GetRefrigerantUseReasonCodes](https://developer.servicechannel.com/swagger/index.html#/RefrigerantTracking/GETv3_refrigeranttracking_%7BsubscriberId%7D_GetRefrigerantUseReasonCodes) method."
        type: integer
      ReasonCodeId:
        format: int32
        description: Unique numeric identifier of the refrigerant use reason code. To get the list of reason code IDs for the subscriber, use the [GET/refrigeranttracking/{subscriberId}/GetRefrigerantUseReasonCodes](https://developer.servicechannel.com/swagger/index.html#/RefrigerantTracking/GETv3_refrigeranttracking_%7BsubscriberId%7D_GetRefrigerantUseReasonCodes) method.
        type: integer
      PartNumber:
        description: Part number. Shouldn’t exceed 50 characters.
        type: string
      PartName:
        description: Part name. Shouldn’t exceed 100 characters.
        type: string
      PartGroup:
        description: Part group. Required only if the `IsRefrigerant` is set to `true`.
        type: string
      SupplierName:
        description: Name of a company that supplies the part.
        type: string
      Description:
        description: Part description. Any additional information on the part. Shouldn’t exceed 250 characters.
        type: string
      RefrigerantChargeOptionsId:
        format: int32
        description: "Unique numeric identifier of the charge method used. Possible values:\r\n             • `1`: Calculation  \r\n             • `2`: Established\r\n             • `3`: Manufacturer Tag\r\n             • `4`: Measurement \r\n             • `5`: MFG Info (Established Range)\r\n             • `6`: Onsite Documentation\r\n             • `7`: Approximate\r\n            <br />To get charge options and their IDs, use the [GET/refrigeranttracking/ChargeDescriptions](https://developer.servicechannel.com/swagger/index.html#/RefrigerantTracking/GETv3_refrigeranttracking_ChargeDescriptions) method."
        type: integer
      RefrigerantChargeVendor:
        description: Provider who identified the initial charge of the system. Only applicable when the `ReasonCode` is set to `Initial Charge`.
        type: string
      InventoryLocationId:
        format: int32
        description: Unique numeric identifier of the inventory location where the inventory part is stored.
        type: integer
      InventoryLocationGuid:
        description: GUID of the inventory location.
        type: string
      InventoryPartId:
        format: int32
        description: Unique numeric identifier of the inventory part.
        type: integer
      RefrigerantUseReason:
        $ref: '#/definitions/ServiceChannel.Services.Messaging.RefrigerantTracking.RefrigerantUseReasonCode'
      SubmitMoeQtyExceeded:
        description: For Canadian locations. When the part use meets or exceeds the threshold, set the parameter’s value to `true` to be able to proceed with the request.
        default: false
        type: boolean
      MoeNumber:
        description: "Agency number that will be assigned to the work order and the leak record. The number can be up to 20 characters. An agency number needs to be entered when the system threshold has been met or exceeded. For Canadian locations only.\r\n            <br />Available with the *SCP_RTCanadaRefrigeration* feature flag."
        type: string
      RecId:
        format: int32
        description: Unique numeric identifier of the work order associated with the `AssetId`. Only one work order can be processed in the request.
        type: integer
  ServiceChannel.Services.Messaging.RefrigerantTracking.WorkOrderPartRefrigerantResponse:
    type: object
    properties:
      Id:
        format: int32
        type: integer
      AssetId:
        format: int32
        type: integer
      TagId:
        type: string
      RecId:
        format: int32
        type: integer
      CertifiedTechnicianId:
        format: int32
        type: integer
      Quantity:
        format: double
        type: number
      QuantityMetrics:
        format: double
        type: number
      QuantityStr:
        type: string
      UnitCost:
        format: double
        type: number
      IsRefrigerant:
        default: false
        type: boolean
      IsInventoryPart:
        default: false
        type: boolean
      UseDate:
        format: date-time
        type: string
      ReasonCode:
        format: int32
        type: integer
      ReasonCodeId:
        format: int32
        type: integer
      PartNumber:
        type: string
      Description:
        type: string
      WOStatus:
        type: string
      ProblemType:
        type: string
      InventoryLocationId:
        format: int32
        type: integer
      InventoryLocationGuid:
        description: GUID of inventory part location
        type: string
      InventoryLocationName:
        type: string
      InventoryPartId:
        format: int32
        type: integer
      PartName:
        type: string
      PartGroup:
        type: string
      SupplierName:
        type: string
      RefrigerantChargeOptionsId:
        format: int32
        type: integer
      RefrigerantChargeVendor:
        type: string
      ReasonCodeStr:
        type: string
      RefrigerantUsePurpose:
        format: int32
        type: integer
      RefrigerantTypeName:
        type: string
      RefrigerantTypeId:
        format: int32
        type: integer
      IsSupplierPart:
        default: false
        type: boolean
      IsConnectorWOPart:
        default: false
        type: boolean
      SubscriberTrackingNumber:
        format: int32
        type: integer
      SubscriberAssetId:
        format: int32
        type: integer
      CreatedByUserId:
        type: string
      ModifiedByUserId:
        type: string
      IsRetrofit:
        format: byte
        type: string
      RefrigerantPartNumber:
        type: string
      InventoryLocations:
        type: array
        items:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Inventory.InventoryLocation'
      SupplierPartId:
        type: string
      LeakRate:
        format: double
        type: number
  ServiceChannel.Services.Messaging.Workorders.UpdateWorkOrderPartsCollectionRequest:
    type: object
    properties:
      Parts:
        type: array
        items:
          $ref: '#/definitions/ServiceChannel.Services.Messaging.Workorders.UpdateWorkOrderPartRequest'
  ServiceChannel.Services.Messaging.RefrigerantTracking.AddWorkOrderPartRefrigerantItem:
    description: Object for adding part use records in bulk
    type: object
    properties:
      AssetId:
        format: int32
        description: Unique numeric identifier of the asset to which the new part use records should be added. Only one asset can be processed in the request. For a non-refrigerant part use, the `AssetId` is not required.
        type: integer
      RecId:
        format: int32
        description: Unique numeric identifier of the work order associated with the `AssetId`. Only one work order can be processed in the request.
        type: integer
      Quantity:
        format: double
        description: Quantity of parts used.
        type: number
      UnitCost:
        format: double
        description: Cost of each part.
        type: number
      IsRefrigerant:
        description: 'Specifies whether the part you are trying to add is classified as a refrigerant. Possible input values: `true` and `false`.'
        default: false
        type: boolean
      IsInventoryPart:
        description: "Specifies whether the part you are trying to add is listed in the inventory catalog for the location or the part is supplied by the vendor. Possible input values:\r\n             • `true`: Indicates an inventory part\r\n             • `false`: Indicates a vendor-supplied part"
        default: false
        type: boolean
      UseDate:
        format: date-time
        description: Date and time when the part was used. The format is `YYYY-MM-DDThh:mm:ss.sssZ`.
        type: string
      UseDateStr:
        description: Date and time when the part was used. The format is `YYYY-MM-DDThh:mm:ss.sssZ`.
        type: string
      ReasonCode:
        format: int32
        description: "Reason code name for the refrigerant part use — as configured by the subscriber. Possible values:\r\n             • `Leak`\r\n             • `Repair`\r\n             • `Adjustment`\r\n             • `System Expansion`\r\n             • `Removal`\r\n             • `Initial Charge`\r\n             • `Retrofit`\r\n             • `Removed Reused` \r\n            <br />To get the list of reason codes for the subscriber, use the [GET/refrigeranttracking/{subscriberId}/GetRefrigerantUseReasonCodes](https://developer.servicechannel.com/swagger/index.html#/RefrigerantTracking/GETv3_refrigeranttracking_%7BsubscriberId%7D_GetRefrigerantUseReasonCodes) method."
        type: integer
      ReasonCodeId:
        format: int32
        description: Unique numeric identifier of the refrigerant use reason code. To get the list of reason code IDs for the subscriber, use the [GET/refrigeranttracking/{subscriberId}/GetRefrigerantUseReasonCodes](https://developer.servicechannel.com/swagger/index.html#/RefrigerantTracking/GETv3_refrigeranttracking_%7BsubscriberId%7D_GetRefrigerantUseReasonCodes) method.
        type: integer
      PartNumber:
        description: Part number. Shouldn’t exceed 50 characters.
        type: string
      PartName:
        description: Part name. Shouldn’t exceed 100 characters.
        type: string
      PartGroup:
        description: Part group. Required only if the `IsRefrigerant` is set to `true`.
        type: string
      PartGroupId:
        format: int32
        description: Unique numeric identifier of the part group. Required only if the `IsRefrigerant` is set to `true`.
        type: integer
      SupplierName:
        description: Name of a company that supplies the part.
        type: string
      Description:
        description: Part description. Any additional information on the part. Shouldn’t exceed 250 characters.
        type: string
      RefrigerantChargeOptionsId:
        format: int32
        description: "Unique numeric identifier of the charge method used. Possible values:\r\n             • `1`: Calculation\r\n             • `2`: Established\r\n             • `3`: Manufacturer Tag\r\n             • `4`: Measurement\r\n             • `5`: MFG Info (Established Range)\r\n             • `6`: Onsite Documentation\r\n             • `7`: Approximate\r\n            <br />To get charge options and their IDs, use the [GET/refrigeranttracking/ChargeDescriptions](https://developer.servicechannel.com/swagger/index.html#/RefrigerantTracking/GETv3_refrigeranttracking_ChargeDescriptions) method."
        type: integer
      RefrigerantChargeVendor:
        description: Provider who identified the initial charge of the system. Only applicable when the `ReasonCode` is set to `Initial Charge`.
        type: string
      InventoryLocationId:
        format: int32
        description: Unique numeric identifier of the inventory location where the inventory part is stored.
        type: integer
      InventoryLocationGuid:
        description: GUID of the inventory location.
        type: string
      InventoryPartId:
        format: int32
        description: Unique numeric identifier of the inventory part. To get the inventory part ID, use the [GET/Setup/parts](https://inventoryapi.servicechannel.com/swagger/index.html) method.
        type: integer
[...]
