{"swagger":"2.0","info":{"version":"bearer.v1","title":"Fixxbook.Bearer.Api.V1","isOdataApi":false,"relativePath":"","discoveryPath":"docs/bearer.v1","_isAuthorizedAccess":true},"host":"sb2fixxbook.servicechannel.com:443","basePath":"/api","schemes":["https"],"paths":{"/Clients/GetProvidersInfo":{"get":{"tags":["Client"],"summary":"Retrieve the list of providers","description":"Returns a list of providers in subscriber’s private network. The response contains provider contact details and the vendor ID.  \r\n            <br />Visit ServiceChannel University to find out more about the [vendor ID](https://servicechannel.atlassian.net/wiki/spaces/SCU/pages/571835102/Managing+Private+Notes+Rating+and+Vendor+ID#ManagingPrivateNotes,Rating,andVendorID-VendorID).\r\n            <br /><br />No input parameters are required.","operationId":"Client_GetProvidersInfo","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"The list of providers is in the response.","schema":{"$ref":"#/definitions/ProviderContactInfo"}},"401":{"description":"The requested resource requires authentication."},"500":{"description":"Something went wrong, and the server was unable to complete your request."}},"deprecated":false,"x-access":"Subscribers"}},"/doNotDispatch/addProvider/{providerId}":{"post":{"tags":["DoNotDispatch"],"summary":"Add a provider","description":"Adds the specified provider to the *Do Not Dispatch* list, which prevents dispatching new work orders to this provider.\r\n            <br />You can remove providers from the *Do Not Dispatch* list by using the [DELETE /doNotDispatch/removeProvider/{providerId}](https://developer.servicechannel.com/swagger/ui/index?version=3#/DoNotDispatch/DoNotDispatch_RemoveProvider) method. To retrieve the list of providers with the *Do Not Dispatch* flag, send the [GET /DoNotDispatch/getProviders](https://developer.servicechannel.com/swagger/ui/index?version=3#/DoNotDispatch/DoNotDispatch_GetProviders) request.\r\n            <br />Refer to ServiceChannel University to learn [how to manage “Do Not Dispatch” providers](https://servicechannel.atlassian.net/wiki/spaces/SCU/pages/812548755/Managing+Do+Not+Dispatch+Providers).","operationId":"DoNotDispatch_AddProvider","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"providerId","in":"path","description":"Unique provider identifier.","required":true,"type":"integer","format":"int32"},{"name":"doNotDispatchReason","in":"query","description":"(*Optional*) Reason for assigning a provider the *Do Not Dispatch* status.","required":false,"type":"string"}],"responses":{"200":{"description":"The provider is successfully added to the **Do Not Dispatch** list."},"400":{"description":"The request is not accepted due to bad syntax, missing parameters, insufficient data, etc."},"401":{"description":"The request is not authorized."},"500":{"description":"The server was unable to complete the request due to an internal error."}},"deprecated":false,"x-access":"Subscribers"}},"/doNotDispatch/removeProvider/{providerId}":{"delete":{"tags":["DoNotDispatch"],"summary":"Remove a provider","description":"Removes the specified provider from the *Do Not Dispatch* list. You can remove one provider at a time.\r\n            <br />To add a provider to this list, send the [POST /doNotDispatch/addProvider/{providerId}](https://developer.servicechannel.com/swagger/ui/index?version=3#/DoNotDispatch/DoNotDispatch_AddProvider) request.\r\n            <br />Refer to ServiceChannel University to learn [how to manage “Do Not Dispatch” providers](https://servicechannel.atlassian.net/wiki/spaces/SCU/pages/812548755/Managing+Do+Not+Dispatch+Providers).","operationId":"DoNotDispatch_RemoveProvider","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"providerId","in":"path","description":"Unique provider identifier.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"The provider is successfully removed from the **Do Not Dispatch** list."},"400":{"description":"The request is not accepted due to bad syntax, missing parameters, insufficient data, etc."},"401":{"description":"The request is not authorized."},"500":{"description":"The server was unable to complete the request due to an internal error."}},"deprecated":false,"x-access":"Subscribers"}},"/doNotDispatch/getProviders":{"get":{"tags":["DoNotDispatch"],"summary":"Retrieve providers","description":"Returns a list of providers included in the *Do Not Dispatch* list. Use the `trade` parameter to specify your request.\r\n            <br />You can use the [POST /doNotDispatch/addProvider/{providerId}](https://developer.servicechannel.com/swagger/ui/index?version=3#/DoNotDispatch/DoNotDispatch_AddProvider) method to add a provider to the *Do Not Dispatch* list or the  [DELETE /doNotDispatch/removeProvider/{providerId}](https://developer.servicechannel.com/swagger/ui/index?version=3#/DoNotDispatch/DoNotDispatch_RemoveProvider) method to remove a provider from it.\r\n            <br />Refer to ServiceChannel University to learn [how to manage “Do Not Dispatch” providers](https://servicechannel.atlassian.net/wiki/spaces/SCU/pages/812548755/Managing+Do+Not+Dispatch+Providers).","operationId":"DoNotDispatch_GetProviders","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"trade","in":"query","description":"(*Optional*) Type of work a provider performs.","required":false,"type":"string"}],"responses":{"200":{"description":"The providers included in the **Do Not Dispatch** list are in the response."},"400":{"description":"The request is not accepted due to bad syntax, missing parameters, insufficient data, etc."},"401":{"description":"The request is not authorized."},"500":{"description":"The server was unable to complete the request due to an internal error."}},"deprecated":false,"x-access":"Subscribers"}},"/invitation":{"post":{"tags":["Invitation"],"summary":"Create Invitation for provider for subscriber","operationId":"Invitation_Create","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateInvitationModel"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Object"}}},"deprecated":false,"x-access":"Subscribers"}},"/providers/ProviderData":{"put":{"tags":["Providers"],"operationId":"Providers_ProviderData","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateProviderDataModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Object"}}},"deprecated":false,"x-access":"Subscribers"}},"/providers/subscribers":{"get":{"tags":["Providers"],"summary":"Retrieve the list of subscribers","description":"Returns the names and IDs of subscribers whose private network the provider is in.","operationId":"Providers_Subscribers","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"providerId","in":"query","description":"Unique numeric identifier of the provider.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"The list of subscribers is in the response.","schema":{"$ref":"#/definitions/SubscriberApiModel"}},"400":{"description":"The request is not accepted due to bad syntax, missing parameters, insufficient data, etc."},"401":{"description":"The requested resource requires authentication."},"500":{"description":"Something went wrong, and the server was unable to complete your request."}},"deprecated":false,"x-access":"Providers"}}},"definitions":{"Object":{"type":"object","properties":{}},"ProviderContactInfo":{"description":"Object containing details about providers in subscriber’s private network","type":"object","properties":{"ProviderName":{"description":"Provider name","type":"string"},"ProviderId":{"format":"int32","description":"Unique numeric identifier of the provider in the ServiceChannel system","type":"integer"},"VendorId":{"description":"Unique identification number of the provider assigned by the subscriber","type":"string"},"SubscriberId":{"format":"int64","description":"Unique numeric identifier of the subscriber in the ServiceChannel system","type":"integer"},"MainContact":{"$ref":"#/definitions/ContactDetails","description":"Object containing provider contact information"}}},"ContactDetails":{"description":"Object containing provider contact information","type":"object","properties":{"Name":{"description":"Primary contact person of the provider","type":"string"},"Phone":{"description":"Provider’s contact phone number","type":"string"},"StreetAddress1":{"description":"Main address, such as the house number and street name","type":"string"},"StreetAddress2":{"description":"Additional address details, such as the floor number","type":"string"},"PostalCode":{"description":"Postal code","type":"string"},"City":{"description":"City name","type":"string"},"RegionName":{"description":"State, province, or administrative region","type":"string"},"CountryCode":{"description":"Country code","type":"string"},"Fax":{"description":"Fax number","type":"string"}}},"CreateInvitationModel":{"required":["ScSubscriberId"],"type":"object","properties":{"ScSubscriberId":{"format":"int32","maximum":2147483647,"minimum":1,"type":"integer"},"Provider":{"$ref":"#/definitions/CompanyModel"},"VendorId":{"maxLength":50,"minLength":0,"type":"string"},"Invitation":{"$ref":"#/definitions/InvitationModel"},"PaymentTerms":{"$ref":"#/definitions/PaymentTermsModel"}}},"CompanyModel":{"required":["Email"],"type":"object","properties":{"CompanyName":{"maxLength":100,"minLength":0,"type":"string"},"Email":{"maxLength":255,"minLength":0,"pattern":"^[\\w!#$%&'*+\\-\\/=?\\^_`{|}~]+(\\.[\\w!#$%&'*+\\-\\/=?\\^_`{|}~]+)*@((([\\-\\w]+\\.)+[a-zA-Z]{2,63})|(([0-9]{1,3}\\.){3}[0-9]{1,3}))$","type":"string"},"TaxId":{"maxLength":100,"minLength":0,"type":"string"},"IsActive":{"type":"boolean"},"AddressInformation":{"$ref":"#/definitions/AddressInformationModel"}}},"InvitationModel":{"type":"object","properties":{"LanguageCulture":{"maxLength":5,"minLength":0,"type":"string"},"ExpirationDate":{"format":"date-time","type":"string"},"SenderEmail":{"maxLength":255,"minLength":0,"pattern":"^[\\w!#$%&'*+\\-\\/=?\\^_`{|}~]+(\\.[\\w!#$%&'*+\\-\\/=?\\^_`{|}~]+)*@((([\\-\\w]+\\.)+[a-zA-Z]{2,63})|(([0-9]{1,3}\\.){3}[0-9]{1,3}))$","type":"string"}}},"PaymentTermsModel":{"type":"object","properties":{"Period":{"format":"int32","type":"integer"},"Description":{"maxLength":50,"minLength":0,"type":"string"}}},"AddressInformationModel":{"type":"object","properties":{"Address1":{"maxLength":50,"minLength":0,"type":"string"},"Address2":{"maxLength":50,"minLength":0,"type":"string"},"City":{"maxLength":50,"minLength":0,"type":"string"},"Country":{"maxLength":50,"minLength":0,"type":"string"},"State":{"maxLength":100,"minLength":0,"type":"string"},"PostalCode":{"maxLength":10,"minLength":0,"type":"string"}}},"UpdateProviderDataModel":{"required":["ScSubscriberId"],"type":"object","properties":{"ScSubscriberId":{"format":"int32","maximum":2147483647,"minimum":1,"type":"integer"},"Provider":{"$ref":"#/definitions/CompanyModel"},"VendorId":{"maxLength":50,"minLength":0,"type":"string"},"DoNotDispatchSetting":{"$ref":"#/definitions/DNDSettingModel"},"PaymentTerms":{"$ref":"#/definitions/PaymentTermsModel"}}},"DNDSettingModel":{"type":"object","properties":{"IsDND":{"type":"boolean"},"ReasonForFlagging":{"type":"string"}}},"SubscriberApiModel":{"description":"Object containing details about subscribers whose private network the provider is in.","type":"object","properties":{"SubscriberId":{"format":"int32","description":"Unique numeric identifier of the subscriber","type":"integer"},"SubscriberName":{"description":"Subscriber name","type":"string"},"LinkIsActive":{"description":"Defines whether a link between the provider and the subscriber is active:\r\n            1 — The link between the provider and subscriber is active.\r\n            0 — The link between the provider and subscriber is not active for one of the following reasons:\r\n            a) The provider has accepted the client invitation, and the subscriber hasn’t accepted yet. The invitation status is *Pending*. Learn how to manage client invitations for [US-based](https://servicechannel.atlassian.net/wiki/spaces/SCUCP/pages/2372469831/Manage+Client+Invitations) and [non-US-based](https://servicechannel.atlassian.net/wiki/spaces/SCUCP/pages/2276492550/Managing+Client+Invitations) providers in ServiceChannel University.\r\n            b) The subscriber has deactivated the provider.","type":"boolean"}}}},"securityDefinitions":{"oauth2":{"type":"oauth2","description":"OAuth2 Authorization","flow":"accessCode","authorizationUrl":"https://sb2login.servicechannel.com/oauth/authorize","tokenUrl":"https://sb2login.servicechannel.com/oauth/token","scopes":{}}},"security":[{"oauth2":[]}]}